<section class="layout cols-2 wrapper">
	<section>
		<article class="grey-box auth auth-change-password">
			<header>
				<h2>Reset Password</h2>
			</header>
			<form>
				<div class="content">
					<p>To change your password for <strong>John Smith</strong>, please complete the information below.</p>
					<dl class="clearfix">
						<dt>Account Number:</dt>
						<dd>12534567890</dd>
						<dt>Username:</dt>
						<dd>john.smith</dd>
					</dl>
					<div class="group">
						<div class="item group-col" float-label>
							<label for="password">Password:</label>
							<input id="password" type="password">
							<span class="help-text">Your password must be at least 8 characters long and not be the same as your username</span>
						</div>
						<div class="item group-col" float-label>
							<label for="confirm-password">Confirm Password:</label>
							<input id="confirm-password" type="password">
						</div>
					</div>
				</div>
				<footer>
					<div class="buttons">
						<button type="submit">Change Password</button>
					</div>
				</footer>
			</form>
		</article>
	</section>
</section>