<section class="layout cols-2 wrapper">
	<section>
		<article class="grey-box auth auth-create-account">
			<header>
				<h2>Create Online Account &mdash; Step 2</h2>
			</header>
			<form>
				<div class="content">
					<div class="alert alert-error">
						<strong>Error</strong><br>
						Error message here.
					</div>
					
					<h3>Personal Information</h3>
					<p>You&rsquo;ll be able to modify your personal information online once you&rsquo;ve created your account.</p>
					
					<dl class="clearfix">
						<dt>Name</dt>
						<dd>Mr. John Smith</dd>
						<dt>Primary Phone Number:</dt>
						<dd>123-456-7890</dd>
						<dt>Email:</dt>
						<dd>john.smith@email.com</dd>
						<dt>Address</dt>
						<dd>456 Center Street, Dallas, TX 75001</dd>
					</dl>
					<dl class="clearfix">
						<dt>Account Number:</dt>
						<dd>1234567890</dd>
						<dt>Last 4 of SSN:</dt>
						<dd>1234</dd>
					</dl>

					<hr class="content-divider">

					<h3>Register with your social account</h3>

					<ul class="social-login clearfix">
						<li>
							<a href="#" class="button social facebook">
								<span class="icon-holder"><i class="icon-facebook"></i></span> Facebook
							</a>
						</li>
						<li>
							<a href="#" class="button social twitter">
								<span class="icon-holder"><i class="icon-twitter"></i></span> Twitter
							</a>
						</li>
						<li>
							<a href="#" class="button social linkedin">
								<span class="icon-holder"><i class="icon-linkedin"></i></span> LinkedIn
							</a>
						</li>								
					</ul>

					<div class="text-content-divider">And</div>
				
					<h3>Create a Stream Energy login</h3>
			
					<div class="item" float-label>
						<label for="username">Username</label>
						<input id="username" type="text">
					</div>
					<div class="group">
						<div class="item group-col" float-label>
							<label for="password">Password:</label>
							<input id="password" type="password">
							<span class="help-text">Your password must be at least 8 characters long and not be the same as your username.</span>
						</div>
						<div class="item group-col" float-label>
							<label for="confirm-password">Confirm Password:</label>
							<input id="confirm-password" type="password">
						</div>
					</div>

					<hr class="content-divider">

					<div class="group">
						<div class="item group-col">
							<label for="security-question-1">Security Question #1:</label>
							<select name="security-question-1" id="security-question-1">
								<option value="">Select a Security Question</option>
							</select>
						</div>
						<div class="item group-col" float-label>
							<label for="security-answer-1">Answer:</label>
							<input type="text" name="security-answer-1" id="security-answer-1">
							<span class="help-text">Answer must be 4 or more characters and is not case sensitive</span>
						</div>
					</div>
					<div class="group">
						<div class="item group-col">
							<label for="security-question-2">Security Question #2:</label>
							<select name="security-question-2" id="security-question-2">
								<option value="">Select a Security Question</option>
							</select>
						</div>
						<div class="item group-col" float-label>
							<label for="security-answer-2">Answer:</label>
							<input type="text" name="security-answer-2" id="security-answer-2">
							<span class="help-text">Answer must be 4 or more characters and is not case sensitive</span>
						</div>
					</div>
				</div>
				<footer>
					<div class="buttons">
						<button type="submit" class="primary">Create Account</button>
					</div>
				</footer>
			</form>	
		</article>	
	</section>
</section>