<section class="layout cols-2 wrapper">
	<section>
		<article class="grey-box">
			<header>
				<h2>Recover Username</h2>
			</header>
			<div class="content">
				<p>We have emailed your username to john.doe@gmail.com</p>
			</div>
			<footer>
				<div class="buttons">
					<a href="#" class="button">Return to Login</a>
				</div>
			</footer>
		</article>
	</section>
</section>