<section class="layout cols-2 wrapper">
	<section class="layout cols-1">
		<article class="grey-box auth-forgot-password">
			<header>
				<h2>Reset Password</h2>
			</header>
			<form>
				<div class="content">
					<p>After providing a valid username you will prompted to provide an answer to a secret question that is stored with your online profile. Upon successful completion, an email that contains a new password will be sent to the email address you added to your online profile.</p>
					<div class="alert alert-error">
						<strong>Error</strong><br>
						Your security question answers do not match what we have on file.
					</div>
					<dl class="clearfix">
						<dt>Username:</dt>
						<dd>john.smith</dd>
					</dl>
					<div class="group">
						<div class="item group-col">
							<span class="label">Security Question:</span>
							What is your mother&rsquo;s maiden name?
						</div>
						<div class="item group-col" float-label>
							<label for="security-answer-1">Answer:</label>
							<input id="security-answer-1" type="text">
						</div>
					</div>
					<div class="group">
						<div class="item group-col">
							<span class="label">Security Question:</span>
							What city did you grow up in?
						</div>
						<div class="item group-col" float-label>
							<label for="security-answer-2">Answer:</label>
							<input id="security-answer-2" type="text">
						</div>
					</div>
				</div>
				<footer>
					<div class="buttons">
						<button type="submit">Continue</button>
					</div>
				</footer>
			</form>
		</article>
	</section>
</section>