<section class="layout cols-2 wrapper">
	<section>
		<article class="grey-box auth-forgot-username">
			<header>
				<h2>Recover Username</h2>
			</header>
			<form>
				<div class="content">
					<p>To recover your username, please enter the email address associated with your account below.</p>
					<div class="alert alert-error">
						<strong>Error</strong><br>
						We do not have an account with that email address on file.
					</div>
					<div class="item" float-label>
						<label for="email">Email Address:</label>
						<input id="email" type="email">
					</div>							
				</div>
				<footer>
					<div class="buttons">
						<button type="submit">Send Username</button>
					</div>
				</footer>
			</form>
		</article>
	</section>
</section>
