<section class="layout cols-2 wrapper">
	<section>
		<article class="grey-box auth auth-sign-in">
			<header>
				<h2>My Stream Account</h2>
			</header>
			<div class="content">
				<form>
					<div class="alert alert-error">
						<strong>Error</strong><br>
						Invalid username or password. Please try again.
					</div>
					<div class="group">
						<div class="item group-col" float-label>
							<label for="username">Username:</label>
							<input id="username" type="text">
						</div>
						<div class="item group-col">
							<a href="#" class="single-link">Forgot Username</a>
						</div>
					</div>
					<div class="group">
						<div class="item group-col" float-label>
							<label for="password">Password:</label>
							<input id="password" type="password">
						</div>
						<div class="item group-col">
							<a href="#" class="single-link">Forgot Password</a>
						</div>
					</div>
					<div class="item">
						<ul class="checkbox-list">
							<li><input type="checkbox" id="remember-me"><label for="remember-me">Remember me</label></li>
						</ul>
					</div>
					<div class="buttons">
						<button class="secondary">Create Account</button> 
						<button type="submit">Sign In</button> 
					</div>
			
					<div class="text-content-divider">Or</div>

					<h3>Sign in with your social account</h3>
					<ul class="social-login clearfix">
						<li>
							<a href="#" class="button social facebook">
								<span class="icon-holder"><i class="icon-facebook"></i></span> Facebook
							</a>
						</li>
						<li>
							<a href="#" class="button social twitter">
								<span class="icon-holder"><i class="icon-twitter"></i></span> Twitter
							</a>
						</li>
						<li>
							<a href="#" class="button social linkedin">
								<span class="icon-holder"><i class="icon-linkedin"></i></span> LinkedIn
							</a>
						</li>								
					</ul>
				</form>
			</div>
		</article>
	</section>
</section>

