<article class="mobile white-box add-device">
    <div class="content">
        <h4>@Html.Sitecore().Field("Header Text")</h4>
        @Html.Sitecore().Field("Image")
        <p>@Html.Sitecore().Field("Paragraph Text")</p>
        <p>@Html.Sitecore().Field("Link Text")</p>
    </div>
</article>