@using StreamEnergy.MyStream.Controllers
@using StreamEnergy.MyStream.Models.Marketing.Support
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json.Serialization;
@{
    SupportCenterController controller = new SupportCenterController();
    var categories = StreamEnergy.Json.Stringify(controller.GetAllCategories());
    List<FAQ> popularFAQS = new List<FAQ>();

    if (!string.IsNullOrEmpty(Sitecore.Context.Item.Fields["Popular FAQs"].Value))
    {
        var guids = Sitecore.Context.Item.Fields["Popular FAQs"].Value.Split("|".ToCharArray());

        foreach (string guid in guids)
        {
            popularFAQS.Add(new FAQ(guid));
        }
    }

    var popFaqs = StreamEnergy.Json.Stringify(popularFAQS);

}

<div ng-controller="supportCenterCtrl" ng-init="init(@categories, @popFaqs)">
    <div class="support-search">
        <div class="content">
            <h1>Stream Support Center</h1>
            <h4>At Stream, we're here to help. Contact us if you can't find what you're looking for.</h4>
            <div class="search">
                <div class="select clearfix" ng-click="dropDown=!dropDown">
                    <div class="selected-category" ng-show="selectedCategory" >
                        In {{selectedCategory.name}}<span ng-if="selectedCategory.states.length"> - {{selectedState.abbreviation}}</span>
                    </div>
                    <div class="selected-category" ng-hide="selectedCategory" ng-cloak>Service Type</div>
                    <div class="triangle-down" ng-class="{flipped: dropDown}"></div>
                </div>
                <div class="input">
                    <input type="text" placeholder="search for something" />
                    <img class="mag-glass" src="/frontend/assets/i/mag-glass.png" />
                </div>
                <ul class="category-dropdown" ng-show="dropDown">
                    <li ng-repeat="category in categories">
                        <div ng-click="selectCategory(category, null)" ng-class="{noHover: category.states.length}">
                        {{category.displayTitle}}<span ng-show="category.states.length"> (select state)</span>
                        </div>
                        <ul class="state" ng-show="category.states">
                            <li ng-repeat="state in category.states">
                                <div ng-click="selectCategory($parent.category, state)">{{state.state}}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <article class="faq-categories">
        <div class="wrapper">
            <h1>Frequently Asked Questions</h1>
            <div class="category" ng-repeat="category in categories">
                <div ng-class="category.name">
                    <p class="service-name">{{category.name}}</p>
                    <p>{{category.description}}</p>
                    <p><a href="{{category.link}}">Get Support</a></p>
                </div>
            </div>
        </div>
    </article>
    <article class="popular-faqs">
        <header>
            <h1>Most Popular FAQs</h1>
        </header>
        <div class="content">
            <div class="faq" ng-repeat="popFaq in popFaqs">
                <div class="question" ng-click="selectFaq($index)">
                    <div class="plus-minus">
                        <div class="plus" ng-class="{minus: popFaq.selected}"></div>
                    </div>
                    <p>{{popFaq.faqQuestion}} - {{popFaq.helpfulCount}}</p>
                </div>
                <div class="answer clearfix" ng-show="popFaq.selected">
                    <div class="triangle-up"></div>
                    <div class="answer-content" ng-bind-html="popFaq.faqAnswer"></div>
                    <aside>
                        <h4>Related Questions</h4>
                        <div ng-repeat="relatedFaq in faqs">
                            <p><a href="" ng-click="selectRelated($parent.$index, $index)" ng-show="related($parent.$index, $index)">{{relatedFaq.question}}</a></p>
                        </div>
                        <h4>Still having issues?</h4>
                        <p>Please contact customer support at 877-743-5893</p>
                    </aside>
                    <div class="helpful">
                        <label for="helpful">Was this helpful?</label>
                        <input type="radio" name="helpful" ng-model="popFaq.helpful" ng-value="true" /> Yes
                        <input type="radio" name="helpful" ng-model="popFaq.helpful" ng-value="false" /> No
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="secondary-footer">
        Can't find what you're looking for? <a href="" ng-click="">Ask Us a Question</a>
    </div>
</div>
