<div ng-controller="supportCenterCtrl" class="support-search" style="background-image: url('/~/media/Images/Banners/support-banner.png');">
    <h1>Stream Support Center</h1>
    <h4>At Stream, we're here to help. Contact us if you can't find what you're looking for.</h4>
    <div class="item search">
        <div class="button ">{{selectedService.name}} - {{selectedState.name}}</div>
        <ul class="service">
            <li ng-repeat="service in services">
                <p ng-click="selectService(service, null)">{{service.name}}</p>
                <ul class="state" ng-if="service.states">
                    <li ng-repeat="state in service.states">
                        <p ng-click="selectService($parent.service, state)">{{state.name}}</p>
                    </li>
                </ul>
            </li>
        </ul>
        <input type="text" placeholder="search for something" />
    </div>
</div>