@using Sitecore.Data.Fields
@using StreamEnergy.MyStream.Models.Marketing.Support
@using StreamEnergy.MyStream.Controllers
@using Sitecore.Data.Items;

@{
    MultilistField FAQs = Html.Sitecore().CurrentItem.Fields["FAQs"];
    List<FAQ> FAQList = new List<FAQ>();
    foreach (string faq in FAQs)
    {
        FAQ newFAQ = new FAQ(faq);
        FAQList.Add(newFAQ);

    }
    var FAQArray = StreamEnergy.Json.Stringify(FAQList);
}

<article class="portal-faqs @Html.Sitecore().Field("Custom CSS Class")" ng-controller="supportCenterCtrl">
    <div class="content" ng-init="FAQs = @FAQArray; modalFAQ = {}">
        <h3>@Html.Sitecore().Field("Have Questions")</h3>
        <p ng-repeat="faq in FAQs">
            <a href="" ng-click="showPortalModal('FAQ', faq)">{{faq.faqQuestion}}</a>
        </p>
        <span class="all">
            @Html.Sitecore().Field("Get All Billing")
            <img src="~/frontend/assets/i/icon/arrow-right.png" />
        </span>
    </div>
</article>
<script type="text/ng-template" id="FAQ">
    <div class="support-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">@Html.Sitecore().Field("Close")</a>
            <h2>{{modalFAQ.faqQuestion}}</h2>
        </div>
        <div class="modal-body">
            <div class="content" ng-bind-html="modalFAQ.faqAnswer"></div>
        </div>
    </div>
</script>