<article class="homelife grey-box">
    <header>
        <h3>@Html.Sitecore().Field("Header Content")</h3>
    </header>
    <div class="content">
        <ul>
            <li>@Html.Sitecore().Field("Support Text")<a href="#"><i class="icon-tech-support"></i></a></li>
            <li><a href="#">@Html.Sitecore().Field("Tickets Text")</a></li>
            <li class="clearfix"><div class="buttons"><button type="submit">@Html.Sitecore().Field("Button Text")</button></div></li>
        </ul>
    </div>
</article>