<article class="promo paperless">
    <h1>Choose <div class="promo-bold">Paperless</div></h1>
    <p>and leave the trees for the birds.</p>
    <button class="secondary">Choose Paperless</button>
</article>