<article class="subnav">
    <ul>
        <li><a href="#">@Html.Sitecore().Field("Online Account Information Link").ToHtmlString() Online Account Information</a></li>
        <li><a href="#">Account Information</a></li>
        <li><a href="#">Notifications &amp; Reminders</a></li>
        <li class="active">Enrolled Accounts</li>
    </ul>
</article>