@{
    var currentID = Sitecore.Context.Item.ID;
    var onlineAccount = Sitecore.Context.Item.Fields["Online Account Information Link"];
   

}

<article class="subnav">
    <ul>
        <li>@Html.Sitecore().Field("Online Account Information Link")</li>
        <li>@Html.Sitecore().Field("Account Information Link")</li>
        <li>@Html.Sitecore().Field("Notifications and Reminders Link")</li>
        <li class="active">@Html.Sitecore().Field("Enrolled Accounts Link")</li>
    </ul>
</article>