<article class="thermostat grey-box">
    <header>
        <h3>My Thermostat</h3>
    </header>

    <div>
        <form>
            <div class="content">
                <div class="grid">
                    <div class="col">
                        <i class="icon-thermostat"></i>
                        <h5>Thermostat</h5>
                        <span class="current-temp">72&#176;<span class="temp-scale">F</span></span>
                    </div>
                    <div class="col">
                        <dl class="clearfix">
                            <dt>Indoor Temp</dt>
                            <dd class="temperature">74&#176;</dd>
                            <dt>Mode:</dt>
                            <dd><a href="#">AUTO</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <footer class="clearfix">
                <div class="online">
                    <p><i class="icon-online-light"></i> Online</p>
                </div>
                <div class="settings">
                    <p><a href="#">Settings</a></p>
                </div>
            </footer>
        </form>
    </div>
</article>