@using Sitecore.Mvc
@using EmailCampaign.Controls
@using Sitecore.Web.UI.Controls.Common.Renderings
@using Sitecore.Web.UI.Controls.Common.UserControls
@using UserControl = Sitecore.Web.UI.Controls.Common.UserControls.UserControl
@using Bcl = EmailCampaign.Controls.Constants.Renderings.Bcl
@using Exm = EmailCampaign.Controls.Constants.Renderings.Exm
@using BaseDataSources = EmailCampaign.Controls.Reporting.RecipientActivityReport.DataSources
@using DataSources = EmailCampaign.Controls.Reporting.RecipientActivityReportExtended.DataSources;
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    UserControl rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Requires.Script("ecm", "RecipientActivityReportExtended.js");
    rendering.Requires.Css("ecm", "RecipientActivityReportExtended.css");
    rendering.Class = "sc-RecipientActivityReportExtended";
    string bottomLink = rendering.GetString("BottomLink");
    string height = rendering.GetString("Height");
}

@helper RenderRecipientActivityReportExtended(UserControl rendering)
{
    RenderingHelper helper = new RenderingHelper(this.Html, rendering.ControlId);

    //Content
    
    helper.CreateRenderingAt(Bcl.ScoreCard, "OpenRateScore", rendering.ControlId + "InfoLeftColumn", null, DataSources.OpenRateScore);

    helper.CreateRenderingAt(Bcl.ScoreCard, "ClickRateScore", rendering.ControlId + "InfoLeftColumn", null, DataSources.ClickRateScore);

    helper.CreateRenderingAt(Bcl.ScoreCard, "UnsubscribedScore", rendering.ControlId + "InfoBottomLeftColumn", null, BaseDataSources.UnsubscribedScore);

    helper.CreateRenderingAt(Bcl.ScoreCard, "SpamComplaintsScore", rendering.ControlId + "InfoBottomRightColumn", null, DataSources.SpamComplaintsScore);


    helper.CreateRenderingAt(Exm.D3.DoughnutChart, "DoughnutChart", rendering.ControlId + "DoughnutLeftColumn", null, DataSources.DoughnutChart);

    helper.CreateRenderingAt(Bcl.ScoreCard, "UniqueOpensScore", rendering.ControlId + "DoughnutRightColumnBorder", null, BaseDataSources.UniqueOpensScore);

    helper.CreateRenderingAt(Bcl.ScoreCard, "UniqueClicksScore", rendering.ControlId + "DoughnutRightColumnBorder", null, BaseDataSources.UniqueClicksScore);

    helper.CreateRenderingAt(Bcl.Border, "DoughnutRightColumnBorder", rendering.ControlId + "DoughnutRightColumn", null, DataSources.Border);

    helper.CreateRenderingAt(Bcl.ScoreCard, "TotalSentScore", rendering.ControlId + "InfoRightColumn", null, DataSources.TotalSentScore);
    
    helper.CreateRenderingAt(Bcl.ScoreCard, "DeliveredScore", rendering.ControlId + "InfoRightColumn", null, DataSources.DeliveredScore);

    helper.CreateRenderingAt(Bcl.ScoreCard, "BouncedScore", rendering.ControlId + "DoughnutRightColumn", null, BaseDataSources.BouncedScore);
    
    
    // Layout

    helper.CreateRenderingAt(Bcl.ColumnPanel, "InfoLeftColumn", rendering.ControlId + "InfoTopRowPanel", null, BaseDataSources.ColumnPanel);

    helper.CreateRenderingAt(Bcl.ColumnPanel, "InfoRightColumn", rendering.ControlId + "InfoTopRowPanel", null, BaseDataSources.ColumnPanel);

    helper.CreateRenderingAt(Bcl.ColumnPanel, "InfoBottomLeftColumn", rendering.ControlId + "InfoBottomRowPanel", null, BaseDataSources.ColumnPanel);

    helper.CreateRenderingAt(Bcl.ColumnPanel, "InfoBottomRightColumn", rendering.ControlId + "InfoBottomRowPanel", null, BaseDataSources.ColumnPanel);


    helper.CreateRenderingAt(Bcl.RowPanel, "InfoTopRowPanel", rendering.ControlId + "RightMainColumn");

    helper.CreateRenderingAt(Bcl.RowPanel, "InfoBottomRowPanel", rendering.ControlId + "RightMainColumn");
    
    helper.CreateRenderingAt(Bcl.ColumnPanel, "DoughnutLeftColumn", rendering.ControlId + "DoughnutRowPanel", null, BaseDataSources.ColumnPanel);

    helper.CreateRenderingAt(Bcl.ColumnPanel, "DoughnutRightColumn", rendering.ControlId + "DoughnutRowPanel", null, BaseDataSources.ColumnPanel);
    
    helper.CreateRenderingAt(Bcl.RowPanel, "DoughnutRowPanel", rendering.ControlId + "LeftMainColumn");
    
    helper.CreateRenderingAt(Bcl.ColumnPanel, "LeftMainColumn", rendering.ControlId + "Card", null, BaseDataSources.ColumnPanel, "Wrapper.Content");

    helper.CreateRenderingAt(Bcl.ColumnPanel, "RightMainColumn", rendering.ControlId + "Card", null, BaseDataSources.ColumnPanel, "Wrapper.Content");

    helper.CreateRenderingAt(Bcl.StringDictionary, "StringDictionaryExtended", rendering.ControlId + "Card", null, DataSources.StringDictionaryExtended, "Wrapper.Content");
    
    helper.CreateRenderingAt(Bcl.StringDictionary, "StringDictionary", rendering.ControlId + "Card", null, DataSources.StringDictionary, "Wrapper.Content");
    
}

@RenderRecipientActivityReportExtended(rendering)

<div @rendering.HtmlAttributes data-sc-hasnested="true">
    @(this.Html.Sitecore().Controls().Rendering(this.Html, Bcl.Card, rendering.ControlId + "Card", DataSources.Card, new
            {
                BottomLink = @bottomLink,
                Height = @height
            }))
</div>