<article class="marketing state-tabs states-pay" state-tabs="texas">
    <ul class="tabs-nav">
        <li ng-click="selectPane('texas')" ng-class="{ active: pane == 'texas' }">
            <a href="">
                <span><i class="icon-state-texas"></i></span>
                Texas
            </a>
        </li>
        <li ng-click="selectPane('georgia')" ng-class="{ active: pane == 'georgia' }">
            <a href="">
                <span><i class="icon-state-georgia"></i></span>
                Georgia
            </a>
        </li>
        <li ng-click="selectPane('pennsylvania')" ng-class="{ active: pane == 'pennsylvania' }">
            <a href="">
                <span><i class="icon-state-pennsylvania"></i></span>
                Pennsylvania
            </a>
        </li>
        <li ng-click="selectPane('maryland')" ng-class="{ active: pane == 'maryland' }">
            <a href="">
                <span><i class="icon-state-maryland"></i></span>
                Maryland
            </a>
        </li>
        <li ng-click="selectPane('newjersey')" ng-class="{ active: pane == 'newjersey' }">
            <a href="">
                <span><i class="icon-state-newjersey"></i></span>
                New Jersey
            </a>
        </li>
        <li ng-click="selectPane('newyork')" ng-class="{ active: pane == 'newyork' }">
            <a href="">
                <span><i class="icon-state-newyork"></i></span>
                New York
            </a>
        </li>
        <li ng-click="selectPane('washingtondc')" ng-class="{ active: pane == 'washingtondc' }">
            <a href="">
                <span><i class="icon-state-washingtondc"></i></span>
                Washington, D.C.
            </a>
        </li>
    </ul>
    <div class="tab-content" ng-class="{ hidden : pane != 'texas' }">
        <div class="tab-header">
        </div>
        <article class="marketing wrapper pay">
            <div class="grid">
                <div class="col">
                    <div class="pay-option">
                        <h1>Texas</h1>
                        <p>One of the easiest ways to pay your bill is by created a My Stream Account. Thanks for being a valued part of our family. Have questions?</p>
                        <p class="call">Call us at <span class="phone">866-447-8732</span>.</p>
                    </div>
                    <div class="pay-option">
                        <h2>Make a One-time Payment Online</h2>
                        <p>No time to login?</p>
                        <p><a href="#"><button>Click Here</button></a> INSTEAD</p>
                        <p>Some charges apply.</p>
                    </div>
                    <div class="pay-option">
                        <h2>Mail Your Payment</h2>
                        <p>Stream Energy<br />P.O. Box 650026<br /> Dallas, Texas 75265-0026</p>
                        <p>Stream Energy provides a self-addressed envelope with your bill to return your payment. Avoid late fees by mailing your payment at least three business days before the due date specified.</p>
                    </div>
                    <div class="pay-option">
                        <h2>Pay By Phone</h2>
                        <p>Using your credit or debit card, you may make a payment by calling <span class="phone">866-447-8732</span>.</p>
                        <p>Some charges apply.</p>
                        <p>Payments made over the phone will post the same day.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <h1>My Stream Account</h1>
                        <input type="text" placeholder="Username">
                        <input type="text" placeholder="Password">
                        <p><button>Login</button></p>
                        <p class="forgot">Forgot your <br /><a href="#">Username</a> or <a href="#">Password</a>?</p>
                        <hr />
                        <p>Haven't created a My Stream account?</p>
                        <p class="sign-up"><a href="#">Sign up for FREE</a> today and enjoy benefits like:</p>
                        <p><span class="benefits">Paperless Billing</span> - Reduce your carbon footprint</p>
                        <p><span class="benefits">Automated Payments</span> - Never forget a payment again</p>
                    </div>
                    <hr />
                    <h2>Find a Pay Center Near You</h2>
                    <p>If you would like to make your energy payment in person, use the <a href="#">Stream Energy Pay Center Locator</a> to find a payment center in your area.</p>
                    <p>If you choose to pay your bill with a money order, please have the money order made payable to the name of the convenience store or location you are paying through, rather than payable to Stream Energy.</p>
                </div>
            </div>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'georgia' }">
        <div class="tab-header">
        </div>
        <article class="marketing wrapper pay">
            <div class="grid">
                <div class="col">
                    <div class="pay-option">
                        <h1>Georgia</h1>
                        <p>One of the easiest ways to pay your bill is by created a My Stream Account. Thanks for being a valued part of our family. Have questions?</p>
                        <p class="call">Call us at <span class="phone">866-447-8732</span>.</p>
                    </div>
                    <div class="pay-option">
                        <h2>Make a One-time Payment Online</h2>
                        <p>No time to login?</p>
                        <p><a href="#"><button>Click Here</button></a> INSTEAD</p>
                        <p>Some charges apply.</p>
                    </div>
                    <div class="pay-option">
                        <h2>Mail Your Payment</h2>
                        <p>Stream Energy<br />P.O. Box 650026<br /> Dallas, Texas 75265-0026</p>
                        <p>Stream Energy provides a self-addressed envelope with your bill to return your payment. Avoid late fees by mailing your payment at least three business days before the due date specified.</p>
                    </div>
                    <div class="pay-option">
                        <h2>Pay By Phone</h2>
                        <p>Using your credit or debit card, you may make a payment by calling <span class="phone">866-447-8732</span>.</p>
                        <p>Some charges apply.</p>
                        <p>Payments made over the phone will post the same day.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="box">
                        <h1>My Stream Account</h1>
                        <input type="text" placeholder="Username">
                        <input type="text" placeholder="Password">
                        <p><button>Login</button></p>
                        <p class="forgot">Forgot your <br /><a href="#">Username</a> or <a href="#">Password</a>?</p>
                        <hr />
                        <p>Haven't created a My Stream account?</p>
                        <p class="sign-up"><a href="#">Sign up for FREE</a> today and enjoy benefits like:</p>
                        <p><span class="benefits">Paperless Billing</span> - Reduce your carbon footprint</p>
                        <p><span class="benefits">Automated Payments</span> - Never forget a payment again</p>
                    </div>
                    <hr />
                    <h2>Find a Pay Center Near You</h2>
                    <p>If you would like to make your energy payment in person, use the <a href="#">Stream Energy Pay Center Locator</a> to find a payment center in your area.</p>
                    <p>If you choose to pay your bill with a money order, please have the money order made payable to the name of the convenience store or location you are paying through, rather than payable to Stream Energy.</p>
                </div>
            </div>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'pennsylvania' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>Pennsylvania</h1>
                    <p>Stream partners with your utility to include all of your monthly charges on a single bill. Now you can keep up with how much you owe without tracking down multiple bills!</p>
                    <p>Pay your full balance to your utility, and the utility will work with Stream to make certain the portion of your payment meant for Stream is accounted for.</p>
                    <p>Choose the utility specific to your residence to learn more about the ways you can more easily pay your energy bill.</p>
                </div>
            </section>
            <aside>
                <h4>Pay Your Bill</h4>
                <ul class="pay-list">
                    <li><a href="https://www.duquesnelight.com/forYourHome/manageMyAccount/PaymentOptions.cfm" target="_blank">Duquesne Light</a></li>
                    <li><a href="https://www.firstenergycorp.com/content/customer/met_edison.html" target="_blank">MetEd</a></li>
                    <li><a href="https://www.peco.com/CustomerService/BillingandPayment/Pages/default.aspx" target="_blank">PECO</a></li>
                    <li><a href="https://www.firstenergycorp.com/content/customer/penelec.html" target="_blank">Penelec</a></li>
                    <li><a href="https://www.pplelectric.com/" target="_blank"> PPL </a></li>
                    <li><a href="https://www.firstenergycorp.com/content/customer/west_penn_power.html" target="_blank">West Penn Power</a></li>
                </ul>
            </aside>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'maryland' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>Maryland</h1>
                    <p>Stream partners with your utility to include all of your monthly charges on a single bill. Now you can keep up with how much you owe without tracking down multiple bills!</p>
                    <p>Pay your full balance to your utility, and the utility will work with Stream to make certain the portion of your payment meant for Stream is accounted for.</p>
                    <p>Choose the utility specific to your residence to learn more about the ways you can more easily pay your energy bill.</p>
                </div>
            </section>
            <aside>
                <h4>Pay Your Bill</h4>
                <ul class="pay-list">
                    <li><a href="http://www.bge.com/myaccount/waystopay/Pages/default.aspx" target="_blank">Baltimore Gas &amp; Electric (BGE)</a></li>
                    <li><a href="http://www.delmarva.com/home/billing/" target="_blank">Delmarva Power</a></li>
                    <li><a href="http://www.pepco.com/home/billing/" target="_blank">Potomac Electric Power (Pepco)</a></li>
                </ul>
            </aside>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'newjersey' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>New Jersey</h1>
                    <p>Stream partners with your utility to include all of your monthly charges on a single bill. Now you can keep up with how much you owe without tracking down multiple bills!</p>
                    <p>Pay your full balance to your utility, and the utility will work with Stream to make certain the portion of your payment meant for Stream is accounted for.</p>
                    <p>Choose the utility specific to your residence to learn more about the ways you can more easily pay your energy bill.</p>
                </div>
            </section>
            <aside>
                <h4>Pay Your Bill</h4>
                <ul class="pay-list">
                    <li><a href="http://www.atlanticcityelectric.com/home/billing/options/default.aspx" target="_blank">Atlantic City Electric</a></li>
                    <li><a href="https://www.firstenergycorp.com/jersey_central_power_light.html" target="_blank">Jersey Central Power &amp; Light (JCP&amp;L)</a></li>
                    <li><a href="http://www.njng.com/" target="_blank">New Jersey Natural Gas (NJNG)</a></li>
                    <li><a href="http://www.pseg.com/home/customer_service/bill/centers.jsp" target="_blank">PSE&amp;G</a></li>
                </ul>
            </aside>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'newyork' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>New York</h1>
                    <p>Stream partners with your utility to include all of your monthly charges on a single bill. Now you can keep up with how much you owe without tracking down multiple bills!</p>
                    <p>Pay your full balance to your utility, and the utility will work with Stream to make certain the portion of your payment meant for Stream is accounted for.</p>
                    <p>Choose the utility specific to your residence to learn more about the ways you can more easily pay your energy bill.</p>
                </div>
            </section>
            <aside>
                <h4>Pay Your Bill</h4>
                <ul class="pay-list">
                    <li><a href="http://www.coned.com/" target="_blank">Con Edison</a></li>
                    <li><a href="https://www1.nationalgridus.com/StateLandingNY" target="_blank">National Grid</a></li>
                    <li><a href="http://www.nyseg.com/youraccount/payyourbill/default.html" target="_blank">New York State Electric &amp; Gas Corporation (NYSEG)</a></li>
                    <li><a href="http://www.rge.com/youraccount/payyourbill/default.html" target="_blank">Rochester Gas &amp; Electric (RGE)</a></li>
                </ul>
            </aside>
        </article>
    </div>
    <div class="tab" ng-class="{ hidden : pane != 'washingtondc' }">
        <div class="tab-header">
        </div>
        <article class="layout cols-2 marketing wrapper pay">
            <section>
                <div class="pay-option">
                    <h1>Washington, D.C.</h1>
                    <p>Stream partners with your utility to include all of your monthly charges on a single bill. Now you can keep up with how much you owe without tracking down multiple bills!</p>
                    <p>Pay your full balance to your utility, and the utility will work with Stream to make certain the portion of your payment meant for Stream is accounted for.</p>
                    <p>Choose the utility specific to your residence to learn more about the ways you can more easily pay your energy bill.</p>
                </div>
            </section>
            <aside>
                <h4>Pay Your Bill</h4>
                <ul class="pay-list">
                    <li><a href="http://www.pepco.com/home/billing/" target="_blank">Potomac Electric Power (Pepco)</a></li>
                </ul>
            </aside>
        </article>
    </div>
</article>
