<article class="login logged-out" ng-controller="loginController">
    <div class="icon-MyAccountText"></div>
    <form>
        <h2>Reset Password</h2>
        <div class="group">
            <div class="item" float-label>
                <label>Username</label>
                <input type="text" placeholder="Username" ng-model="username" />
            </div>
        </div>

        <div class="buttons">
            <a class="button">Continue</a>
        </div>
        <div class="forgot">
            Forgot <a ng-click="go('/login/recoverUsername')">Username</a>?
        </div>

        <div class="legal">
            Copyright ©2016 Stream  |  All Rights Reserved
        </div>
    </form>
</article>