<article class="grey-box auth">
	<header>
		<h2>@Html.Sitecore().Field("Header Text")</h2>
	</header>
	<div class="content">
		<p>@Html.Sitecore().Field("Body Text")</p>
	</div>
	<footer>
		<div class="buttons">
			<a href="#" class="button">@Html.Sitecore().Field("Return Button Text")</a>
		</div>
	</footer>
</article>