.sc-TechnologyReport .sc-d3-doughnutchart .sc-d3-chart-canvas,
.sc-TechnologyReportExtended .sc-d3-doughnutchart .sc-d3-chart-canvas {
  float: right;
}
.sc-TechnologyReport .sc-d3-barchart[data-sc-id$="DeviceBarChart"],
.sc-TechnologyReportExtended .sc-d3-barchart[data-sc-id$="DeviceBarChart"] {
  padding: 15px 15px 0 15px;
}
.sc-TechnologyReport .sc-border[data-sc-id$="CountriesChartBorder"],
.sc-TechnologyReportExtended .sc-border[data-sc-id$="CountriesChartBorder"] {
  padding: 5px 0;
}
.sc-TechnologyReport div[data-sc-id$="CountriesRowPanel"],
.sc-TechnologyReportExtended div[data-sc-id$="CountriesRowPanel"] {
  margin: 0;
}
.sc-TechnologyReport div[data-sc-id$="CountriesRowPanel"] > div,
.sc-TechnologyReportExtended div[data-sc-id$="CountriesRowPanel"] > div {
  padding-top: 15px;
  border-top: 1px solid #f0f0f0;
}
.sc-TechnologyReport .table > tbody > tr > td,
.sc-TechnologyReportExtended .table > tbody > tr > td {
  vertical-align: middle;
}
@media (max-width: 992px) {
  .sc-TechnologyReportExtended .sc-exm-Card .sc-advancedExpander-bodywrapper {
    height: auto !important;
  }
  .sc-TechnologyReportExtended .sc-exm-Card div[data-sc-id$="RightMainColumn"] {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .sc-TechnologyReportExtended .sc-exm-Card div[data-sc-id$="RightMainColumn"] .col-md-6 {
    width: 50%;
    float: left;
  }
}
@media (min-width: 992px) {
  .sc-TechnologyReportExtended .sc-exm-Card .row[data-sc-id$="MainRowPanel"] {
    height: 260px;
  }
  .sc-TechnologyReportExtended .sc-exm-Card .row[data-sc-id$="MainRowPanel"] div[data-sc-id$="RightMainColumn"],
  .sc-TechnologyReportExtended .sc-exm-Card .row[data-sc-id$="MainRowPanel"] div[data-sc-id$="LeftMainColumn"] {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.sc-TechnologyReportExtended .sc-exm-Card .sc-d3-doughnutchart .sc-d3-chart-canvas {
  float: right !important;
}
.sc-TechnologyReportExtended .sc-exm-Card .sc-ScoreCard {
  padding: 15px 0 10px 0;
}
.sc-TechnologyReportExtended .sc-exm-Card .sc-ScoreCard span.sc-text[data-sc-id$="TextValue"],
.sc-TechnologyReportExtended .sc-exm-Card .sc-ScoreCard a.sc-hyperlinkbutton[data-sc-id$="LinkValue"] {
  line-height: 160%;
}
.sc-TechnologyReportExtended .sc-exm-Card .row[data-sc-id$="MainRowPanel"] {
  margin-left: 0;
}
.sc-TechnologyReportExtended .sc-exm-Card .row[data-sc-id$="MainRowPanel"] div[data-sc-id$="LeftMainColumn"] {
  padding-left: 0;
}
.sc-TechnologyReportExtended .sc-exm-Card .row[data-sc-id$="MainRowPanel"] div[data-sc-id$="RightMainColumn"] .row[data-sc-id^="InfoBoardRowPanel"] {
  padding-right: 15px;
}
.sc-TechnologyReportExtended .sc-d3-barchart[data-sc-id$="OsBarChart"] {
  padding: 15px 15px 0 15px;
}
.sc-TechnologyReportExtended .sc-d3-doughnutchart[data-sc-id$="BrowserDoughnutChart"] {
  padding: 0 15px;
}
