<article class="protective protective-services-comparison">
    <div class="wrapper">
        <table>
            <tr>
                <th>
                    <h3>DARE TO COMPARE!</h3>
                    <h2>Virtual MD</h2>
                </th>
                <th class="protective-service">Virtual MD</th>
                <th class="competitor"></th>
            </tr>
            <tr>
                <td>Yearly Cost</td>
                <td class="stream-price">$120<span>/year*</span></td>
                <td class="competitor-price">$360<span>/year**</span></td>
            </tr>
            <tr>
                <td>Co-pay required</td>
                <td>No</td>
                <td>Varies</td>
            </tr>
            <tr>
                <td>Available for every member of your family</td>
                <td><i class="icon-check-green"></i></td>
                <td><i class="icon-check-grey"></i></td>
            </tr>
            <tr>
                <td>Prescriptions immediately sent to your pharmacy</td>
                <td><i class="icon-check-green"></i></td>
                <td><i class="icon-check-grey"></i></td>
            </tr>
            <tr>
                <td>Free doctor consultations</td>
                <td><i class="icon-check-green"></i></td>
                <td><i class="icon-check-grey"></i></td>
            </tr>
            <tr>
                <td>Free psychologist consultations</td>
                <td><i class="icon-check-green"></i></td>
                <td></td>
            </tr>
            <tr>
                <td>Prescriptions savings &amp; discounts</td>
                <td><i class="icon-check-green"></i></td>
                <td><i class="icon-check-grey"></i></td>
            </tr>
            <tr>
                <td>U.S. board-certified physicians</td>
                <td><i class="icon-check-green"></i></td>
                <td><i class="icon-check-grey"></i></td>
            </tr>
            <tr>
                <td>Free psychologist consultations</td>
                <td><i class="icon-check-green"></i></td>
                <td><i class="icon-check-grey"></i></td>
            </tr>
            <tr>
                <td>Prescription savings &amp; discounts</td>
                <td><i class="icon-check-green"></i></td>
                <td><i class="icon-check-grey"></i></td>
            </tr>
            <div class="stream-background"><p><a class="button-large">Get Started</a></p></div>
        </table>
        <p><a><i class="icon-back-to-top"></i></a></p>
    </div>
</article>