@{
    var classes = new List<string>();

    var sc = Html.Sitecore();
    classes.Add(sc.LookupItem("Background Color").SafeFieldValue("Css Class").Prefix("bg-"));
    classes.Add(sc.LookupItem("Accent Color").SafeFieldValue("Css Class").Prefix("accent-"));
    classes.Add(sc.CurrentItem["Custom CSS Class"]);

    var backgroundDivider = classes.Contains("bg-white") || !classes.Any(c => c != null && c.StartsWith("bg-"));
}
<article class="marketing full-html @string.Join(" ", classes)">
    <div class="wrapper" style="@(!backgroundDivider ? "background-image: none" : null)">
        @Html.Sitecore().Field("Module HTML")
    </div>
</article>