@{
    var classes = new List<string>();

    var sc = Html.Sitecore();
    classes.Add(sc.CurrentItem["Custom CSS Class"]);
}
<div class="marketing full-width-image @string.Join(" ", classes)">
    @Html.Sitecore().Field("Image", new { width = 1280, style = "width: 100%" })
</div>