@{
    var classes = new List<string>();

    var sc = Html.Sitecore();
    classes.Add(sc.CurrentItem["Custom CSS Class"]);
}
<div class="module marketing full-width-image @string.Join(" ", classes)">
    @{
        if (Sitecore.Context.PageMode.IsPageEditorEditing)
        {
            @Html.Sitecore().Field("Image")
        }
    }
</div>
@Html.Sitecore().Field("Image", new { width = 1280, style = "width: 100%" })