<article class="protective protective-services-info">
    <div class="wrapper">
        <div class="grid">
            <div class="col">
                <h2>Virtual MD</h2>
                <p class="introduction">Access a doctor online--anytime, anywhere.</p>
                <p>With Virtual MD, you have unlimited, 24/7 access to a U.S. Board Certified physician (MD) for you and your family's non-emergency medical needs, right from your home via phone or online video!</p>
                <h3>FEATURES INCLUDE:</h3>
                <ul>
                    <li>Free Doctor Consultations</li>
                    <li>Free psychologist consultations</li>
                    <li>Prescription savings &amp; discounts</li>
                </ul>
                <p><a>View All Features <i class="icon-view-all"></i></a></p>
                <ul>
                    <li>Free Doctor Consultations</li>
                    <li>Free psychologist consultations</li>
                    <li>Prescription savings &amp; discounts</li>
                    <li>Free Doctor Consultations</li>
                    <li>Free psychologist consultations</li>
                    <li>Prescription savings &amp; discounts</li>
                    <li>Free Doctor Consultations</li>
                    <li>Free psychologist consultations</li>
                    <li>Prescription savings &amp; discounts</li>
                </ul>
                <p><a>View Less Features <i class="icon-view-all"></i></a></p>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</article>