@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Sitecore.Data.Fields
@{
    var stateNames = new Dictionary<string, string>()
    {
        {"texas", "Texas"},
        {"georgia", "Georgia"},
        {"pennsylvania", "Pennsylvania"},
        {"maryland", "Maryland"},
        {"newjersey", "New Jersey"},
        {"newyork", "New York"},
        {"washingtondc", "Washington DC"}
    };

    var stateEnroll = new Dictionary<string, string>()
    {
        {"texas", "/enrollment?BC_ID=1&RefSite=SCS&CO_LA=US_EN&State=GA&AccountType=R"},
        {"georgia", "/enrollment?BC_ID=1&RefSite=SCS&CO_LA=US_EN&State=TX&AccountType=R"},
        {"pennsylvania", "/enrollment?BC_ID=1&RefSiteId=6&St=PA&AccountType=R&CO_LA=US_EN"},
        {"maryland", "/enrollment?BC_ID=1&RefSiteId=6&St=MD&AccountType=R&CO_LA=US_EN"},
        {"newjersey", "/enrollment?BC_ID=1&RefSiteId=6&St=NJ&AccountType=R&CO_LA=US_EN"},
        {"newyork", "/enrollment?BC_ID=1&RefSiteId=6&St=NY&AccountType=R&CO_LA=US_EN"},
        {"washingtondc", "/enrollment?BC_ID=1&RefSiteId=6&St=DC&AccountType=R&CO_LA=US_EN"}
    };

    var stateRateLinks = new Dictionary<string, string>()
    {
        {"texas", Sitecore.Links.LinkManager.GetItemUrl(((LinkField) Html.Sitecore().CurrentRendering.Item.Fields["Texas View Rates Link"]).TargetItem)},
        {"georgia", Sitecore.Links.LinkManager.GetItemUrl(((LinkField) Html.Sitecore().CurrentItem.Fields["Georgia View Rates Link"]).TargetItem)},
        {"pennsylvania", Sitecore.Links.LinkManager.GetItemUrl(((LinkField) Html.Sitecore().CurrentItem.Fields["Pennsylvania View Rates Link"]).TargetItem)},
        {"maryland", Sitecore.Links.LinkManager.GetItemUrl(((LinkField) Html.Sitecore().CurrentItem.Fields["Maryland View Rates Link"]).TargetItem)},
        {"newjersey", Sitecore.Links.LinkManager.GetItemUrl(((LinkField) Html.Sitecore().CurrentItem.Fields["New Jersey View Rates Link"]).TargetItem)},
        {"newyork", Sitecore.Links.LinkManager.GetItemUrl(((LinkField) Html.Sitecore().CurrentItem.Fields["New York View Rates Link"]).TargetItem)},
        {"washingtondc", Sitecore.Links.LinkManager.GetItemUrl(((LinkField) Html.Sitecore().CurrentItem.Fields["DC View Rates Link"]).TargetItem)}
    };
    
    
    
    var stateEnrollData = new JObject();
    foreach (var state in stateNames.Keys)
    {
        stateEnrollData.Add(state, new JObject { { "name", stateNames[state] }, { "enrollUrl", stateEnroll[state] }, { "rateUrl", stateRateLinks[state] } });
    }
}
@helper StateSelect(Dictionary<string, string> stateNames)
{

    <select data-ng-model="pane">
        @foreach (var name in stateNames)
        {
            <option value="@name.Key">@name.Value</option>
        }
    </select>
}

<form class="module marketing state-tabs states-enroll" state-tabs="texas">
    <h3>
        Energy Rates &amp; Details
    </h3>
    <p id="GetStarted-StateEnroll-Module">It looks like you're in @StateSelect(stateNames) <button data-ng-click="goToEnrollUrl()" class="action">Get Stated</button></p>
    <p id="ViewLinks-StateEnroll-Module"><a data-ng-href="{{stateEnrollData[pane].rateUrl}}">View Rates</a><br><a href="">View Details</a></p>
    <script>
        window.stateEnrollData = @Html.Raw(stateEnrollData.ToString(Formatting.None));
    </script>
</form>