@using Sitecore.Data.Fields
@{
    var stateEnroll = new Dictionary<string, string>()
    {
        {"texas", "/enrollment?BC_ID=1&RefSite=SCS&CO_LA=US_EN&State=GA&AccountType=R"},
        {"georgia", "/enrollment?BC_ID=1&RefSite=SCS&CO_LA=US_EN&State=TX&AccountType=R"},
        {"pennsylvania", "/enrollment?BC_ID=1&RefSiteId=6&St=PA&AccountType=R&CO_LA=US_EN"},
        {"maryland", "/enrollment?BC_ID=1&RefSiteId=6&St=MD&AccountType=R&CO_LA=US_EN"},
        {"newjersey", "/enrollment?BC_ID=1&RefSiteId=6&St=NJ&AccountType=R&CO_LA=US_EN"},
        {"newyork", "/enrollment?BC_ID=1&RefSiteId=6&St=NY&AccountType=R&CO_LA=US_EN"},
        {"washingtondc", "/enrollment?BC_ID=1&RefSiteId=6&St=DC&AccountType=R&CO_LA=US_EN"}
    };

    var stateRateLinks = new Dictionary<string, string>()
    {
        {"texas", ((LinkField)Html.Sitecore().CurrentItem.Fields["Texas View Rates Link"]).Url},
        {"georgia", ((LinkField)Html.Sitecore().CurrentItem.Fields["Georgia View Rates Link"]).Url},
        {"pennsylvania", ((LinkField)Html.Sitecore().CurrentItem.Fields["Pennsylvania View Rates Link"]).Url},
        {"maryland", ((LinkField)Html.Sitecore().CurrentItem.Fields["Maryland View Rates Link"]).Url},
        {"newjersey", ((LinkField)Html.Sitecore().CurrentItem.Fields["New Jersey View Rates Link"]).Url},
        {"newyork", ((LinkField)Html.Sitecore().CurrentItem.Fields["New York View Rates Link"]).Url},
        {"washingtondc", ((LinkField)Html.Sitecore().CurrentItem.Fields["DC View Rates Link"]).Url}
    };
}
<form class="module marketing state-tabs states-enroll" state-tabs="texas">
    <h3>
        Choose you area to get started
    </h3>
    <p>It looks like you're in @Html.DropDownList("state", stateEnroll.Select(s => new SelectListItem() { Value = s.Value, Text = s.Key })) <button class="action">Get Stated</button></p>
    <p><a href="">View Rates</a><br><a href="">View Details</a></p>
</form>