<article class="marketing video-player" ng-controller="VideoPlayerCtrl">
    <div class="wrapper">
        <h1>{{video.title}}</h1>
        <div class="video-container">
            <iframe ng-src="{{embedUrl}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</article>
