<article class="marketing video-player" ng-controller="VideoPlayerCtrl">
    <div class="wrapper">
        <iframe width="560" height="315" ng-src="{{embedUrl}}" frameborder="0" allowfullscreen ng-cloak></iframe>
    </div>
</article>
