<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <automationStateDefinitionProvider defaultProvider="mongo">
      <providers>
        <clear/>
        <add name="mongo" type="Sitecore.Modules.EmailCampaign.Core.Data.AutomationStateDefinition.MongoDbAutomationStateDefinitionProvider, Sitecore.EmailCampaign" connectionStringName="analytics"/>
      </providers>
    </automationStateDefinitionProvider>

    <ecmDataProvider defaultProvider="sql">
      <providers>
        <clear/>
        <add name="sql" type="Sitecore.Modules.EmailCampaign.Core.Data.SqlDbEcmDataProvider, Sitecore.EmailCampaign" connectionStringName="exm.dispatch">
          <Logger type="Sitecore.Modules.EmailCampaign.Diagnostics.Logger, Sitecore.EmailCampaign" factoryMethod="get_Instance"/>
        </add>
      </providers>
    </ecmDataProvider>

    <pipelines>
      <getContentEditorFields>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.RemoveDuplicatedDataSources, Sitecore.EmailCampaign" />
      </getContentEditorFields>

      <!-- GET SITECORE USER RECIPIENT PIPELINE
           This pipeline is used by SitecoreUserRecipientRepository to assign properties
           when creating an instance of Recipient from a Sitecore user.
      -->
      <getSitecoreUserRecipient>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetSitecoreUserRecipient.AssignXdbRelationProperty, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetSitecoreUserRecipient.AssignPersonalInfoProperty, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetSitecoreUserRecipient.AssignEmailProperties, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetSitecoreUserRecipient.AssignPhoneProperties, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetSitecoreUserRecipient.AssignCommunicationSettingsProperty, Sitecore.EmailCampaign">
          <LanguageFieldName ref="settings/setting[@name='LanguageFieldName']/@value" />
        </processor>
      </getSitecoreUserRecipient>

      <!-- GET XDB CONTACT RECIPIENT PIPELINE
           This pipeline is used by XdbRecipientRepository to assign properties
           when creating an instance of Recipient from an xDB contact.
      -->
      <getXdbContactRecipient>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetXdbContactRecipient.AssignXdbRelationProperty, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetXdbContactRecipient.AssignPersonalInfoProperty, Sitecore.EmailCampaign">
          <PersonalInfoFacetName ref="model/entities/contact/facets/facet[@name='Personal']/@name" />
        </processor>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetXdbContactRecipient.AssignEmailProperties, Sitecore.EmailCampaign">
          <EmailAddressesFacetName ref="model/entities/contact/facets/facet[@name='Emails']/@name" />
        </processor>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetXdbContactRecipient.AssignPhoneProperties, Sitecore.EmailCampaign">
          <PhoneNumbersFacetName ref="model/entities/contact/facets/facet[@name='Phone Numbers']/@name" />
        </processor>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetXdbContactRecipient.AssignCommunicationSettingsProperty, Sitecore.EmailCampaign">
          <CommunicationProfileFacetName ref="model/entities/contact/facets/facet[@name='Communication Profile']/@name" />
          <PreferencesFacetName ref="model/entities/contact/facets/facet[@name='Preferences']/@name" />
        </processor>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetXdbContactRecipient.AssignContactListAssociationsProperty, Sitecore.EmailCampaign" />
      </getXdbContactRecipient>

      <httpRequestBegin>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HttpRequestBegin.OnHttpRequestBegin, Sitecore.EmailCampaign" x:after="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" />
        <!-- Sets a short session timeout interval on email rendering sessions to conserve resources. -->
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HttpRequestBegin.SetEmailRenderSessionTimeout, Sitecore.EmailCampaign" x:after="processor[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.HttpRequestBegin.SetEmailRenderSessionTimeout, Sitecore.EmailCampaign']">
          <Timeout>1</Timeout>
        </processor>
        <!-- For email rendering sessions having a Sitecore user as the recipient this processor loads the user and assigns it to the session. -->
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HttpRequestBegin.LoadEmailRenderSessionUser, Sitecore.EmailCampaign" x:after="processor[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.EnsureSessionContext.LoadEmailRenderSessionContact, Sitecore.EmailCampaign']" />
      </httpRequestBegin>

      <initialize>
        <!-- Append additional routes e.g. where the view engine will search to find a view -->
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.Initialize.InitializeRoutes, Sitecore.EmailCampaign" x:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
        <!-- Registers custom DTO classes (e.g. custom value DTOs) in the Mongo DB object mapper to allow deserialization in xDB. -->
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.Initialize.RegisterDatabaseModelExtensions, Sitecore.EmailCampaign" />
      </initialize>

      <ensureSessionContext>
        <!-- For email rendering sessions having an XDB contact as the recipient this processor
             loads the contact in read-only mode and assigns it to the session. -->
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.EnsureSessionContext.LoadEmailRenderSessionContact, Sitecore.EmailCampaign" x:before="processor[@type='Sitecore.Analytics.Pipelines.EnsureSessionContext.LoadContact, Sitecore.Analytics']" />
      </ensureSessionContext>

      <renderField>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GetNewsletterLinkFieldValue, Sitecore.EmailCampaign" x:after="processor[@type='Sitecore.Pipelines.RenderField.GetInternalLinkFieldValue, Sitecore.Kernel']" />
      </renderField>

      <updateContactEmail>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.UpdateContactEmail.UpdateEmail, Sitecore.EmailCampaign">
          <FacetName>Emails</FacetName>
          <PreferredName>Preferred</PreferredName>
        </processor>
      </updateContactEmail>

      <updateContactIdentifier>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.UpdateContactIdentifier.UpdateIdentifier, Sitecore.EmailCampaign" />
      </updateContactIdentifier>

      <modifyHyperlink>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.Hyperlink.SkipAnchorLinks, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.Hyperlink.SkipAlreadyProcessedHyperlink, Sitecore.EmailCampaign">
          <RedirectPagePath>/sitecore/RedirectUrlPage.aspx</RedirectPagePath>
        </processor>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.SetServerUrl, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.ClearUrl, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.Hyperlink.SetAnalyticsQueryStringParameters, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.Hyperlink.RegisterExternalLink, Sitecore.EmailCampaign">
          <ExternalLinksManager type="Sitecore.Modules.EmailCampaign.Core.ExternalLinks,Sitecore.EmailCampaign" singleInstance="true" />
        </processor>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.Hyperlink.HandleInternalLink, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.GeneratePreviewLink, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.Hyperlink.GenerateHyperlink, Sitecore.EmailCampaign">
          <RedirectPagePath>/sitecore/RedirectUrlPage.aspx</RedirectPagePath>
          <UrlQueryKey>ec_url</UrlQueryKey>
        </processor>
      </modifyHyperlink>

      <modifyImageLink>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.ImageLink.SkipAlreadyProcessedImageLink, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.SetServerUrl, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.ClearUrl, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.GeneratePreviewLink, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.GenerateLink.ImageLink.GenerateImageLink, Sitecore.EmailCampaign" />
      </modifyImageLink>
    </pipelines>

    <recipients>
      <recipientRepository type="Sitecore.Modules.EmailCampaign.Recipients.MultiRecipientRepository, Sitecore.EmailCampaign" singleInstance="true">
        <Repositories hint="list:AddRepository">
          <xdbContacts type="Sitecore.Modules.EmailCampaign.Xdb.XdbRecipientRepository, Sitecore.EmailCampaign" singleInstance="true" />
          <sitecoreUsers type="Sitecore.Modules.EmailCampaign.Recipients.SitecoreUserRecipientRepository, Sitecore.EmailCampaign" singleInstance="true" />
        </Repositories>
      </recipientRepository>

      <recipientPropertyTokenMap type="Sitecore.Modules.EmailCampaign.Core.Personalization.DefaultRecipientPropertyTokenMap, Sitecore.EmailCampaign" singleInstance="true" />
    </recipients>

    <TypeResolver type="Sitecore.Modules.EmailCampaign.Core.TypeResolver,Sitecore.EmailCampaign" singleInstance="true" />

    <xslExtensions>
      <extension mode="on" type="Sitecore.Modules.EmailCampaign.Core.Extensions.XslUtil, Sitecore.EmailCampaign" namespace="http://www.sitecore.net/ecm" singleInstance="true" />
    </xslExtensions>

    <settings>
      <!-- Specifies whether verbose logging is enabled. -->
      <setting name="Debug" value="false" />

      <!-- The private key for data encrypting/decrypting. -->
      <setting name="PrivateKey" value="" />

      <!-- The name of UserAgent that will be used to request pages for rendering emails in the dispatch process. -->
      <setting name="DispatchUserAgent" value="ECM Dispatch" />

      <!-- The key name of the flag in a session's custom data storage used for marking it as an email click session. -->
      <setting name="EmailClickSessionKey" value="EXMClickedThroughSession" />

      <!-- The regular expression used for e-mail validation. -->
      <setting name="EmailValidation" value="^[a-zA-Z0-9_-]+(?:\.[a-zA-Z0-9_-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$" />

      <!-- The maximum number of messages (or message related campaigns, tests, etc.) to create in a single folder. -->
      <setting name="MaxMessageFolderSize" value="50" />

      <!-- Specifies the property name of a user profile, which will be used as a Contact phone number. -->
      <setting name="PhoneFieldName" value="phone" />

      <!-- Specifies the property name of a user profile, which will be used as a Contact preferred language. -->
      <setting name="LanguageFieldName" value="" />

      <!-- Specifies the name of the Shell website. -->
      <setting name="ShellSiteName" value="shell" />

      <!-- The user name to log in with if anonymous access is disabled. -->
      <setting name="IIS.User" value="" />

      <!-- The password to log in with if anonymous access is disabled. -->
      <setting name="IIS.Password" value="" />

      <!-- Specifies the key for identifying email campaign on the query string. Legacy, used to handle links sent by previous ECM versions. -->
      <setting name="QueryStringKey.Campaign" value="ec_camp" />

      <!-- Specifies the key for identifying contact on the query string. -->
      <setting name="QueryStringKey.AnalyticsContactId" value="ec_contact_id" />

      <!-- The key is used to identify page requests of the module. -->
      <setting name="QueryStringKey.EcmId" value="ec_id" />

      <!-- Specifies the key for setting the context user of a web page renderd as a message body. -->
      <setting name="QueryStringKey.Recipient" value="ec_recipient" />

      <!-- Specifies the key for confirming subscriptions from emails. -->
      <setting name="QueryStringKey.Subscription" value="ec_subscr" />

      <!-- Specifies the key for identifying message on the query string. -->
      <setting name="QueryStringKey.MessageId" value="ec_message_id" />

      <!-- The regular expression used for url validation. -->
      <setting name="UrlValidation" value="^(http|https){1}\:\/\/(([a-zA-Z0-9][a-zA-Z0-9\-]{0,61}[a-zA-Z0-9]?)\.)*([a-zA-Z0-9][A-Za-z0-9\-]{0,61}[A-Za-z0-9]?)(:\d{2,5})?(\/[a-zA-Z0-9][A-Za-z0-9\-]{0,61}[A-Za-z0-9]?)*(\/{1})?$" />

      <!-- Sitecore ContentSearch master index name. -->
      <setting name="ContentSearch.MasterIndexName" value="sitecore_master_index" />

      <!-- The Channel Id associated with the campaign. -->
      <setting name="CampaignClassification.Channel" value="{DDAFB85B-1511-48B8-9374-2A8A1F371645}" />
    </settings>

    <log4net>
      <logger name="Sitecore.EXM" additivity="false">
        <level value="INFO" />
        <appender-ref ref="ExmLogFileAppender" />
      </logger>
      <appender name="ExmLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Exm.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
  </sitecore>
</configuration>