<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <DispatchTask type="Sitecore.Modules.EmailCampaign.Core.Dispatch.DispatchTask, Sitecore.EmailCampaign" />

    <events>
      <event name="item:added">
        <handler type="Sitecore.Modules.EmailCampaign.Core.ItemEventHandler, Sitecore.EmailCampaign" method="OnItemAdded" />
      </event>

      <event name="item:copied">
        <handler type="Sitecore.Modules.EmailCampaign.Core.ItemEventHandler, Sitecore.EmailCampaign" method="OnMessageCopied" />
      </event>

      <event name="item:created">
        <handler type="Sitecore.Modules.EmailCampaign.Core.RootItemEventHandler, Sitecore.EmailCampaign" method="OnRootCreated" />
      </event>

      <event name="item:deleted">
        <handler type="Sitecore.Modules.EmailCampaign.Core.RootItemEventHandler, Sitecore.EmailCampaign" method="OnRootDeleted" />
      </event>

      <event name="subscriber:assigned" />
    </events>

    <pipelines>
      <!-- HANDLE UNDELIVERED MESSAGE PIPELINE
           This pipeline is executed when a bounced message task from the bounced messages task pool is processed.
           The pipeline is executed for each task individually and moves the corresponding contact to one of bounced
           states in the engagement plan and updates the number of undelivered emails on the recipient's profile.
           Furthermore an interaction is created with a "Email Bounced" page event in xDB.
      -->
        <handleUndeliveredMessage>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.GetMessage, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.EmailCampaign.Cm.Pipelines.HandleUndeliveredMessage.MoveToBouncedState, Sitecore.EmailCampaign.Cm" />
            <processor type="Sitecore.EmailCampaign.Cm.Pipelines.HandleUndeliveredMessage.UpdateUndeliveredCount, Sitecore.EmailCampaign.Cm">
                <param desc="contactRepository" ref="contactRepository" />
                <FacetName ref="model/entities/contact/facets/facet[@name='Emails']/@name" />
            </processor>
            <!-- Adds the user to the global opt out list defined on the manager root. If the abortOnTimeout parameter is true, the pipeline will be 
                 aborted if the operation time outs. This can frequently occur when the list is locked. -->
            <processor type="Sitecore.EmailCampaign.Cm.Pipelines.HandleUndeliveredMessage.AddToGlobalOptOutList, Sitecore.EmailCampaign.Cm">
                <param desc="logger" ref="exmLogger" />
                <param desc="abortOnTimeout">false</param>
            </processor>
            <!-- Removes the user from any include lists defined on the message. If the abortOnTimeout parameter is true, the pipeline will be 
                 aborted if the operation time outs. This can frequently occur when the list is locked. -->
            <processor type="Sitecore.EmailCampaign.Cm.Pipelines.HandleUndeliveredMessage.RemoveFromIncludeList, Sitecore.EmailCampaign.Cm">
                <param desc="logger" ref="exmLogger" />
                <param desc="abortOnTimeout">false</param>
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.RegisterMessageEvent, Sitecore.EmailCampaign"/>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.IdentifyCampaign, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
                <param desc="addCampaignToInteraction">false</param>
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SetCustomValues, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SetChannelId, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SetVisitLanguage, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SaveTouchPointRecord, Sitecore.EmailCampaign">
                <param desc="interactionRegistry" ref="interactionRegistry" />
                <param desc="siteName" ref="settings/setting[@name='EXM.DefaultEventSiteName']/@value" />
            </processor>
        </handleUndeliveredMessage>

        <!-- HANDLE SPAM COMPLAINT PIPELINE
           This pipeline is executed when a spam complaint task from the spam complaints task pool is processed.
           An interaction is created with a "Email Spam Reported" page event in xDB.
      -->
        <handleSpamComplaint>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.GetMessage, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <!-- Adds the user to the global opt out list defined on the manager root. If the abortOnTimeout parameter is true, the pipeline will be 
                 aborted if the operation time outs. This can frequently occur when the list is locked. -->
            <processor type="Sitecore.EmailCampaign.Cm.Pipelines.SpamComplaintAndBounce.AddToGlobalOptOutList, Sitecore.EmailCampaign.Cm">
                <param desc="logger" ref="exmLogger" />
                <param desc="abortOnTimeout">false</param>
            </processor>
            <!-- Removes the user from any include lists defined on the message. If the abortOnTimeout parameter is true, the pipeline will be 
                 aborted if the operation time outs. This can frequently occur when the list is locked. -->
            <processor type="Sitecore.EmailCampaign.Cm.Pipelines.SpamComplaintAndBounce.RemoveFromIncludeList, Sitecore.EmailCampaign.Cm">
                <param desc="logger" ref="exmLogger" />
                <param desc="abortOnTimeout">false</param>
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.RegisterMessageEvent, Sitecore.EmailCampaign"/>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.IdentifyCampaign, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
                <param desc="addCampaignToInteraction">false</param>
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SetCustomValues, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SetChannelId, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SetVisitLanguage, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SaveTouchPointRecord, Sitecore.EmailCampaign">
                <param desc="interactionRegistry" ref="interactionRegistry" />
                <param desc="siteName" ref="settings/setting[@name='EXM.DefaultEventSiteName']/@value" />
            </processor>
        </handleSpamComplaint>

        <!-- HANDLE SENT MESSAGE PIPELINE
           This pipeline is executed when a sent message task from the sent messages task pool is processed.
           An interaction is created with a "Email Sent" page event in xDB.
      -->
        <handleSentMessage>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.GetMessage, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.RegisterMessageEvent, Sitecore.EmailCampaign"/>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.IdentifyCampaign, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
                <param desc="addCampaignToInteraction">false</param>
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SetCustomValues, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SetChannelId, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SetVisitLanguage, Sitecore.EmailCampaign">
                <param desc="logger" ref="exmLogger" />
            </processor>
            <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.SaveTouchPointRecord, Sitecore.EmailCampaign">
                <param desc="interactionRegistry" ref="interactionRegistry" />
                <param desc="siteName" ref="settings/setting[@name='EXM.DefaultEventSiteName']/@value" />
            </processor>
        </handleSentMessage>

      <!-- SEND EMAIL PIPELINE
           This pipeline dispatches a single email through the SMTP server.
      -->
      <SendEmail>
        <processor type="Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm">
          <param desc="cipher" ref="exmAuthenticatedCipher" />
        </processor>
        <processor type="Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.SendEmail, Sitecore.EmailCampaign.Cm" />
        <processor type="Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.CreateTask, Sitecore.EmailCampaign.Cm">
            <param ref="exm/sentMessagesTaskPool"/>
            <param desc="logger" ref="exmLogger" />
        </processor>
      </SendEmail>
    </pipelines>

    <recipients>
      <recipientCollectionRepository type="Sitecore.Modules.EmailCampaign.ListManager.ListManagerCollectionRepository, Sitecore.EmailCampaign" singleInstance="true">
        <DefaultTimeout>0.00:00:20</DefaultTimeout>
      </recipientCollectionRepository>
    </recipients>

    <SMTPSettingsProvider type="Sitecore.Modules.EmailCampaign.Core.SMTPSettings,Sitecore.EmailCampaign" singleInstance="true" />
    
    
    <!-- Excludes EXM AB test templates from the Content Testing Suggested Tests list -->
    <contentSearch>
      <configuration>
        <indexes>
          <index id="sitecore_suggested_test_index">
            <configuration>
              <documentOptions>
                <exclude hint="list:AddExcludedTemplate">
                  <emailTestDefinition>{EEF917FF-1FCD-498F-96C5-A2ED3F31A375}</emailTestDefinition>
                  <abTestMessage>{078D8A76-F971-4891-B422-76C0BCF9FA03}</abTestMessage>
                  <htmlMessage>{3F2D20A6-5554-459A-8377-0DB96FF90BC3}</htmlMessage>
                  <mailMessage>{A0EA9681-5C86-43AB-80F7-C522DADF6F12}</mailMessage>
                  <plainTextMessage>{1AFE38A7-9461-4278-ADAF-D807F27F36E4}</plainTextMessage>
                  <baseHtmlMessage>{B5598E34-0BC7-438F-9F34-4135E2069792}</baseHtmlMessage>
                  <simpleHtmlMessage>{ECF0A9C8-FE56-45D8-B750-6BDE3A34A532}</simpleHtmlMessage>
                  <existingPageMessage>{A89CF30C-EDFA-442E-8048-9234980E2176}</existingPageMessage>
                  <newsletterRoot>{3F12D78C-B7B7-4157-98FC-DA3322EE1A5B}</newsletterRoot>
                </exclude>
              </documentOptions>
            </configuration>
          </index>
        </indexes>
      </configuration>
    </contentSearch>

    <experienceAnalytics>
      <abTestReportingClient type="Sitecore.EmailCampaign.ExperienceAnalytics.Reporting.AbTestReportingClient, Sitecore.EmailCampaign.ExperienceAnalytics" singleInstance="true"/>
    </experienceAnalytics>

    <settings>
      <!-- The number of threads that you can use for sending messages. -->
      <setting name="NumberThreads" value="1" />

      <!-- Specifies how many sending threads can generate messages at the same time.
           Value should be no less than 1.
           Default value: Environment.ProcessorCount * 2 -->
      <setting name="MaxGenerationThreads" value="" />

      <!-- The number of recipients in each batch enqueued in the dispatch queue. -->
      <setting name="DispatchEnqueueBatchSize" value="300" />

      <!-- The number of threads that adds recipient batches to dispatch queue. -->
      <setting name="DispatchEnqueueThreadsNumber" value="2" />

      <!-- Specifies whether to check contact subscription after dispatch pause. -->
      <setting name="CheckContactSubscriptionAfterDispatchPause" value="false" />

      <!-- The number of days a user has to confirm a new subscription. -->
      <setting name="ConfirmationPeriod" value="10" />

      <!-- Specifies whether the message sending process is emulated without actual message transmission via MTA. -->
      <setting name="MtaEmulation.Active" value="false" />

      <!-- The minimum amount of time to emulate a single sending (milliseconds). -->
      <setting name="MtaEmulation.MinSendTime" value="200" />

      <!-- The maximum amount of time to emulate a single sending (milliseconds). -->
      <setting name="MtaEmulation.MaxSendTime" value="400" />

      <!-- The probability of a connection fail (%).-->
      <setting name="MtaEmulation.FailProbability" value="0.01" />

      <!-- The period of time (in seconds) after which the module considers triggered message failed. -->
      <setting name="ResetTimeout" value="3600" />

      <!-- Specifies the path of the default global opt-out contact list. -->
      <setting name="StandardMessages.DefaultGlobalOptOutList" value="/sitecore/system/List Manager/All Lists/E-mail Campaign Manager/System/Common Global Opt-out" />

      <!-- Specifies the path of the Subscription Confirmation message used by the self-service subscription control. -->
      <setting name="StandardMessages.SubscriptionConfirmation" value="Service Messages/Self-Service Subscription/Subscription Confirmation" />

      <!-- Specifies the path of the Subscription Notification message used by the self-service subscription control. -->
      <setting name="StandardMessages.SubscriptionNotification" value="Service Messages/Self-Service Subscription/Subscription Notification" />

      <!-- Specifies the path of the Unsubscribe Notification message used by the self-service subscription control. -->
      <setting name="StandardMessages.UnsubscribeNotification" value="Service Messages/Self-Service Subscription/Unsubscribe Notification" />

      <!-- Specifies the path of the Unsubscribe From All Notification message used. -->
      <setting name="StandardMessages.UnsubscribeFromAllNotification" value="Service Messages/Self-Service Subscription/Unsubscribe From All Notification" />

      <!-- Specifies the path of the Dispatch Completed status message. -->
      <setting name="StandardMessages.DispatchCompleted" value="Service Messages/Status Messages/Dispatch Completed" />

      <!-- Specifies the path of the Triggered Activation status message. -->
      <setting name="StandardMessages.TriggeredNotification" value="Service Messages/Status Messages/Triggered Notification" />

      <!-- The scheme which should be used for requests to automation states handler. -->
      <setting name="AutomationStatesHandler.RequestScheme" value="http" />

      <!-- The scheme which should be used for requests to the contact lists handler. -->
      <setting name="ContactListsHandler.RequestScheme" value="http" />

      <!-- The total allowed size in bytes of all attachments for a message. -->
      <setting name="EXM.AttachmentTotalSizeInBytes" value="7340032" />
    </settings>

  </sitecore>
</configuration>