<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <exm>
      <!-- ROLES
           Describes which Email Experience Manager server roles are enabled by this configuration file.
      -->
      <roles>
        <role name="Analytics Processing" />
      </roles>
    </exm>

  </sitecore>
</configuration>