<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <DispatchTask type="Sitecore.Modules.EmailCampaign.Core.Dispatch.DispatchTask, Sitecore.EmailCampaign" />

    <events>
      <event name="item:added">
        <handler type="Sitecore.Modules.EmailCampaign.Core.ItemEventHandler, Sitecore.EmailCampaign" method="OnItemAdded" />
      </event>

      <event name="item:copied">
        <handler type="Sitecore.Modules.EmailCampaign.Core.ItemEventHandler, Sitecore.EmailCampaign" method="OnMessageCopied" />
      </event>

      <event name="item:created">
        <handler type="Sitecore.Modules.EmailCampaign.Core.RootItemEventHandler, Sitecore.EmailCampaign" method="OnRootCreated" />
      </event>

      <event name="item:deleted">
        <handler type="Sitecore.Modules.EmailCampaign.Core.RootItemEventHandler, Sitecore.EmailCampaign" method="OnRootDeleted" />
      </event>

      <event name="subscriber:assigned" />
    </events>

    <pipelines>
      <!-- HANDLE UNDELIVERED MESSAGE PIPELINE
           This pipeline is executed by the scheduled Check Bounced Messages task when iterating through undelivered emails.
           The pipeline is executed for each email individually and moves the corresponding contact to one of bounced
           states in the engagement plan and updates the number of undelivered emails on the recipient's profile.
      -->
      <handleUndeliveredMessage>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleUndeliveredMessage.MoveToBouncedState, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleUndeliveredMessage.UpdateUndeliveredCount, Sitecore.EmailCampaign">
          <FacetName ref="model/entities/contact/facets/facet[@name='Emails']/@name" />
        </processor>
      </handleUndeliveredMessage>
      
      <registerReportingDataSource>
        <processor type="Sitecore.Modules.EmailCampaign.Statistics.Pipelines.RegisterEcmReportingDataSourceProcessor, Sitecore.EmailCampaign.Statistics"/>
      </registerReportingDataSource>

      <!-- SEND EMAIL PIPELINE
           This pipeline dispatches a single email through the SMTP server.
      -->
      <SendEmail>
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign" />
        <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.SendEmail.SendEmail, Sitecore.EmailCampaign" />
      </SendEmail>
    </pipelines>

    <recipients>
      <recipientCollectionRepository type="Sitecore.Modules.EmailCampaign.ListManager.ListManagerCollectionRepository, Sitecore.EmailCampaign" singleInstance="true">
        <DefaultTimeout>0.00:00:20</DefaultTimeout>
      </recipientCollectionRepository>
    </recipients>

    <SMTPSettingsProvider type="Sitecore.Modules.EmailCampaign.Core.SMTPSettings,Sitecore.EmailCampaign" singleInstance="true" />

    <settings>
      <!-- Set it to "true" if you want use the SMTP settings below. You should purchase the right of using the "UseLocalMTA" setting first. -->
      <setting name="UseLocalMTA" value="false" />

      <!-- The number of threads that you can use for sending messages. -->
      <setting name="NumberThreads" value="1" />

      <!-- Specifies how many sending threads can generate messages at the same time.
           Value should be no less than 1.
           Default value: Environment.ProcessorCount * 2 -->
      <setting name="MaxGenerationThreads" value="" />

      <!-- The number of recipients in each batch enqueued in the dispatch queue. -->
      <setting name="DispatchEnqueueBatchSize" value="300" />

      <!-- The number of threads that adds recipient batches to dispatch queue. -->
      <setting name="DispatchEnqueueThreadsNumber" value="2" />

      <!-- The amount of time to wait between sending messages (ms) -->
      <setting name="Sleep" value="50" />

      <!-- The period of time (in seconds) the module tries to restore an MTA connection before a dispatch is paused. -->
      <setting name="MaxConnectionUnavailable" value="9000" />

      <!-- The number of attempts to send a message (in case of need). -->
      <setting name="MaxSendingAttempts" value="5" />

      <!-- Specifies whether to check the Read right of a recipient for a target item during message generation. -->
      <setting name="CheckReceiverRights" value="false" />

      <!-- Specifies whether to check contact subscription after dispatch pause. -->
      <setting name="CheckContactSubscriptionAfterDispatchPause" value="false" />

      <!-- The number of days a user has to confirm a new subscription. -->
      <setting name="ConfirmationPeriod" value="10" />

      <!-- Specifies whether the message sending process is emulated without actual message transmission via MTA. -->
      <setting name="MtaEmulation.Active" value="false" />

      <!-- The minimum amount of time to emulate a single sending (milliseconds). -->
      <setting name="MtaEmulation.MinSendTime" value="200" />

      <!-- The maximum amount of time to emulate a single sending (milliseconds). -->
      <setting name="MtaEmulation.MaxSendTime" value="400" />

      <!-- The probability of a connection fail (%).-->
      <setting name="MtaEmulation.FailProbability" value="0.01" />

      <!-- If "true" SMTP server will be requested via proxy server. -->
      <setting name="Proxy.Enabled" value="false" />

      <!-- Type of proxy server. Valid settings are: "HTTP", "SOCKS4", "SOCKS5". -->
      <setting name="Proxy.Type" value="HTTP" />

      <!-- Proxy server ID address or DNS name. -->
      <setting name="Proxy.HostName" value="" />

      <!-- Proxy server port. -->
      <setting name="Proxy.Port" value="" />

      <!-- HTTP proxy authentication method. Valid values are: "LOGIN", "NTLM". -->
      <setting name="Proxy.AuthMethod" value="" />

      <!-- User name for logging into Proxy server. -->
      <setting name="Proxy.Username" value="" />

      <!-- Password for logging into Proxy server. The value is ignored for SOCKS4. -->
      <setting name="Proxy.Password" value="" />

      <!-- SMTP server address (IP). -->
      <setting name="SMTP.Server" value="localhost" />

      <!-- Port number of the SMTP server. -->
      <setting name="SMTP.Port" value="25" />

      <!-- Domain for logging into SMTP server. -->
      <setting name="SMTP.LoginDomain" value="" />

      <!-- User name for logging into SMTP server. -->
      <setting name="SMTP.UserName" value="" />

      <!-- Password for access to SMTP server. -->
      <setting name="SMTP.Password" value="" />

      <!-- SMTP Authentication method
          Try to use one of the following values: "NONE", "LOGIN", "PLAIN", "CRAM-MD5", "NTLM".-->
      <setting name="SMTP.AuthMethod" value="" />

      <!-- Start TLS option
           When set to true, causes the mailman to issue a STARTTLS command to switch
           over to a secure SSL/TLS connection prior to authenticating and sending email. -->
      <setting name="SMTP.StartTLS" value="false" />

      <!-- The maximum number of concurrent SMTP connections allowed to open. -->
      <setting name="SMTP.MaxConnections" value="100" />

      <!-- The period of time (in seconds) the module keeps an SMTP connection open (since the last usage). -->
      <setting name="SMTP.ConnectionExpiration" value="180" />

      <!-- The name of the connection string for SMTP server. If set, values from this string are used instead of SMTP.Server, SMTP.Port, SMTP.LoginDomain, SMTP.UserName, SMTP.Password, SMTP.AuthMethod, SMTP.StartTLS
           Example of the connection string:  connectionString="server=localhost; port=25; logindomain=; username=; password=; authmethod=; starttls=false;" -->
      <setting name="SMTP.ConnectionStringName" value="" />

      <!-- The period of time (in seconds) after which the module considers triggered message failed. -->
      <setting name="ResetTimeout" value="3600" />

      <!-- Specifies the path of the default global opt-out contact list. -->
      <setting name="StandardMessages.DefaultGlobalOptOutList" value="/sitecore/system/List Manager/All Lists/E-mail Campaign Manager/System/Common Global Opt-out" />

      <!-- Specifies the path of the Subscription Confirmation message used by the self-service subscription control. -->
      <setting name="StandardMessages.SubscriptionConfirmation" value="Service Messages/Self-Service Subscription/Subscription Confirmation" />

      <!-- Specifies the path of the Subscription Notification message used by the self-service subscription control. -->
      <setting name="StandardMessages.SubscriptionNotification" value="Service Messages/Self-Service Subscription/Subscription Notification" />

      <!-- Specifies the path of the Unsubscribe Notification message used by the self-service subscription control. -->
      <setting name="StandardMessages.UnsubscribeNotification" value="Service Messages/Self-Service Subscription/Unsubscribe Notification" />

      <!-- Specifies the path of the Unsubscribe From All Notification message used. -->
      <setting name="StandardMessages.UnsubscribeFromAllNotification" value="Service Messages/Self-Service Subscription/Unsubscribe From All Notification" />

      <!-- Specifies the path of the Dispatch Completed status message. -->
      <setting name="StandardMessages.DispatchCompleted" value="Service Messages/Status Messages/Dispatch Completed" />

      <!-- Specifies the path of the Triggered Activation status message. -->
      <setting name="StandardMessages.TriggeredNotification" value="Service Messages/Status Messages/Triggered Notification" />

      <!-- The scheme which should be used for requests to automation states handler. -->
      <setting name="AutomationStatesHandler.RequestScheme" value="http" />

      <!-- The scheme which should be used for requests to the contact lists handler. -->
      <setting name="ContactListsHandler.RequestScheme" value="http" />
    </settings>

  </sitecore>
</configuration>