<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <exm>
      <!-- ROLES
           Describes which Email Experience Manager server roles are enabled by this configuration file.
      -->
      <roles>
        <role name="Reporting" />
      </roles>
    </exm>

    <pipelines>
      <registerReportingDataSource>
        <processor type="Sitecore.Modules.EmailCampaign.Statistics.Pipelines.RegisterEcmReportingDataSourceProcessor, Sitecore.EmailCampaign.Statistics"/>
      </registerReportingDataSource>
    </pipelines>

  </sitecore>
</configuration>