<!--

Purpose: This include file needs to be enabled in the Processing Environment.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAnalytics>
      <aggregation>
        <dimensions>
          <dimension id="{3D8FD7DA-52EE-44ED-8944-3171944D986A}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByEmail, Sitecore.EmailCampaign.ExperienceAnalytics" />
          <dimension id="{6E1865FB-C3B6-41F0-9857-31F4EE1E80B0}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByEmailManager, Sitecore.EmailCampaign.ExperienceAnalytics" />
          <dimension id="{B459A0CA-9F43-4AC1-8E6D-549E2A3DE674}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLanguageSpecificEmail, Sitecore.EmailCampaign.ExperienceAnalytics" />
          <dimension id="{53F60E4D-A1A1-44CB-A912-9CD6D8DE6E67}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByMessage, Sitecore.EmailCampaign.ExperienceAnalytics" />
          <dimension id="{19C5B093-E73A-41CB-80FB-71CAB89A7AEB}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLandingPage, Sitecore.EmailCampaign.ExperienceAnalytics" />
          <dimension id="{A720AC6E-A9A3-410C-BAD0-E3102A1D58CE}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByAbTestVariant, Sitecore.EmailCampaign.ExperienceAnalytics" />
          <dimension id="{99C447BD-9CCD-4B54-8AE9-5FB1550DE242}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByLocation, Sitecore.EmailCampaign.ExperienceAnalytics" />
          <dimension id="{008BD4FD-580A-41BE-848C-A6B49C54F44C}" type="Sitecore.EmailCampaign.ExperienceAnalytics.Dimensions.ByDevice, Sitecore.EmailCampaign.ExperienceAnalytics" />
        </dimensions>
      </aggregation>
    </experienceAnalytics>
  </sitecore>
</configuration>