<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <exm>
      <!-- ROLES
           Describes which Email Experience Manager server roles are enabled by this configuration file.
      -->
      <roles>
        <role name="Content Delivery" />
      </roles>
    </exm>

    <pipelines>
      <group groupName="exm.messageEvents">
        <pipelines>
          <!-- REDIRECT URL PIPELINE
             This pipeline is executed when Email Experience Manager receives a request to redirect
             a page request from an email link to the correct destination page.
          -->
          <redirectUrl>
            <!-- Retrieves the message item associated with the redirect event. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.GetMessage, Sitecore.EmailCampaign"/>
            <!-- Determines whether the link provided in the request is a reference to a page on the local web site. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.CheckInternalLink, Sitecore.EmailCampaign" />
            <!-- Constructs the URL to redirect the request to. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.SetRedirectToUrl, Sitecore.EmailCampaign">
              <internalCarryoverFields hint="list:AddInternalCarryoverField">
                <carryoverField type="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign">
                  <FieldKey ref="settings/setting[@name='QueryStringKey.MessageId']/@value" />
                  <UrlPattern>.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*</UrlPattern>
                </carryoverField>
                <carryoverField type="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign">
                  <FieldKey ref="settings/setting[@name='QueryStringKey.AnalyticsContactId']/@value" />
                  <UrlPattern>.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*</UrlPattern>
                </carryoverField>
                <carryoverField type="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.CarryoverField, Sitecore.EmailCampaign">
                  <FieldKey ref="settings/setting[@name='QueryStringKey.Campaign']/@value" />
                  <UrlPattern>.*Unsubscribe.aspx|UnsubscribeFromAll.aspx.*</UrlPattern>
                </carryoverField>
              </internalCarryoverFields>
            </processor>
            <!-- Registers a custom page event. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.RegisterPageEvent, Sitecore.EmailCampaign">
              <EventName>Click Email Link</EventName>
            </processor>
            <!-- Triggers the campaign associated with the email message. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.TriggerCampaign, Sitecore.EmailCampaign" />
            <!-- Marks the current session as an email click session. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.MarkAsEmailClickSession, Sitecore.EmailCampaign" />
            <!-- Identifies the xDB contact related to the event in the xDB tracker. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.IdentifyContact, Sitecore.EmailCampaign" />
            <!-- Moves the identified contact to the Clicked state in the engagement plan of the email message. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.MoveContactToEmailClickedState, Sitecore.EmailCampaign" />
            <!-- Updates the classification of the identified contact if it is currently greater than a given threshold. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.UpdateContactClassification, Sitecore.EmailCampaign">
              <LowerClassificationThreshold>900</LowerClassificationThreshold>
              <NewClassification>0</NewClassification>
            </processor>
            <!-- Resets the email bounce counter of the identified contact to zero. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.ResetContactEmailBounceCount, Sitecore.EmailCampaign">
              <EmailAddressesFacetName ref="model/entities/contact/facets/facet[@name='Emails']/@name" />
            </processor>
            <!-- Sets the channel id of the current visit according to the campaign activity associated with the email message. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.SetVisitChannelId, Sitecore.EmailCampaign" />
            <!-- Sets the language of the current visit according to the language of the email sent to the current recipient. -->
            <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.SetVisitLanguage, Sitecore.EmailCampaign" />
          </redirectUrl>
        </pipelines>
      </group>

      <initializeTracker>
        <processor type ="Sitecore.Modules.EmailCampaign.Core.Analytics.DispatchRequestProcessor, Sitecore.EmailCampaign"/>
        <!-- Marks email rendering sessions as transient to prevent recorded data from being saved at the end of the session. -->
        <processor type ="Sitecore.Modules.EmailCampaign.Core.Pipelines.InitializeTracker.MarkEmailRenderSessionTransient, Sitecore.EmailCampaign"/>
      </initializeTracker>
    </pipelines>

  </sitecore>
</configuration>