<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures Email delivery service Dyn Client.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
     <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Applications/EDS" deep="true" category="eds" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
    </pipelines>
    <api>
      <services>
        <configuration>
          <!-- ALLOWED CONTROLLERS
          A whitelist of all controllers which should not be denied access by the default Sitecore Services Client API security policy i.e. ServicesLocalOnlyPolicy
          -->
          <allowedControllers hint="list:AddController">
            <allowedController desc="ApprovedSenderController">Sitecore.EDS.Dyn.ClientServices.Controllers.ApprovedSenderController, Sitecore.EDS.Dyn.ClientServices</allowedController>
            <allowedController desc="SenderDomainController">Sitecore.EDS.Dyn.ClientServices.Controllers.SenderDomainController, Sitecore.EDS.Dyn.ClientServices</allowedController>
            <allowedController desc="SuppressionController">Sitecore.EDS.Dyn.ClientServices.Controllers.SuppressionController, Sitecore.EDS.Dyn.ClientServices</allowedController>
            <allowedController desc="ExportSuppressionController">Sitecore.EDS.Dyn.ClientServices.Controllers.ExportSuppressionController, Sitecore.EDS.Dyn.ClientServices</allowedController>
            <allowedController desc="CustomHeadersController">Sitecore.EDS.Dyn.ClientServices.Controllers.CustomHeadersController, Sitecore.EDS.Dyn.ClientServices</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>