<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures Email delivery service API.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <exm>
      <eds>
        <!-- BOUNCED MESSAGES MANAGER
             Handles the reported bounced messages.    
        -->
        <bounceManager defaultProvider="default">
          <providers>
            <clear />
            <add name="default" type="Sitecore.EDS.Core.Reporting.DeliveryReportProvider`1[[Sitecore.EDS.Core.Reporting.Bounce, Sitecore.EDS.Core]], Sitecore.EDS.Core">
              <bounceHandlers hint="list:AddHandler">
                <bounceHandler ref="exm/bouncedMessageHandler" />
              </bounceHandlers>
            </add>
          </providers>
        </bounceManager>

        <!-- POP3 RECEIVERS COLLECTION
             Defines the POP3 bounce receivers collection
        -->
        <receiversCollection type="Sitecore.Modules.EmailCampaign.Core.MessageTransfer.ManagerRootsPop3ReceiversCollection, Sitecore.EmailCampaign" patch:instead="receiversCollection">
          <param ref="exm/eds/bounceInspector"/>
          <param ref="exm/eds/environmentIdentifier" />
          <param ref="exmLogger" />
        </receiversCollection>

        <!-- SPAM COMPLAINTS MANAGER
             Handles the reported spam complaints.
        -->
        <complaintManager defaultProvider="default">
          <providers>
            <clear />
            <add name="default" type="Sitecore.EDS.Core.Reporting.DeliveryReportProvider`1[[Sitecore.EDS.Core.Reporting.Complaint, Sitecore.EDS.Core]], Sitecore.EDS.Core">
              <complaintHandlers hint="list:AddHandler">
                <complaintHandler ref="exm/complaintHandler" />
              </complaintHandlers>
            </add>
          </providers>
        </complaintManager>
      </eds>

      <!-- BOUNCED MESSAGES TASK POOL
             A task pool for handling bounced messages
        -->
      <bouncedMessagesTaskPool type="Sitecore.ExM.Framework.Distributed.Tasks.TaskPools.ShortRunning.DatabaseTaskPool,Sitecore.ExM.Framework" singleInstance="true">
        <param desc="id">bounced_messages_task_pool</param>
        <param desc="dataProvider" ref="exm/master/databaseTaskProvider" />
      </bouncedMessagesTaskPool>

      <bouncedMessageTaskProcessor type="Sitecore.EmailCampaign.Cm.Tasks.BouncedMessageTaskProcessor, Sitecore.EmailCampaign.Cm" singleInstance="true">
        <param desc="cipher" ref="exmAuthenticatedCipher" />
        <param desc="logger" ref="exmLogger" />
      </bouncedMessageTaskProcessor>

      <!-- BOUNCED MESSAGE HANDLER
             Provides handling of bounced messages. 
        -->
      <bouncedMessageHandler type="Sitecore.EmailCampaign.Cm.Handlers.BouncedMessageHandler, Sitecore.EmailCampaign.Cm" singleInstance="true">
        <param ref="exm/bouncedMessagesTaskPool"/>
      </bouncedMessageHandler>

      <!-- SPAM COMPLAINTS TASK POOL
             A task pool for handling spam complaints
        -->
      <spamComplaintsTaskPool type="Sitecore.ExM.Framework.Distributed.Tasks.TaskPools.ShortRunning.DatabaseTaskPool,Sitecore.ExM.Framework" singleInstance="true">
        <param desc="id">spam_complaints_task_pool</param>
        <param desc="dataProvider" ref="exm/master/databaseTaskProvider" />
      </spamComplaintsTaskPool>

      <spamComplaintTaskProcessor type="Sitecore.EmailCampaign.Cm.Tasks.SpamComplaintTaskProcessor, Sitecore.EmailCampaign.Cm" singleInstance="true" >
        <param desc="cipher" ref="exmAuthenticatedCipher" />
        <param desc="logger" ref="exmLogger" />
      </spamComplaintTaskProcessor>

      <!-- SPAM COMPLAINT HANDLER
             Provides handling of spam complaints. 
        -->
      <complaintHandler type="Sitecore.EmailCampaign.Cm.Handlers.SpamComplaintHandler, Sitecore.EmailCampaign.Cm" singleInstance="true">
        <param ref="exm/spamComplaintsTaskPool"/>
      </complaintHandler>

        <!-- SENT MESSAGE TASK POOL
             A task pool for handling sent message tasks
        -->
        <sentMessagesTaskPool type="Sitecore.ExM.Framework.Distributed.Tasks.TaskPools.ShortRunning.DatabaseTaskPool,Sitecore.ExM.Framework" singleInstance="true">
            <param desc="id">sent_message_task_pool</param>
            <param desc="dataProvider" ref="exm/master/databaseTaskProvider" />
        </sentMessagesTaskPool>

        <sentMessageTaskProcessor type="Sitecore.EmailCampaign.Cm.Tasks.SentMessageTaskProcessor, Sitecore.EmailCampaign.Cm" singleInstance="true" >
            <param desc="cipher" ref="exmAuthenticatedCipher" />
            <param desc="logger" ref="exmLogger" />
        </sentMessageTaskProcessor>

        <master>
        <session type="Sitecore.ExM.Framework.Distributed.Sessions.Session,Sitecore.ExM.Framework" singleInstance="true">
          <members hint="list:AddMember">
            <bouncedMessageTaskAgent type="Sitecore.ExM.Framework.Distributed.Tasks.Processing.ShortRunning.DatabaseTaskAgent,Sitecore.ExM.Framework" singleInstance="true">
              <param desc="taskPool" ref="exm/bouncedMessagesTaskPool" />
              <param desc="targetMinBufferAmount">10</param>
              <param desc="maxBatchSize">200</param>
              <param desc="idleIterationDuration">00:00:10.000</param>
              <param desc="activeIterationDuration">00:00:00.500</param>
              <param desc="leaseTime">00:01:00.000</param>
              <param desc="postponeTime">00:30:00.000</param>
              <param desc="maxDegreeOfParallelism">10</param>
              <param desc="maxFailedProcessingAttempts">5</param>
              <param desc="processor" ref="exm/bouncedMessageTaskProcessor" />
              <param desc="logger" ref="exmLogger" />
            </bouncedMessageTaskAgent>
            <spamComplaintTaskAgent type="Sitecore.ExM.Framework.Distributed.Tasks.Processing.ShortRunning.DatabaseTaskAgent,Sitecore.ExM.Framework" singleInstance="true">
              <param desc="taskPool" ref="exm/spamComplaintsTaskPool" />
              <param desc="targetMinBufferAmount">10</param>
              <param desc="maxBatchSize">200</param>
              <param desc="idleIterationDuration">00:00:10.000</param>
              <param desc="activeIterationDuration">00:00:00.500</param>
              <param desc="leaseTime">00:01:00.000</param>
              <param desc="postponeTime">00:30:00.000</param>
              <param desc="maxDegreeOfParallelism">10</param>
              <param desc="maxFailedProcessingAttempts">5</param>
              <param desc="processor" ref="exm/spamComplaintTaskProcessor" />
              <param desc="logger" ref="exmLogger" />
            </spamComplaintTaskAgent>
            <sentMessagesTaskAgent type="Sitecore.ExM.Framework.Distributed.Tasks.Processing.ShortRunning.DatabaseTaskAgent,Sitecore.ExM.Framework" singleInstance="true">
                <param desc="taskPool" ref="exm/sentMessagesTaskPool" />
                <param desc="targetMinBufferAmount">10</param>
                <param desc="maxBatchSize">200</param>
                <param desc="idleIterationDuration">00:00:10.000</param>
                <param desc="activeIterationDuration">00:00:00.500</param>
                <param desc="leaseTime">00:01:00.000</param>
                <param desc="postponeTime">00:30:00.000</param>
                <param desc="maxDegreeOfParallelism">10</param>
                <param desc="maxFailedProcessingAttempts">5</param>
                <param desc="processor" ref="exm/sentMessageTaskProcessor" />
                <param desc="logger" ref="exmLogger" />
            </sentMessagesTaskAgent>
          </members>
        </session>
      </master>
    </exm>
  </sitecore>
</configuration>
