<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <initialize>
        <processor type="Sitecore.ExM.Framework.Distributed.Sessions.Pipelines.Initialize.BeginDistributedSession,Sitecore.ExM.Framework" hint="master">
          <param desc="session" ref="exm/master/session" />
          <param desc="assignOwnerName">true</param>
        </processor>
      </initialize>
    </pipelines>

    <exm>
      <master>
        <session type="Sitecore.ExM.Framework.Distributed.Sessions.Session,Sitecore.ExM.Framework" singleInstance="true">
          <param desc="ownerName" />
          <param desc="dataProvider" ref="exm/sessionProviders/masterSessionDataProvider" />
          <param desc="maintenanceInterval">00:10:00.000</param>
          <param desc="maxAcceptedClockDeviation" ref="settings/setting[@name='Analytics.MaxAcceptedClockDeviation']/@value" />
          <param desc="historyRetentionTime">7.00:00:00.000</param>
          <param desc="logger" ref="exmLogger" />
          <UpdateInterval>00:00:10.000</UpdateInterval>
        </session>

        <databaseTaskProvider type="Sitecore.ExM.Framework.DataProviders.SqlDatabaseTaskProvider,Sitecore.ExM.Framework" singleInstance="true">
          <param desc="connectionStringName">exm.master</param>
          <param desc="tableName">Tasks</param>
        </databaseTaskProvider>
      </master>
      <sessionProviders>
        <masterSessionDataProvider type="Sitecore.ExM.Framework.DataProviders.SqlSessionDataProvider,Sitecore.ExM.Framework" singleInstance="true">
          <param desc="connectionStringName">exm.master</param>
          <param desc="tableName">Sessions</param>
        </masterSessionDataProvider>
      </sessionProviders>
    </exm>
    
  </sitecore>
</configuration>