<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures Email delivery service API.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <log4net>
      <logger name="Sitecore.EDS" additivity="false">
        <level value="INFO" />
        <appender-ref ref="EdsLogFileAppender" />
      </logger>
      <appender name="EdsLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Eds.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
    </log4net>
    
    <exm>
      <eds>
        <!-- EDS LOGGER
             Creates a Logger instance.
        -->
        <edsLogger type="Sitecore.ExM.Framework.Diagnostics.Logger, Sitecore.ExM.Framework" singleInstance="true">
          <param desc="loggerName">Sitecore.EDS</param>
          <param desc="debugEnabled">false</param>
        </edsLogger>

        <!-- LOGGER FACTORY
             Provides an instance of ILogger.
        -->
        <loggerFactory type="Sitecore.EDS.Core.Diagnostics.LoggerFactory, Sitecore.EDS.Core" singleInstance="true">
          <param ref="exm/eds/edsLogger" />
        </loggerFactory>
        
        <!-- ENVIRONMENT IDENTIFIER  
             Value identifying current Sitrecore instance.
        -->
        <environmentIdentifier type="Sitecore.EDS.Core.Reporting.EnvironmentId, Sitecore.EDS.Core" singleInstance="true">
          <param desc="environmentId">{CBB24274-F8BF-4F28-AC6D-CEABA5308CA8}</param>
          <param desc="required">false</param>
        </environmentIdentifier>
      </eds>
    </exm>
  </sitecore>
</configuration>