<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitecore.emailcampaign.speak.requests>
      <!-- Example config
			<request name="someapp.namespace.command" type="NAMESPACE.CLASS, ASSEMBLY" />
      -->

      <!-- Message Context -->
      <request name="ecm.messagecontext.getmessage" type="Sitecore.EmailCampaign.Server.Requests.Message.GetMessageRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.messagecontext.getcurrentstate" type="Sitecore.EmailCampaign.Server.Requests.Message.GetCurrentState, Sitecore.EmailCampaign.Server" />

      <!-- Dispatch Context -->
      <request name="ecm.dispatchcontext.get" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.GetDispatchRequest, Sitecore.EmailCampaign.Server" />

      <!-- data sources -->
      <request name="ecm.datasource.messages" type="Sitecore.EmailCampaign.Server.Requests.DataSource.MessagesStatisticsRequest, Sitecore.EmailCampaign.Server" />

      <request name="ecm.datasource.messagereport"          type="Sitecore.EmailCampaign.Server.Requests.DataSource.GetMessageReportRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.datasource.createmessageoptions" type="Sitecore.EmailCampaign.Server.Requests.DataSource.GetCreateMessageOptionsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.datasource.tagretdevicelist"     type="Sitecore.EmailCampaign.Server.Requests.DataSource.GetTargetDeviceListRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.datasource.personalization.tokens" type="Sitecore.EmailCampaign.Server.Requests.Message.GetPersonalizationTokensRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.datasource.timezones"            type="Sitecore.EmailCampaign.Server.Requests.DataSource.GetTimeZonesRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.datasource.timeintervals"        type="Sitecore.EmailCampaign.Server.Requests.DataSource.GetTimeIntervalsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.datasource.recipientlists" type="Sitecore.EmailCampaign.Server.Requests.DataSource.GetRecipientListsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.datasource.recipients" type="Sitecore.EmailCampaign.Server.Requests.DataSource.GetRecipientsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.datasource.messagerecipients" type="Sitecore.EmailCampaign.Server.Requests.DataSource.GetMessageRecipientsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.datasource.getappcenterreports" type="Sitecore.EmailCampaign.Server.Requests.DataSource.GetReportsRequest, Sitecore.EmailCampaign.Server" />

      <!-- Default settings -->
      <request name="ecm.defaultsettings.firstusofecm"    type="Sitecore.EmailCampaign.Server.Requests.DefaultSettings.FirstUsageRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.defaultsettings.save"            type="Sitecore.EmailCampaign.Server.Requests.DefaultSettings.SaveRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.defaultsettings.cansave"         type="Sitecore.EmailCampaign.Server.Requests.DefaultSettings.CanSaveRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.defaultsettings.validate" type="Sitecore.EmailCampaign.Server.Requests.DefaultSettings.ValidateRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.defaultsettings.get"             type="Sitecore.EmailCampaign.Server.Requests.DefaultSettings.GetRequest, Sitecore.EmailCampaign.Server" />

      <!-- create message -->
      <request name="ecm.createnewmessage.canCreate"     type="Sitecore.EmailCampaign.Server.Requests.CreateNewMessage.CanCreateRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.createnewmessage.create"        type="Sitecore.EmailCampaign.Server.Requests.CreateNewMessage.CreateRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.createnewmessage.getmessageurl" type="Sitecore.EmailCampaign.Server.Requests.GetMessageUrlRequest, Sitecore.EmailCampaign.Server" />

      <!-- add pre-existing page -->
      <request name="ecm.addpreExistingPage.add" type="Sitecore.EmailCampaign.Server.Requests.AddPreExistingPage.AddPreExistingPageRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.addpreExistingPage.validatePagePath" type="Sitecore.EmailCampaign.Server.Requests.AddPreExistingPage.ValidatePagePathRequest, Sitecore.EmailCampaign.Server" />

      <!-- import html -->
      <request name="ecm.importnewhtmllayout.canimport" type="Sitecore.EmailCampaign.Server.Requests.ImportHtml.CanImportHtmlRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.importnewhtmllayout.import" type="Sitecore.EmailCampaign.Server.Requests.ImportHtml.ImportHtmlRequest, Sitecore.EmailCampaign.Server" />

      <!-- import design -->
      <request name="ecm.importnewdesign.import" type="Sitecore.EmailCampaign.Server.Requests.ImportDesign.ImportDesignRequest, Sitecore.EmailCampaign.Server" />

      <!-- delete folder -->
      <request name="ecm.deletefolder.candelete" type="Sitecore.EmailCampaign.Server.Requests.DeleteFolder.CanDeleteFolderRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.deletefolder.delete" type="Sitecore.EmailCampaign.Server.Requests.DeleteFolder.DeleteFolderRequest, Sitecore.EmailCampaign.Server" />

      <!-- delete message -->
      <request name="ecm.deletemessage.candelete" type="Sitecore.EmailCampaign.Server.Requests.DeleteMessage.CanDeleteRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.deletemessage.delete"    type="Sitecore.EmailCampaign.Server.Requests.DeleteMessage.DeleteRequest, Sitecore.EmailCampaign.Server" />

      <!-- copy to draft message -->
      <request name="ecm.copytodraft.checkpermissions" type="Sitecore.EmailCampaign.Server.Requests.CopyToDraft.CheckPermissionsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.copytodraft.execute"          type="Sitecore.EmailCampaign.Server.Requests.CopyToDraft.CopyToDraftRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.copytodraft.getmessageurl"    type="Sitecore.EmailCampaign.Server.Requests.GetMessageUrlRequest, Sitecore.EmailCampaign.Server" />

      <!-- save message -->
      <request name="ecm.savemessage.validatedevice" type="Sitecore.EmailCampaign.Server.Requests.SaveMessage.ValidateDeviceRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.savemessage.save" type="Sitecore.EmailCampaign.Server.Requests.SaveMessage.SaveRequest, Sitecore.EmailCampaign.Server" />

      <!-- add language -->
      <request name="ecm.addlanguage.add"           type="Sitecore.EmailCampaign.Server.Requests.AddLanguage.AddLanguageRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.addlanguage.onlyswitch"    type="Sitecore.EmailCampaign.Server.Requests.AddLanguage.SwitchLanguageRequest, Sitecore.EmailCampaign.Server" />

      <!-- save as subscription template -->
      <request name="ecm.saveassubscriptiontemplate.cansave"  type="Sitecore.EmailCampaign.Server.Requests.SaveAsSubscriptionTemplate.CanSaveRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.saveassubscriptiontemplate.execute"  type="Sitecore.EmailCampaign.Server.Requests.SaveAsSubscriptionTemplate.SaveAsSubscriptionTemplateRequest, Sitecore.EmailCampaign.Server" />

      <!-- attachment -->
      <request name="ecm.addattachment.add" type="Sitecore.EmailCampaign.Server.Requests.AddAttachment.AddAttachmentRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.addattachment.copytoalllanguages" type="Sitecore.EmailCampaign.Server.Requests.CopyAttachmentToAllLanguages.CopyAttachmentToAllLanguagesRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.removeattachment.remove" type="Sitecore.EmailCampaign.Server.Requests.RemoveAttachment.RemoveAttachmentRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.addlanguage.copyattachmentfromlanguage" type="Sitecore.EmailCampaign.Server.Requests.CopyAttachmentFromLanguage.CopyAttachmentFromLanguageRequest, Sitecore.EmailCampaign.Server" />

      <!-- export to csv -->
      <request name="ecm.exporttocsv.geturl" type="Sitecore.EmailCampaign.Server.Requests.ExportToCsv.GetUrlRequest, Sitecore.EmailCampaign.Server" />

      <!-- open/edit engagement plan -->
      <request name="ecm.openengagementplan.geturl" type="Sitecore.EmailCampaign.Server.Requests.OpenEngagementPlan.GetUrlRequest, Sitecore.EmailCampaign.Server" />

      <!-- create variant item in core -->
      <request name="ecm.createNewMessageVariantItem.create" type="Sitecore.EmailCampaign.Server.Requests.CreateNewMessageVariantItem.CreateRequest, Sitecore.EmailCampaign.Server" />

      <!-- delete variant item in core -->
      <request name="ecm.deleteMessageVariantItem.delete" type="Sitecore.EmailCampaign.Server.Requests.DeleteMessageVariantItem.DeleteRequest, Sitecore.EmailCampaign.Server" />

      <!-- add variant -->
      <request name="ecm.addvariant.addempty" type="Sitecore.EmailCampaign.Server.Requests.AddMessageVariant.AddVariantRequest, Sitecore.EmailCampaign.Server" />

      <!-- duplicate variant -->
      <request name="ecm.duplicatevariant.duplicate" type="Sitecore.EmailCampaign.Server.Requests.DuplicateMessageVariant.DuplicateVariantRequest, Sitecore.EmailCampaign.Server" />

      <!-- remove variant -->
      <request name="ecm.removevariant.remove" type="Sitecore.EmailCampaign.Server.Requests.RemoveMessageVariant.RemoveRequest, Sitecore.EmailCampaign.Server" />

      <!-- message info -->
      <request name="ecm.messageinfo.get" type="Sitecore.EmailCampaign.Server.Requests.MessageInfo.MessageInfoRequest, Sitecore.EmailCampaign.Server" />

      <!-- add recipient list -->
      <request name="ecm.recipientlist.add" type="Sitecore.EmailCampaign.Server.Requests.AddRecipientList.AddRecipientListRequest, Sitecore.EmailCampaign.Server" />

      <!-- Remove recipient list -->
      <request name="ecm.recipientlist.remove" type="Sitecore.EmailCampaign.Server.Requests.RemoveRecipientList.RemoveRecipientListRequest, Sitecore.EmailCampaign.Server" />

      <!-- Set default recipient list -->
      <request name="ecm.recipientlist.setdefault" type="Sitecore.EmailCampaign.Server.Requests.SetDefaultRecipientList.SetDefaultRecipientListRequest, Sitecore.EmailCampaign.Server" />

      <!-- Remove bounced recipients from a recipient list -->
      <request name="ecm.recipientlist.removebouncedrecipients" type="Sitecore.EmailCampaign.Server.Requests.RemoveBouncedContacts.RemoveBouncedContactsRequest, Sitecore.EmailCampaign.Server" />

      <!-- Remove unsubscribed recipients from recipient lists -->
      <request name="ecm.recipientlist.removeunsubscribedrecipients" type="Sitecore.EmailCampaign.Server.Requests.RemoveUnsubscribedContacts.RemoveUnsubscribedContactsRequest, Sitecore.EmailCampaign.Server" />
      
      <!-- Remove complained recipients from recipient lists -->
      <request name="ecm.recipientlist.removecomplainedrecipients" type="Sitecore.EmailCampaign.Server.Requests.RemoveComplainedContacts.RemoveComplainedContactsRequest, Sitecore.EmailCampaign.Server" />

      <!-- dispatch -->
      <request name="ecm.dispatchmessage.dispatch" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.DispatchRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.dispatchmessage.cancelscheduling" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.CancelSchedulingRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.dispatchmessage.pause" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.PauseRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.dispatchmessage.resume" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.ResumeRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.dispatchmessage.starttest" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.StartTestRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.dispatchmessage.selectwinner" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.SelectWinnerRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.dispatchmessage.activate" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.ActivateRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.dispatchmessage.deactivate" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.DeactivateRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.dispatchmessage.abvariants" type="Sitecore.EmailCampaign.Server.Requests.Dispatch.ABVariantsRequest, Sitecore.EmailCampaign.Server" />

      <!-- get sac url -->
      <request name="ecm.opensitecoreappcenter.geturl" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.GetUrlRequest, Sitecore.EmailCampaign.Server" />

      <!-- sac email preview -->
      <request name="ecm.emailpreview.validate" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.ValidateSelectedClientsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.emailpreview.checkforpurchase" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.GetIsPreviewServicePurchasedRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.emailpreview.execute" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.ExecuteEmailPreviewRequest, Sitecore.EmailCampaign.Server" />

      <request name="ecm.activereviews.get" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.GetActiveReviewsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.initialactivereviews.get" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.GetInitialActiveReviewsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.emailpreviewstate.get" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.GetEmailPreviewStateRequest, Sitecore.EmailCampaign.Server" />

      <!-- sac spam check -->
      <request name="ecm.spamcheck.validate" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.ValidateSelectedSpamClientsRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.spamcheck.checkforpurchase" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.GetIsSpamCheckServicePurchasedRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.spamcheck.execute" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.ExecuteSpamCheckRequest, Sitecore.EmailCampaign.Server" />
      <request name="ecm.spamcheckstate.get" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.GetSpamCheckStateRequest, Sitecore.EmailCampaign.Server" />

      <!-- create variant item in core -->
      <request name="ecm.reportrepeateritem.create" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.CreateReportRepeaterItemRequest, Sitecore.EmailCampaign.Server" />

      <!-- delete variant item in core -->
      <request name="ecm.reportrepeateritem.delete" type="Sitecore.EmailCampaign.Server.Requests.AppCenter.DeleteReportRepeaterItemRequest, Sitecore.EmailCampaign.Server" />
      
      <!-- send quick test email -->
      <request name="ecm.sendquicktest.execute" type="Sitecore.EmailCampaign.Server.Requests.SendQuickTest.ExecuteSendQuickTestRequest, Sitecore.EmailCampaign.Server" />

      <!-- generate report key for Experience Analytics  -->
      <request name="ecm.getreportkey.execute" type="Sitecore.EmailCampaign.Server.Requests.GetReportKey.GetReportKeyRequest, Sitecore.EmailCampaign.Server" />
    </sitecore.emailcampaign.speak.requests>
  </sitecore>
</configuration>
