<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>    
    <processors>
      <loggedin>
         <processor mode="on" type="Sitecore.Support.Pipelines.LoggedIn.CancelRobotDetection,Sitecore.Support.414299" patch:after="processor[@type='Sitecore.Pipelines.LoggedIn.CleanupUserProfile, Sitecore.Kernel']" />
      </loggedin>
   </processors>  
   	<pipelines>
   		<initializeTracker>
<processor type="Sitecore.Support.Analytics.RobotDetection.Pipelines.InitializeTracker.Robots, Sitecore.Support.414299" patch:instead="processor[@type='Sitecore.Analytics.RobotDetection.Pipelines.InitializeTracker.Robots, Sitecore.Analytics.RobotDetection']"/>
   			</initializeTracker>
   	</pipelines>

  </sitecore>
</configuration>