<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <appSettings>
    <add key="GeoIP2.DbLocation" value="~/Data/GeoLite2-City.mmdb"/>
  </appSettings>
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"
           type="StreamEnergy.Pipelines.RegisterPlatformBundles, StreamEnergy.Core" />
        <processor type="StreamEnergy.Pipelines.InitializeUnityContainer, StreamEnergy.Core" />
        <processor type="StreamEnergy.Pipelines.RegisterMvcFactories, StreamEnergy.Core" />
        <processor type="StreamEnergy.MyStream.Pipelines.InitializeWebApi, StreamEnergy.MyStream" />
      </initialize>
    </pipelines>
    <lookupManager defaultProvider="default">
      <providers>
        <clear/>
        <add name="default" type="StreamEnergy.Providers.GeoProvider,StreamEnergy.Core"/>
      </providers>
    </lookupManager>
  </sitecore>
</configuration>