<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SendGrid.username" value="azure_71f6e2b20c5bcb92cac964b724e3c210@azure.com" />
      <setting name="SendGrid.password" value="V7Zr6N6eVbOWdmo" />
      <setting name="GeoIP2.DbLocation" value="~/Data/GeoLite2-City.mmdb"/>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/page-not-found.aspx</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/page-not-found.aspx</patch:attribute>
      </setting>
      <setting name="LayoutNotFoundUrl">
        <patch:attribute name="value">/page-not-found.aspx</patch:attribute>
      </setting>
      <setting name="ErrorPage">
        <patch:attribute name="value">/server-error.aspx</patch:attribute>
      </setting>
      <setting name="NoAccessUrl">
        <patch:attribute name="value">/auth/login</patch:attribute>
      </setting>
    </settings>
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"
           type="StreamEnergy.Pipelines.RegisterPlatformBundles, StreamEnergy.Core" />
        <processor type="StreamEnergy.Pipelines.InitializeUnityContainer, StreamEnergy.Core" />
        <processor type="StreamEnergy.Pipelines.RegisterMvcFactories, StreamEnergy.Core" />
        <processor type="StreamEnergy.MyStream.Pipelines.InitializeWebApi, StreamEnergy.MyStream" />
      </initialize>
      <renderField>
        <processor type="StreamEnergy.Pipelines.RenderField.GetTextFieldValueExtended, StreamEnergy.Core" patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetTextFieldValue, Sitecore.Kernel']" />
        <processor type="StreamEnergy.Pipelines.RenderField.GetTextFieldValueExtended, StreamEnergy.Core" patch:after="processor[@type='Sitecore.Pipelines.RenderField.GetLinkFieldValue, Sitecore.Kernel']" />
      </renderField>
      <mvc.renderRendering>
        <processor type="StreamEnergy.Pipelines.GenerateCustomCacheKey, StreamEnergy.Core" patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']"/>
      </mvc.renderRendering>
      <mvc.exception>
        <processor type="StreamEnergy.Pipelines.LogException, StreamEnergy.Core" patch:before="processor" />
      </mvc.exception>
      <preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.FilterUrlExtensions, Sitecore.Kernel">
          <patch:delete />
        </processor>
      </preprocessRequest>
      <httpRequestBegin>
        <processor type="StreamEnergy.Pipelines.VanityUrlRedirect, StreamEnergy.Core" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>
    <!--<lookupmanager>
      <patch:attribute name="defaultProvider">geoLite</patch:attribute>
      <providers>
        <add name="geoLite" type="StreamEnergy.Providers.GeoProvider,StreamEnergy.Core" patch:after="processor[@type='Sitecore.Analytics.Lookups.MaxMindProvider,Sitecore.Analytics']">
        </add>
      </providers>
    </lookupmanager>-->
    <linkManager>
      <providers>
        <clear />
        <add name="sitecore">
          <patch:attribute name="addAspxExtension">false</patch:attribute>
        </add>
      </providers>
    </linkManager>
    <!--<scheduling>
      <agent type="StreamEnergy.Tasks.ScheduledPublishing" method="Run" interval="00:01:00">
        <param desc="sourceDatabase">master</param>
        <param desc="targetDatabase">web</param>
        <param desc="mode">incremental</param>
        <param desc="languages">en</param>
      </agent>
    </scheduling>-->
    <itemManager defaultProvider="default">
      <providers>
        <add name="default">
          <patch:attribute name="type">StreamEnergy.Providers.ItemProvider,StreamEnergy.Core</patch:attribute>
        </add>
      </providers>
    </itemManager>
  </sitecore>
</configuration>