<article class="grey-box utility-providers">
    <header>
        <h2>@Html.Sitecore().Field("Module Title")</h2>
    </header>
    <div class="content">
        @Html.Sitecore().Field("Intro Text")
        <div class="clearfix">
            <div class="logos">
                <a href="#">@Html.Sitecore().Field("PPL Image")</a>
            </div>
            <div class="logos">
                <a href="#">@Html.Sitecore().Field("Peco Image")</a>
            </div>
        </div>
    </div>
</article>