/* line 2, ../sass/Home.scss */
#SevicesOverview_Home_Module nav {
  height: 145px;
  background-color: #2f9bce;
  color: white;
}
/* line 6, ../sass/Home.scss */
#SevicesOverview_Home_Module nav section {
  float: left;
}

/* line 11, ../sass/Home.scss */
section#home-Plans {
  background: url("/Images/Modules/Home/Plans/module_background.png") center top no-repeat;
}
/* line 14, ../sass/Home.scss */
section#home-Plans h4 {
  height: 129px;
  text-align: center;
  font: 300 36px/48.92px proxima-nova, sans-serif;
  color: #222a4c;
}
/* line 21, ../sass/Home.scss */
section#home-Plans article {
  border: solid 1px #cccccc;
  border-radius: 5px;
  background-color: white;
  width: 233px;
  height: 374px;
  text-align: center;
  float: left;
  margin: 0 12px;
}
/* line 31, ../sass/Home.scss */
section#home-Plans article h5 {
  font-size: 22px;
  line-height: 29.02px;
  font-weight: normal;
  color: #1b1816;
  letter-spacing: -0.022em;
}
/* line 38, ../sass/Home.scss */
section#home-Plans article h5 img {
  width: 100px;
}
/* line 44, ../sass/Home.scss */
section#home-Plans article p strong {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  letter-spacing: 0;
  line-height: 26px;
}
/* line 51, ../sass/Home.scss */
section#home-Plans article p strong strong {
  font-size: 20px;
  line-height: 29px;
}
/* line 55, ../sass/Home.scss */
section#home-Plans article p strong strong strong {
  font-size: 24px;
}
/* line 62, ../sass/Home.scss */
section#home-Plans article .action {
  width: 166px;
}

/* line 68, ../sass/Home.scss */
#EnergyOverview_Services {
  background: url("../Images/Modules/Services/section-rule_energy-overview.png") center bottom repeat-x;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 8px;
}
/* line 75, ../sass/Home.scss */
#EnergyOverview_Services .content header {
  text-align: center;
  width: 827px;
  margin: 0 auto;
  margin-bottom: 64px;
}
/* line 81, ../sass/Home.scss */
#EnergyOverview_Services .content header h3 {
  padding-top: 72px;
  padding-bottom: 50px;
}
/* line 87, ../sass/Home.scss */
#EnergyOverview_Services .content b {
  color: #f8a244;
}
/* line 91, ../sass/Home.scss */
#EnergyOverview_Services .content > section {
  float: left;
  width: 50%;
}
/* line 97, ../sass/Home.scss */
#EnergyOverview_Services .module.quote {
  background: #71b243;
  text-align: left;
  color: white !important;
}
