@charset "UTF-8";
/* line 37, ../sass/_Generic.scss */
.action, .button {
  border-radius: 10px;
  background-image: -moz-linear-gradient(90deg, #0071b9 0%, #01a3dd 100%);
  background-image: -webkit-linear-gradient(90deg, #0071b9 0%, #01a3dd 100%);
  background-image: -ms-linear-gradient(90deg, #0071b9 0%, #01a3dd 100%);
  box-shadow: 1.5px 2.598px 4px 10px #55355b;
  padding: 10px;
  color: white;
  letter-spacing: 0.026em;
  font-size: 16px;
  font-weight: normal;
  border-radius: 9px;
  box-shadow: 0px 2.598px 4px 2px rgba(85, 53, 91, 0.25);
  text-transform: none !important;
}

/* line 53, ../sass/_Generic.scss */
button.action {
  border-style: none;
}

/* line 57, ../sass/_Generic.scss */
.content {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

/* line 63, ../sass/_Generic.scss */
.clear {
  clear: both;
}

/* line 67, ../sass/_Generic.scss */
a.action {
  display: inline-block;
}

/* line 72, ../sass/_Generic.scss */
a {
  text-decoration: none;
  color: #2f85b9;
}

/* line 77, ../sass/_Generic.scss */
b {
  color: #0192d1;
}

/* line 81, ../sass/_Generic.scss */
h3 {
  font: 300 40px/35.97px proxima-nova, sans-serif;
  letter-spacing: -0.029em;
  color: #222a4c;
}
/* line 21, ../sass/_Generic.scss */
h3 b {
  text-transform: uppercase;
  color: #0192d1;
}

/* line 85, ../sass/_Generic.scss */
small.legal {
  font-size: 10px;
  color: #b4b4b4;
}

/* line 4, ../sass/Site.scss */
body {
  position: relative;
  color: #555a5c;
  padding: 0;
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
}
/* line 13, ../sass/Site.scss */
body > header {
  position: relative;
  z-index: 100;
  background: url("../Images/header_background_gloabl.png") top repeat-x;
}
/* line 19, ../sass/Site.scss */
body > header > .content {
  height: 160px;
}
/* line 21, ../sass/Site.scss */
body > header > .content > h1 {
  position: absolute;
  left: 120px;
  top: 25px;
  margin: 0;
}
/* line 28, ../sass/Site.scss */
body > header > .content > ol {
  text-transform: uppercase;
  margin: 0;
  position: relative;
  top: 62px;
  font-weight: 400;
  color: #013c5b;
  font-size: 18px;
  letter-spacing: .020em;
}
/* line 38, ../sass/Site.scss */
body > header > .content > ol li {
  cursor: default;
  display: block;
  float: left;
  margin: 0 30px;
  position: relative;
  left: 530px;
}
/* line 46, ../sass/Site.scss */
body > header > .content > ol li b {
  font-weight: 400;
  color: #1991cf !important;
  display: block;
  background: url("../images/nav-first-level-selected-indicator.png") bottom center no-repeat;
  height: 48px;
}
/* line 54, ../sass/Site.scss */
body > header > .content > ol li a {
  color: inherit;
}
/* line 59, ../sass/Site.scss */
body > header > .content > ol li > ol {
  height: 51px;
  position: absolute;
  left: -1050px;
  text-transform: none;
  line-height: 51px;
  width: 1280px;
  top: 47px;
  text-align: center;
  font-size: 16px;
  color: #4f4c4d;
}
/* line 71, ../sass/Site.scss */
body > header > .content > ol li > ol > li {
  display: inline-block;
}
/* line 74, ../sass/Site.scss */
body > header > .content > ol li > ol > li b {
  display: inline;
  height: auto;
  background: none;
}
/* line 85, ../sass/Site.scss */
body > header > nav {
  background-color: #eff2f3;
}
/* line 87, ../sass/Site.scss */
body > header > nav > h2 {
  height: 214px;
  line-height: 214px;
  font-size: 48px;
  color: white;
  letter-spacing: -0.029px;
  background-size: cover;
  padding: 0;
  margin: 0;
}
/* line 98, ../sass/Site.scss */
body > header > nav > h2 span {
  line-height: 59.43px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 120px;
}
/* line 106, ../sass/Site.scss */
body > header > nav > .content > ol {
  font-size: 16px;
  font-weight: 400;
  height: 68px;
  left: 0;
  margin: 0;
  padding: 0;
}
/* line 114, ../sass/Site.scss */
body > header > nav > .content > ol > li {
  display: inline-block;
  padding: 0 21px;
  line-height: 68px;
  cursor: default;
}
/* line 120, ../sass/Site.scss */
body > header > nav > .content > ol > li a {
  color: #4f4c4d;
}
/* line 124, ../sass/Site.scss */
body > header > nav > .content > ol > li b {
  color: #1991cf;
  font-weight: inherit;
  display: inline-block;
  background: url("../Images/nav-second-level-selected-indicator.png") bottom center no-repeat;
}
/* line 130, ../sass/Site.scss */
body > header > nav > .content > ol > li b a {
  color: inherit;
}
/* line 140, ../sass/Site.scss */
body > article {
  background: url("../images/pattern_bg.png") repeat-y center;
}
/* line 143, ../sass/Site.scss */
body > article > header {
  background-color: #eff2f3;
  /* rl('../Images/header_background_article.png') repeat-x bottom; */
  position: relative;
  z-index: 100;
}
/* line 148, ../sass/Site.scss */
body > article > header > h2 {
  height: 214px;
  line-height: 214px;
  font-size: 48px;
  color: white;
  letter-spacing: -0.029px;
  background-size: cover;
  padding: 0;
  margin: 0;
}
/* line 159, ../sass/Site.scss */
body > article > header > h2 span {
  line-height: 59.43px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 120px;
}
/* line 168, ../sass/Site.scss */
body > article > header > .content > ol {
  font-size: 16px;
  font-weight: 400;
  height: 68px;
  left: 0;
  margin: 0;
  padding: 0;
}
/* line 176, ../sass/Site.scss */
body > article > header > .content > ol > li {
  display: inline-block;
  padding: 0 21px;
  line-height: 68px;
  cursor: default;
}
/* line 182, ../sass/Site.scss */
body > article > header > .content > ol > li a {
  color: #4f4c4d;
}
/* line 186, ../sass/Site.scss */
body > article > header > .content > ol > li b {
  font-weight: 600;
  display: inline-block;
  background: url("../Images/nav-second-level-selected-indicator.png") bottom center no-repeat;
}
/* line 197, ../sass/Site.scss */
body main {
  background: url("../images/pattern_bg.png") repeat-y center;
}
/* line 200, ../sass/Site.scss */
body main > .content {
  background-color: white;
  box-shadow: -7px 0 7px -7px rgba(112, 112, 112, 0.15), 7px 0 7px -7px rgba(112, 112, 112, 0.15);
  margin: 0 auto;
  max-width: 1280px;
}
/* line 208, ../sass/Site.scss */
body > footer {
  clear: both;
  padding-bottom: 8px;
  background: transparent url("../Images/footer-section-bottom-rule.png") center bottom repeat-x;
}
/* line 213, ../sass/Site.scss */
body > footer > address {
  background-color: #eff2f3;
  font-style: normal;
}
/* line 217, ../sass/Site.scss */
body > footer > address .content {
  width: 1040px;
}
/* line 222, ../sass/Site.scss */
body > footer > .group {
  background: #2f9bce;
  border-top: 1px solid #f5f5f5;
  color: white;
}
/* line 227, ../sass/Site.scss */
body > footer > .group > .content {
  background: #2f9bce url("../Images/LogoWhite.png") no-repeat 12px 371px;
  width: 1040px;
}
/* line 231, ../sass/Site.scss */
body > footer > .group > .content > nav {
  clear: both;
  height: 424px;
  padding-top: 45px;
  color: white;
  letter-spacing: -0.005em;
  font-size: 13px;
  font-weight: 400;
}
/* line 240, ../sass/Site.scss */
body > footer > .group > .content > nav a {
  color: inherit;
}
/* line 244, ../sass/Site.scss */
body > footer > .group > .content > nav > section {
  font-size: 13px;
  line-height: 26.22px;
  list-style: none;
  float: left;
  width: 20%;
}
/* line 251, ../sass/Site.scss */
body > footer > .group > .content > nav > section > h3 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 21.23px;
  color: white;
}
/* line 258, ../sass/Site.scss */
body > footer > .group > .content > nav > section > ul {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  font-size: 13px;
  line-height: 26.22px;
  list-style: none;
  /* width: 185px; */
}
/* line 266, ../sass/Site.scss */
body > footer > .group > .content > nav > section > ul li {
  margin: 0;
  padding: 0;
}

/* line 1, ../sass/_Global.scss */
#UserActions-Header-Global {
  padding: 0 35px 0 30px;
  position: absolute;
  right: 162px;
  top: 0;
  color: #4f4c4d;
  font-size: 14px;
  letter-spacing: 0;
  height: 32px;
  line-height: 32px;
}
/* line 12, ../sass/_Global.scss */
#UserActions-Header-Global a {
  color: inherit;
}

/* line 17, ../sass/_Global.scss */
#Opportunity-NavigationItem-Navigation-Global {
  position: absolute;
  left: 1000px;
}

/* line 22, ../sass/_Global.scss */
#Social-Footer-Global {
  border-top: 1px solid #e7e7e7;
  padding-top: 17px;
}
/* line 26, ../sass/_Global.scss */
#Social-Footer-Global h2 {
  text-transform: uppercase;
  color: #94969a;
  font-size: 18px;
  letter-spacing: .135em;
}
/* line 35, ../sass/_Global.scss */
#Social-Footer-Global .content > section {
  float: left;
  height: 94px;
  padding-bottom: 21px;
}
/* line 41, ../sass/_Global.scss */
#Social-Footer-Global .content #GetNewsletter-Social-Footer-Global {
  width: 329px;
}
/* line 44, ../sass/_Global.scss */
#Social-Footer-Global .content #GetNewsletter-Social-Footer-Global input {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
/* line 50, ../sass/_Global.scss */
#Social-Footer-Global .content #GetNewsletter-Social-Footer-Global input[type=email] {
  border: 1px solid #ccc;
  border-right-style: none;
  letter-spacing: .029em;
  color: #94969a;
  font-size: 14px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 14px;
  width: 199px;
  height: 30px;
}
/* line 63, ../sass/_Global.scss */
#Social-Footer-Global .content #GetNewsletter-Social-Footer-Global button {
  background-color: #257ab3;
  border-style: none;
  letter-spacing: .029em;
  color: #fff;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0 14px;
  width: 52px;
  height: 32px;
}
/* line 75, ../sass/_Global.scss */
#Social-Footer-Global .content #GetNewsletter-Social-Footer-Global button span {
  font-family: Webdings, fantasy;
}
/* line 81, ../sass/_Global.scss */
#Social-Footer-Global .content #FollowStream-Social-Footer-Global {
  width: 288px;
  padding: 0 41px;
  border: 1px solid #e7e7e7;
  border-bottom-style: none;
  border-top-style: none;
}

/* line 91, ../sass/_Global.scss */
#Contact-Footer-Global {
  border-top: 1px solid #f5f5f5;
  padding: 31px 0 29px;
}
/* line 95, ../sass/_Global.scss */
#Contact-Footer-Global #HelpText-Contact-Footer-Global {
  font-size: 18px;
  line-height: 24px;
  color: black;
  width: 24.51923%;
  float: left;
  padding: 0 0 0 0;
  margin: 0;
  margin-right: 15.38462%;
}
/* line 105, ../sass/_Global.scss */
#Contact-Footer-Global #HelpText-Contact-Footer-Global strong {
  font-weight: inherit;
  text-transform: capitalize;
}
/* line 110, ../sass/_Global.scss */
#Contact-Footer-Global #HelpText-Contact-Footer-Global a {
  font-weight: 400;
}
/* line 115, ../sass/_Global.scss */
#Contact-Footer-Global #ContactMethods-Contact-Footer-Global {
  color: #4f4c4d;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.029em;
  line-height: 50.43px;
}
/* line 122, ../sass/_Global.scss */
#Contact-Footer-Global #ContactMethods-Contact-Footer-Global img {
  vertical-align: middle;
  margin-right: 15px;
}
/* line 127, ../sass/_Global.scss */
#Contact-Footer-Global #ContactMethods-Contact-Footer-Global a {
  color: inherit;
  float: left;
  width: 30.04808%;
}
/* line 132, ../sass/_Global.scss */
#Contact-Footer-Global #ContactMethods-Contact-Footer-Global span {
  display: none;
}

/* line 138, ../sass/_Global.scss */
#Legal-Footer-Global {
  color: white;
  line-height: 10px;
  letter-spacing: 0.049em;
  border-top: 1px solid #44a5d3;
  padding-top: 25px;
  padding-bottom: 45px;
}
/* line 146, ../sass/_Global.scss */
#Legal-Footer-Global p {
  margin: 0;
  padding: 0;
}
/* line 151, ../sass/_Global.scss */
#Legal-Footer-Global small.legal {
  color: white;
}
/* line 156, ../sass/_Global.scss */
#Legal-Footer-Global #BbcAndDsa-Legal-Footer-Global {
  position: absolute;
  right: 120px;
  bottom: 28px;
}
/* line 160, ../sass/_Global.scss */
#Legal-Footer-Global #BbcAndDsa-Legal-Footer-Global img {
  vertical-align: middle;
}

/* line 1, ../sass/Componets/_FAQ.scss */
dl.faq {
  color: #595a5d;
  width: 582px;
}
/* line 5, ../sass/Componets/_FAQ.scss */
dl.faq > dt {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 600;
  cursor: pointer;
  padding-left: 18px;
  position: relative;
}
/* line 13, ../sass/Componets/_FAQ.scss */
dl.faq > dt:before {
  content: url("/Images/Componets/FAQs/minus.png");
  vertical-align: top;
  position: absolute;
  left: -18px;
}
/* line 21, ../sass/Componets/_FAQ.scss */
dl.faq > dt[data-collasped]:before {
  content: url("/Images/Componets/FAQs/plus.png");
}
/* line 25, ../sass/Componets/_FAQ.scss */
dl.faq > dt[data-collasped] + dd {
  height: 0;
  overflow: hidden;
  margin-top: 0;
}
/* line 33, ../sass/Componets/_FAQ.scss */
dl.faq > dd {
  font-weight: normal;
  line-height: 19px;
  font-size: 14px;
  margin: 16px 0 50px 26px;
  color: #595a5d;
  letter-spacing: 0.041em;
  height: auto;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

/* line 283, ../sass/Site.scss */
.marketing.wrapper {
  padding: 0 9.375%;
  background: url("../../images/Modules/module_background.png") no-repeat center top;
}
/* line 287, ../sass/Site.scss */
.marketing.wrapper:first-child {
  background-image: none;
}

/* line 292, ../sass/Site.scss */
.module {
  padding: 0 9.375%;
  background: url("../../images/Modules/module_background.png") no-repeat center top;
}
/* line 296, ../sass/Site.scss */
.module:first-child {
  background-image: none;
}
/* line 1, ../sass/Modules/_PhotoLockup.scss */
.module.photoLockup {
  font-size: 15.99px;
  line-height: 23.99px;
  color: black;
  background: url("../../images/Modules/module_background.png") no-repeat center top;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 9, ../sass/Modules/_PhotoLockup.scss */
.module.photoLockup > .content, .module.photoLockup > img {
  float: left;
}
/* line 13, ../sass/Modules/_PhotoLockup.scss */
.module.photoLockup > .content {
  width: 463px;
  margin: 0;
}
/* line 18, ../sass/Modules/_PhotoLockup.scss */
.module.photoLockup > img {
  width: 502px;
}
/* line 22, ../sass/Modules/_PhotoLockup.scss */
.module.photoLockup > .content + img, .module.photoLockup > img + .content {
  float: right;
}
/* line 26, ../sass/Modules/_PhotoLockup.scss */
.module.photoLockup h2, .module.photoLockup h3 {
  font-size: 31.99px;
  line-height: 48.91px;
  letter-spacing: 0;
  color: #4f4c4d;
  font-weight: 300;
  padding-top: 0;
  margin-top: 0;
}
/* line 1, ../sass/Modules/_Quote.scss */
.module.quote {
  font-size: 18px;
  line-height: 26.44px;
  position: relative;
  margin: 0;
  color: #3c4244;
  padding: 45px 0;
  background-image: none;
}
/* line 10, ../sass/Modules/_Quote.scss */
.module.quote blockquote {
  margin: 0 298px 0 225px;
}
/* line 15, ../sass/Modules/_Quote.scss */
.module.quote blockquote p:first-of-type {
  text-indent: -11px;
  font-size: 18px;
  line-height: 26.44px;
  position: relative;
    /* &::first-line {
    font-size: 36px;
    line-height: 60px;
    font-style: italic;
} */
}
/* line 21, ../sass/Modules/_Quote.scss */
.module.quote blockquote p:first-of-type::before {
  content: "“";
  color: rgba(255, 255, 255, 0.3);
  font-size: 135.61px;
  position: absolute;
  left: -45px;
  top: 55px;
}
/* line 36, ../sass/Modules/_Quote.scss */
.module.quote blockquote p:last-of-type::after {
  content: "”";
  color: rgba(255, 255, 255, 0.3);
  font-size: 135.61px;
  position: absolute;
  margin-left: 10px;
  margin-top: 40px;
}
/* line 45, ../sass/Modules/_Quote.scss */
.module.quote blockquote p .lead {
  font-size: 36px;
  line-height: 60px;
  font-style: italic;
}
/* line 52, ../sass/Modules/_Quote.scss */
.module.quote blockquote footer {
  margin-top: 10px;
  font-size: 14.23px;
  line-height: 35.87px;
}
/* line 57, ../sass/Modules/_Quote.scss */
.module.quote blockquote footer cite {
  text-transform: uppercase;
  font-style: normal;
}
/* line 1, ../sass/Modules/_FullHtml.scss */
.module.full-html {
  text-align: center;
  letter-spacing: 0;
  font-size: 20px;
  line-height: 30px;
  color: #333;
  padding-top: 90px;
  padding-bottom: 67px;
}
/* line 9, ../sass/Modules/_FullHtml.scss */
.module.full-html h1 {
  font-size: 40px;
  line-height: 43.48px;
  font-weight: 300;
  letter-spacing: -0.029em;
}
/* line 1, ../sass/Modules/_Questions.scss */
.module.questions {
  background: url("../../Images/Modules/Questions/top_border.png") top center no-repeat;
  padding-top: 80px;
  padding-bottom: 64px;
}
/* line 6, ../sass/Modules/_Questions.scss */
.module.questions .content div:first-of-type {
  float: left;
}
/* line 9, ../sass/Modules/_Questions.scss */
.module.questions .content div:nth-of-type(2) {
  margin-left: 818px;
  padding-left: 27px;
  border-left: 1px solid #eee;
  height: 290px;
  width: 180px;
}
/* line 1, ../sass/Modules/_StatesEnroll.scss */
.module.states-enroll {
  background-image: none;
  height: 83px;
}
/* line 5, ../sass/Modules/_StatesEnroll.scss */
.module.states-enroll h3 {
  margin: 0;
  padding: 0;
  line-height: 83px;
  float: left;
  font-size: 20px;
}
/* line 13, ../sass/Modules/_StatesEnroll.scss */
.module.states-enroll p {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}
/* line 21, ../sass/Modules/_StatesEnroll.scss */
.module.states-enroll #GetStarted-StateEnroll-Module {
  line-height: 83px;
}
/* line 25, ../sass/Modules/_StatesEnroll.scss */
.module.states-enroll #ViewLinks-StateEnroll-Module {
  line-height: 1em;
  padding: 25.5px 0;
}
/* line 28, ../sass/Modules/_StatesEnroll.scss */
.module.states-enroll #ViewLinks-StateEnroll-Module a {
  font-weight: normal;
}

@keyframes slideopen {
  /* line 310, ../sass/Site.scss */
  0% {
    height: 0;
  }

  /* line 314, ../sass/Site.scss */
  100% {
    height: 500px;
  }
}
