<div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
    <div class="wrapper">
        <h1>
            <span class="small block">@Html.Sitecore().Field("4 - Page Title")</span><br />
        </h1>
    </div>
</div>

@* Two-column layout for Complete Order *@
<section class="wrapper layout cols-2">
    <section>
        <article class="enrollment__box enrollment__complete-order">
            <header>
                <h1>Complete Order</h1>
                <p>Based on your order, the following payment is necessary for completion.</p>
            </header>
            <div class="content">
                <div class="plan-summary">
                    <div class="line-item clearfix">
                        <div class="description">
                            <h2>Monthly Plan Cost</h2>
                            <p>Plan includes Unlimited Voice, Text, and 7.5GB data</p>
                            <p><a href="">Plan Details</a> | <a href="">Edit Plan</a> | <a href="">Configure Data</a></p>
                        </div>
                        <div class="rate">$399.00</div>
                    </div>
                    <div class="line-item clearfix">
                        <div class="description">
                            <h3>Tax and Other Fees*</h3>
                            <a href="">Show Breakdown</a>
                        </div>
                        <div class="rate">$29</div>
                    </div>
                </div>
                <hr>
                <div class="phone-summary">
                    <div class="line-item clearfix">
                        <div class="description">
                            <span class="condition">Reconditioned</span>
                            <h2 class="model">Apple iPhone 5S </h2>
                            <span class="model">16B, Silver</span> <a href="">Edit</a>
                        </div>
                    </div>

                    <div class="line-item clearfix">
                        <div class="description">
                            <h3>Initial Activiation Fee</h3>
                            <p>This one-time fee lorem ipsum dolor</p>
                        </div>
                        <div class="rate">$39</div>
                    </div>

                    <div class="line-item clearfix">
                        <div class="description">
                            <h3>Coverage Warranty</h3>
                        </div>
                        <div class="rate">$19.00/mo</div>
                    </div>

                    <div class="line-item clearfix">
                        <div class="description">
                            <h3>Shipping</h3>
                        </div>
                        <div class="rate"></div>
                    </div>
                </div>
            </div>
            <footer>
                Total Due Now: $439.97
            </footer>
        </article>

        <form>
            <article class="enrollment__box enrollment__contact-info">
                <header>
                    <h1>Contact Information</h1>
                </header>
                <div class="content form">
                    <h3>Personal Information</h3>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">First Name:</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">Last Name:</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">Phone Number:</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">Phone Type:</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">Email Address:</label>
                            <input type="text">
                        </div>
                    </div>
                    <hr>
                    <h3>Billing Address</h3>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">Address 1:</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">Address 2:</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="group">
                        <div class="item group-col">
                            <label for="">City:</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">State:</label>
                            <input type="text">
                        </div>
                        <div class="item group-col">
                            <label for="">Zip Code:</label>
                            <input type="text">
                        </div>
                    </div>
                    <hr>
                    <h3>Shipping Address</h3>
                    <label><input type="checkbox"> Same as Billing Address</label>
                </div>
            </article>

            <article class="enrollment__box enrollment__payment-info">
                <header>
                    <h1>Payment Information</h1>
                </header>
                <div class="content">
                    <div class="payment-options" credit-card-payment="completeOrder.creditCard" data-val-if="true"></div>
                </div>
            </article>

            <article class="enrollment__box enrollment__terms-conditions">
                <header>
                    <h1>Terms &amp; Conditions</h1>
                </header>
                <div class="content">
                    <p><label><input type="checkbox"> I agree to Stream's Terms &amp; Conditions</label></p>
                    <p><textarea name="" id="" cols="30" rows="10"></textarea></p>
                    <p><label><input type="checkbox"> I agree to the TCPA, Email Marketing, and The Wire Terms &amp; Conditions</label></p>
                </div>
            </article>
            <p>*Fees are estimated based on your state's average charges.</p>
            <div class="clearfix">
                <button type="button" class="plain plain-footer">Cancel Enrollment</button>
                <button type="button" class="pull-right">Next</button>
            </div>
        </form>
    </section>
</section>