<div ng-if="mobileEnrollment.currentStep == 'order-confirmation'">
    <div class="banner" style="@Html.AsBackgroundStyle("Mobile Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">@Html.Sitecore().Field("Page Title")</span><br />
            </h1>
        </div>
    </div>
    @* Two-column layout for Complete Order *@
    <section class="wrapper layout cols-2">
        <section>
            @*<article class="enrollment__box enrollment__order-notice">
                <header>
                    <h1>You're Almost There!</h1>
                </header>
                <div class="content">
                    <p>Thank you! We've received your request for service, and have sent a copy of your request to <strong>jcampbell@gmail.com</strong>. All That's left now is completing a W9 to verify your orer.</p>
                    <p><a href="" class="button">Complete W9 form</a></p>
                    <p>For questions on your request for service, call 1-800-STREAM.</p>
                </div>
            </article>*@

            <article class="enrollment__box enrollment__order-notice">
                <header>
                    <h1>In Progress</h1>
                </header>
                <div class="content">
                    <p>The enrollment confirmation page is still being worked on.</p>
                </div>
            </article>
            
        </section>
        <aside>
            <div class="enrollment__cart">
                <article class="enrollment__box">
                    <header>
                        <h1>Questions? 1-800-STREAM</h1>
                    </header>
                </article>
            </div>
        </aside>
    </section>
</div>