<div class="service-links">
    <div class="wrapper">
        <div class="grid three border">
            <div class="col mobile">
                <div class="inner">
                    <h2>Mobile</h2>
                    <p>Phones & Plans lorem ipsem dolor sit amet.</p>
                    <p><a href="/services/mobile" class="significant">Phones & Plans</a></p>
                </div>
            </div>
            <div class="col energy">
                <div class="inner">
                    <h2>Energy</h2>
                    <p>Gas & Electricity lorem dolor sit ameolor ipsem</p>
                    <p><a href="/services/energy" class="significant">Gas & Electricity</a></p>
                </div>
            </div>
            <div class="col protect">
                <div class="inner">
                    <h2>Protect</h2>
                    <p>Protection you need lorem dolor sit ameolor lorem ips.</p>
                    <p><a href="/services/protective" class="significant">Protective Services</a></p>
                </div>
            </div>
        </div>
    </div>
</div>