<article class="mobile">
    <div id="SwitchStreamMobile-Home" class="module">
        <h3>It’s <strong>Easy</strong> to Switch to <strong>Stream Mobile</strong></h3>
        <article id="ShopPhones-SwitchStreamMobile-Home">
            <h4>Shop for Phones</h4>
            <p>Unlimited Voice, Text, and Data on a leading nationwide 4G network starts at $30/month with 1GB data. Choose from other great rate plans.</p>
            <p><a href="" class="action">Shop Smart Phones</a></p>
        </article>
        <p id="OrParagrah-SwitchStreamMobile-Home">Or</p>
        <article id="BringDevice-SwitchStreamMobile-Home">
            <h4>Bring Your Own Device</h4>
            <p>A simple switch of your SIM card gets you on the Stream Mobile high-speed network, with great rate plans to choose from.</p>
            <p><a href="" class="action">Get Started</a></p>
        </article>
        <div style="clear:both"></div>
    </div>
    <div id="PlansThatWorkMobile-Home" class="module">
        <h3>Plans that <strong>Work</strong></h3>
        <p>Fast and reliable service when and where you want it. All plans come with Unlimited Text and Voice Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
        <ol>
            <li>LTE Advanced network for faster speeds</li>
            <li>Unlimited nationwide calling and</li>
            <li>Flexible range of data plans</li>
        </ol>
        <div id="Plans-Component">
            <article>
                <h4><img src="~/images/stream_logo.png" alt="Stream" /> <span>powered by: <strong>AT&amp;T</strong></span></h4>
                <article class="indvidualPlans">
                    <h5>Indvidual Plans</h5>
                    <p>1 line with 1 GB from<br><strong>$35</strong>/mo</p>
                    <p>Need more data?<br>Upgrade you plan at anytime</p>
                    <p>Get Started</p>
                    <p>More Deails</p>
                </article>
                <article class="groupPlans">
                    <h5>Group Plans</h5>
                    <p>1 line with 1 GB from<br><strong>$35</strong>/mo</p>
                    <p>Need more data?<br>Upgrade you plan at anytime</p>
                    <p>Get Started</p>
                    <p>More Deails</p>
                </article>
            </article>
            <article>
                <h4><img src="~/images/stream_logo.png" alt="Stream" /> <span>powered by: <strong>Sprint</strong></span></h4>
                <article class="indvidualPlans">
                    <h5>Individual Plans</h5>
                    <p>1 line with 1 GB from<br><strong>$35</strong>/mo</p>
                    <p>Need more data?<br>Upgrade you plan  at anytime</p>
                    <p>Get Started</p>
                    <p>More Deails</p>
                </article>
                <article class="groupPlans">
                    <h5>Group Plans</h5>
                    <p>1 line with 1 GB from<br><strong>$35</strong>/mo</p>
                    <p>Need more data?<br>Upgrade you plan at anytime</p>
                    <p>Get Started</p>
                    <p>More Deails</p>
                </article>
            </article>
            <div style="clear: both"></div>
        </div>
    </div>
</article>
<article class="energy">
    <div class="module">
        <h3>Electricity and Gas that <strong>Fit</strong> your <strong>Lifestyle</strong></h3>
        <p>Electricity isn’t a luxury, it’s a necessity. Everyone needs it, every single day.
        <p>Stream offers competitive energy products to make life a little easier and can provide for all your electricity needs. From keeping your lights on to cooling your house, powering your technology and your power tools, Stream can power your home or business.</p>
        <article>
            <h4>Shop Electricity</h4>
            <p>From keeping your lights on to turning up the air conditioning and powering your tools, electricity is an essential service for every home and business.</p>
            <p><a href="" class="action">Shop Electricity</a></p>
        </article>
        <article>
            <h4>Shop Natural Gas</h4>
            <p>Whether you're cookin meals or heating yhor home natura gas is a great way to use paower at home at the office.</p>
            <p><a href="" class="action">Shop Gas</a></p>
        </article>
    </div>
</article>
<article id="ProtectiveServices-Home" class="protective">
    <header class="module">
        <h3>When it comes to <strong>improving</strong> your <strong>life</strong><br>Stream’s got you covered</h3>
        <p>With Stream’s new Protective Services, we now offer all customers the necessary tools to live a safer, easier life. Not only do we give our customers their first month free, but when you bundle more than one service together, you’ll save. These special rates–up to 70% off the regular market value–are our way of saying thanks.</p>
    </header>
    <div class="module services">
        <article class="identityTheft">
            <h4>Identity Theft Monitoring</h4>
            <p>
                With Identity theft on the rise, we’ve developed a service to help safeguard your identity.<br><br>
                <a href="">Learn More&#x25B6;</a>
            </p>
        </article>
        <article class="onlineBackupAndProtection">
            <h4>Online Backup & Protection</h4>
            <p>
                Keep your computers running smoothly with Stream Energy’s technology support and automatic data backup services.<br><br>
                <a href="">Learn More&#x25B6;</a>
            </p>
        </article>
        <article class="creditMonitoring">
            <h4>Credit Monitoring</h4>
            <p>
                Stream’s credit monitoring allows you to review your past credit history, check your current score, and plan for the future.<br><br>
                <a href="">Learn More&#x25B6;</a>
            </p>
        </article>
        <div style="clear: both"></div>
    </div>
</article>