/*
    Generic styling for Currents blog
 */
$events-color: #00a3e0;
$promotions-color: #97c93d;
$recognition-color: #f99d25;
$radio-color: #ffc600;
$default-color: #d2d3d3;
$corporate-events-color: #0071b9;
$conference-calls-color: #033c5a;
$webinars-color: #97c93d;
$local-meeting-color: #00a8e1;

.currents {
    position: relative;
    background-color: transparent;
    @include box-shadow(none);
    
    .blog-info {
        position: absolute;
        background-color: #fff;
        top: -220px;
        left: 100px;
        min-height: 220px;
        width: 540px;
        padding: 30px;
        .publish-time {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        .blog-title {
            h1 {
                font-size: 60px;
                font-weight: 300;
                letter-spacing: -2px;
                margin: 10px 0 5px;
                line-height: .8;
            }
        }
        .sub-headline {
            font-size: 24px;
            font-weight: 300;
            font-style: italic;
        }
        &.events, &.events h1 {
            color: $events-color;
        }
        &.promotions, &.promotions h1 {
            color: $promotions-color;
        }
        &.recognition, &.recognition h1 {
            color: $recognition-color;
        }
    }
    &.calendar-layout {
        z-index: 9100;
        padding-bottom: 100px;
    }
    @include breakpoint(small-medium) {
        .blog-info {
            position: relative;
            width: auto;
            top: 0;
            left: 0;
        }
    }

    @include breakpoint(medium) {
        & + .grid
        {
            padding:0 15px;

            .col
            {
                float:left;
                width:48%;

                &:nth-child(2n){
                    float:right;
                }
            }
        } 

    }
}

/*
    Currents header
 */
.currents__header {
    background: image-url('bg/currents-header-bg.png') top center no-repeat;
    position: relative;
    height: 300px;
    z-index: 9000;
    .layout {
        background-color: transparent;
        padding-bottom: 0;
        @include box-shadow(none);
    }
    .logo {
        @include image-replace("bg/currents-logo-desktop.png", "bg2x/currents-logo-desktop.png");
        float: left;
        margin-top: 30px;
        margin-bottom: 28px;
    }
    .currents-nav {
        float: left !important;
        margin: 2px 0 0 40px !important;
        ul { 
            display: table;
        }
        li {
            margin-right: 15px;
            height: 86px !important;
            display: table-cell !important;
            vertical-align: bottom !important;
            padding: 0 35px !important;
            background-repeat: no-repeat;
            background-position: 0 88%;
            a {
                color: #2a2a2a !important;
                background-color: #fff;
                font-size: 16px !important;
                font-weight: 500 !important;
                padding: 0 0 4px !important;
                .color-block {
                    height: 60px;
                    display: block;
                    @include transition(background-color 0.2s linear);
                }
                &:hover .color-block {
                    @include transition(background-color 0.2s linear);
                }
            }
            &.nav-events {
                @include retina-background('currents-events.png', 'icon');
                a {
                    .color-block {
                        border-bottom: 5px solid $events-color;
                    }
                    &:hover {
                        color: $events-color !important;
                        .color-block {
                            background-color: $events-color;
                        }
                    } 
                }
                &.current {
                    a {
                        color: $events-color !important;
                    }
                    .color-block {
                        background-color: $events-color;
                    }
                } 
            }
            &.nav-promotions {
                @include retina-background('currents-promotions.png', 'icon');
                a {
                    .color-block {
                        border-bottom: 5px solid $promotions-color;
                    }
                    &:hover {
                        color: $promotions-color !important;
                        .color-block {
                            background-color: $promotions-color;
                        }
                    } 
                }
                &.current {
                    a {
                        color: $promotions-color !important;
                    }
                    .color-block {
                            background-color: $promotions-color;
                    }
                } 
            }
            &.nav-recognition {
                @include retina-background('currents-recognition.png', 'icon');
                a {
                    .color-block {
                        border-bottom: 5px solid $recognition-color;
                    }
                    &:hover {
                        color: $recognition-color !important;
                        .color-block {
                            background-color: $recognition-color;
                        }
                    } 
                }
                &.current {
                    a {
                        color: $recognition-color !important;
                    }
                    .color-block {
                        background-color: $recognition-color;
                    }
                } 
            }
        }
    }
    .right-nav {
        float: right;
        padding: 15px 10px;
        color: #00a3e0;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        a {
            color: inherit;
        }
        ul {
            @include inline-block-list();
            display: inline;
            li {
                border-left: 1px solid #00a3e0;
                padding: 0 1em;
            }
            li:first-child {
                border: none;
            }
            li:last-child {
                padding-right: 0;
            }
        }
        .dropdown {
            position: relative;
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            right: 0px;
            display: none;
            float: left;
            padding: 0;
            margin: 2px 0px 0px;
            min-width: 0;
            background-color: #e4e4e4;
            @include border-radius(0);
            li {
                display: block;
                border: none;
                padding: 0;
                a {
                    color: #333;
                    font-size: 16px;
                    display: block;
                    padding: 15px 70px;
                    clear: both;
                    line-height: 1.5;
                    white-space: nowrap;
                    text-align: left;
                    text-transform: none;
                    &:hover {
                        color: #fff;
                    }
                }
            } 
        }
        .open > .dropdown-menu {
            display: block;
        }
        .search {
            margin-top: 10px;
            position: relative;
            input {
                float: right;
                width: 205px;
                padding: 0 25px 0 10px;
                border-color: #66afe9;
                background-image: none;
                &::-webkit-input-placeholder {
                    color: #00a3e0;
                    text-transform: uppercase;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #00a3e0;
                    text-transform: uppercase;  
                }
                &::-moz-placeholder {  /* Firefox 19+ */
                    color: #00a3e0;
                    text-transform: uppercase;
                }
                &:-ms-input-placeholder {  
                    color: #00a3e0;
                    text-transform: uppercase;
                }
            }
            button {
                position: absolute;
                top: 8px; 
                right: 8px;
                border: 0;
                padding: 0;
                cursor: pointer;
                height: 18px;
                width: 16px;
                @include retina-background('blue-search.png', 'icon'); 
                background-color: transparent;
                background-position: 95% center;
                background-repeat: no-repeat;
                &:active, &:hover {
                    outline: 0;
                }
                &::-moz-focus-inner {
                    border: 0;
                    padding: 0;
                }
            }   
        }
    }
    @include breakpoint(small) {
        height: 57px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9200;
        border-bottom: 1px solid $dark-border-color;
        @include box-shadow(0 0 3px rgba(0, 0, 0, .1));
        > .layout {
            background-color: #fff;
            background-repeat: repeat-x;
            z-index: 2;
            height: 57px;
            padding: 0 20px;
        }
        .logo {
            @include image-replace("bg/currents-logo-mobile.png", "bg2x/currents-logo-mobile.png");
            position: absolute;
            left: 50%;
            top: 18px;
            margin-top: 0;
            margin-left: image-width("bg/currents-logo-mobile.png") / 2 * -1;
        }
        .right-nav {
            display: none;
        }
        .nav-toggle{
            margin-top: 22px;
        }
        &.fixed-fix {
            position: absolute;
        }
        nav {
            display: none;
        }
    }
    @include breakpoint-min-max(751px, 1220px) {
        .layout {
            padding: 0 20px;
        }
        .currents-nav {
            float: right !important;
            margin-left: 0px !important;
            li {
                height: 30px !important;
                padding: 0 10px !important;
                background-image: none !important;
                .color-block {
                    height: 10px !important;
                }
            }
        }
        .right-nav {
            padding: 5px 10px;
        }
    }
    @include breakpoint(medium-large) {
        .nav-toggle {
            display: none;
        }
        .cart-toggle {
            display: none;
        }
        .shadow-wrapper {
            @include box-shadow(0 0 3px rgba(0, 0, 0, .2));
            position: relative;
        }
        &.fixed {
            background: #fff;
            height: 75px;
            > .wrapper {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: #fff;
                background-repeat: repeat-x;
                z-index: 9000;
                height: 75px;
                border-bottom: 1px solid $dark-border-color;
                @include box-shadow(0 0 3px rgba(0, 0, 0, .1));

                @include breakpoint(small) {
                    background: #fff;
                }
            }
            .logo {
                position: absolute;
                left: 50%;
                top: 10px;
                margin-top: 0;
                margin-left: (image-width("bg/currents-logo-desktop.png") / 2) * -1;
                }
            .nav-toggle {
                margin-top: 22px;
            }
        }
    }
}
.currents__carousel {
    margin-top: -180px;
    z-index: 9999;
    @include breakpoint(small) {
        margin-top: 0;
    }
    .wrapper {
        height: 30vw;
        max-height: 420px;
    }
}

.currents__banner {
    margin-top: -180px;
    width: 100%;
    height: 20vw;
    max-height: 300px;
    border-color: $default-color;
    &.events {
        border-color: $events-color;
    }
    &.promotions {
        border-color: $promotions-color;
    }
    &.recognition {
        border-color: $recognition-color;
    }
    &.calendar {
        background-color: $events-color;
        border-color: $events-color;
        height: 400px;
        max-height: none;
    }
    @include breakpoint(small) {
        margin-top: 0;
    }
}

.currents__tagline {
    width: 100%;
    color: #fff;
    background-color: #0070b9;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    &.events {
        background-color: $events-color;
    }
    &.promotions {
        background-color: $promotions-color;
    }
    &.recognition {
        background-color: $recognition-color;
    }
    &.radio {
        background-color: $radio-color;
}
}

/*
    Generic Styling for all Currents listing page elements
 */
.currents__blocks {
    .currents-grid {
        margin-top: 10px;
    }
    .grid-item,
    .grid-sizer { width: 24%; }
    .gutter-sizer { width: 1%; }
    .grid-item {
        float: left;
        position: relative;
        height: 300px;
        margin-bottom: 10px;
        color: #fff;
        border-bottom: 5px solid;
        border-color: $default-color;
        background-size: cover;
        background-color: $default-color;
        .article-video {
            @include retina-background('video-currents.png', 'icon');
            background-position: top right;
            background-repeat: no-repeat;
            position: absolute;
            width: 96px;
            height: 91px;
            top: 0;
            right: 0;
        }
        .article-overview {
            position: absolute;
            height: 150px;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px 20px 0;
            overflow: hidden;
            background: #000;
            background: rgba(0, 0, 0, 0.7);
            .article-date {
                @include retina-background('calendar-small.png', 'icon');
                background-position: top left;
                background-repeat: no-repeat;
                padding-left: 20px;
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
            }
            h2 {
                font-size: 20px;
                margin: 5px 0;
                line-height: 1;
                color: #fff;
            }
            .article-summary {
                height: 50px;
            }
            .ellip {
                display: block;
                height: 100%;
            }
            .ellip-line {
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-wrap: normal;
                max-width: 100%;
            }
            .ellip,
            .ellip-line {
                position: relative;
                overflow: hidden;
            }
        }
        &.events {
            background-color: $events-color;
            border-color: $events-color;
        }
        &.promotions {
            background-color: $promotions-color;
            border-color: $promotions-color;
        }
        &.recognition {
            background-color: $recognition-color;
            border-color: $recognition-color;
        }
        &.grid-item--width2, &.grid-item--width3, &.grid-item--width4 {
            @include breakpoint(medium-large) {
                .article-summary {
                    height: 70px;
                }
            }
        }
        &.no-image {
            .article-overview {
                height: 240px;
                top: 50px;
                background: transparent;
                color: #000;
                h2 {
                    font-size: 36px;
                    color: #000;
                }
                &:after{
                    @include opacity(1);
                    background-color: $default-color;
                }
                .article-summary {
                    height: 70px;
                }
            }
            &.events, &.promotions, &.recognition {
                .article-overview {
                    color: #fff;
                    h2 {
                        color: #fff;
                    }
                }
            }
            &.events .article-overview:after {
                background-color: $events-color;
            }
            &.promotions .article-overview:after {
                background-color: $promotions-color;
            }
            &.recognition .article-overview:after {
                background-color: $recognition-color;
            }
            &.grid-item--height2 {
                @include breakpoint(medium-large) {
                    .article-overview {
                        height: 340px;
                        .article-summary {
                            height: 200px;
                        }
                    }
                }
            }
        }
        @include breakpoint(medium-large) {
            &.small {
                display: none;
            }
        }
        @include breakpoint(small) {
            &.medium-large {
                display: none;
            }
        }
    }
    .grid-item--width2 { width: 49%; }
    .grid-item--width3 { width: 74%; }
    .grid-item--width4 { width: 99%; }
    .grid-item--height2 { height: 610px; }

    .load-more {
        width: 99%;        
        background-color: #0070b9;
        text-align: center;
        vertical-align: middle;
        padding: 5px 0;
        .loading {
            @include image-replace("loading_screen.gif");
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            height: 20px;
            width: 20px;
            margin: 2px auto;
        }
        &.events {
            background-color: $events-color;
        }
        &.promotions {
            background-color: $promotions-color;
        }
        &.recognition {
            background-color: $recognition-color;
        }
        &.radio {
            background-color: $radio-color;
        }
        a {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            i {
                margin-left: 10px;
            }
        }
    }

    @include breakpoint(small) {
        .grid-item, .grid-item--width2,.grid-item--width3, 
        .grid-item--width4, grid-item--height2 { 
            width: 100%; 
            height: 300px;
        }
    }
}
/*
    Generic Styling for all Currents <article> elements
 */
.currents__box {
    padding-top: 40px;
    border: none;
    @include border-radius(none);
    img {
        max-width: 100%;
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;
        margin-bottom: 20px;
        iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .grid {
        margin: 20px 0;
        .col {
            padding-right: 50px;
            h2 {
                margin: 0 0 10px;
            }
            @include breakpoint(small) {
                padding-right: 0;
                img {
                    max-width: 100%;
                }
            }
        }
    }
    .currents__carousel {
        margin: 40px 0 0;
        img {
            width: 100%;
            vertical-align: bottom;
        }
        .carousel-indicators li { 
            visibility: hidden; 
        }
    }
    .carousel-thumbnails {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        .thumbnail {
            display: inline-block;
            width: 10%;
            img {
                vertical-align: top;
            }
        }
    }
    .social {
        margin: 20px 0;
        @include inline-block-list();
        li {
            margin: 0 15px;
        }
    }
    .post-nav {
        margin-top: 20px;
        a {
            font-size: 24px;
        }
        .col {
            text-align: center;
            &.col-first {
                text-align: left;
            }
            &.col-last {
                text-align: right;
            }
        }

    }
    .search-result {
        margin-bottom: 20px;
        .article-date {
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
            }
            h2 {
                font-size: 30px;
                margin: 5px 0;
            }
    }
    &.events {
        h2, h3, a {
            color: $events-color;
        }
    }
    &.promotions {
        h2, h3, a {
            color: $promotions-color;
        }
    }
    &.recognition {
        h2, h3, a {
            color: $recognition-color;
        }
    }
}

/*
    Currents footer
 */
.currents__footer {
    clear: both;
    color: #fff;
    border-top: 1px solid #f5f5f5;
    a {
        color: #fff;
    }
    .logos {
        @extend .clearfix;
        background: #333 image-url('marketing/redesign/footer-section-bottom-rule.png') center bottom repeat-x;
        padding: 45px 0;
        text-align: center;
        .logo {
            @include image-replace("bg/logo-footer.png", "bg2x/logo-footer.png");
        }
        ul {
            @include inline-block-list();
            li {
                margin: 0 20px;
            }
        }
    }
    .footer-links {
        background-color: #2f9bce;
        .links {
            padding: 35px 0;
            text-align: center;
            ul {
                @include inline-block-list();
                li {
                    margin: 0 15px;
                    a {
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .site-footer-legal {
        border-top: 1px solid #44a5d3;
        padding: 20px 0;
        font-size: 14px;
        text-align: center;
        a {
            font-weight: bold;
        }
    }
}

/*
    Currents Calendar
 */
 .popover-html{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9110;
    display: none;
    max-width: 890px;
    min-height: 375px;
    padding: 1px;
    text-align: left;
    background-color: $events-color;
    background-clip: padding-box;
    border: 1px solid #fff;
    white-space: normal;
    margin-top: -10px;
    .popover-content {
        padding: 10px;
        color: #fff;
        .event-info {
            img {
                max-width: 570px;
            }
        }
        .event-heading {
            font-size: 20px;
            font-weight: 500;
            .event-title {
                display: inline-block;
            }
            .event-date {
                display: inline-block;
                float: right;
            }
            .event-location {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
        .event-summary {
            margin: 5px 0;
            font-size: 14px;
        }
        .map {
            padding-left: 30px;
        }
        .event-links {
            margin-top: 15px;
            a {
                color: $events-color;
                font-size: 18px;
                font-weight: 500;
                display: inline-block;
                padding: 8px 20px;
                max-width: 100%;
                background-color: #fff;
                @include border-radius(10px);
                &.info {
                    float: right;
                }
                &.view-map {
                    float: right;
                    margin-left: 10px;
                }
            }
            a:before {
              content: '';
            }
        }

    }
    >.arrow, >.arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
    >.arrow {
        border-width: 11px;
        left: 50%;
        margin-left: -11px;
        border-bottom-width: 0;
        border-top-color: $events-color;
        bottom: -11px;
        &:after{
            content: " ";
            bottom: 1px;
            margin-left: -10px;
            border-bottom-width: 0;
            border-top-color: #fff
        }
    }
    &.top-offset-left .arrow {
        left: 90%;
    }
    &.top-offset-right .arrow {
        left: 5%;
    }
    @media screen and (max-width: 1024px) , screen and (max-height: 450px) {
        width: 100%;
        height: auto;
        left: 0 !important;
        .popover-content {
            img {
                max-width: 100%;
            }
            .event-heading .event-date {
                float: none;
            }
            .map {
                padding: 0;
            }
            .event-links {
                margin: 5px 0;
                a {
                    width: 100%;
                    margin: 5px 0;
                    &.info {
                        float: none;
                    }
                }
            }
        }
        &.top-offset-right .arrow {
            left: 50%;
        }
    }
}

.currents__calendar {
    margin-top: -395px;
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 48px;
        color: #fff;
        margin-bottom: 10px;
    }
    .calendar-links {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        a {
            color: #fff;
            margin: 0 8px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .calendar-filters {
        margin: 10px 0;
        select {
            width: 25%;
            float: left;
        }
        .type-filter {
            margin-right: 10px;
        }
        .search {
            position: relative;
            float: right;
            width: 25%;
            input {
                @include calc(width, '100% - 35px');
                padding: 0 25px 0 10px;
                border-color: #66afe9;
                background-image: none;
                &::-webkit-input-placeholder {
                    color: #00a3e0;
                    text-transform: uppercase;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #00a3e0;
                    text-transform: uppercase;  
                }
                &::-moz-placeholder {  /* Firefox 19+ */
                    color: #00a3e0;
                    text-transform: uppercase;
                }
                &:-ms-input-placeholder {  
                    color: #00a3e0;
                    text-transform: uppercase;
                }
            }
            button {
                position: absolute;
                top: 8px; 
                right: 8px;
                border: 0;
                padding: 0;
                cursor: pointer;
                height: 18px;
                width: 16px;
                @include retina-background('blue-search.png', 'icon'); 
                background-color: transparent;
                background-position: 95% center;
                background-repeat: no-repeat;
                &:active, &:hover {
                    outline: 0;
                }
                &::-moz-focus-inner {
                    border: 0;
                    padding: 0;
                }
            }   
        }
    }
    .calendar-header {
        position: relative;
        background-color: $events-color;
        padding: 20px 0;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
        color: #fff;
        .calendar-nav {
            position: absolute;
            bottom: 25px;
            cursor: pointer;
            font-size: 24px;
            font-weight: 400;
            &.prev-month {
                left: 0;
                i {
                    margin: -8px 20px 0 0;
                }
            }
            &.next-month {
                right: 0;
                i {
                    margin: -8px 0 0 20px;
                }
            }
        }
    }
    .calendar-results {
        background: #fff;
        padding: 20px;
        width: 100%;
        position: relative;
        .calendar-result {
            border-bottom: 1px solid #f0f0f0;
            padding: 20px;
            &:after {
                content: '';
                display: block;
                clear: both;
            }

            h3 {
                border-bottom: 1px solid #00A3E0;
            }
            .event-img {
                width: 100%;
                margin: 0 0 20px 0;
                img {
                    width: 100%;

                }

            }
            .event-content{
                display: block;
                clear: both;

                .event-left {
                    float: left;
                    width: 60%;
                    padding-right: 10px;
                    @include breakpoint(small-medium) {
                        float: none;
                        width: 100%;
                    }
                    &:after {
                        content: '';
                        left: 0;
                        display: block;
                    }
                    .event-row {
                        margin: 5px 0 10px 0;

                        span {
                            font-weight: bold;
                        }

                    }
                }
                .event-right {
                    float: right;
                    width: 40%;
                    text-align: right;
                    @include breakpoint(small-medium) {
                        text-align: left;
                        float: none;
                        width: 100%;
                    }
                    &:after {
                        content: '';
                        display: block;
                    }
                }
                &:after {
                    content: '';
                    overflow: hidden;
                    display: block;
                    margin: 0 0 0 20px;
                }
            }
        }
    }
    .fc-calendar-container {
        position: relative;
        height: 800px;
        width: 100%;
        background: #eee;
    }
    .fc-calendar {
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .fc-head {
            height: 125px;
            background: #fff;
            > div {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 36px;
                color: #808080;
                padding-top: 50px;
                float: left;
                height: 100%;
                width:  14.28%;
                @include calc(width, '100%/7.01');
                position: relative;
                text-align: center;
                &:last-child {
                    border-right: none;
                }
            }
        }
        .fc-body {
            position: relative;
            width: 100%;
            height: 100%;
            @include calc(height, '100% - 125px');
            border: 1px solid #eee;
        }
        .fc-row {
            width: 100%;
            border-bottom: 1px solid #eee;
            > div {
                border-right: 1px solid #eee;
                position: relative;
                background: #fff;
                float: left;
                height: 100%;
                width:  14.28%;
                padding: 10px;
                @include calc(width, '100%/7');
                > span.fc-date {
                    position: absolute;
                    width: 48px;
                    height: 36px;
                    font-size: 36px;
                    line-height: 36px;
                    font-weight: 500;
                    color: #aaa;
                    top: 55%;
                    left: 50%;
                    text-align: center;
                    margin: -24px 0 0 -24px;
                }
                time {
                    display: none;
                }
                > span.fc-weekday {
                    display: none;
                }
                div.fc-out {
                    opacity: 0.6;
                }
                &.fc-today {
                    background: $events-color;
                    span.fc-date {
                        color: #fff;
                    }
                    > div {
                        a, span {
                            color: #fff !important;
                        }
                        .popover a {
                            color: $events-color !important;
                        }
                    }
                }
                &:last-child {
                    border-right: none;
                }
                // event links
                > div {
                    a, span {
                        color: #003c5a;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1;
                        display: inline-block;
                        padding-left: 20px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;
                        position: relative;
                        &.corporate-events {
                            color: $corporate-events-color;
                        }
                        &.conference-calls {
                            color: $conference-calls-color;
                        }
                        &.webinars {
                            color: $webinars-color;
                        }
                        &.local-meeting---please-visit-power-center {
                            color: $local-meeting-color;
                        }
                    }
                    a:before, span:before {
                      content: '\00B7';
                      width: 20px;
                      font-size: 70px;
                      line-height: 3px;
                      position: absolute;
                      left: 0;
                      top: 0;
                    }
                    .fc-calendar-event:nth-child(3) {
                        margin-top: 34px;
                    }
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
        
    }
    .fc-four-rows .fc-row  {
        height: 25%;
    }
    .fc-five-rows .fc-row  {
        height: 20%;
    }
    .fc-six-rows .fc-row {
        height: 16.66%;
        @include calc(height, '100%/6');
    }
    /* IE 9 is rounding up the calc it seems */
    .ie9 .fc-calendar .fc-row > div,
    .ie9 .fc-calendar .fc-head > div {
        width:  14.2%;
    }

    @media screen and (max-width: 1024px) , screen and (max-height: 450px) {
        .calendar-header,
        .calendar-header nav,
        .calendar-calendar-full,
        .fc-calendar-container, 
        .fc-calendar,
        .fc-calendar .fc-head,
        .fc-calendar .fc-row > div > span.fc-date {
            position: relative;
            top: auto;
            left: auto;
            bottom: auto;
            right: auto;
            height: auto;
            width: auto;
        }
        .calendar-links {
            margin: 0 10px;
        }
        .calendar-filters {
            select {
                margin: 5px;
                width: 98%;
            }
            .search {
                margin: 5px;
                width: 98%;
                float: left;
            }
        }
        .calendar-header .calendar-nav {
            .month-name {
                display: none;
            }
            &.prev-month {
                left: 10px;
            }
            &.next-month {
                right: 10px;
            }
        }
        .fc-calendar .fc-row,
        .ie9 .fc-calendar .fc-row > div,
        .fc-calendar .fc-row > div {
            height: auto;
            width: 100%;
            border: none;
        }
        .fc-calendar {
            margin: 0 20px 20px;
            .fc-row > div {
                float: none;
                min-height: 50px;
                border-bottom: 1px solid #eee;
                &:empty{
                    min-height: 0;
                    height: 0;
                    padding: 0;
                }
                > div {
                    margin-top: 0px;
                    padding-left: 10px;
                    max-width: 80%;
                    display: inline-block;
                    .fc-calendar-event:nth-child(4) {
                        margin-top: 0;
                    }
                }
                &.fc-today:after { 
                    display: none;
                }
                > span.fc-date {
                    width: 50px;
                    display: inline-block;
                    text-align: right;
                    font-size: 18px;
                    font-weight: 400;
                    vertical-align: top;
                    padding-top: 10px;
                }
            }
            .fc-head {
                display: none;
            }
        }
    }
}

/*
    Currents Radio
*/

.currents__blocks.radio {
   
    .currents-grid {
        margin-top: 10px;
    }
    
    .radio-header {
     
        h3 {
            font-weight: bold;
        }

        h4 {
            margin-bottom: 0px;
            font-weight: 600;
            color: #06a7e2;
        }   

        p {
            font-size: 18px;
        }

        a {
            text-decoration:underline;
            font-weight: bold;
        }   
    }

    .input-group {
        margin: 0px auto;
    }

    .month-select {
        width: 100%;
        text-align: center;

        .dropdown-menu {

            width: 400px;
            border-radius: 0px;         

            li a {
                color: #333333;
                background-color: #ffffff;
                text-align: left;
            }

            li a:hover {
                text-decoration: underline;
            }
        }

        button {
            width: 400px;
            max-width: 100%;
        }

    }

    .grid-item,
    .grid-sizer { width: 24%; }
    .gutter-sizer { width: 1%; }
    .grid-item {
        float: left;
        position: relative;
        height: 250px;
        margin-bottom: 0;
        color: #000;
        background-color: #ffffff;
        padding: 20px 5px 0 5px;
        border-top: 2px solid #d2d3d3;
        border-bottom: none;

        .article-date {
            @include retina-background('calendar-small-dark.png', 'icon');
            background-position: top left;
            background-repeat: no-repeat;
            padding-left: 20px;
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
            color: #333333;
        }
        h2 {
            font-size: 20px;
            font-weight: 600;
            margin: 5px 0;
            line-height: 1;
            color: #333333;
        }
        .article-summary {
            height: 50px;
        }

        &.small {
            height: 250px;
        }

        &.medium-large {
            height: 250px;
        }
        
        @include breakpoint(medium-large) {
            &.small {
                display: none;
            }
        }
        @include breakpoint(small) {
            &.medium-large {
                display: none;
            }
        }
    }
    .grid-item--width2 { width: 25%; }
    .grid-item--width3 { width: 50%; }
    .grid-item--width4 { width: 100%; }

    .load-more {
        width: 100%;   
        text-align: center;
        vertical-align: middle;
        padding: 5px 0;
        .loading {
            @include image-replace("loading_screen.gif");
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            height: 20px;
            width: 20px;
            margin: 2px auto;
        }
        &.radio {
            background-color: $radio-color;
            margin-top: 40px;
        }
        a {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            i {
                margin-left: 10px;
            }
        }
    }

    @include breakpoint(small) {
        .grid-item, .grid-item--width2,.grid-item--width3, 
        .grid-item--width4, grid-item--height2 { 
            width: 100%; 
            height: 300px;
        }
    }
}

/*
    Currents leaderboard
 */
 .leaderboard {
 
    .pastWinners {
        height: 96px;
        width: 350px;
        background-color: #eeeeee;
        padding: 10px;
        font-size: 48px;
        position: absolute;
        right: 240px;
        top: 40px;
        z-index: 1000;

        @include breakpoint(small){
            position: relative;
            right: initial;
            top: initial;
        }

        h1 {
            color: #5e5e5e;
            display: inline-block;
            width: 82%;
            padding-left: 20px;
        }
        
        .month-chooser {
            margin: 10px 0 0 -10px;
        }

        .month {
            background-color: #989898;
            background: image-url('icon/calendar-white.png') 30px center no-repeat, linear-gradient(#989898, #cacaca);;
            
            padding: 10px 10px 10px 30px;
            width: 350px;

            h1 {
                color: #ffffff !important;
                display: inline-block;
                width: 82%;
                font-size: 20px;
                font-weight: bold;
            }
            
            a {
                color: #ffffff;
                font-size: 24px;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
                padding-left: 50px;
                vertical-align: middle;
                display: inline-block;
            }
        }

    }

    .leaderboard-header {
        padding-bottom: 60px;       
        
        h1 {
            font-size: 48px;
            margin-top: 0px;
            margin-bottom: 20px;
            color: #06a7e2;
        }

        h4 {
            margin-bottom: 0px;
            font-weight: 600;
            color: #06a7e2;
        }

        p {
            font-size: 18px;
        }
    }
}
    .director {
        background-color: #eeeeee;
        padding: 25px;
        position: relative;

        h2 {
            font-size: 48px;
            line-height: 0.9;
            margin: 0;
            display:inline-block;
            width: 85%;         
        }

        h3 {
            font-size: 24px;
            margin: 0;
        }

        p {
            font-size: 18px;
        }
    }

    .regional {
        
        h2 {
            color: #005cb8; 
        }
    }

    .managing {
            
        h2 {
            color: #007852; 
        }
    }

    .senior {
        
        h2 {
            color: #5c2b85; 
        }
    }

    .executive {
        
        h2 {
            color: #5e5e5e; 
        }
    }

    .opener {
        height: 23px;
        width: 23px;
        color: #ffffff;
        text-align:center;
        font-size: 18px;
        vertical-align: text-bottom;
        font-weight: bold;
        display:inline-block;
        cursor: pointer;

        &.regional {
            background-color: #005cb8;
        }

        &.managing {
            background-color: #007852;
        }
            
        &.senior {
            background-color: #5c2b85;
        }

        &.executive {
            background-color: #5e5e5e;
        }
    }

    .winners {
        background-color: #5e5e5e;
        vertical-align: middle;
    }

    .director-list {

        span {
            display: block;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.14em;
            text-transform: uppercase;
        }

        ul {
            padding: 0;
            margin-top: 5px;
        }

        li {
            padding: 10px 0;
            font-size: 24px;

            @include breakpoint(small) {
                padding: 10px;
            }
        } 

        ul li div {
            display: inline-block;
            width: 80%
        }

        ul li div.index {
            font-weight: bold;
            vertical-align: top;
            text-align: center;
            width: 15%;
            padding-top: 10px;
            @include breakpoint(small){
                width: 20%;
            }
        }   
    }

    .regional {

        .director-list ul li {
            background-color: #005cb8;
            background-image: linear-gradient(#005cb8, #0089db);
            list-style-type: none;
            color: #ffffff;
        }

        .director-list ul li.top25 span {
            color: #005cb8;
        }

        .ribbon {               
            background-color: #005cb8;    
        }
    }

    .managing {

        .director-list ul li {
            background-color: #007852;
            background-image: linear-gradient(#007852, #00b376);
            list-style-type: none;
            color: #ffffff;
        }

        .director-list ul li.top25 span {
            color: #007852;
        }

        .ribbon {
            background-color: #007852;
        }
    }

    .senior {

        .director-list ul li {
            background-color: #5c2b85;
            background-image: linear-gradient(#5c2b85, #8940c0);
            list-style-type: none;
            color: #ffffff;
        }

        .director-list ul li.top25 span {
            color: #5c2b85;
        }

        .ribbon {
            background-color: #5c2b85;
        }
    }

    .executive {

        .director-list ul li {
            background-color: #5e5e5e;
            background-image: linear-gradient(#5e5e5e, #8c8c8c);
            list-style-type: none;
            color: #ffffff;
        }

        .director-list ul li.top25 span {
            color: #5e5e5e;
        }

        .ribbon {
            background-color: #5e5e5e;
        }
    }    
            
    .regional, .managing, .senior, .executive {

        .director-list {

            ul li.top25 {
                background-color: #ededed;
                background-image: none;
                color: #616161;
            }

            ul li.top25 div.index {
                font-weight: normal;
            }

            ul li.top25 span {

                &.regional {
                    color: #005cb8;
                }
            
            }

            ul li.top25:nth-child(even) {
                background-color: #e4e4e4;
            } 
        }
        

        .director-list ul li {
            @include breakpoint(small){
                padding: 10px 30px 10px 0;
            }
        }
    }

    .ribbon-wrapper {
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
    }

    .ribbon {
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        position: relative;
        padding: 7px 0;
        left: -5px;
        top: 12px;
        width: 120px;   
        color: #ffffff;
}

 .local-meeting-fade {
    background-color: #000;
    @include opacity(.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9040;
 }

 .local-meeting-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9050;
    margin: auto;
    margin-top: 135px;
    width: 600px;
    @include breakpoint(small) {
        width: 100%;
    }
    .close {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .modal-header {
        color: #257ab3;
        font-size: 24px;
        font-weight: 300;
    }
    &.hidden {
        & + .local-meeting-fade {
            display:none;
        }
    }
}