/*
    Generic styling for Currents blog
 */
$events-color: #00a3e0;
$promotions-color: #97c93d;
$recognition-color: #f99d25;

.currents {
    
}

/*
    Currents header
 */
.currents__header {
    background: image-url('bg/currents-header-bg.png') top center no-repeat;
    position: relative;
    height: 300px;
    z-index: 9000;
    .layout {
        background-color: transparent;
        padding-bottom: 0;
        @include box-shadow(none);
    }
    .logo {
        @include image-replace("bg/currents-logo-desktop.png", "bg2x/currents-logo-desktop.png");
        float: left;
        margin-top: 30px;
        margin-bottom: 28px;
    }
    .currents-nav {
        float: left !important;
        margin: 0 0 0 40px !important;
        ul { 
            display: table;
        }
        li {
            margin-right: 15px;
            height: 86px !important;
            display: table-cell !important;
            vertical-align: bottom !important;
            padding: 0 35px !important;
            background-repeat: no-repeat;
            background-position-y: 50px;
            a {
                color: #2a2a2a !important;
                background-color: #fff;
                font-size: 16px !important;
                font-weight: 500 !important;
                padding: 0 0 4px !important;
                .color-block {
                    height: 58px;
                    display: block;
                    @include transition(background-color 0.2s linear);
                }
                &:hover .color-block {
                    @include transition(background-color 0.2s linear);
                }
            }
            &.nav-events {
                @include retina-background('currents-events.png', 'icon');
                a {
                    .color-block {
                        border-bottom: 5px solid $events-color;
                    }
                    &:hover .color-block {
                        background-color: $events-color;
                    }
                }
            }
            &.nav-promotions {
                @include retina-background('currents-promotions.png', 'icon');
                a {
                    .color-block {
                        border-bottom: 5px solid $promotions-color;
                    }
                    &:hover .color-block {
                        background-color: $promotions-color;
                    }
                }
            }
            &.nav-recognition {
                @include retina-background('currents-recognition.png', 'icon');
                a {
                    .color-block {
                        border-bottom: 5px solid $recognition-color;
                    }
                    &:hover .color-block {
                        background-color: $recognition-color;
                    }
                }
            }
        }
    }
    .right-nav {
        float: right;
        padding: 15px 10px;
        color: #00a3e0;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        a {
            color: inherit;
        }
        ul {
            @include inline-block-list();
            display: inline;
            li {
                border-left: 1px solid #00a3e0;
                padding: 0 1em;
            }
            li:first-child {
                border: none;
            }
            li:last-child {
                padding-right: 0;
            }
        }
        .search {
            margin-top: 10px;
            input {
                float: right;
                width: 265px;
                border-color: #66afe9;
                @include retina-background('blue-search.png', 'icon'); 
                background-position: 95% center;
                background-repeat: no-repeat;
                &::-webkit-input-placeholder {
                    color: #00a3e0;
                    text-transform: uppercase;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #00a3e0;
                    text-transform: uppercase;  
                }
                &::-moz-placeholder {  /* Firefox 19+ */
                    color: #00a3e0;
                    text-transform: uppercase;
                }
                &:-ms-input-placeholder {  
                    color: #00a3e0;
                    text-transform: uppercase;
                }
            }
        }
    }
}
.currents__carousel {
    margin-top: -180px;
}

.currents__tagline {
    width: 100%;
    color: #fff;
    background-color: #0070b9;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}


/*
    Generic Styling for all Currents <article> elements
 */
.currents__box {

}

/*
    Currents footer
 */
.currents__footer {
    clear: both;
    color: #fff;
    border-top: 1px solid #f5f5f5;
    a {
        color: #fff;
    }
    .logos {
        @extend .clearfix;
        background: #333 image-url('marketing/redesign/footer-section-bottom-rule.png') center bottom repeat-x;
        padding: 45px 0;
        text-align: center;
        .logo {
            @include image-replace("bg/logo-footer.png", "bg2x/logo-footer.png");
        }
        ul {
            @include inline-block-list();
            li {
                margin: 0 20px;
            }
        }
    }
    .footer-links {
        background-color: #2f9bce;
        .links {
            padding: 35px 0;
            text-align: center;
            ul {
                @include inline-block-list();
                li {
                    margin: 0 25px;
                    a {
                        font-size: 16px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .site-footer-legal {
        border-top: 1px solid #44a5d3;
        padding: 20px 0;
        font-size: 14px;
        text-align: center;
        a {
            font-weight: bold;
        }
    }
}