.enrollment {
	.site-header {
		background: #fff;
		height: 121px;
		> .wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background-color: #fff;
			@include retina-background("header-enrollment.png");
			background-repeat: repeat-x;
			z-index: 2;
			height: 121px;
			@include breakpoint(small) {
				background: #fff;
			}
		}
		.logo {
			@include image-replace("logo.png", false);
			position: absolute;
			left: 50%;
			top: 11px;
			margin-top: 0;
			margin-left: image-width("logo.png") / 2 * -1;
			@include breakpoint(small) {
				margin-left: (image-width("logo.png") / 2) / 2 * -1;
			}
		}
		.nav-toggle {
			margin-top: 22px;
		}
		@include breakpoint(small) {
			height: 57px;
			> .wrapper {
				height: 57px;
			}
		}
	}

	.banner {
		height: 335px;
		background-position: 50%;
		background-size: cover;
		border-bottom: 5px solid #dfdfdf;
		@include breakpoint(small) {
			height: 215px;
		}
	}

	section {
		.wrapper {
			@extend .clearfix;
			position: relative;
			overflow: visible;
			min-height: 700px;
			padding-bottom: 50px;
		}
		aside.left {
			position: absolute;
			left: -260px;
			top: 0;
			width: 260px;
			@include breakpoint(medium) {
				display: none;
			}
			@include breakpoint(small) {
				display: none;
			}
			nav {
				ul {
					margin-top: 0;
				}
				li {
					a {
						position: relative;
						&::before {
							color: #bfbfbf;
							content: ' \25CF';
							position: absolute;
							top: -2px;
							left: -25px;
							width: 10px;
							height: 10px;
							font-size: 16px;
						}
					}
					&:hover,
					&.active {
						a {
							color: #333;
							&::before {
								color: #053d5a;
								font-size: 32px;
								left: -30px;
								top: -13px;
							}
						}
					}
					&.completed {
						a {
							&::before {
								color: #36637b;
							}
						}
					}
				}
				a {
					color: #bfbfbf;
					font-size: 14px;
					@include transition-property(color);
  					@include transition-duration(0.25s);
  					@include transition-timing-function(ease-in);
				}
			}

			@media only screen and (max-width: 1055px) {
				display: none;
			}

			@media only screen and (min-width: 1056px) and (max-width: 1515px) {
				width: 25px;
				left: -40px;
				nav {
					ul {
						li {
							height: 22px;
							a {
								color: transparent;
								visibility: hidden;
								@include transition-duration(0);
								&::before {
									color: #bfbfbf;
									visibility: visible;
								}
							}
						}
					}
				}
			}


		}
		article {
			border: 0;
			margin: 0;
			@include border-radius(0);
			@include box-shadow(none);
			float: left;
			width: 650px;
			padding: 0;
			h1 {
				font-size: 31px;
				letter-spacing: -1px;
			}
			h2 {
				color: #333;
				font-weight: bold;
				font-size: 20px;
			}
			.item {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.box {
				@include border-radius(10px);
				@include box-shadow(0 1px 1px rgba(0,0,0,.15));
				@include transition(border linear .2s, box-shadow linear .2s);
				margin-bottom: 25px;
			}
			.icon-blue-arrow-up,
			.icon-blue-arrow-down {
				margin-top: -2px;
			}
			.social-box {
				@include border-radius(10px 10px 0 0);
				background: #f9f9f9;
				margin: -14px -14px 30px -14px;
				padding: 5px 10px 20px 10px;
				position: relative;
				.social-buttons {
					text-align: center;
				}
				.seperator {
					position: absolute;
					bottom: -21px;
					left: 50%;
					height: 42px;
					width: 42px;
					margin-left: -21px;
					background: #fff;
					color: #898989;
					font-weight: bold;
					text-align: center;
					@include border-radius(21px);
					padding-top: 10px;
				}
			}
			@include breakpoint(medium) {
				float: none;
				width: auto;
			}

			@include breakpoint(small) {
				float: none;
				width: auto;
			}
		}
		aside.right {
			float: right;
			width: 315px;
			hr {
				margin: 10px 0;
				border: 0;
				border-top: 3px solid #eee;
			}
			.box {
				background: #fafafa;
				color: #333;
				margin-bottom: 15px;
				@include border-radius(4px);
				h1 {
					font-size: 20px;
					text-transform: none;
					margin: 15px 10px;
				}
				p {
					font-size: 16px;
					margin: 0 8px 15px 8px;
				}
				ul.info {
					border-top: 1px solid #e2e2e3;
					padding: 0;
					margin: 0 8px 15px 5px;
					li {
						border-bottom: 1px solid #e2e2e3;
						list-style-type: none;
						padding: 10px 0;
						font-size: 13px;
						i {
							width: 25px;
						}
					}
				}
				.cart-item {
					@extend .clearfix;
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
				}
				.delete {
					cursor: pointer;
					float: right;
					width: 10px;
					margin-top: 5px;
				}
				.rate {
					float: left;
					width: 65px;
					font-size: 18px;
					line-height: 14px;
					font-weight: bold;
					margin-right: 10px;
					text-align: right;
					span {
						font-weight: normal;
						font-style: italic;
						font-size: 12px;
						line-height: 12px;
					}
				}
				.description {
					float: left;
					width: 160px;
					h2 {
						line-height: 16px;
						margin: 0;
						color: #333;
						font-size: 16px;
						font-weight: bold;
						text-transform: none;
					}
					a {
						font-size: 13px;
					}
				}
				address {
					font-style: normal;
					font-size: 12px;
					margin-top: 20px;
					h3 {
						font-size: 12px;
						color: #333;
						margin: 0;
					}
				}
				.box {
					background: #fdfdfd;
					margin-bottom: 8px;
					p {
						font-size: 13px;
						margin: 10px 0;
						&.alt {
							color: #9a9a9a;
							font-size: 15px;
						}
					}
					&.time {
						position: relative;
						padding-left: 55px;
						.icon-clock {
							position: absolute;
							top: 22px;
							left: 10px;
						}
					}
				}
			}
			@include breakpoint(medium) {
				display: none;
			}

			@include breakpoint(small) {
				display: none;
			}
		}
		.plans {
			position: relative;
			.table-overlay {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(0,0,0, 0.5);
				.content {
					position: absolute;
					top: 15px;
					left: 25px;
					bottom: 15px;
					right: 25px;
					background: #fff;
					padding: 10px 20px;
				}
			}
		}
		.cart-items {
			float: right;
			margin-right: 10px;
			position: relative;
			.item-num {
				position: absolute;
				font-size: 13px;
				font-weight: bold;
				top: -5px;
				right: 8px;
			}
		}	
	}
	.box {
		border: 1px solid #ebebeb;
		padding: 14px;
	}
	table {
		thead {
			th {
				background: #f7f7f7;
				color: #646464;
				text-transform: uppercase;
				font-weight: bold;
				text-align: center;
				padding: 25px 15px;
			}
		}
		tbody {
			td {
				text-align: center;
			}
		}
		.vertical {
			padding: 0;
			text-align: center;
			height: 100px;
			width: 20px;
			position: relative;
			.fixed, .variable {
				position: absolute;
				top: 40px; left: -40px;
				@include rotate(-90deg);
				text-transform: uppercase;
				color: #fff;
				height: 20px;
				width: 100px;
			}
			.fixed {
				background: #053d5a;
			}
			.variable {
				background: #79bb4b;
			}
		}
		.plan-name {
			font-size: 18px;
			font-weight: bold;
			text-align: left;
			a {
				display: block;
				font-weight: normal;
				margin-top: 15px;
				font-size: 12px;
			}
		}
		.rate {
			font-size: 22px;
			font-weight: bold;
			line-height: 18px;
			span {
				color: #828282;
				font-size: 13px;
				font-weight: normal;
				display: block;
			}
		}
		.term {
			font-size: 13px;
			color: #828282;
			i {
				display: block;
				margin: 0 auto;
			}
		}
		.fees {
			font-size: 19px;
			font-weight: bold;
			span {
				display: block;
				font-size: 10px;
				color: #828282;
				font-weight: normal;
			}
		}
		.details {
			th {
				border-right: 0;
			}
			td {
				border-left: 0;
				text-align: left;
				p {
					font-size: 15px;
				}
			}
		}
		.spacer {
			height: 20px;
		}
	}
	@each $theme in $themes {
		.accent-#{map-get($theme, name)} {
		 	h1 span {
				color: map-get($theme, primaryColor);
			}
		}
	}
	.site-footer {
		margin-top: 0;
	}
	@include breakpoint(small) {
		.button {
			margin: 0 auto;
			display: block;
		}
	}
}