/***
    Cleaning this up to keep from having to nest everything and repeat styles.
    Changing it to more of a SMACSS/BEM styling.
 ***/

$enrollment-primary-color: #257ab3;
$enrollment-secondary-color: #fff;

$enrollment-primary-button-background: #257ab3;
$enrollment-secondary-button-background: #6b6b6b;
$enrollment-tertiary-button-background: #fff;

$enrollment-primary-button-color: #fff;
$enrollment-secondary-button-color: #fff;
$enrollment-tertiary-button-color: #257ab3;

$enrollment-dark-border-color: #cecece;
$enrollment-light-border-color: #e6e6e6;

$enrollment-module-h1-size: 26px;
$enrollment-module-h1-color: #333;
$enrollment-module-horizontal-padding: 20px;
$enrollment-module-vertical-padding: 20px;


/*
    Generic styling for enrollment pages
 */
.enrollment {
    #state-select {
        button {
            border-color: #cfcfcf;
            text-transform: uppercase;
            @include box-shadow(none);
        }
        .icon {
            background-position: 10px center;
            background-repeat: no-repeat;
            padding-left: 40px;
        }
        .texas {
            @include retina-background('texas-icon.png');
            
        }
        .georgia {
            @include retina-background('georgia-icon.png');
        }
        .pennsylvania {
            @include retina-background('pennsylvania-icon.png');
        }
        .maryland {
            @include retina-background('maryland-icon.png');
        }
        .new-jersey {
            @include retina-background('newjersey-icon.png');
        }
        .new-york {
            @include retina-background('newyork-icon.png');
        }
        .washington-dc {
            @include retina-background('dc-icon.png');
        }
        .dropdown-menu {
            li {
            }
        }
    }

    .checkbox-list {
        li { 
            margin-bottom : 4px;
        }
        label {
            display: inline;
            &.enroll-options {
                font-weight: 300;
            }
        }
    }

    .center {
        text-align: center;
    }

    .icon-blue-arrow-up, .icon-blue-arrow-down {
        margin-top: -2px;
    }

    .buttons .button, .buttons button, .enrollment-btn {
        background-color: $enrollment-primary-button-background;
        color: $enrollment-primary-button-color;
        display: inline-block;
        float: right;
        &.secondary {
            background-color: $enrollment-secondary-button-background;
            color: $enrollment-secondary-button-color;
            margin-right: 10px;
            @include breakpoint(small-medium){
                margin-top: 10px;
                margin-right: 0;
                float: right;
                clear: both;
            }
        }
        &.tertiary {
            background-color: $enrollment-tertiary-button-background;
            color: $enrollment-tertiary-button-color;
            text-shadow: none;
            text-transform: none;
            float: left;
            @include breakpoint(medium-large) {
                margin-left: -17px;
            }
        }
    }

    .buttons button {
        @include breakpoint(small) {
            width: 100%;
        }
    }

    .datepicker-input {
        @include retina-background('calendar.png', 'icon'); 
        background-position: 98% center;
        background-repeat: no-repeat;
        width: 310px;
        //Remove the Clear field (X) in IE10+
        &::-ms-clear {
            display: none;
        }
    }
    
    .error {
        color: #c84545;
        input, select {
            border-color: #c84545;
        }
    }

    .warning {
        font-size: 13px;
    }
        
    .wrapper {
        position: relative;
        overflow: visible;
        padding-bottom: 50px;
    }

    .footnotes {
        clear: both;
        font-size: 14px;
    }

    .time-remaining-mobile {
        text-align: center;
        clear: both;
        padding-top: 20px;
        .time-remaining {
            text-transform: uppercase;
            font-size: 14px;
            width: 75%;
            margin: 0 auto;
        }
    }

    .item--no-input {
        label {
            margin-bottom: 3px;
        }
    }

    .terms-agreement {
        margin-bottom: 20px;
        div.terms {
            margin-top: 10px;
            height: 65px;
            overflow-y: scroll;
            padding: 5px;
            border: 1px solid #e9e9e9;
            background: #f8f8f8;
            :first-child {
                margin-top: 0;
            }
        }
    }

    .verify-order-table {
        .sub-charge { 
            padding-left: 30px;
        }
        .rate {
            text-align: right;
        }
        h4 { 
            margin: 0 0 10px;
        }
        th, td {
            border: none;
            padding: 0;
            vertical-align: top;
        }
        tr:last-child {
            td {
                padding-bottom: 0;
            }
        }

        @include breakpoint(small) {
            h4 {
                margin-bottom: 0;
            }
            td {
                display: block;
            }
            .docs {
                text-align: left;
            }
            .sub-charge {
                padding-left: 0;
                margin-bottom: 6px;
            }
            .description {
                margin-bottom: 6px;
            }
            .rate {
                margin-bottom: 15px;
                text-align: left;
            }
        }
    }

    .total {
        text-align: right;
    }

    hr.content-divider {
        margin: 25px (-$enrollment-module-horizontal-padding);
    }

    form div.additional-field-group {
        margin-left: (-$enrollment-module-horizontal-padding);
        margin-right: (-$enrollment-module-horizontal-padding);
        padding-left: $enrollment-module-horizontal-padding;
        padding-right: $enrollment-module-horizontal-padding;
    }

    @include breakpoint(small) {
        #state-select {
            margin-top: 5px;
        }
        .buttons {
            text-align: center;
            button {
                min-width: 150px;
            }
            button + button {
                margin-top: 8px;
            }
        }
        .datepicker-input {
            width: 100%;
        }
        .datepicker {
            position: relative;
            .pull-right, .pull-left {
                width: 35px;
            }
            table {
                width: 100%;
                td {
                    padding: 2px 3px;
                    @include breakpoint(small) {
                        padding: 2px 0;
                    }
                    button {
                        @include breakpoint(small) {
                            padding: 5px;
                        }
                    }
                }
            }
        }
        .dropdown-menu {
            font-size: 13px;
        }
        .time-remaining-mobile {
            margin-top: 10px;
            .time-remaining {
                width: 160px;
                font-size: 11px;
            }
        }
        h1 {
            font-size: 30px;
            line-height: 1.1;
        }
        .plan-selection-table {
            tr.details-row {
                td div {
                    padding: 0 15px;
                }
            }
            .plan-name {
                text-align: left;
            }
            .plan-actions {
                border-left: none;
                button, .button {
                    float: right;
                    min-width: 120px;
                     &.secondary {
                        @include breakpoint(small) {
                            margin-top: -31px;
                        }
                     }
                }
            }
            .view-details {
                display: inline;
                float: left;
                margin-top: 12px;
            }
        }

    }
}

.enrollment__loadingMessage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../i/white-alpha-90.png) repeat;
    background: rgba(255, 255, 255, 0.9);
    z-index: 11000;
    span {
        $height: 140px;
        $width: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: $width;
        height: $height;
        padding-top: 15px;
        margin: $height/2*-1 0 0 $width/2*-1;
        color: $enrollment-primary-color;
        font-size: 24px;
        @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
        @include border-radius(10px);
        border: 1px solid $enrollment-dark-border-color;
        background-color: #fefefe;
        text-align: center;
        img {
            margin: 10px 0;
            vertical-align: middle;
        }
    }
}

/*
    Enrollment Banner Styling
 */
.enrollment__banner {
    background-color: $enrollment-light-border-color;
    margin-bottom: 40px;
    .wrapper {
        padding-top: 70px;
    }
    h1 {
        line-height: 0;
        font-size: 60px;
        span {
            line-height: 1.1;
        }
        .small {
            font-size: 24px;
        }
    }
    @include breakpoint(small) {
        .wrapper {
            padding-top: 60px;
        }
        h1 {
            font-size: 30px;
            max-width: 50%;
            .small {
                font-size: 16px;
            }
        }
    }
    @include breakpoint(medium) {      
        .wrapper {
            height: 200px;
            padding-top: 70px;
        }
        h1 {
            font-size: 50px;
        }   
    }
    //Lets do a breakpoint specifically for mobile under 480
    @include breakpoint-min-max(320px, 480px) {
        .wrapper {
            height: 150px;
            padding-top: 40px;
        }
    }
}

.enrollment__banner--service-info {
    .wrapper {
        padding-top: 180px;
        height: 335px;
    }
    h1 {
        width: auto;
    }
    @include breakpoint(small) {
        .wrapper {
            padding-top: 80px;
            height: 180px;
            padding-left: 0;
            padding-right: 0;
        }
        h1 {
            max-width: 100%;
        }
    }
    @include breakpoint(medium) {
        .wrapper {
            padding-top: 120px;
            height: 250px;
        }
        h1 {
            max-width: 100%;
        }
    }
}

/*
    Generic Styling for all enrollment <article> elements
 */
.enrollment__box {
    overflow: visible;
    border-color: $enrollment-dark-border-color;
    background-color: #fefefe;
    header {
        background-color: #fefefe;
        background-image: none;
        border-bottom: 1px solid $enrollment-light-border-color;
    }
    h1 {
        font-size: $enrollment-module-h1-size;
        color: $enrollment-module-h1-color;
        text-transform: none;
        margin-top: 15px;
    }
    header, .content, footer {
        padding-left: $enrollment-module-horizontal-padding;
        padding-right: $enrollment-module-horizontal-padding;
    }
    &.form label, form label {
        text-transform: none;
        font-weight: 600;
        font-size: inherit;
        margin-bottom: 8px;
    }
    hr {
        border: none;
        border-top: 3px solid #eaeaea;
        margin: 25px 0;
    }
    .content {
        .stretch-full {
            margin: -25px ($enrollment-module-horizontal-padding * -1);
        }
    }
    .customer-type {
        label {
            display: inline-block;
            margin-right: 5px;
        }
        select {
            width: auto;
        }
    }
    .service-address {
        label {
            display: block;
        }
        .input-group {
            width: 100%;
        }
        .input-group-btn {
            vertical-align: bottom;
        }
    }
    &.plain-text {
        .content {
            padding-bottom: 13px;
        }
    }
}

/* Commenting out the social login
.enrollment__box--account-creation {
    .content {
        padding-top: 0;
    }
    .social-box { 
        background: #f4f4f4;
        margin: 0 (-$enrollment-module-horizontal-padding) 30px (-$enrollment-module-horizontal-padding);
        padding: $enrollment-module-horizontal-padding;
        position: relative;
        .social-buttons {
            text-align: center;
            .button {
                margin-bottom: 10px;
            }
        }
        .seperator {
            position: absolute;
            bottom: -21px;
            left: 50%;
            height: 42px;
            width: 42px;
            margin-left: -21px;
            background: #fff;
            color: #898989;
            font-weight: bold;
            text-align: center;
            @include border-radius(21px);
            padding-top: 10px;
        }
    }    
}*/

/*
    Bulleted enrollment navigation
 */
.enrollment__nav {
    position: absolute;
    left: -260px;
    top: 0;
    width: 260px;
    nav {
        ul {
            margin-top: 0;
        }
        li {
            a {
                position: relative;
                cursor: default;
                color: #bfbfbf;
                font-size: 14px;
                @include transition(color ease-in 0.2s);
                &::before {
                    color: #bfbfbf;
                    content: ' \25CF';
                    position: absolute;
                    top: -2px;
                    left: -25px;
                    width: 10px;
                    height: 10px;
                    font-size: 16px;
                }
            }
            &.completed:hover,
            &.active {
                a {
                    color: #333;
                    &::before {
                        color: #053d5a;
                        font-size: 32px;
                        left: -30px;
                        top: -13px;
                    }
                }
            }
            &.completed {
                a {
                    cursor: pointer;
                    &::before {
                        color: #36637b;
                    }
                }
            }
        }
        @include breakpoint(small-medium) {
            display: none;
        }
    }

    @include breakpoint-max(1055px) {
        display: none;
    }

    @include breakpoint-min-max(1055px, 1515px) {
        width: 25px;
        left: -40px;
        nav li {        
            height: 22px;
            a {
                color: transparent;
                visibility: hidden;
                @include transition-duration(0);
                &::before {
                    color: #bfbfbf;
                    visibility: visible;
                }
            }
        }
    }
}

/*
    Utility services plan section
 */
.enrollment__utility-plans {
    position: relative;
    border: none;
    padding: 0;
    margin-bottom: 0;
    @include border-radius(0);
    @include box-shadow(none);    
    .modal {
        margin-left: auto;
        width: auto;
        left: 6%;
        right: 6%;
    }
    .plan-selection-table {
        border: none;
        thead {
            th {
                background: #f6f6f6;
                color: #646464;
                text-transform: uppercase;
                font-weight: 600;
                text-align: center;
                padding: 10px 15px;
                border: none;
                min-width: 85px;
                &.sortable:hover {
                    cursor: pointer; 
                }
                &.plan-header {
                    text-align: left;
                    padding-left: 32px;
                }
            }
        }
        td, th {
            text-align: center;
            border-bottom: none;
            > span, > a {
                color: #828282;
                font-size: 13px;
                font-weight: normal;
                display: block;
                text-transform: uppercase;
                font-style: normal;
            }
        }
        tr {
            background: transparent;
            &.details-row {
                td {
                    border: none;
                    padding: 0px;
                    text-align: left;
                    text-align: left;
                    div {
                        padding: 5px 12px 5px 30px;
                        border-top: 1px solid #eaeaea;
                    }
                    p {
                        font-size: 15px;
                    }   
                }
            }
            &.isOpen {
                td, th {
                    border-bottom: 1px solid #eaeaea;
                }
            }
            &:last-child {
                td, th {
                    border-bottom: none;
                }
            }
        }        
        button {
            white-space: nowrap;
            margin-right: 0 !important;
        }
        .vertical {
            padding: 0;
            height: 120px;
            min-width: 20px;
            position: relative;
            border-left: none;
            border-right: none;
            .fixed, .variable {
                position: absolute;
                top: 40px;
                left: -40px;
                text-transform: uppercase;
                color: #fff;
                height: 20px;
                width: 100px;
                margin: 10px 0;
                @include rotate(-90deg);
            }
            .fixed {
                background: #053d5a;
            }
            .variable {
                background: #79bb4b;
            }
        }
        .plan-name {
            position: relative;
            font-size: 18px;
            text-align: left;
            border-left: none;
            @include breakpoint(small) {
                padding-right: 45px;
            }
        }
        .view-details {
            display: block;
            font-weight: normal;
            margin-top: 15px;
            font-size: 12px;}
        .rate {
            font-size: 18px;
            font-style: italic;
            font-weight: 600;
            span {
                font-size: 12px;
                text-transform: none;
                font-weight: normal;
            }
        }
        .term {
            font-size: 18px;
            font-style: italic;
            font-weight: 600;
            span {
                font-size: 12px;
                text-transform: none;
                font-weight: normal;
            }
        }
        .fees {
            width: 140px;
            font-size: 18px;
            font-style: italic;
            font-weight: 600;
            span {
                font-size: 12px;
                text-transform: none;
                font-weight: normal;
            }
        }
        .select-plan {
            width: 126px;
            position: relative;
            border-right: none;
        }
        .selected-icon {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 45px 45px 0;
            border-color: transparent $enrollment-primary-color transparent transparent;
            i {
                position: absolute;
                right: -38px;
                top: 8px;
            }
            font-weight: bold;
            margin-left: 20px;
        }
        .details {
            td {
                border: none;
                padding: 0px;
            }
            div {
                padding: 5px 12px;
                border: 0;
                text-align: left;
                padding-left: 0;
                p {
                    font-size: 15px;
                }
                &:first-child {
                    border-bottom: 1px solid #eaeaea;
                }
            }
        }
        &.open {
            td.plan-name {
                border-bottom: 1px solid #fff;
            }
            tr.details {
                display: table-row;
                td {
                    border-top: 0;
                    &:first-child {
                        border-top: 1px solid #fff;
                    }
                }
            }
        }
        .spacer {
            height: 20px;
        }
    }
    .plan-selection-list {
        float: left;
        width: 35%;
        padding: 0;
        list-style-type: none;
        li {
            margin-right: 10px;
            padding-right: 10px;
            white-space: nowrap;
        }
        li:last-child {
            border-right: none;
            margin: 0;
            padding: 0;
        }
    }
    .plan-selection-fees {
        width: 64%;
        float: right;
        @include breakpoint(small-medium) {
            width: 100%;
            float: none;
            dt, dd {
                width: auto;
            }
        }
        @include breakpoint(small) {
            & {
                clear: both;
            }
            dt, dd {
                float: none;
            }
        }
        dt {
            font-weight: 600;
            width: 40%;
        }
        dd {
            width: 60%;
            text-align: left;
        }
    }
    @include breakpoint(small-medium) {
        .plan-selection-table {
            th, td {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }
    @include breakpoint(small) {
        .plan-selection-table {
            .plan-name, .fees, .plan-actions {
                border-right: none;
            }
        }
    }
}

.lt-ie9 .enrollment__utility-plans {
    .plan-selection-table .vertical {
        .fixed, .variable {
            top: 0;
            left: 0;
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
    }
}

.enrollment__account-information {
    .inline-label {
        label {
            display: inline-block;
            min-width: 25%;
        }
    }
    .icon-calendar {
        display: none;
    }
    .location {
        margin-bottom: 10px !important;
    }
    .availibility {
        margin-top: 8px;
    }
    .previous-address {
        margin-bottom: 20px;
    }
    form div.secondary-contact-group {
        margin-bottom: 15px;
    }
    .zip-code {
        @include breakpoint(small-medium) {
            clear: left;
            margin-top: 20px;
        }
    }
}

.cleanse-address {
    .address-group {
        margin: 10px 0;
        label {
            display: block;
            font-weight: 600;
        }
        .radio-item {
            @include breakpoint(medium-large) {
                display: inline-block;
                width: 33%;
            }
            label {
                display: inline-block;
                font-weight: 300;
            }
        }
        @include breakpoint(medium-large) {
            .address {
                display: inline-block;
            }
        }
        @include breakpoint(small) {
            .address {
                margin-bottom: 10px;
            }
        }
    }
}

/*
    Verify Identity page
 */
.enrollment__verify-identity {
    .enrollment__box.form {
        label.security-answer {
            font-weight: 300;
        }
    }
}

/*
    Review order page
    TODO: Make this <hr> style into a class
 */
.enrollment__review-order {
    hr {
        border: none;
        border-top: 1px solid #ddd;
    }
    .security-code {
        @include breakpoint(medium) {
            clear: left;
            margin-top: 20px;
        }
    }
    .example {
        @include breakpoint(small) {
            margin-top: -15px;
        }
        .single-link {
            @include breakpoint(medium) {
                margin-top: 52px;
            }
        }
    }
    .seperator {
        overflow: hidden;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
        &:before,
        &:after {
            background-color: #000;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }
        &:before {
            right: 0.5em;
            margin-left: -50%;
            background-color: #ccc;
        }
        &:after {
            left: 0.5em;
            margin-right: -50%;
            background-color: #ccc;
        }
    }
    .explanation {
        font-size: 13px;
    }
    .terms-agreement {
        .item {
            padding-right: 0;
            .terms {
                margin-bottom: 10px;
            }
        }
    }
}

/*
    Order confirmation page
 */
.enrollment__order-confirmation {
    margin-top: 20px;
    .print {
        float: right;
        font-size: 14px;
        margin-top: 15px;
        i {
            margin-top: -3px;
        }
    }
    .next-steps {
        .step {
            display: inline-block;
            width: 32%;
            vertical-align: top;
			@include breakpoint(small) {
				display: block;
				width: 100%;
				margin-top: 10px;
			}
            .step-number {
                display: table-cell;
                font-size: 40px;
                line-height: 1.1;
				&.number-one {
					padding-right: 11px;
				}
            }
            .step-description {
                display: table-cell;
                vertical-align: top;
                padding-left: 10px;
				@include breakpoint(small) {
					vertical-align: middle;
				}
            }
        }
    }
    .promo-box {
        min-height: 120px;
    }
    dl {
        margin-bottom: 20px;
        dt {
            font-weight: 600;
        }
        dd {
            text-align: left;
            margin-bottom: 10px; 
        }
    }   
    .plan-documents {
        .docs {
            text-align: right;
            @include breakpoint(medium) {
                width: 40%;
            }
            @include breakpoint(small) {
                text-align: left;
                margin-bottom: 10px;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }
    }
    @include breakpoint(small) {
        dl {
            dt, dd {
                float: none;
                width: 100%;
            }
        }
    }    
}

/*
    Enrollment shopping cart
 */
.enrollment__cart {
    margin-bottom: 15px;
    line-height: 1.35;
    header {
        margin-bottom: 15px;
    }
    header, .content, footer {
        padding: 0 13px;
    }
    hr {
        margin: 15px 0;
        //border-top-width: 1px;
    }
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .cart-items {
        float: right;
        margin-right: 10px;
        position: relative;
        .item-num {
            position: absolute;
            font-size: 13px;
            font-weight: 600;
            top: -5px;
            right: 8px;
        }
    }
    .empty-cart-phone {
        padding: 10px 0;
        text-align: center;
        p {
            color: #cfcfcf;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .icon-close {
        float: right;
        cursor: pointer;
    }
    .info {
        padding: 0;
        margin: -15px 0 0;
        li {
            border-bottom: 1px solid #e2e2e3;
            list-style-type: none;
            padding: 10px 20px 8px 45px;
            font-size: 13px;
            position: relative;            
            i {
                position: absolute;
                top: 10px;
                left: 20px;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .outage-information .info li {
        padding-left: 13px;
    }
    button, .button {
        width: 100%;
    }
    .cart-item {
        margin: 0 -13px;
        padding: 13px;
        border-bottom: 3px solid #eaeaea;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border-bottom: 0;
        }
        h2 {
            margin-top: 0;
            color: #333;
            font-size: 15px;
            font-weight: 600;
            text-transform: none;
        }
    }
    .cart-product {
        margin: 10px 0;
        padding-top: 10px;
        border-top: 2px solid #eaeaea;
        &:last-child {
            margin-bottom: 0;
        }
        /*span.details {
            font-size: 14px;
        }
        .options {
            margin-top: 15px;
        }*/
    }
    .delete {
        cursor: pointer;
        float: right;
        width: 5%;
        margin-top: 5px;
    }
    .rate {
        float: left;
        width: 29%;
        margin-top: 3px;
        font-size: 16px;
        line-height: 14px;
        font-weight: 600;
        text-align: center;
        span {
            display: block;
            font-weight: normal;
            font-style: italic;
            font-size: 12px;
            line-height: 12px;
        }
    }
    .description {
        position: relative;
        float: left;
        width: 60%;
        font-size: 15px;
        .icon-electricity {
            position: absolute;
            top: 4px;
            left: 0;
        }
        .plan-text {
            margin-left: 30px;
        }
        a {
            font-size: 13px;
        }
    }
    .fees {
        float: left;
        width: 50%;
        font-size: 13px;
        color: #333;
        font-weight: 600;
        margin: 5px 0 0 30px;
    }
    .avatar {
        text-align: center;
        margin-bottom: 10px;
    }
    address {
        font-style: normal;
        font-size: 12px;
        width: 90%;
        h3 {
            font-size: 12px;
            color: #333;
            margin: 0;
            font-weight: 600;
        }
    }
    .box {
        @include border-radius(4px);
        @include box-shadow(none);
        background: #fdfdfd;
        margin: 15px 0;
        padding: 14px;
        border: 1px solid #ebebeb;
        p {
            font-size: 13px;
            margin: 10px 0;
            &.alt {
                color: #9a9a9a;
                font-size: 15px;
            }
        }
    }
    .time {
        position: relative;
        padding-left: 43px;
        min-height: 35px;
        .icon-clock {
            position: absolute;
            top: 4px;
            left: 0;
        }
    }    
    .buttons {
        .button { 
            display: block;
            width: 100%;
        }
    }
    @include breakpoint(small) {
        display: none;
    }
}

/*
    Cover modal overlay styling
 */
.cart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    background: url(../i/white-alpha-90.png) repeat;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9800;
    display: none;
    padding: 20px;
    min-height: 100%;
    .cart {
        float: none;
        width: auto;
        margin: 20px;
        i {
            float: right;
            cursor: pointer;
            margin-right: 10px;
        }
        .rate {
            position: absolute;
            float: none;
            right: 60px;
        }
        @include breakpoint(small-medium) {
            display: block;
        }
    }
    .enrollment__cart {
        display: block;
    }
    &.open {
        display: block;
        @include breakpoint(medium-large) {
            display: none;
        }
    }
}


/*
    Order confirmation page aside boxes
 */
 .enrollment-confirmation {
    aside {
        margin-top: 20px;
        .promo-box {
            background: #fafafa;
            @include box-shadow(none);
            .content {
                text-align: center;
            }
            &.horizontal {
                padding: 15px;    
            }
            @include breakpoint(medium-large) {
                &.horizontal {
                    position: relative;
                    background: transparent;
                    text-align: left;
                    padding-left: 20%;
                    padding-right: 26%;
                    @include border-radius(0);
                    .avatar {
                        position: absolute;
                        top: 30px;
                        left: 0;
                        width: 20%;
                        text-align: center;
                    }    
                    p {
                        margin: 0;
                    }
                    .button {
                        position: absolute;
                        right: 2%;
                        top: 45px;
                    }
                }
            }
        }
    }
 }



/* Mobile Enrollment */
.mobile-enrollment {
    .banner {
        h1 {
            text-transform: none;
            font-size: 50px;
        }
        .wrapper {
            height: auto;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    .content .filters {
        margin: -25px ($enrollment-module-horizontal-padding * -1) 25px;  
    }
    .btn-group-arrow {
        position: relative;
        &:after, &:before {
            display: none;
            bottom: -28px;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 15px;
            margin-left: -15px;
        }
        &:before {
            border-color: rgba(200, 200, 200, 0);
            border-bottom-color: #e1e1e1;
            border-width: 16px;
            margin-left: -16px;
        }
        &.active:before, &.active:after {
            display: block;
            z-index: 1;
        }
    }
    .btn-group-options {
        display: table;
        border-spacing: 7px;
        margin: -7px; 
        .button {
            position: relative;
            color: #333;
            background: #fff;
            border: 2px solid $enrollment-light-border-color;
            vertical-align: middle;
            font-weight: normal;
            text-transform: none;
            padding: 7px 18px;
            cursor: pointer;
            @include border-radius(5px);
            &.active {
                border-color: #3189bb;
                color: #3189bb;
            }
        }
        .button {
            display: table-cell;
        }
    }
    .enrollment__cart {
        font-size: 14px;
        .condition {
            color: #666;
            font-size: 13px;
        }
        .options {
            font-size: 13px;
        }
        .description, .fees { 
            width: 71%;
        }
        .fees {
            margin-top: 10px;
            float: left;
            font-weight: 600;
        }
        .rate {
            text-align: right;
            float: right;
        }
        .total {
            margin-top: 10px;
            padding: 10px 0;
            border-top: 1px solid #eaeaea;
            text-align: right;
        }
        h2 {
            margin-bottom: 0;
        }
        &.order-summary {
            h2 {
                margin-bottom: 10px;
            }
            .cart-product:first-child {
                margin-top: 0;
                padding-top: 0;
                border-top: 0;
            }
        }

    }
    button.plain-footer {
        margin: 7px 0;
        padding: 0;
        &:hover, &:active, &:focus {
            background-color: transparent;
        }
    }
    button {
        text-transform: none;
        font-weight: normal;
    }
    h1, h2, h3 {
        text-transform: none;
    }
    hr {
        border-width: 1px;
    }
    @include breakpoint(small) {
        .banner h1 {
            font-size: 30px;
        }
        .enrollment__box h1 {
            font-size: 20px;
        }
    }
}

.mobile-enrollment-modal {
    .modal-footer {
        text-align: left;
    }
}

.enrollment__choose-network {
    header {
        select {
            font-size: 16px;
            width: auto;
        }
    }
    /*.update-link {
        font-size: 15px;
        color: #257ab3;
        &:hover {
            background: transparent;
        }
    }*/
    .no-networks-available {
        .stretch-full {
            background: #f7f7f7;
            @include border-radius(0 0 10px 10px);
        }
        .col {
            padding: 0 30px 0 130px;
            position: relative;
            &:first-child {
                border-right: 1px solid $enrollment-light-border-color;
            }
        }
        .grid {
            padding: 30px 0;
        }
        .ico-wrapper {
            position: absolute;
            top: 10px;
            left: 30px;
        }
        .no-plans {
            margin: 40px 0 90px;
            text-align: center;
        }
        h2 {
            color: #333;
            font-weight: 400;
        }
        h3 { 
            padding-top: 30px;
            text-align: center; 
            font-weight: 400;
        }
    }
    .choose-network-table-wrapper {
        position: relative;
        div.overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
            @include opacity(.95);
        }
        span.text {
            display: block;
            width: 100%;
            position: absolute;
            top: 50%;
            height: 1.5em;
            margin-top: -.75em;
            text-align: center;
            color: #555;
            font-size: 40px;
        }
        &.sprint {
            border-top: 1px solid #eaeaea;
        }
    }
    .choose-network-table {
        .plans {
            width: 33%;
            ul {
                padding-left: 10px;
            }
            .footnotes {
                padding-top: 0;
                font-size: 10px;
            }
        }
        .coverage {
            text-align: center;
            width: 19%;
        }
        .devices {
            text-align: center;
            width: 24%;
        }
        .select-network {
            width: 24%;
            text-align: center;
            .starting-price {
                font-size: 16px;
            }
            .price {
                font-size: 24px;
            }
        }
        button {
            text-transform: none;
            width: 100%;
            margin-bottom: 8px;
        }
        h2 {
            font-size: 20px;
            font-weight: bold;
            text-transform: none;
            color: #333;
        }
        td {
            padding: 20px;
            vertical-align: top;
        }
        th {
            padding: 8px 20px;
            color: #999;
            background: #fefefe;
            font-weight: normal;
            text-transform: uppercase;
            border-top: none;
            text-align: center;
        }
        td, th {
            border-left: none;
            border-right: none;
        }
        tr {
            background: none;
        }
        tbody tr:last-child td {
            border-bottom: 0;
        }
    }
    @include breakpoint(small) {
        .no-networks-available {
            .no-plans {
                font-size: 18px;
                margin: 20px 0 60px;
            }
            .col {
                padding: 0 30px;
                &:first-child {
                    margin-bottom: 50px;
                }
            }
            .ico-wrapper {
                float: right;
                position: static;
                top: auto;
                left: auto;
            }
            h2 {
                font-size: 20px;
            }
            h3 {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        .choose-network-table {
            thead { 
                display: none;
            }
            tbody, tr, td {
                display: block;
                width: 100% !important;
            }
        }
    }
}

.enrollment__choose-device {
    .btn-group-options {
        width: 63%;
        float: left;
        margin-left: 5%;
    }
    .btn-group-row {
        display: table-row;
    }
    .button-type-border {
        padding: 7px 18px;
        color: #333;
        background: #fff;
        border: 2px solid $enrollment-light-border-color;
        vertical-align: middle;
        font-weight: normal;
        text-transform: none;
        @include border-radius(5px);
    }
    .label-description {
        font-size: 13px;
        display: block;
        line-height: 1.35;
    }
    .pane-item {
        text-align: left;
    }
    .item { 
        padding-right: 0;
    }
    .simple-options-item {
        label {
            margin-top: 3px;
        }
        .btn-group-options {
            width: auto;
        }
    }
    .icon-close {
        cursor: pointer;
    }
    .colors {
        .color-name {
            font-size: 11px;
            display: block;
            text-align: center;
            color: #333;
        }
        .button {
            padding: 0;
            width: 30px;
            height: 30px;
        }
        a {
            float: left;
            &:first-child {
                margin-left: -7px;
            }
        }
        .black {
            background: #3a393b;
        }
        .silver {
            background-color: #ebebec;
        }
        .grey {
            background-color: #b9bbbb;
        }
        .gold, .champagne {
            background-color: #cebfa7;
        }
        .white {
            background-color: #fff;
        }
        .yellow {
            background-color: #b9bbbb;
        }
        .red {
            background-color: #39393b;
        }
        .blue {
            background-color: #39393b;
        }
        .green {
            background-color: #39393b;
        }

        li {
            display: inline-block;
            list-style-type: none;
            vertical-align: middle;
            border: 2px solid transparent;
            @include border-radius(8px);
            padding: 2px;
            a {
                border: 1px solid #c3c3c3;
                @include border-radius(4px);
                @include background-clip(padding-box);
                width: 15px;
                height: 15px;
                display: block;

            }
        }
    }
    .filters {
        font-size: 13px;
        padding: 10px $enrollment-module-horizontal-padding;
        .item.group-col {
            margin-top: 0;
            .block-label {
                display: block;
                text-transform: uppercase;
                font-size: 14px;
                margin-bottom: 10px;
            }
            .filter-label {
                width: 33.333%
            }
        }
        button {
            font-size: 14px;
            background: transparent;
            border: 1px solid transparent;
            color: #999;
            padding: 4px 15px;
            &.active {
                border: 1px solid $enrollment-light-border-color;
                color: #333;
            }
        }
        select {
            margin-top: -3px;
        }
    }
    .phone-image-large {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
    }
    .phone-details {
        padding-right: 240px;
    }
    .btn-phone-number {
        &:after, &:before {
            bottom: -26px;
        }   
        &:after {
            border-width: 14px;
            margin-left: -14px;
        }  
    }
    .phone-number-group {
        line-height: 34px;
        margin-top: 15px;
        input {
            width: 55px;
        }
        .button {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .tabbed-header {
        display: table;
        width: 100%;
        padding: 0;
        overflow: hidden;
        .tab {
            display: table-cell;
            width: 50%;
            background: #f7f7f7;
            cursor: pointer;
            vertical-align: middle;
            &.active {
                background: #fff;
                h1 { 
                    color: #0971ce; 
                    font-size: 26px;
                }
            }
            h1 {
                padding: 2px 20px;
                font-size: 20px;
            }
            &:first-child {
                border-right: 1px solid $enrollment-light-border-color;
            }
        }
    }
    label {
        text-transform: none;
        span { 
            font-weight: normal;
        }
    }
    .phone-selector {
        .col {
            border: none;
            vertical-align: top;
            padding: 25px 20px;
            width: 33.3333%;
            text-align: center;
        }
        h3 {
            font-size: 18px;
            text-transform: none;
            color: #333;
            font-weight: 600;
        }
        p {
            margin: 20px 0;
        }
        button {
            width: 100%;
        }
        .product-image {
            max-width: 100%;
            img {
                vertical-align: middle;
                min-height: 115px
            }
        }
        .price {
            font-size: 22px;
            margin-bottom: 20px;
            font-weight: 600;
            span {
                display:block;
                color: #333;
                font-size: 11px;
                font-weight: 400;
            }
        }
        @include breakpoint(small) {
            table, thead, tbody, th, td, tr { 
                display: block; 
            }
        }
    }
    .bring-your-own {
        div.info {
            padding: 10px;
            background: #f7f7f7;
            font-size: 14px;
        }
        input[type="text"] {
            width: 100%;
        }
        .note {
            font-size: 14px;
        }
        /*@include breakpoint(medium-large) {
            .grid {
                .col:first-child {
                    width: 33%;
                }
                .col:last-child {
                    width: 67%;
                }
            }
        }
        .note {
            font-size: 14px;
        }
        ul.phone-number {
            @extend .clearfix;
            @include layout-list();
            li {
                display: inline;
                a {
                    @include border-radius(5px);
                    float: left;
                    width: 49%;
                    margin-right: 2%;
                    padding: 5px 10px;
                    background-color: #FFF;
                    @include background-image(linear-gradient(to top, #F7F7F7 0%, #FFF 100%));
                    border: 1px solid #ccc;
                    text-align: center;
                }
                &:last-child a {
                    margin-right: 0;
                }
                &.selected a {
                    @include box-shadow(inset 0 0 2px rgba(251, 247, 194, 0.75));
                    border: 2px solid #3189BB;
                    margin-top: -1px;
                }
            }
        }
        .phone-number-field {
            @include border-radius(5px);
            position: relative;
            margin-top: 20px;
            padding: 10px;
            background-color: #FFF;
            @include background-image(linear-gradient(to top, #F7F7F7 0%, #FFF 100%));
            border: 1px solid #ccc;
            input[type="text"] {
                width: 50%;
            }
            &:after, &:before {
                bottom: 100%;
                left: 25%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                border-width: 10px;
                margin-left: -10px;
            }
            &:before {
                border-color: rgba(0, 0, 0, 0);
                border-bottom-color: #ccc;
                border-width: 11px;
                margin-left: -11px;
            }
            &.transfer:after, &.transfer:before {
                left: 75%;
            }
        }*/
    }
    /*@include breakpoint(small) {
        .phone-selector {
            .col {
                width: auto;
            }
        }
    }*/
}

.enrollment__configure-data {
    .mobile-plans-header {
        margin-bottom: 30px;
    }
    .mobile-plans {
        text-align: center;
        width: 100%;
        @include experimental-value(width, calc(100% + 14px)); // Better alignment for everything except IE8 with this
        .button {
            padding-top: 0;
            padding-bottom: 0;
        }
        .is-recommended {
            @include border-radius(0 0 5px 5px);
        }
        .recommended {
            position: absolute;
            top: -20px;
            left: -2px;
            right: -2px;
            height: 20px;
            background: #506774;
            color: #fff;
            font-weight: 600;
            font-style: italic;
            font-size: 12px;
            line-height: 22px;
            text-transform: uppercase;
            @include border-radius(5px 5px 0 0);
        }
        .active {
            .recommended {
                background: #3189bb;
            }
        }
        .size {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .price {
            font-size: 20px;
        }
        .details {
            @include layout-list();
            text-align: left;
            li {
                margin-bottom: 10px;
                padding-left: 20px;
                [class*="icon-"] {
                    float: left;
                    margin-left: -20px;
                }
                > span {
                    font-size: 11px;
                    color: #999;
                }
            }
        }
        .time {
            color: #333;
            font-size: 14px;
        }
        span {
            display: inline-block;
        }
    }
    h3 {
        font-weight: 600;
    }
    hr {
        margin: 10px 0;
    }
    footer {
        background: #f7f7f7;
    }
    @include breakpoint-max(400px) {
        .btn-group-options {
            .button {
                width: 100%%;
                display: block;
                margin-bottom: 6px;
            }
        }
    }
    @include breakpoint-min-max(401px, 650px) {
        .btn-group-options {
            .button {
                width: 48%%;
                margin: 1%;
                float: left;
                display: block;
            }
        }
    }
}

.enrollment__complete-order {
    .plan-details {

    }
    .condition {
        color: #999;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .model {
        margin: 0;
    }
    .options {

    }
    .description {
        float: left;
        width: 70%;
    }
    .line-item {
        margin-top: 20px;
    }
    .rate {
        float: right;
        width: 20%;
        text-align: right;
    }
    .plan-summary-image, .phone-summary-image {
        position: absolute;
        left: 20px;
        top: 0;
    }
    .plan-summary, .phone-summary {
        padding-left: 100px;
        position: relative;
        & :first-child {
            margin-top: 0;
        }
        &.no-img {
            padding-left: 0;
        }
    }
    a {
        font-size: 15px;
    }
    h2 {
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 0;
        color: #333;
        font-size: 24px;
    }
    h3 {
        font-weight: 600;
        margin-bottom: 0;
        margin-bottom: 0;
        font-size: 16px;
    }
    footer {
        text-align: right;
    }
    p {
        margin: 0 0 5px;
        font-size: 15px;
    }
}

.enrollment__business-info {
    ul.checkbox-list {
        input[type="text"] {
            width: 200px;
        }
        &.inline {
            li {
                display: inline-block;
            }
        }
    }
    div.or-sep {
        label {
            display: inline;
        }
    }
    .signature {
        @include border-radius(5px);
        margin-bottom: 5px;
        padding: 5px 10px;
        background-color: #FFF9D2;
        border: 1px solid #CCC;
    }
    .additional-name {
        hr {
            margin: 0;
        }
    }
}



/*
 *
    The styling below still needs to be updated.
    No optimizations have been done yet.
 *
 */
.banner.phone {
    height: 228px;
    background-position: 50%;
    background-size: cover;
    h1 {
        font-size: 14px;
    }
    h2 {
        color: #fff;
        font-size: 40px;
        margin: 0;
        text-transform: none;
    }
    .inner {
        background: none;
    }
    .wrapper {
        padding-top: 67px;
    }
    @include breakpoint(medium) {
        height: 228px;
    }
    @include breakpoint(small) {
        display: none;
    }
}

.enrollment__order-notice {
    background: #fff8d7;
    .content {
        padding-top: 5px;
    }
    header {
        border-bottom: none;
        background: transparent;
    }
}


article.phone {
    overflow: hidden;
    .content {
        padding-top: 0;
        padding-bottom: 0;
    }
    .filters {
        background-color: #f7f7f7;
        border-bottom: 0;
        padding-bottom: 15px;
    }

}

/*

 */
article.phone-plan {
    overflow: hidden;
    .content {
        padding-bottom: 0;
        margin-bottom: -30px;
    }
    .plan {
        .plan-selection{
            @extend .clearfix;
            padding-bottom: 35px;
        }
        .product-info {
            float: left;
            width: 34%;
            text-align: center;
            margin: 0 1%;
            h1 {
                font-size: 16px;
                font-weight: bold;
                margin: 0;
                text-transform: none;
            }

            h2 {
                font-size: 14px;
                font-weight: 600;
                color: #797979;
                margin: 0;
                text-transform: none;
            }

            @include breakpoint(small) {
                width: auto;
                float: none;
            }
        }
        .plan-info {
            float: left;
            width: 60%;
            h1 {
                font-size: 22px;
                font-weight: 600;
                text-transform: none;
                margin: 0;
            }
            h2 {
                font-size: 14px;
                font-weight: 600;
                color: #adadad;
                text-transform: none;
                margin: 0;
            }
            p {
                font-size: 16px;
                margin: 0 0 20px 0;
            }

            @include breakpoint(small) {
                width: auto;
                float: none;
                padding: 20px;
            }
        }
        .plan-details {
            background-color: #f7f7f7;
            @include box-shadow(inset 1px 2px 15px rgba(0,0,0,.04));
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            padding: 30px 35% 30px 30px;
            position: relative;
            margin-bottom: 25px;
            &:after, &:before {
                bottom: 100%;
                left: 38%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                @include breakpoint(small) {
                    left: 8%;
                }
            }
            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #f0f0f0;
                border-width: 15px;
                margin-left: -15px;
            }
            &:before {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #cdcdcd;
                border-width: 16px;
                margin-left: -16px;
            }
            &.first {
                &:after, &:before {
                    left: 38%;
                    @include breakpoint(small) {
                        left: 8%;
                    }
                }
            }
            &.second {
                &:after, &:before {
                    left: 56.5%;
                    @include breakpoint(small) {
                        left: 36%;
                    }
                }
            }
            &.third {
                &:after, &:before {
                    left: 75.5%;
                    @include breakpoint(small) {
                        left: 64%;
                    }
                }
            }
            &.fourth {
                &:after, &:before {
                    left: 94%;
                    @include breakpoint(small) {
                        left: 92%;
                    }
                }
            }
            .price {
                position: absolute;
                top: 35px;
                right: 30px;
                text-align: right;
                font-size: 34px;
                font-weight: 600;
                line-height: 34px;
                span {
                    display: block;
                    font-size: 13px;
                    text-transform: uppercase;
                    font-style: italic;
                    font-weight: normal;
                }
            }
            h1 {
                font-size: 20px;
                font-weight: 600;
                margin: 0;
            }
            h2 {
                font-size: 18px;
                color: #333;
                margin: 0 0 15px 0;
            }
            p {
                font-size: 14px;
                margin: 0 0 20px 0;
            }
            .more {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
    .ui-slider {
        margin: 0 3%;
    }
    .slider-values {
        margin: 0 -12.25%;
        .value {
            display: inline;
            position: relative;
            float: left;
            width: 25%;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            span {
                display: block;
            }
        }
        .indicator {
            color: #d1d1d1;
        }
        .capacity {
            color: #0068bc;
        }
    }
}

article.services-box {
    .col {
        position: relative;
        @extend .clearfix;
    }
    .description {
        margin-right: 40%;
    }
    .avatar {
        position: absolute;
        top: 40px;
        right: 15px;
    }
}

.phone-plan.footnotes {
	border-top: 1px solid #e7e7e7;
	padding-top: 25px;
	p {
		font-size: 12px;
		margin: 0 0 10px 0;
	}
}

.modal.depositWaiver {
    h3 {
        margin-bottom: 0;
    }
    ol {
        li {
            margin-bottom: 20px;
        }
    }
}