footer.site-footer {
    clear: both;
    padding-bottom: 8px;
    background: transparent url('/Images/footer-section-bottom-rule.png') center bottom repeat-x;
    border-top: 1px solid #f5f5f5;

    .wrapper {
        position: relative;
    }

    > address {
        background-color: #eff2f3;
        font-style: normal;
    }

    > .group {
        background: #2f9bce;
        border-top: 1px solid #f5f5f5;
        color: white;

        > .wrapper {
            background: #2f9bce url('/Images/LogoWhite.png') no-repeat 12px 371px;

            > nav {
                clear: both;
                height: 424px;
                padding-top: 45px;
                color: white;
                letter-spacing: -0.005em;
                font-size: 13px;
                font-weight: 400;

                @include breakpoint(small) {
                        height: auto;
                    }

                a {
                    color: inherit;
                }

                > section {
                    font-size: 13px;
                    line-height: 26.22px;
                    list-style: none;
                    float: left;
                    width: 20%;

                    @include breakpoint(small) {
                        float: none;
                        width: 100%;
                    }

                    > h3 {
                        font-size: 16px;
                        text-transform: uppercase;
                        line-height: 21.23px;
                        color: white;
                    }

                    > ul {
                        margin: 0;
                        padding: 0;
                        margin-top: 15px;
                        font-size: 13px;
                        line-height: 26.22px;
                        list-style: none;
                        /* width: 185px; */
                        li {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    img.social {
        position: absolute;
        bottom: 100px;
        right: 0;
    }
}

.support-text {
    font-size: 18px;
    line-height: 24px;
    color: black;
    width: 255px / 1040px * 100%;
    float: left;
    padding: 0 0 0 0;
    margin: 0;
    margin-right: 160px / 1040px * 100%;

    strong {
        font-weight: inherit;
        text-transform: capitalize;
    }

    a {
        font-weight: 400;
    }
}

.support-number, .support-email {
    color: #4f4c4d;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.029em;
    line-height: 50.43px;

    img {
        vertical-align: middle;
        margin-right: 15px;
    }

    a {
        color: inherit;
        float: left;
        width: (1040px - 415px) / 2 / 1040px * 100%;
    }

    span {
        display: none;
    }
}

#Legal-Footer-Global {
    color: white;
    line-height: 10px;
    letter-spacing: 0.049em;
    border-top: 1px solid #44a5d3;
    padding-top: 25px;
    padding-bottom: 45px;

    p {
        margin: 0;
        padding: 0;
    }

    small.legal {
        color: white;
    }


    #BbcAndDsa-Legal-Footer-Global {
        position: absolute;
        right: 0px;
        bottom: 28px;

        img {
            vertical-align: middle;
        }
    }
}
