footer.site-footer {
    clear: both;
    padding-bottom: 8px;
    background: #2f9bce image-url('marketing/redesign/footer-section-bottom-rule.png') center bottom repeat-x;
    color: #fff;
    border-top: 1px solid #f5f5f5;
    h4 {
        text-transform: uppercase;
        color: #fff;
    }
    ul {
        @include layout-list();
    }
    a {
        color: #fff;
    }
    div.contact {
        padding: 30px 0;
        background: #eff2f3;
        color: #000;
        font-size: 18px;
        a {
            color: #000;
        }
        .support {
            p {
                margin: 0;
            }
            a {
                color: $link-primary-color;
            }
        }
    }
    div.links {
        padding-top: 10px;
        ul {
            line-height: 2em;
        }
    }
    div.logos {
        @extend .clearfix;
        padding: 45px 0;
        .logo {
            @include image-replace("bg/logo-footer.png", "bg2x/logo-footer.png");
            float: left;
        }
        ul {
            @include inline-block-list();
            float: right;
            li {
                margin-left: 10px;
            }
        }
    }
    div.site-footer-legal {
        border-top: 1px solid #44a5d3;
        padding: 20px 0;
        font-size: 10px;
        ul {
            @include inline-block-list();
            float: right;
        }
    }
    div.legal {
		padding: .75em 0;
		background: adjust-lightness(#2f9bce, -10);
		font-size: 80%;
		text-align: center;
		ul {
            @include inline-block-list();
			li {
				border-left: 1px solid adjust-lightness(#44a5d3, -10);
				padding: 0 1em;
				a {
					color: #fff;
				}
			}
			li:first-child {
				border: none;
			}
		}
	}
}