* {
	@include box-sizing(border-box); 
}

body {
	margin: 0;
	font-size: 16px;
	line-height: 1.375;
	color: #333333;
	background-color: #ffffff;
}

html,
button,
input,
select,
textarea {
	font-family: "proxima-nova-n3", "proxima-nova", Helvetica, Arial, sans-serif; // "proxima-nova-n3" to fix IE8 issue: http://help.typekit.com/customer/portal/articles/6855-Using-multiple-weights-and-styles
    font-weight: 300;
}

a {
	color: #0971ce;
	text-decoration: none;
}

dl {
	dt {
		float: left;
		clear: both;
		width: 50%;
	}
	dd {
		float: right;
		width: 50%;
		margin: 0;
		text-align: right;
	}
}

.clearfix {
	*zoom: 1;
	&:before, &:after {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}
	
.hidden {
	display: none;
	visibility: hidden;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.actions {
	float: right;
	text-transform: uppercase;
}

//Round icon wrappers
.ico-wrapper {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
	text-align: center;
	background: #257ab3;
	line-height: 70px;
	@include border-radius(100%);
	i {
		margin: 0;
		display: inline-block;
	}
	&:after {
		content: '';
		width: 70px;
		height: 70px;
		background-color: #fff;
		opacity: .08;
		display: block;
		position: absolute;
		top: 0;
		@include rotate(45deg);
		clip: rect(0px 70px 35px 0px);
	}

	&.large {
		width: 120px;
		height: 120px;
		line-height: 120px;
		&:after {
			width: 120px;
			height: 120px;
			clip: rect(0px 120px 60px 0px);
		}
	}
}

@include breakpoint(small) {
	.hide-small {
		display: none;
	}
}
@include breakpoint(medium) {
	.hide-medium {
		display: none;
	}
}
@include breakpoint(medium-large) {
	.hide-medium-large {
		display: none;
	}
}
@include breakpoint(large) {
	.hide-large {
		display: none;
	}
}