.site-header {
	@include transition(left linear .2s); 
	background: image-url("bg/header.png") repeat-x;
	> .wrapper {
		height: 100px;
		position: relative;
		overflow: initial;
	}
	.logo {
		@include image-replace("logo-horizontal.png");
		float: left;
		margin-top: 40px;
	}
	.utility {
		@include border-radius(0 0 5px 5px);
		@include box-shadow(0 1px 1px rgba(0,0,0,.25));
		float: right;
		margin: 0;
		padding: 10px;
		background-color: #f1f1f1;
		a {
			margin-left: 25px;
			text-transform: uppercase;
		}
	}
	nav.main-nav {
		position: absolute;
		bottom: -1px;
		right: 0;
		width: 822px;
		text-align: right;
		margin-top: 5px;
		> ul {
			@include inline-block-list();
			margin: 0 auto;
			width: 100%;
			font-size: 15px;
			text-transform: uppercase;
			li {
				a {
					display: inline-block;
					color: #737373;
					padding: 17px;
					@include breakpoint(medium) {
						padding: 17px 8px;
					}
				}
				&.selected a {
					@include border-radius(5px 5px 0 0);
					background-color: #f2f2f2;
					padding: 16px 16px 17px 16px;
					border: 1px solid #d9d9d9;
					border-bottom: 0;
				}
			}
		}
	}
	nav.sub-nav {
		background-color: #f2f2f2;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		> ul {
			@include inline-block-list();
			margin: 0 auto;
			font-size: 14px;
			text-transform: uppercase;
			li {
				a {
					display: inline-block;
					color: #737373;
					padding: 15px 10px;
				}
			}
		}
	}
	@include breakpoint(small) {
		height: 57px;
		> .wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background-color: #fff;
			@include retina-background("header-mobile.png");
			background-repeat: repeat-x;
			border-bottom: 1px solid #1697ff;
			z-index: 2;
			height: 57px;
		}
		.logo {
			@include image-replace("logo.png", true);
			position: absolute;
			left: 50%;
			top: 11px;
			margin-top: 0;
			margin-left: (image-width("logo.png") / 2) / 2 * -1;
		}
		.utility {
			display: none;
		}
		.nav-toggle {
			margin-top: 22px;
		}
		nav {
			display: none;
		}
	}
	@include breakpoint(medium-large) {
		.nav-toggle {
			display: none;
		}
	}
}

.banner {
	/*height: 200px;*/
	overflow: hidden;
	margin-bottom: 20px;
	&.hero-1 {
		background: image-url("bg/hero-1.jpg") no-repeat;
		background-size: cover;
	}
	h1 {
		margin-top: 75px;
		color: #fff;
		font-size: 70px;
		text-transform: uppercase;
		font-weight: 100;
	}
}