.site-header {
	background: #fff;
	@include transition(left linear .2s); 
	.wrapper {
		position: relative;
	}
	.logo {
		@include image-replace("bg/logo-desktop.png", "bg2x/logo-desktop.png");
		float: left;
		margin-top: 33px;
	}
	.utility {
		position: absolute;
		right: 0;
		height: 30px;
		font-size: $font-size-xsmall;
		font-weight: 600;
		.account-link {
			@include border-radius(0 0 5px 5px);
			@include box-shadow(0 1px 1px rgba(0, 0, 0, .25));
			background-color: #f1f1f1;
			color: $text-primary-color;
		}
		a {
			padding: 6px 10px 4px;	
			float: left;
			display: block;		
		}
	}
	@include breakpoint(small) {
		height: 57px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9000;
		border-bottom: 1px solid $dark-border-color;
		@include box-shadow(0 0 3px rgba(0, 0, 0, .1));
		
		> .wrapper {
			background-color: #fff;
			background-repeat: repeat-x;
			z-index: 2;
			height: 57px;
		}
		.logo {
			@include image-replace("bg/logo-mobile.png", "bg2x/logo-mobile.png");
			position: absolute;
			left: 50%;
			top: 18px;
			margin-top: 0;
			margin-left: image-width("bg/logo-mobile.png") / 2 * -1;
		}
		.utility {
			display: none;
		}
		.nav-toggle{
			margin-top: 22px;
		}
		.cart-toggle {
			float: right;
			margin-top: 18px;
			@include opacity(0.40);
			position: relative;
			span {
				position: absolute;
				top: -6px;
				left: 10px;
				text-indent: 0;
				color: #000;
				font-weight: bold;
			}
		}
		&.fixed-fix {
			position: absolute;
		}
		nav {
			display: none;
		}
	}
	@include breakpoint(medium-large) {
		.nav-toggle {
			display: none;
		}
		.cart-toggle {
			display: none;
		}
		.shadow-wrapper {
			@include box-shadow(0 0 3px rgba(0, 0, 0, .2));
			position: relative;
		}
		&.fixed {
			background: #fff;
			height: 75px;
			> .wrapper {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				background-color: #fff;
				background-repeat: repeat-x;
				z-index: 9000;
				height: 75px;
				border-bottom: 1px solid $dark-border-color;
				@include box-shadow(0 0 3px rgba(0, 0, 0, .1));

				@include breakpoint(small) {
					background: #fff;
				}
			}
			.logo {
				position: absolute;
				left: 50%;
				top: 18px;
				margin-top: 0;
				margin-left: (image-width("bg/logo-desktop.png") / 2) * -1;
				@include breakpoint(small) {
					margin-left: (image-width("bg/logo-mobile.png") / 2) * -1;
				}
			}
			.nav-toggle {
				margin-top: 22px;
			}
		}
	}
}

/*
	Main page navigation
 */
.main-nav {
	float: right;
	margin: 70px 0 -1px 10px;
	> ul {
		@include inline-block-list();
		width: 100%;
		font-size: 0; /* This is to fix the spacing between inline-block elements. Font size is reset on child element */
		text-transform: uppercase;
		white-space: nowrap;
		overflow: visible;
		li {
			position: relative;
			a {
				display: block;
				color: $nav-primary-color;
				padding: $nav-primary-padding;
				font-weight: 600;
				font-size: $nav-font-size;
				line-height: 1;
			}
			&.selected {
				.triangle {
					display: block;
				}
				a{
					color: $nav-primary-hover-color;
				}
			}
            button, a.button {
                color: #fff;
                padding: 5px 15px;
                font-size: 15px;
            }
		}
	}
	.triangle {
		display: none;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -6px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 12px 10px;
		border-color: transparent transparent #f1f1f1 transparent;

		&:after {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			@include rotate(45deg);
			box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.05);
			background: #f1f1f1;
			left: 50%;
			margin-left: -8px;
			margin-top: 3px;
			border-top: 1px solid #ddd;
			border-left: 1px solid #ddd;
		}
	}
}

.sub-nav {
	background-color: #f1f1f1;
	min-height: 50px;
	ul {
		@include inline-block-list();
        display: inline;
        margin: 0 auto;
		font-size: $font-size-small;
		li {
			a {
				display: inline-block;
				color: $nav-sub-color;
				padding: $nav-sub-padding;
				font-weight: 600;
				text-transform: uppercase;
			}
			&.selected a {
				color: $nav-sub-hover-color;
			}
		}
	}
    @include breakpoint(medium) {
        .wrapper {
            padding: 0 10px;
            ul li a {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.tertiary-nav {
	background-color: #f1f1f1;
	min-height: 49px;
	margin-top: -30px;
	margin-bottom: 30px;
	ul {
		@include inline-block-list();
        display: inline;
		font-size: $nav-font-size;

		li {
			position: relative;
			overflow: hidden;
			a {
				display: inline-block;
				color: $nav-tertiary-color;
				padding: $nav-tertiary-padding;
				font-weight: 600;
			}
			&.selected {
				.triangle {
					display: block;
				}
			}
		}
	}
	.triangle {
		display: none;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -6px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 12px 10px;
		border-color: transparent transparent #fff transparent;

		&:after {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			@include rotate(45deg);
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
			background: #fff;
			left: 50%;
			margin-left: -8px;
			margin-top: 4px;
		}
	}
}

.profile-nav {	
	background-color: #1d75b5;
	ul {
		@include navigation-list();
		font-size: $font-size-xxsmall;
		float: right;
		li {
			padding: 7px 0;
			a {
				display: inline-block;
				color: #fff;
				padding: $nav-profile-padding;
				margin-left: 12px;
				line-height: 1;
				border-left: 1px solid #fff;
			}
			&:first-child {
				a {
					border-left: none;
				}
			}
			&.selected a {

			}
		}
	}
}

/*
	Page banners
 */
.banner {	
	overflow: hidden;
	margin-bottom: 30px;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	.wrapper {
		padding-top: 80px;
		padding-bottom: 70px;
	}
	h1 {
		font-size: 70px;
		font-weight: 100;
	}
	h1, p {
		margin: 0;
		color: #fff;
		line-height: 1;
	}
	p {
		font-size: 32px;
	}
	&.large {
		.wrapper {
			height: 325px;
			padding-top: 150px;
			@include breakpoint(small) {
				height: 200px;
				padding-top: 100px;
			}
		}
		h1, p {
			color: $brand-primary-color;
		}
	}
	@include breakpoint(small) {		
		.wrapper {
			height: 200px;
			padding-top: 100px;
		}
		h1 {
			font-size: 27px;
		}	
	}
	@include breakpoint(medium) {		
		.wrapper {
			height: 180px;
			padding-top: 70px;
		}
		h1 {
			font-size: 50px;
		}	
	}		
}