.site-header {
	@include transition(left linear .2s); 
	> .wrapper {
		position: relative;
	}
	.logo {
		@include image-replace("bg/logo-desktop.png", "bg2x/logo-desktop.png");
		float: left;
		margin-top: 33px;
	}
	.utility {
		position: absolute;
		top: 0;
		right: 0;
		height: 30px;
		font-size: $font-size-small;
		font-weight: 600;
		.account-link {
			@include border-radius(0 0 5px 5px);
			@include box-shadow(0 1px 1px rgba(0,0,0,.25));
			background-color: #f1f1f1;	
		}
		a {
			padding: 5px 10px 5px;			
		}
	}
	@include breakpoint(small) {
		height: 57px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9000;
		
		> .wrapper {
			background-color: #fff;
			@include retina-background("header-mobile.png");
			background-repeat: repeat-x;
			z-index: 2;
			height: 57px;
		}
		.logo {
			@include image-replace("bg/logo-mobile.png", "bg2x/logo-mobile.png");
			position: absolute;
			left: 50%;
			top: 20px;
			margin-top: 0;
			margin-left: image-width("bg/logo-mobile.png") / 2 * -1;
		}
		.utility {
			display: none;
		}
		.nav-toggle{
			margin-top: 22px;
		}
		.cart-toggle {
			float: right;
			margin-top: 18px;
			@include opacity(0.40);
			position: relative;
			span {
				position: absolute;
				top: -6px;
				left: 10px;
				text-indent: 0;
				color: #000;
				font-weight: bold;
			}
		}
		&.fixed-fix {
			position: absolute;
		}
		nav {
			display: none;
		}
	}
	@include breakpoint(medium-large) {
		.nav-toggle {
			display: none;
		}
		.cart-toggle {
			display: none;
		}
		&.fixed {
			background: #fff;
			height: 75px;
			> .wrapper {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				background-color: #fff;
				@include retina-background("header-mobile.png");
				background-repeat: repeat-x;
				z-index: 9000;
				height: 75px;
				border-bottom: 1px solid #2599fc;
				@include breakpoint(small) {
					background: #fff;
				}
			}
			.logo {
				position: absolute;
				left: 50%;
				top: 21px;
				margin-top: 0;
				margin-left: (image-width("bg/logo-desktop.png") / 2) * -1;
				@include breakpoint(small) {
					margin-left: (image-width("bg/logo-mobile.png") / 2) * -1;
				}
			}
			.nav-toggle {
				margin-top: 22px;
			}
		}
	}
}

/*
	Main page navigation
 */
nav.main-nav {
	float: right;
	margin: 70px 0 -1px 10px;
	> ul {
		@include inline-block-list();
		margin: 0 auto;
		width: 100%;
		font-size: 0; /* This is to fix the spacing between inline-block elements. Font size is reset on child element */
		text-transform: uppercase;
		white-space: nowrap;
		li {
			a {
				display: block;
				color: #666;
				padding: 0 17px 20px;
				font-weight: 600;
				font-size: $nav-font-size;
				line-height: 1;
			}
			&.selected a {
				color: $nav-primary-hover-color;
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -6px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 10px 12px 10px;
					border-color: transparent transparent #f2f2f2 transparent;
				}
			}
            button, a.button {
                color: #fff;
                padding: 5px 15px;
                font-size: 15px;
            }
		}
	}
}
nav.sub-nav {
	background-color: #f1f1f1;
	ul {
		@include inline-block-list();
        display: inline;
		margin: 0 auto;
		font-size: $font-size-small;
		li {
			a {
				display: inline-block;
				color: #666;
				padding: 15px 10px;
				font-weight: 600;
			}
			&.selected a {
				color: $brand-primary-color;
			}
		}
	}
    @include breakpoint(medium) {
        .wrapper {
            padding: 0 10px;
            ul li a {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

/*
	Page banners
 */
.banner {	
	overflow: hidden;
	margin-bottom: 20px;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
    // Set background iamge on .banner in HTML
	.inner {
	}
	.wrapper {
		height: 220px;
		padding-top: 85px;
	}
	h1 {
		font-size: 70px;
		font-weight: 100;
	}
	h1, p {
		margin: 0;
		color: #fff;
		line-height: 1;
		text-transform: uppercase;
	}
	p {
		font-size: 32px;
	}
	&.large {
		.wrapper {
			height: 325px;
			padding-top: 150px;
			@include breakpoint(small) {
				height: 200px;
				padding-top: 100px;
			}
		}
		h1, p {
			color: $brand-primary-color;
		}
	}
	@include breakpoint(small) {
		.inner {
			@include retina-background("header-mobile.png");
			background-repeat: repeat-x;
		}			
		.wrapper {
			height: 200px;
			padding-top: 100px;
		}
		h1 {
			font-size: 27px;
		}	
	}
	@include breakpoint(medium) {
		.inner {
			@include retina-background("header-mobile.png");
			background-repeat: repeat-x;
		}			
		.wrapper {
			height: 180px;
			padding-top: 70px;
		}
		h1 {
			font-size: 50px;
		}	
	}		
}