// Layout Variables
$sidebar: 275px;
$mobile-nav: 260px;

@include breakpoint(medium-large) {
	.page-wrapper nav.mobile-nav {
		display: none;
	}
}

@include breakpoint(small) {
	.page-wrapper {
		background: #efefef;
		overflow: hidden;
		nav.mobile-nav {
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			overflow: scroll;
			// position: absolute;
			// left: 0;
			width: $mobile-nav;
			font-size: 16px;
			ul {
				@include layout-list();
				> li {
					a {
						text-transform: uppercase;
						display: block;
						padding: 15px 45px 15px 15px;
						border-bottom: 1px solid #d9d9d9;
					}
					> span {
						display: block;
						position: relative;
					}
					span.arrow {
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						width: 40px;
						line-height: 40px;
						text-align: center;
						background: rgba(0,0,0,.05);
					}
					&.opened a {
						background-color: #1e5280;
						color: #fff;
						border-bottom: 1px solid #748ea5;
					}
					&.selected span > a,
					&.selected > a {
						background-color: #1898ff;
						color: #fff;
					}
					li a {
						padding-left: 30px;
						text-transform: none;
					}
				}
			}
		}
		.page-content {
			position: relative;
			left: 0;
			background: #fff;
			@include transition(left linear .2s); 
		}
		&.open {
			.site-header .wrapper,
			.page-content {
				left: $mobile-nav;
			}
		}
	}
}

// Layout Styles
.layout {
	@extend .clearfix;
	> aside {
		@include box-sizing(border-box);
	}
	> section {
		@include box-sizing(border-box);
	}
	&.cols-2 {
		> section {
			float: left;
			width: 68%;
			@include breakpoint(small) {
				float: none;
				width: auto;
			}
		}
		> aside {
			float: right;
			width: 29%;
			@include breakpoint(small) {
				float: none;
				width: auto;
			}
		}
	}
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

@include breakpoint(small) {
	.wrapper {
		width: auto;
		padding: 0 20px;
	}
}

@include breakpoint(medium) {
	.wrapper {
		width: auto;
		padding: 0 20px;
	}
}

// Generic Grid
/*.grid {
	@extend .clearfix;
	.col {
		@include box-sizing(border-box);
		*behavior: url(/static/css/htc/boxsizing.htc);
		float: left;
		width: 50%;
		padding: 0 5px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	&.three .col {
		width: 33.33%;
	}
	&.four .col {
		width: 25%;
	}
	&.border .col {
		margin-left: -1px;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		padding: 0 30px;
		&:first-child {
			margin-left: 0;
			border-left: 0;
		}
		&:last-child {
			border-right: 0;
		}
	}
	&.bg {
		.col {
			background: #f3f3f3;
			width: 49%;
			margin: 0 1%;
			padding: 20px;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.three .col {
			width: 32%;
		}
		&.four .col {
			width: 23.5%;
		}
	}
}*/
@include breakpoint(medium-large) {
	.grid {
		$spacing: 10px;
		display: table;
		width: 100%;
		@include experimental-value(width, calc(100% + #{$spacing * 2})); // Better alignment for everything except IE8 with this
		border-spacing: $spacing;
		margin: -$spacing; // Offset the border-spacing around the outside
		.col {
			@include box-sizing(border-box);
			*behavior: url(/static/css/htc/boxsizing.htc);
			display: table-cell;
			width: 50%;
			vertical-align: top;
		}
		&.three .col {
			width: 33.33%;
		}
		&.four .col {
			width: 25%;
		}
		&.border .col {
			border-left: 1px solid #cccccc;
			padding: 0 30px;
			&:first-child {
				border-left: 0;
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		&.bg {
			.col {
				background: #f3f3f3;
				padding: 20px;
			}
		}
	}
}