/* These seem to be styles global to homepage, but
   possibly not any other pages */
article.marketing {
	margin-bottom: 0;
	.wrapper {
		padding: 40px 0;
	}
	p {
		margin-bottom: 0;
	}
	h2 {
		color: #10425a;
		font-size: 36px;
	}
	@include breakpoint(small) {
		.wrapper {
			padding-left: 0;
			padding-right: 0;
		}
	}
}


article.quote {
	background: #fafafa;
	.quote-author {
		margin: .5em 0 0 0;
	}
	.quote-text {
		@include retina-background("quote.png", "icon");
		background-position: right bottom;
		background-repeat: no-repeat;
		min-height: 28px;
		padding-right: 40px;
	}
	.quote-wrapper {
		padding-right: 50px;
	}
	.wrapper {
		padding: 40px 0;

	}
	h2 {
		font-style: italic;
		margin-top: 0;
		margin-bottom: .5em;
		@include retina-background("quote-left.png", "icon");
		background-position: left top;
		background-repeat: no-repeat;
		padding-left: 50px;
	}
	p {
		padding-left: 50px;
	}
	@include breakpoint(small) {
		.quote-wrapper {
			padding-right: 0;
		}
		h2 {
			font-size: 24px;
		}
	}
}

article.section-divider {
	@include background-image(linear-gradient(left top, #fff, #f0f0f0));
	@include box-shadow(0 3px 6px rgba(0, 0, 0, .2));
	@include text-shadow(0 1px 0 rgba(255, 255, 255, .7));
	.col {
		@include opacity(0.3);
		text-align: center;
		&.active {
			@include opacity(1);
		}
	}
	i {
		margin-top: -2px;
		margin-right: 3px;
	}
}

article.text-callout {
	text-align: center;
	.wrapper {
		padding: 50px 3%;
	}
	h1 {
		font-size: 48px;
		color: #4f4c4d;
		margin-top: 0;
		margin-bottom: 1em;
		span {
			color: $brand-primary-color;
			text-transform: uppercase;
		}
	}
	p {
		font-size: 20px;
		margin-bottom: 0;
	}
	@include breakpoint(small) {
		h1 {
			font-size: 32px;
		}
	}
}

article.vertical-cta {
	.col {
		padding-top: 215px;
		padding-right: 80px;
	}
	.col-first {
		.image-wrapper {
			right: 50%;
			left: 0
		}
	}
	.col-last {
		.image-wrapper {
			left: 50%;
			right: 0;
		}
	}
	.image-wrapper {
		position: absolute;
		top: 0;
		height: 215px;
	}
	.wrapper {
		padding-bottom: 40px;
	}
	img {
		max-width: none;
	}

	p {
		margin-bottom: 30px;
	}
	@include breakpoint(medium) {
		.col {
			padding-right: 40px;
		}
	}
	@include breakpoint(small) {
		.col {
			padding-right: 0;
			padding-top: 0;
		}
		.col-first .image-wrapper, .col-last .image-wrapper {
			left: 0;
			right: 0;
			top: auto;
		}
		.image-wrapper {
		}
		h2 {
			padding-top: 255px;
		}
	}
}

article.horizontal-cta {
	border-top: 1px solid #fcfcfc;
	@include background-image(linear-gradient(left top, #f9f9f9, #fff));
	@include box-shadow(0 3px 6px rgba(0, 0, 0, .1));
	.wrapper {
		padding: 40px 0;
	}
	.cta-content {
		float: left;
		padding-left: 50px;
		width: 50%;
	}
	.photo {
		float: left;
		width: 50%;
	}
	@include breakpoint(small) {
		.cta-content, .photo {
			float: none;
			width: 100%;
			padding: 0;
		}
	}
}



/* Home Page-Specific Modules */
article.home-page-services {
	margin-top: -30px;
	@include background-image(linear-gradient(left top, #fff, #f1f1f1));
	@include box-shadow(0 2px 5px rgba(0, 0, 0, .2));
	.i-wrapper {
		position: absolute;
		right: 0;
		top: 10px;
		right: 30px;
		width: 70px;
		height: 70px;
		text-align: center;
		background: $brand-primary-color;
		line-height: 70px;
		@include border-radius(100%);
		i {
			margin: 0;
			display: inline-block;
		}
		&:after {
			content: '';
			width: 70px;
			height: 70px;
			background-color: #fff;
			opacity: .08;
			display: block;
			position: absolute;
			top: 0;
			@include rotate(45deg);
			clip: rect(0px 70px 35px 0px);
		}
	}
	.grid {
		border-spacing: 0;
		margin: 30px -30px;
		@include experimental-value(width, calc(100% + 60px));
	}
	.col {
		position: relative;
		font-size: $font-size-xsmall;
		text-align: left;
		padding: 8px 130px 8px 30px;
		color: #4f4c4d;
		border-right: 1px solid $light-border-color;
		&:first-child {
			border-left: 1px solid $light-border-color;
		}
	}
	h4 {
		color: #4f4c4d;
		font-weight: 300;
		margin: 0 0 15px;
		text-transform: uppercase;
	}
	@include breakpoint(medium) {
		.col {
			padding: 0 80px 0 15px;
			.i-wrapper {
				right: 15px;
				width: 60px;
				height: 60px;
				line-height: 60px;
			}
		}
		.wrapper {
			padding: 0 30px;
		}
	}
	@include breakpoint(small) {
		margin-top: 0;
		.col {
			padding: 15px 80px 15px 0;
			border: none;
			.i-wrapper {
				right: 0;
			}
			&:first-child {
				border-left: none;
			}
		}
		.wrapper {
			padding: 0 30px;
		}
	}
}

article.home-page-switch-mobile {
	.button {
		min-width: 200px;
	}
	.col {
		img {
			margin-bottom: -35px;
		}
	}
	.col-smartphones {
		position: relative;
		padding-right: 120px;
		img {
			margin-left: -61px;
		}
	}
	.col-own-phone {
		padding-left: 130px;
	}
	.text-divider {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 60px;
		margin-right: -30px;
		background: url(../i/marketing/home-switch-mobile-divider.png) no-repeat center bottom;
		span {
			position: absolute;
			bottom: 22%;
			display: block;
			background-color: #f2f2f2;
			width: 60px;
			height: 60px;
			@include border-radius(100%);
			text-align: center;
			line-height: 62px;
			text-transform: uppercase;
		}
	}
	.wrapper {
		padding: 50px 0;
	}
	h1 {
		font-size: 48px;
		color: $text-primary-color;
		margin-top: 0;
		margin-bottom: 1.5em;
		span {
			color: $brand-primary-color;
			text-transform: uppercase;
		}
	}
	p {
		margin-bottom: 35px;
	}
	@include breakpoint(medium) {
		.col-smartphones {
			padding-right: 120px;
			img {
				margin-left: -31px;
			}
		}
		.col-own-phone {
			padding-left: 130px;
		}
	}
	@include breakpoint(small) {
		.col-smartphones {
			padding-right: 0;
			margin-bottom: 45px;
			img {
				margin-left: 0;
			}
		}
		.col-own-phone {
			padding-left: 0;
		}
		.text-divider {
			display: none;
		}
		.wrapper {
			text-align: center;
		}
	}
}

article.nationwide-coverage {
	background: #eeeeee;
	.wrapper {
		padding: 40px 400px 40px 0;
		@include retina-background("home-nationwide-coverage.jpg");
		background-position: 90% center;
		background-repeat: no-repeat;
	}
	@include breakpoint(small) {
		.wrapper {
			padding: 65% 0 40px 0;
			background-position: center 20px;
			background-size: contain;
		}
	}
}

article.find-coverage {
	background: #e5e5e5;
	.wrapper {
		padding: 35px 0;
	}
	.input-group .input-group-btn {
		padding-left: 20px;
	}
	i {
		margin-right: 20px;
	}
	h3 {
		font-size: 20px;
		float: left;
		margin: 0;
		line-height: 46px;
		color: $text-primary-color;
		margin-right: 25px;
	}
	@include breakpoint(small) {
		.input-group-btn {
			text-align: center;
			margin-top: 15px;
		}
		.input-group .input-group-btn {
			padding-left: 0;
		}
		i {
			position: absolute;
			right: 0;
		}
	}
}

article.homelife-services-promo {
	@include background-image(linear-gradient(left top, #f9f9f9, #fff));
	border-top: 1px solid #fcfcfc;
	.wrapper {
		padding: 40px 0;
		text-align: center;
	}
	.col-wrapper {
		max-width: 250px;
		display: inline-block;
	}
	h3 {
		font-size: 24px;
		color: #10425a;
	}
	h3, p {
		text-align: left;
	}
	@include breakpoint(small) {
		.col {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

article.home-questions {
	.contact-specialists {
		@include retina-background("contact-specialists.png", "icon");
		background-position: left 6px;
		background-repeat: no-repeat;
		font-size: 24px;
		color: $brand-primary-color;
		font-style: italic;
		padding-left: 50px;
	}
	.faq {
		padding-right: 30px;
	}
	h2 {
		font-size: 32px;
	}
	@include breakpoint(small) {
		.faq {
			padding-right: 0;
		}
	}
}