// Primary Color is used for backgrounds and borders
// Accent Color is used for headings and buttons
// Text Color is the main body text
$themes:
	(name: "blue", primaryColor: #1773cb, accentColor: #fff, textColor: #fff),
	(name: "paleblue", primaryColor: #7e9ab3, accentColor: #fff, textColor: #fff),
	(name: "darkblue", primaryColor: #073464, accentColor: #fff, textColor: #fff),
	(name: "green", primaryColor: #78bb2f, accentColor: #fff, textColor: #fff),
	(name: "palegreen", primaryColor: #8ba072, accentColor: #fff, textColor: #fff),
	(name: "orange", primaryColor: #fda32b, accentColor: #fff, textColor: #fff),
	(name: "red", primaryColor: #aa2130, accentColor: #fff, textColor: #fff),
	(name: "palered", primaryColor: #b48789, accentColor: #fff, textColor: #fff),
	(name: "white", primaryColor: #fff, accentColor: #1773cb, textColor: #6b6b6b),
	(name: "grey", primaryColor: #e8e8e8, accentColor: #1773cb, textColor: #6b6b6b);

@each $theme in $themes {
	button, .button {
		&.#{map-get($theme, name)} {
			background-color: map-get($theme, primaryColor);
			color: map-get($theme, accentColor);
			text-shadow: none;
		}
	}
}

.banner.marketing {
	height: 400px;
	background-position: 50%;
	background-size: cover;
	border-bottom: 5px solid #259afd;
	@include breakpoint(medium) {
		height: 300px;
	}
	@include breakpoint(small) {
		display: none;
	}
}

article.marketing {
	@extend article.plain;
	position: relative;
	margin-bottom: 20px;
	color: #6b6b6b;
}

article.photoLockup {
	background-color: #e8e8e8;
	border-top: 3px solid #999;
	color: #6b6b6b;
	.photo {
		position: absolute;
		width: 50%;
		height: 100%;
		overflow: hidden;
	}
	.text {
		float: right;
		width: 48%;
		padding: 65px 0;
		font-size: 16px;
		line-height: 1.8;
		.inner {
			max-width: 455px;
			padding: 0 10px;
		}
		h2 {
			margin: 0;
			font-size: 38px;
			line-height: 1.1;
			text-transform: uppercase;
		}
		h3 {
			font-size: 16px;
			color: #1773cb;
		}
		.lead {
			font-size: 24px;
			text-transform: uppercase;
		}
		blockquote {
			margin: 0;
			background: image-url("marketing/quote-left.png") no-repeat;
			p:first-child {
				text-indent: 50px;
			}
			p:last-child {
				background: image-url("marketing/quote-right.png") no-repeat 100% 100%;
				padding: 10px 10px 0 10px;
				font-size: 18px;
				line-height: 1.8em;
			}
		}
		p.cite {
			font-size: 14px;
			text-transform: uppercase;
		}
	}
	&.top-right-photo {
		.photo {
			background-position: top right;
		}
	}
	&.top-left-photo {
		.photo {
			background-position: top left;
		}
	}
	&.bottom-left-photo {
		.photo {
			background-position: bottom left;
		}
	}
	&.bottom-right-photo {
		.photo {
			background-position: bottom right;
		}
	}
	&.right-img {
		.photo {
			right: 0;
		}
		.text {
			float: left;
			.inner {
				float: right;
			}
		}
	}
	&.border {
		.photo {
			border-right: 3px solid #1773cb;
		}
		&.right-img {
			.photo {
				border-right: 0;
				border-left: 3px solid #1773cb;
			}
		}
	}
	@include breakpoint(small) {
		.photo {
			display: none;
		}
		.text {
			float: none !important;
			width: 100%;
			.inner {
				float: none !important;
				max-width: none;
			}
		}
	}
	
	// Custom colors
	@each $theme in $themes {
		&.bg-#{map-get($theme, name)} {
			background-color: map-get($theme, primaryColor);
			color: map-get($theme, textColor);
			h2, h3 {
				color: map-get($theme, accentColor);
			}
			button, .button {
				background-color: map-get($theme, accentColor);
				color: map-get($theme, primaryColor);
				text-shadow: none;
				&:hover {
					background-color: #6b6b6b;
					color: #fff;
				}
			}
		}
	}
	@each $theme in $themes {
		&.border.border-#{map-get($theme, name)} .photo {
		 	border-color: map-get($theme, primaryColor);
		}
	}
	@each $theme in $themes {
		&.accent-#{map-get($theme, name)} {
		 	h2, h3 {
				color: map-get($theme, primaryColor);
			}
			button, .button {
				background-color: map-get($theme, primaryColor);
				&:hover {
					background-color: #6b6b6b;
					color: #fff;
				}
			}
		}
	}

}

article.marketingIntro {
	text-align: center;
	em {
		color: #007dc3;
		font-style: normal;
	}
	p.intro {
		margin: 1em 20px;
		font-size: 24px;
		line-height: 1.4em;
		font-weight: 300;
	}
	hr {
		margin: 22px 0;
		border: 0;
		border-top: 3px solid #eee;
	}
	div.body {
		margin: 0 100px;
		font-size: 19px;
		ul {
			width: 450px;
			margin: 0 auto;
			text-align: left;
			em {
				text-transform: uppercase;
			}
		}
	}
	@each $theme in $themes {
		&.accent-#{map-get($theme, name)} {
		 	em {
				color: map-get($theme, primaryColor);
			}
			button, .button {
				background-color: map-get($theme, primaryColor);
				text-shadow: none;
			}
		}
	}
}

article.loginHorizontal {
	margin-top: -20px;
	@include breakpoint(small) {
		margin-top: 0;
	}
	padding: 4px 0;
	border-top: 4px solid #1697ff;
	background-color: #1773cb;
	color: #fff;
	span.text {
		float: left;
		margin: 0 10px 0 0;
		padding: 5px 10px 5px 0;
		border-right: 1px solid #409cee;
		color: #fff;
		font-size: 18px;
	}
	ul.radio-list {
		line-height: 2em;
		li {
			display: inline-block;
			margin-right: 5px;
		}
	}
	button, .button {
		background-color: #fff;
		color: #1773cb;
		@include text-shadow(none);
	}
}

article.gridPromos {
	div.col {
		text-align: center;
		padding: 0 5%;
		@include breakpoint(small) {
			padding: 0;
		}
		h4 {
			font-weight: 100;
			strong {
				font-weight: 500;
				display: block;
			}
		}
		img {
			display: block;
			margin: 0 auto;
		}
		@each $theme in $themes {
			&.accent-#{map-get($theme, name)} {
			 	h4 {
					color: map-get($theme, primaryColor);
				}
				button, .button {
					background-color: map-get($theme, primaryColor);
					text-shadow: none;
				}
			}
		}
	}
}

article.leaders {
	.paragraph {
		width: 50%;
		margin: auto;
		text-align: center;
		margin-bottom: 45px;
		font-size: 19px;
		span {
			color: #ac1f2d;
		}
		sup {
			font-size: 10px;
		}
	}
	.director-banner {
		background-color: #ac1f2d;
		padding: 15px;
		margin-bottom: 40px;
		h2 {
			color: #fff;
		}
	}
	ul.director {
		list-style-type: none;
		li {
			width: 25%;
			float: left;
			text-align: center;
			h2,
			h4 {
				color: #ac1f2d;
				margin: 0px;
			}
			p {
				font-style: italic;
			}
			@include breakpoint(small) {
				width: 50%;
			}
		}
	}
	.view-all {
		padding-top: 40px;
		float: left;
	}
}

article.director-list {
	h2 {
		color: #6b6b6b;
		text-transform: none;
		margin-bottom: 20px;
	}
	ul.director {
		list-style-type: none;
		li {
			width: 25%;
			float: left;
			text-align: center;
			h3 {
				color: #0971ce;
				text-transform: none;
			}
			@include breakpoint (medium) {
				width: 33%;
			}
			@include breakpoint(small) {
				width: 50%;
			}
		}
	}
}

article.donate {
	ul.charity {
		list-style-type: none;
		li {
			padding: 30px 0;
			border-bottom: 3px solid #f0f0f0;
			&:last-child {
				border-bottom: none;
			}
			img {
				float: left;
			}
			&.grey {
				background-color: #fafafa;
			}
			.promo {
				float: left;
				width: 40%;
				margin: 10px 0 0 30px;
				h4 {
					color: #ffa300;
				}
			}
			.donate-button {
				float: right;
				margin: 60px 20px 0 0;
				button {
					background-color: #77bc1f;
				}
			}
		}
	}
}

article.full-html {
	&.center {
		text-align: center;
	}
	&.promo {
		h1 {
			font-size: 40px;
		}
		p {
			font-size: 27px;
			line-height: 38px;
			font-weight: 300;
		}
	}
	// Custom colors
	@each $theme in $themes {
		&.bg-#{map-get($theme, name)} {
			background-color: map-get($theme, primaryColor);
			color: map-get($theme, textColor);
			h2, h3 {
				color: map-get($theme, accentColor);
			}
			button, .button {
				background-color: map-get($theme, accentColor);
				color: map-get($theme, primaryColor);
				text-shadow: none;
			}
		}
	}
	@each $theme in $themes {
		&.accent-#{map-get($theme, name)} {
		 	h1, h2, h3 {
				color: map-get($theme, primaryColor);
			}
			button, .button {
				background-color: map-get($theme, primaryColor);
			}
		}
	}
}

article.state-tabs {
	ul.tabs-nav {
		@extend .wrapper;
		margin: 0 auto;
		display: table;
		li {
			float: none;
			display: table-cell;
			a {
				display: block;
				padding: 10px 0 20px 0;
				text-align: center;
				@include border-radius(7px 7px 0 0);
				span {
					display: block;
					margin: 0 auto;
					width: 82px;
					height: 84px;
					@include retina-background("state-tabs.png");
				}
			}
			&.active {
				a {
					background-color: #0971ce;
					color: #fff;
				}
				span {
					background: none;
				}
			}
		}
	}
	.tab-header {
		padding: 10px 0;
		background-color: #0971ce;
		color: #fff;
	}
}

article.service-states {
	.wrapper {
		text-align: center;
	}

	button,
	a.button {
		background-color: #78bb2f;
		color: #fff;
		&.secondary {
			background-color: #fff;
			color: #1773cb;
			&:hover {
				background-color: #6b6b6b;
				color: #fff;
			}
		}
		&:hover {
			background-color: #6b6b6b;
		}
	}
}

article.promo {
	text-align: center;
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 27px;
		line-height: 27px;
		font-weight: 300;
	}
	@each $theme in $themes {
		&.accent-#{map-get($theme, name)} {
		 	span {
				color: map-get($theme, primaryColor);
			}
		}
	}
}

article.home-latest {
	margin-bottom: 0;
	border-top: 3px solid #999;
	background: #E8E8EB;
	text-align: center;
	h3 {
		margin-bottom: 0;
		font-size: 14px;
		text-transform: none;
	}
	p {
		margin: 5px 0;
		font-size: 20px;
	}
}

article.careers {
	h3 {
		text-transform: none;
	}
	hr {
		border:	2px solid #f0f0f0;
	}
}

article.press {
	hr {
		border:	2px solid #f0f0f0;
	}
	.press-intro {
		text-align: center;
		p.paragraph {
			font-size: 18px;
		}
	}
	.post {
		margin-top: 60px;
		padding-bottom: 40px;
		border-bottom: 3px solid #f0f0f0;
		h2 {
			margin-bottom: 0px;
		}
		p.date {
			margin-top: 0px;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

article.choose-state {
	h2 {
		text-align: center;
		margin-bottom: 30px;
		font-size: 30px;
	}
	ul li {
		list-style-type: none;
		float: left;
		width: 14%;
		text-align: center;
		padding-top: 30px;
		&:hover {
			background-color: #0971ce;
			border-radius: 10px 10px 0 0;
			p {
				color: #fff;
			}
		}
	}
}

article.blog {
	.blog-post {
		margin-top: 60px;
		padding-bottom: 40px;
		border-bottom: 3px solid #f0f0f0;
		h2 {
			margin-bottom: 0px;
		}
		p.date {
			margin-top: 0px;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
 
article.blog-list {
	margin-top: 30px;
	button {
		padding: 10px 65px;
		margin-top: 20px;
	}
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
		}
	}
}

article.pay {
	h1 {
		color: #0971ce;
	}
	h2 {
		text-transform: none;
		&.get-started {
			text-align: center;
			font-size: 28px;
		}
	}
	.pay-option {
		border-bottom: 4px solid #f0f0f0;
		margin: 20px 25px 20px 0;
		p.call {
			font-size: 20px;
		}
		span.phone {
			font-size: 22px;
			color: #0971ce;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	.box {
		@include border-radius(10px, 10px);
		border: 2px solid #f0f0f0;
		padding: 20px;
		margin-bottom: 20px;
		input {
			margin-top: 10px;
			width: 100%;
		}
		button {
			background-color: #77bc1f;
		}
		span.benefits {
			color: #0971ce;
			text-transform: uppercase;
		}
		p.sign-up {
			font-size: 20px;
			color: #0971ce;
			a {
				font-size: 22px;
				text-decoration: underline;
			}
		}
	}
	hr {
		border:	2px solid #f0f0f0;
	}
}

article.contact {
	h2 {
		font-size: 30px;
	}
	div.wrapper {
		padding: 40px 0 30px 0;
	}
	div.intro {
		font-size: 24px;
		text-align: center;
		width: 67%;
	}
	div.blue-bar {
		height: 50px;
		background-color: #0971ce;
		border-bottom: 5px solid #ffa409;
	}
	div.associate-support {
		background-color: #efefef;
		border-bottom: 3px solid #0073c7;
		h2 {
			text-align: left;
			color: #ac1f2d;
		}
		p {
			margin: 0;
			&.phone {
				color: #ac1f2d;
			}
			&.fax {
				color: #ac1f2d;
				margin: 20px 0;
			}
		}
		h4 {
			color: #ac1f2d;
			padding-bottom: 10px;
			margin-top: 0;
			background-image: url('../i/marketing/contact.png');
			background-repeat: no-repeat;
			background-position: 35%;
		}
	}
	div.homelife-services {
		border-bottom: 3px solid #0073c7;
		text-align: center;
		h2.homelife {
			text-transform: none;
		}
		h2.phone {
			margin: 0;
		}
		p {
			text-align: center;
		}
	}
	div.clean-nation {
		background-color: #76bd1d;
		color: #fff;
		h2 {
			text-align: left;
			color: #fff;
			margin: 40px 0 0 0;
		}
		h4 {
			padding-bottom: 10px;
			margin-top: 0;
			background-image: url('../i/marketing/contact-dark.png');
			background-repeat: no-repeat;
			background-position: 35%;
		}
		p {
			margin: 0;
			&.phone {
				font-size: 22px;
				margin: 10px 0 0 0;
			}
		}
	}
	div.vip {
		h2 {
			color: #ac1f2d;
			text-align: center;
		}
		p {
			width: 320px;
			text-align: center;
			margin: auto;
		}
	}
	div.request {
		background-color: #0971ce;
		color: #fff;
		border-bottom: 3px solid #ffa409;
		border-top: 3px solid #ffa409;
		position: relative;
		.request-or {
			background-image: url('../i/marketing/contact-or.png');
			background-repeat: no-repeat;
			position: absolute;
			top: -4px;
			left: 46%;
			height: 70px;
			width: 114px;
		}
		h2 {
			color: #fff;
			text-align: left;
		}
		.grid .col {
			.item {
				position: relative;
				width: 90%;
				input,
				select,
				textarea {
					width: 90%;
					color: #bcbcbc;
				}
				.asterisk {
					font-size: 24px;
					vertical-align: middle;
				}
			}
			.group .item {
				width: 44%;
			}
			button {
				background-color: #ebebeb;
				color: #000;
			}
		}
	}
	div.faq {
		h2 {
			text-align: left;
			position: relative;
			span.header {
				background-color: #fff;
				padding-right: 20px;
			}
			span.header-line {
				height: 4px;
				display: block;
				background-color: #efefef;
				position: relative;
				top: 22px;
			}
		}
		p {
			width: 305px;
		}
	}
}

article.contact-state {
	.customer-service {
		margin-bottom: 25px;
		h1 {
			color: #0971ce;
			margin-bottom: 50px;
		}
		h2 {
			text-transform: none;
			margin-bottom: 0;
		}
		.left-side {
			width: 65%;
			float: left;
			.phone-email {
				margin-bottom: 40px;
				p {
					margin: 0;
				}
			}	
		}
		.right-side {
			float: right;
			.mail {
				@include border-radius(10px, 10px);
				background-color: #e8e8e8;
				padding: 20px;
				h2 {
					background-image: url('../i/marketing/contact.png');
					background-repeat: no-repeat;
					background-position: top right;
					padding-right: 70px;
				}
				p {
					margin: 0;
				}
			}
		}
	}
	.quality-control {
		margin-bottom: 35px;
		p {
			margin: 20px 0 30px 0;
		}
		h2 {
			margin: 0;
		}
	}
	.emergency {
		margin-bottom: 30px;
		h3 {
			color: #0971ce;
			margin: 50px 0 10px 0;
		}
		.grid .col {
			.company {
				color: #0971ce;
			}
			.oncor {
				width: 85%;
			}
			.company-contact {
				width: 80%;
				margin-bottom: 40px;
				h2 {
					text-transform: none;
				}
				button {
					background-color: #ffa409;
					a {
						color: #fff;
					}
					&:hover {
						background-color: #6b6b6b;
					}
				}
			}
		}
	}
}

article.faq {
	background-color: #eaeaea;
	padding: 20px 0;
	.wrapper {
		.panel {
			@include border-radius(10px, 10px);
			background-color: #fff;
			p.question {
				background-image: url('../i/marketing/expand.png');
				background-repeat: no-repeat;
				background-position: 98%;
				a {
					color: #696969;
					display: block;
					padding: 10px;
				}
				.q {
					font-size: 26px;
					color: #bbb;
					margin-right: 10px;
				}
			}
			.panel-content {
				color: #0971ce;
				padding-bottom: 10px;
				.answer-hr {
					border: 3px solid #eaeaea;
					width: 90%;
				}
				.a {
					float: left;
					font-size: 26px;
					margin: 10px 0px 0 10px;
				}
				.answer {
					margin-left: 55px;	
				}
			}
		}
		.faq-hr {
			border: 3px solid #f3f3f3;
			margin: 20px 0;
		}	
	}
}

article.homelife-services {
	.intro {
		background-color: #0971ce;
		color: #fff;
		text-align: center;
		padding: 50px 0;
		h1 {
			font-size: 63px;
		}
		p {
			font-size: 22px;
		}
	}
	.homelife-promo {
		background-image: url('../i/marketing/homelife-services.jpg');
		background-repeat: no-repeat;
		background-position: top center;
		height: 550px;
		border-bottom: 5px solid #ffa409;
		.wrapper {
			width: 55%;
			padding-top: 80px;
			h3 {
				color: #0971ce;
			}
		}
	}
	.bundle-promo {
		margin: 35px 0;
		text-align: center;
		font-size: 20px;
		span {
			font-size: 22px;
			color: #0971ce;
			text-transform: uppercase;
		}
		hr {
			border: 1px solid #eee;
			margin: 15px auto;
			width: 85%;
		}
	}
	div.package {
		padding: 40px;
		.box {
			@include border-radius(10px, 10px);
			background-color: #fff;
			padding: 35px;
			position: relative;
			h3 {
				color: #0971ce;
				span {
					text-transform: none;
				}
			}
			button a {
				color: #fff;
			}
			ul.services {
				list-style-type: none;
				padding-left: 0;
				float: left;
				li {
					text-align: center;
					float: left;
					margin-right: 40px;
					input {
						margin-top: 15px;
					}
					&.identity {
						color: #7e9bb5;
						position: relative;
						button {
							background-color: #7e9bb5;
						}
						&:after {
							content: "+";
							color: #898989;
							font-size: 62px;
							position: absolute;
							top: 36%;
							right: -10%;
						}
					}
					&.support {
						color: #b58789;
						position: relative;
						button {
							background-color: #b58789;
						}
						&:after {
							content: "+";
							color: #898989;
							font-size: 62px;
							position: absolute;
							top: 36%;
							right: -35%;
						}
					}
					&.monitoring {
						color: #8ba170;
						button {
							background-color: #8ba170;
						}
					}
				}
			}
			.savings {
				@include border-radius(50%);
				float: left;
				width: 113px;
				height: 113px;
				margin-top: 25px;
				p {
					color: #fff;
					font-size: 22px;
					font-weight: bold;
					text-align: center;
					margin-top: 10px;
				}
			}
			.pricing {
				text-align: center;
				p {
					font-size: 14px;
					text-transform: uppercase;
					font-style: italic;
					margin: 0 0 50px 0;
					color: #6b6b6b;
					&.price {
						margin-bottom: 0;
						font-style: normal;
						.dollars {
							font-size: 38px;
							color: #0971ce;
						}
						.cents {
							font-size: 12px;
							color: #0971ce;
							vertical-align: 50%;
						}
					}	
				}
			}
			.sash {
				position: absolute;
				background-color: #e61b23;
				top: -33px;
				right: 18px;
				min-width: 32px;
				height: 132px;
				overflow: hidden;
				-webkit-transform: rotate(-45deg);
				span {
					font-size: 24px;
					text-transform: uppercase;
					position: absolute;
					font-weight: 600;
					color: #fff;
					margin: 50px 0 0  -12px;
					-webkit-transform: rotate(90deg);
				}
			}
		}
		&.platinum {
			background-color: #0971ce;
			.savings {
				background-color: #0971ce;
				p {
					color: #fff;
				}
			}
		}
		&.gold {
			.box {
				border: 1px solid #c1dbf2;
				background-color: #f6f6f6;
				.savings {
					background-color: #fdfdfd;
					border: 1px solid #d0d0d0;
					p {
						color: #0971ce;
					}
				}
				button {
					background-color: #ccc;
				}
			}
		}
		&.silver {
			.box {
				border: 1px solid #cdcdcd;
				h3 {
				text-align: center;
				}
				ul.services {
					width: 100%;
					li {
						margin-right: 0;
						width: 33%;
						border-right: 1px solid #cdcdcd;
						&.identity,
						&.support {
							&:after {
								content: " ";
							}
						}
						&.monitoring {
							border-right: none;
						}
						.pricing {
							text-align: center;
							float: none;
							.price .dollars {
								font-size: 24px;
							}
							button {
								background-color: #0971ce;
							}
						}
					}
				}
			}
		}
	}
	p.footnote {
		font-size: 12px;
		text-align: center;
	}
}
article.states-enroll {
	div.wrapper {
		text-align: center;
	}
}
article.full-width-image {
	height: 300px;
	background-size: cover; 
}