

.page-content {
    //background: image-url('marketing/redesign/pattern_bg.png') repeat-y center;



    // > section.layout.cols-1 {
    //     background-color: white;
    //     @include box-shadow(-7px 0 7px -7px rgba( 112, 112, 112, .15 ), 7px 0 7px -7px rgba( 112, 112, 112, .15 ));
    //     margin: 0 auto;
    //     max-width: 1280px;
    // }

    // > .sub-nav {
    //     ul {
    //         li {
    //             &.selected {
    //                 background: image-url('marketing/redesign/nav-second-level-selected-indicator.png') bottom center no-repeat;
    //             }
    //         }
    //     }
    // }
}

a.significant {
    position: relative;
    padding-right: 10px;
    letter-spacing: 0;
    font-weight: 400;

    &:after {
        $arrow-size: 5px;
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: $arrow-size * -1;
        width: 0; 
        height: 0; 
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-left: $arrow-size solid $link-primary-color;
    }
}

.banner.marketing {
    height: 214px;
    line-height: 52px;
    line-height: 214px;
    font-size: 48px;
    color: white;
    background-size: cover;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    @include breakpoint(small) {
        height: 80px;
        line-height: 80px;
        font-size: 24px;
        .wrapper {
            padding: 0 20px;
        }
    }
}

dl.faq {
    color: #595a5d;
    width: 582px;

    > dt {
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 600;
        cursor: pointer;
        padding-left: 18px;
        position: relative;

        &:before {
            content: image-url('marketing/redesign/minus.png');
            vertical-align: top;
            position: absolute;
            left: -18px;
        }

        &[data-collasped] {
            &:before {
                content: image-url('marketing/redesign/plus.png');
            }

            + dd {
                height: 0;
                overflow: hidden;
                margin-top: 0;
            }
        }
    }

    > dd {
        font-weight: normal;
        line-height: 19px;
        font-size: 14px;
        margin: 16px 0 50px 26px;
        color: #595a5d;
        letter-spacing: 0.041em;
        height: auto;
        -moz-transition: height 0.5s ease;
        -o-transition: height 0.5s ease;
        -webkit-transition: height 0.5s ease;
        transition: height 0.5s ease;
    }
}

article {
    > *:last-child {
        border-radius: 0;
    }

    &.marketingIntro {
        p.intro {
            font-size: 20px;
            margin: 1em percentage(100/1040);
            letter-spacing: (17/1000);
        }

        &.mobile {
            &.plans {
                text-align: center;
                color: black;

                ol.points {
                    li {
                        &:before {
                            margin-right: 5px;
                            content: image-url('marketing/redesign/check.png');
                        }
                    }
                }





                h3 {
                    padding-top: 50px;
                    background: center top no-repeat;
                    font-size: 22px;
                    line-height: 29.02px;
                    letter-spacing: -0.01em;
                    font-weight: 600;
                }

                .indvidualPlans {

                    h3 {
                        background-image: image-url('marketing/redesign/single_phone.png');
                    }
                }

                .groupPlans {
                    h3 {
                        background-image: image-url('marketing/redesign/multi_phone.png');
                    }
                }
            }
        }
    }

    &.marketing {
        @each $theme in $themes {
            @if map-get($theme, name) != "white" {
                &.bg-#{map-get($theme, name)} {
                    > .wrapper {
                        background-image: none;
                    }
                }
            }
        }

        &.mobile {
            h1 {
                strong, b {
                    color: #28ade0;
                }
            }
        }

        &.energy {
            h1 {
                strong, b {
                    color: #f8a244;
                }
            }
        }

        &.protect {
            h1 {
                strong, b {
                    color: #51b35a;
                }
            }
        }

        &.faq {
            h1 {
                text-align: left;
                font-size: 32px;
                color: #4f4c4d;
                background: image-url('marketing/redesign/faq-header-rule.png') no-repeat left bottom;
                padding-bottom: 20px;
            }
        }

        h1 {
            font-size: 40px;
            font-weight: 300;
            letter-spacing: -0.029em;
            text-align: center;
            color: inherit;

            b, strong {
                text-transform: uppercase;
                font-weight: 300;
            }
        }

        > .wrapper {
            background: image-url('marketing/redesign/Modules/module_background.png') no-repeat center top;
        }

        &:first-of-type, &:first-child {
            > .wrapper {
                background-image: none;
            }
        }
    }

    &.photoLockup {
        background-color: white;
        border-style: none !important;
        margin-bottom: 0 !important;
        font-size: 15.99px;
        line-height: 23.99px;
        color: black;

        .wrapper {
            padding-top: 80px;
            padding-bottom: 80px;

            > .content, > img {
                float: left;

                @include breakpoint(small) {
                    float: none;
                    width: 100%;
                    height: auto;
                }
            }

            > .content {
                width: 463px;
                margin: 0;
                padding: 0 !important;

                blockquote {
                    p {
                        &:first-of-type {
                            //text-indent: -11px;
                            font-size: 18px;
                            line-height: 26.44px;
                            position: relative;

                            &::before {
                                content: "\201C";
                                color: rgba(255,255,255,.3);
                                font-size: 135.61px;
                                position: absolute;
                                left: -45px;
                                top: 40px;
                            }
                        }

                        &:last-of-type::after {
                            content: "\201D";
                            color: rgba(255,255,255,.3);
                            font-size: 135.61px;
                            position: absolute;
                            margin-left: 10px;
                            margin-top: 40px;
                        }

                        .lead {
                            font-size: 24px;
                            //line-height: 60px;
                            font-style: italic;
                        }
                    }

                    footer {
                        border-radius: 0;
                        border-top: none;
                        padding: 0;
                        margin-top: 10px;
                        font-size: 14.23px;
                        line-height: 35.87px;

                        cite {
                            &::before {
                                content: "\2014 ";
                            }

                            text-transform: uppercase;
                            font-style: normal;
                        }
                    }
                }

                @include breakpoint(small) {
                    width: 100%;
                }
            }

            > img {
                width: 502px;
            }

            > .content + img, > img + .content {
                float: right;

                @include breakpoint(small) {
                    float: none;
                    width: 100%;
                }
            }
            /* h2, h3 {
            font-size: 31.99px;
            line-height: 48.91px;
            letter-spacing: 0;
            color: #4f4c4d;
            font-weight: 300;
            padding-top: 0;
            margin-top: 0;
        } */
        }
    }

    &.states-enroll {
        background-image: none;

        .wrapper {
            background-image: none;
            //min-height: 83px;
            padding: 0;
            max-width: 1040px;
            margin: 0 auto;

            &.grid {
                .col {
                    width: auto;
                    vertical-align: middle;
                }
            }

            h3 {
                margin: 0;
                padding: 0;
                line-height: 83px;
                float: left;
                font-size: 20px;
                letter-spacing: .001em;
            }

            p {
                margin: 0;
                padding: 0;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0;
            }

            #GetStarted-StateEnroll-Module {
                position: absolute;
                right: 250px;
                width: 500px;
                line-height: 83px;
            }

            #ViewLinks-StateEnroll-Module {
                position: absolute;
                right: 140px;
                line-height: 1em;
                padding: 25.5px 0;
                font-size: 14px;
                line-height: 17px;

                a {
                    font-weight: normal;
                }
            }
        }
    }

    &.quote {
        font-size: 18px;
        line-height: 26.44px;
        position: relative;
        margin: 0;
        color: white;
        padding: 20px 0;
        background-image: none;


        blockquote {
            margin: 0 percentage(298/1280) 0 percentage(225/1280);

            p {
                padding-left: 0;

                &:first-of-type {
                    //text-indent: -11px;
                    font-size: 18px;
                    line-height: 26.44px;
                    position: relative;

                    &::before {
                        content: "\201C";
                        color: rgba(255,255,255,.3);
                        font-size: 135.61px;
                        position: absolute;
                        left: -45px;
                        top: 45px;
                    }
                }

                &:last-of-type::after {
                    content: "\201D";
                    color: rgba(255,255,255,.3);
                    font-size: 135.61px;
                    position: absolute;
                    margin-left: 10px;
                    margin-top: 40px;
                }

                strong.lead {
                    font-size: 30px;
                    line-height: 40px;
                    font-style: italic;
                    font-weight: 300;
                }
            }

            footer {
                margin-top: 10px;
                font-size: 14.23px;
                line-height: 35.87px;
                padding: 0;
                border-style: none;

                cite {
                    text-transform: uppercase;
                    font-style: normal;
                }
            }
        }
    }
}

article.additional-support-sidebar {
    margin-top: 75px;
    border-left: 1px solid #eee;

    .inner {
        padding-left: 25px;
    }

    h1 {
        text-align: left;
        font-size: 25px;
    }

    .contact-message {
        color: #2f86ba;
        font-style: italic;
        font-size: 25px;
        background: image-url('marketing/redesign/headset.png') no-repeat left top;
        padding-left: 65px;
    }

    ul {
        border: 1px solid #eee;
        border-left-style: none;
        border-right-style: none;
        padding: 1em 0;
        list-style: none;
        li {
            padding: .5em 0;
            padding-left: 20px;
        }
    }
}

.director-banner.stretch {
    margin: 0;

    .wrapper {
        background-image: none;
    }
}

article.service-links {
    @include box-shadow(0px 0px 30px 0px rgba(0, 0, 0, .2));
    background-color: #f7f8f9;
    position: relative;
    z-index: 100;

    > .wrapper {
        padding: 20px 0;
        background: none;
    }

    .grid .col {
        background: right center no-repeat;
        padding-right: 70px;

        h2 {
            margin: 0 0 5px 0;
            font-size: 24px;
            color: black;
            letter-spacing: 0;
        }

        p {
            margin-top: 0;
        }


        &.mobile {
            background-image: image-url('marketing/redesign/Modules/HomeHeader/home_header_mobile_icon.png');
        }

        &.energy {
            background-image: image-url('marketing/redesign/Modules/HomeHeader/home_header_energy_icon.png');
        }

        &.protect {
            background-image: image-url('marketing/redesign/Modules/HomeHeader/home_header_protect_icon.png');
            padding-right: 70px;
        }
    }
}

.switch-mobile {
    position: relative;

    .col {
        padding-top: 217px;
        padding: 217px 5% 0;
    }

    .or-text {
        font-size: 24px;
        text-transform: uppercase;
        width: 66px;
        height: 66px;
        border-radius: 33px;
        line-height: 66px;
        background-color: #f2f2f2;
        text-align: center;
        color: #4f4c4d;
        letter-spacing: 0;
        position: absolute;
        left: 50%;
        margin-left: -43px;
        top: 300px;

        @include breakpoint(small) {
            display: none;
        }
    }

    .shop-phones {
        background: image-url('marketing/redesign/Modules/ShopPhones.jpg') top left no-repeat;
        border-right: 1px solid #f2f2f2;

        @include breakpoint(small) {
            border-right: none;
        }
    }

    .bring-device {
        background: image-url('marketing/redesign/Modules/BringPhones.jpg') top left no-repeat;

        @include breakpoint(small) {
            margin-top: 20px;
        }
    }
}

.energy-overview {
    .col {
        text-align: left;
        padding-top: 250px;

        &.electricity {
            background: image-url('marketing/redesign/Modules/light.jpg') top left no-repeat;
        }

        &.gas {
            background: image-url('marketing/redesign/Modules/flame.jpg') top left no-repeat;
        }

        .inner {
            padding-right: 10%;
        }
    }
}

.mobile-poweredBy {
    display: inline-block;
    color: #012f50 !important;
    font-size: 11px !important;
    letter-spacing: 0;
    width: 128px;
    max-width: 100%;

    strong {
        font-weight: 600;
    }

    span {
        display: block;
        margin-top: -.65em;
        text-align: right;
    }
}

.protective-services {
    h2 {
        color: #222a4c;
    }
    .grid .col {
        padding-top: 100px;
    }
    .identityTheft {
        background: image-url('marketing/redesign/mask_icon.png') no-repeat center top;
    }
    .onlineBackupAndProtection {
        background: image-url('marketing/redesign/cloud_protection_icon.png') no-repeat center top;
    }
    .creditMonitoring {
        background: image-url('marketing/redesign/monitor_icon.png') no-repeat center top;
    }
}

article.mobile-plan-intro {
    ol.points {
        @include layout-list();

        li {
            &:before {
                margin-right: 5px;
                content: image-url('marketing/redesign/check.png');
            }
        }
    }
}

article.mobile-plans-table {
    h3 {
        margin: 0;
    }
    .label {
        text-align: left;
    }
    table {
        margin-bottom: 10px;
        td {
            padding: 10px;
        }
        .starting-price {
            margin-top: 0;
            font-weight: 600;
            font-size: 16px;
            .price {
                display: block;
                font-size: 24px;
            }
        }
    }
    .footnotes {
        text-align: left;
        font-size: 14px;
        color: #999999;
    }
}

article.mobile-pricing-plans {

    // div.intro {
    //     margin: 1em 20px;
    //     font-size: 22px;
    //     line-height: 1.5;
    //     text-align: center;
    // }

    > div.wrapper {
        padding-top: 0;
        background-image: none;
    }

    .grid {
        margin: 0;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    .overview {
        border: 1px solid #e5e5e5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
        border-spacing: 0;

        .mobile-poweredBy {
            margin: 20px 0;
        }

        .col {
            border: 1px solid #e5e5e5;
            border-collapse: collapse;
            border-bottom-style: none;

            @include breakpoint(small) {
                border: 0;
                border-bottom: 1px solid #e5e5e5;
                &:last-child {
                    border-bottom: 0;
                }
            }

            &:first-of-type {
                border-left-style: none;
                border-right-style: none;
            }

            &:last-of-type {
                border-right-style: none;
            }

            .col {
                h3 {
                    padding-top: 50px;
                    background: center top no-repeat;
                    font-size: 22px;
                    line-height: 29.02px;
                    letter-spacing: -0.01em;
                    font-weight: 600;
                }

                &.indvidualPlans {
                    h3 {
                        background-image: image-url('marketing/redesign/single_phone.png');
                    }
                }

                &.groupPlans {
                    h3 {
                        background-image: image-url('marketing/redesign/multi_phone.png');
                    }
                }

                padding: 10px;
                border: 1px solid #e5e5e5;
                border-bottom-style: none;

                @include breakpoint(small) {
                    border: 0;
                    border-top: 1px solid #e5e5e5;
                }

                &:first-of-type {
                    border-left-style: none;
                }

                &:last-of-type {
                    border-right-style: none;
                }
            }
        }
    }

    .detail {
        border: 1px solid #eaeaea;
        border-top-style: none;
        background-color: #eff2f3;
        margin: 0;
        width: 100%;
        border-spacing: 0;

        .col {
            width: percentage(310/1040);
            text-align: left;
            padding: 20px;

            @include breakpoint(small) {
                width: 100%;
            }
        }

        .col:nth-child(2) {
            width: percentage((1040 - 310)/1040);

            @include breakpoint(small) {
                width: 100%;
            }
        }

        .mobile-plans-pricing-table {
            background-color: white;
            border-radius: 4px;
            border: 1px solid #eaeaea;


            th {
                background-color: transparent;
            }

            td {
                text-align: center;
            }

            thead {
                background-color: transparent;

                th {
                    text-align: center;
                    color: black;
                }
            }

            tbody {
                th {
                    font-size: 18.02px;
                    letter-spacing: (-18/1000);
                    line-height: 1em;
                }
            }

            tfoot {
                th, td {
                    border: 1px solid #eaeaea;
                }
            }
        }

        .notes {
            text-align: left;
            margin-top: 20px;
            background-color: white;
            border-radius: 4px;
            border: 1px solid #eaeaea;
            font-size: 16.01px;
            line-height: (22.02 / 16.01);
            padding: 16px;
        }
    }
}

.mobile-manage-links {
    p.intro {
        margin: 1em 0;
        letter-spacing: (17/1000);
        font-size: 20px;
        text-align: center;
    }
    .col {
        //background: image-url("marketing/redesign/Modules/divider.png") center left no-repeat;

        // &:first-child {
        //     background-image: none;
        // }

        .inner {
            padding-top: 100px;
            //margin: 0 30px;
            background: center top no-repeat;
        }

        &.phone {
            .inner {
                background-image: image-url("marketing/redesign/Modules/choose-phone-icon.png");
            }
        }

        &.plan {
            .inner {
                background-image: image-url("marketing/redesign/Modules/choose-plan-icon.png");
            }
        }

        &.data {
            .inner {
                background-image: image-url("marketing/redesign/Modules/config-data-icon.png");
            }
        }

        &.account {
            .inner {
                background-image: image-url("marketing/redesign/Modules/manage-account-icon.png");
            }
        }
    }
}

.mobile-additional-services {
    .col {
        // background: image-url("marketing/redesign/Modules/divider.png") center left no-repeat;

        // &:first-child {
        //     background-image: none;
        // }

        .inner {
            padding-top: 140px;
            //margin: 0 30px;
            background: center top no-repeat;
        }

        &.international-calling {
            .inner {
                background-image: image-url("marketing/redesign/Modules/map.png");
            }
        }

        &.warranty {
            .inner {
                background-image: image-url("marketing/redesign/Modules/target.png");
            }
        }

        &.trade-and-save {
            .inner {
                background-image: image-url("marketing/redesign/Modules/trade-and-save.png");
            }
        }
    }
}

.mobile-plans-price-selector {
    .col:first-child {
        width: percentage(266/1040);

        @include breakpoint(small) {
            width: 100%;
        }
    }

    table {
        border-radius: 5px;

        thead {
            background-color: #fbfbfb;
        }

        tfoot {
            background-color: #eff2f3;

            td {
                text-align: left;
            }
        }

        td {
            text-align: center;
        }

        button {
            border: 1px solid #e5e5e5;
            background-color: #fbfbfb;
            background-image: none;
            color: black;
            box-shadow: none;
            text-shadow: none;

            &:focus {
                outline: none;
            }

            &.active {
                border: 2px #0192d1 solid;
                padding: 7px 17px;
                margin-top: -1px;
                color: #0192d1;
            }
        }
    }
}
