// Primary Color is used for backgrounds and borders
// Accent Color is used for headings and buttons
// Text Color is the main body text
$themes:
	(name: "blue", primaryColor: #1773cb, accentColor: #fff, textColor: #fff),
	(name: "paleblue", primaryColor: #7e9ab3, accentColor: #fff, textColor: #fff),
	(name: "darkblue", primaryColor: #073464, accentColor: #fff, textColor: #fff),
	(name: "green", primaryColor: #78bb2f, accentColor: #fff, textColor: #fff),
	(name: "palegreen", primaryColor: #8ba072, accentColor: #fff, textColor: #fff),
	(name: "darkgreen", primaryColor: #5f9c37, accentColor: #fff, textColor: #fff),
	(name: "orange", primaryColor: #fda32b, accentColor: #fff, textColor: #fff),
	(name: "red", primaryColor: #aa2130, accentColor: #fff, textColor: #fff),
	(name: "palered", primaryColor: #b48789, accentColor: #fff, textColor: #fff),
	(name: "white", primaryColor: #fff, accentColor: #1773cb, textColor: #6b6b6b),
	(name: "grey", primaryColor: #e8e8e8, accentColor: #1773cb, textColor: #6b6b6b),
	(name: "darkgrey", primaryColor: #6b6b6b, accentColor: #fff, textColor: #fff);

@each $theme in $themes {
	button, .button {
		&.#{map-get($theme, name)} {
			background-color: map-get($theme, primaryColor);
			color: map-get($theme, accentColor);
			text-shadow: none;
		}
	}
}

.banner.marketing {
	height: 400px;
	background-position: 50%;
	background-size: cover;
	border-bottom: 5px solid #259afd;
	@include breakpoint(medium) {
		height: 300px;
	}
	@include breakpoint(small) {
		display: none;
	}
}

article.marketing {
	@extend article.plain;
	position: relative;
	margin-bottom: 20px;
	color: #6b6b6b;
	img {
		max-width: 100%;
	}
}

article.photoLockup {
    margin-bottom: 0;
	background-color: #e8e8e8;
	color: #6b6b6b;
	.photo {
		position: absolute;
		width: 50%;
		height: 100%;
		overflow: hidden;
		background-repeat: no-repeat;
	}
	.text {
		float: right;
		width: 48%;
		padding: 65px 0;
		font-size: 16px;
		line-height: 1.8;
		.inner {
			max-width: 455px;
			padding: 0 10px;
		}
		h2 {
			margin: 0;
			font-size: 38px;
			line-height: 1.1;
			text-transform: uppercase;
			sup {
				top: -2em;
			}
		}
		h3 {
			font-size: 16px;
			color: #1773cb;
		}
		.lead {
			font-size: 24px;
			text-transform: uppercase;
		}
		blockquote {
			margin: 0;
			background: image-url("marketing/quote-left.png") no-repeat;
			p:first-child {
				text-indent: 50px;
			}
			p:last-child {
				background: image-url("marketing/quote-right.png") no-repeat 100% 100%;
				padding: 10px 10px 0 10px;
				font-size: 18px;
				line-height: 1.8em;
			}
		}
		p.cite {
			font-size: 14px;
			text-transform: uppercase;
		}
		sup {
			font-size: 9px;
		}
	}
	&.top-right-photo {
		.photo {
			background-position: top right;
		}
	}
	&.top-left-photo {
		.photo {
			background-position: top left;
		}
	}
	&.bottom-left-photo {
		.photo {
			background-position: bottom left;
		}
	}
	&.bottom-right-photo {
		.photo {
			background-position: bottom right;
		}
	}
	&.right-img {
		.photo {
			right: 0;
		}
		.text {
			float: left;
			.inner {
				float: right;
			}
		}
	}
	&.border {
		.photo {
			border-right: 3px solid #1773cb;
		}
		&.right-img {
			.photo {
				border-right: 0;
				border-left: 3px solid #1773cb;
			}
		}
	}
	@include breakpoint(small) {
		.photo {
			display: none;
		}
		.text {
			float: none !important;
			width: 100%;
			.inner {
				float: none !important;
				max-width: none;
			}
		}
	}
	
	// Custom colors
	@each $theme in $themes {
		&.bg-#{map-get($theme, name)} {
			background-color: map-get($theme, primaryColor);
			color: map-get($theme, textColor);
			h2, h3 {
				color: map-get($theme, accentColor);
			}
			button, .button {
				background-color: map-get($theme, accentColor);
				color: map-get($theme, primaryColor);
				text-shadow: none;
				&:hover {
					background-color: #6b6b6b;
					color: #fff;
				}
			}
		}
	}
	@each $theme in $themes {
		&.border.border-#{map-get($theme, name)} .photo {
		 	border-color: map-get($theme, primaryColor);
		}
	}
	@each $theme in $themes {
		&.accent-#{map-get($theme, name)} {
		 	h2, h3 {
				color: map-get($theme, primaryColor);
			}
			button, .button {
				background-color: map-get($theme, primaryColor);
				&:hover {
					background-color: #6b6b6b;
					color: #fff;
				}
			}
		}
	}
}

article.marketingIntro {
	text-align: center;
	em {
		color: #007dc3;
		font-style: normal;
	}
	p.intro {
		margin: 1em 20px;
		font-size: 24px;
		line-height: 1.4em;
		font-weight: 300;
	}
	hr {
		margin: 22px 0;
		border: 0;
		border-top: 3px solid #eee;
	}
	div.body {
		margin: 0 100px;
		font-size: 19px;
		ul {
			@include breakpoint(medium-large) {
				width: 450px;
			}
			margin: 0 auto;
			text-align: left;
			em {
				text-transform: uppercase;
			}
		}
		@include breakpoint(small) {
			margin: 0 20px;
		}
	}
	sup {
		font-size: 9px;
	}
	@each $theme in $themes {
		&.accent-#{map-get($theme, name)} {
		 	em {
				color: map-get($theme, primaryColor);
			}
			button, .button {
				background-color: map-get($theme, primaryColor);
				text-shadow: none;
				&:hover {
					background-color: #6b6b6b;
					color: #fff;
				}
			}
		}
	}
	@each $theme in $themes {
		& span.#{map-get($theme, name)} {
			color: map-get($theme, primaryColor);
		}
		& ul.#{map-get($theme, name)} {
			color: map-get($theme, primaryColor);
		}
	}
}

article.loginHorizontal {
    margin-top: -20px;
	padding: 4px 0;
	border-top: 4px solid #1697ff;
	background-color: #1773cb;
	color: #fff;
	span.text {
		float: left;
		margin: 0 20px 0 0;
		padding: 5px 20px 5px 0;
		border-right: 1px solid #409cee;
		color: #fff;
		font-size: 18px;
	}
	ul.radio-list {
		line-height: 2em;
		li {
			display: inline-block;
			margin-right: 5px;
		}
	}
	.group .item {
		padding-right: 0;
		input, select, label {
			vertical-align: middle; 
		}		
	}
	button {
		background-color: #fff;
		color: #1773cb;
		@include text-shadow(none);
	}
    @include breakpoint(small) {
		margin-top: 30px;
		.wrapper {
			padding-top: 20px;
			padding-bottom: 30px;
		}
	}
	@include breakpoint(medium) {
		.group .item {
			padding-right: 11px;
		}
		.username-item, .password-item {
			width: 140px;
		}			
		.wrapper {
			width: 768px;
			padding: 0 20px;
		}
	}
	@include breakpoint(large) {
		.group .item {
			padding-right: 18px;	
		}		
		.username-item, .password-item {
			width: 245px;
		}
		button {
			width: 130px;
		}	
	}
}

.ie8 article.loginHorizontal {
	padding-top: 8px;
	.item {
		display: inline-block;
		input[type=text], input[type=password] {
			margin: 0 8px;
			width: 200px;
			height:30px;
		}
		button {
			width: 130px;
			height:30px;
		}
	}
	.group, .item {
		margin-bottom: 0;
		input, select, label {
			vertical-align: baseline;			
		}
	}
}

article.gridPromos {
	div.col {
		text-align: center;
		padding: 0 5%;
		@include breakpoint(small-medium) {
			padding: 0;
		}
		h4 {
			font-weight: 100;
			strong {
				font-weight: 500;
				display: block;
			}
		}
		i {
			display: block;
			margin: 0 auto 5px auto;
		}
		@each $theme in $themes {
			&.accent-#{map-get($theme, name)} {
			 	h4 {
					color: map-get($theme, primaryColor);
				}
				button, .button {
					background-color: map-get($theme, primaryColor);
					text-shadow: none;
					white-space: nowrap;
					&:hover {
						background-color: #6b6b6b;
					}
				}
			}
		}
	}
}

.ie8 article.gridPromos {
	div.col {
		display: inline-block;
		padding: 0 4%;
	}
}

article.opportunity {
	&.feel-the-power {
		h3 {
			color: #6b6b6b;
			line-height: 1.1;
			text-transform: none;
		}
	}
}

article.leaders {
	.paragraph {
		width: 50%;
		margin: auto;
		text-align: center;
		margin-bottom: 45px;
		font-size: 19px;
		span {
			color: #ac1f2d;
		}
		sup {
			font-size: 10px;
		}
	}
	.director-banner {
		background-color: #ac1f2d;
		padding: 15px;
		margin-bottom: 40px;
		h2 {
			color: #fff;
		}
	}
	ul.director {
		list-style-type: none;
		li {
			width: 25%;
			float: left;
			text-align: center;
			h2,
			h4 {
				color: #ac1f2d;
				margin: 0px;
			}
			p {
				font-style: italic;
			}
			@include breakpoint(medium) {
				width: 50%;
			}
			@include breakpoint(small) {
				width: 100%;
			}
		}
	}
	.view-all {
		padding-top: 40px;
		float: left;
	}
}

article.director-list {
	h2 {
		color: #6b6b6b;
		text-transform: none;
		margin-bottom: 20px;
	}
	ul.director {
		list-style-type: none;
		li {
			width: 25%;
			float: left;
			text-align: center;
			h3 {
				color: #0971ce;
				text-transform: none;
			}
			@include breakpoint(medium) {
				width: 33%;
			}
			@include breakpoint(small) {
				width: 100%;
			}
		}
	}
}
article.leader {
	p.img {
		float: left;
		margin-right: 2em;
	}
}

article.philanthropy {
	.donate {
		padding: 30px 0;
		display: inline-block;
		.donate-image {
			float: left;
		}
		&.donate-alt {
			background-color: #fafafa;
			border-top: 3px solid #f0f0f0;
			border-bottom: 3px solid #f0f0f0;
		}
		.donate-promo {
			float: left;
			width: 40%;
			margin: 10px 0 0 30px;
			h4 {
				color: #ffa300;
			}
		}
		.donate-button {
			float: right;
			margin: 60px 20px 0 0;
			button {
				background-color: #77bc1f;
			}
		}
		@include breakpoint(medium) {
			.donate-promo {
				width: 33%;
				margin: 0 0 0 15px;
			}
		}
		@include breakpoint(small) {
			display: block;
			.donate-promo {
				width: 90%;
				float: none;
				margin-left: 0;
			}
			.donate-button {
				float: none;
				margin: 0;
			}
			.donate-image {
				float: none;
			}
		}
	}
}

article.full-html {
	&.center {
		text-align: center;
	}
	&.promo {
		h1 {
			font-size: 40px;
		}
		p {
			font-size: 27px;
			line-height: 38px;
			font-weight: 300;
		}
	}
	// Custom colors
	@each $theme in $themes {
		&.bg-#{map-get($theme, name)} {
			background-color: map-get($theme, primaryColor);
			color: map-get($theme, textColor);
			h2, h3 {
				color: map-get($theme, accentColor);
			}
			button, .button {
				background-color: map-get($theme, accentColor);
				color: map-get($theme, primaryColor);
				text-shadow: none;
			}
		}
	}
	@each $theme in $themes {
		&.accent-#{map-get($theme, name)} {
		 	h1, h2, h3 {
				color: map-get($theme, primaryColor);
			}
			button, .button {
				background-color: map-get($theme, primaryColor);
				&:hover {
					color: #fff;
					background-color: #6b6b6b;
				}
			}
		}
	}
	@each $theme in $themes {
		& span.#{map-get($theme, name)}, h1.#{map-get($theme, name)}, h2.#{map-get($theme, name)}, h3.#{map-get($theme, name)}, h4.#{map-get($theme, name)} {
			color: map-get($theme, primaryColor);
		}
	}
	
}

article.state-tabs {
	ul.tabs-nav {
		@extend .wrapper;
		margin: 0 auto;
		display: table;
		@include breakpoint(small) {
			width: 100%;
		}
		li {
			float: none;
			display: table-cell;
			@include breakpoint(small) {
				display: block;
				width: auto;
			}
			a {
				display: block;
				padding: 10px 0 20px 0;
				text-align: center;
				@include border-radius(7px 7px 0 0);
				span {
					display: block;
					margin: 0 auto;
					width: 82px;
					height: 84px;
					@include retina-background("state-tabs.png");
				}
				@include breakpoint(small) {
					@include border-radius(7px 7px 7px 7px);
					width: auto;
				}
			}
			&.active, &:hover {
				a {
					background-color: #0971ce;
					color: #fff;
				}
				span {
					background: none;
				}
			}
		}
	}
	.tab-header {
		padding: 10px 0;
		background-color: #0971ce;
		color: #fff;
		button, a.button{
			@include breakpoint(small) {
				display:block;
				margin: 5px 0;
			}
		}
	}
	.tab-footer {
		min-height: 30px;
		margin: 0;
		background-color: #0971ce;
		border-bottom: 5px solid #76bd1d;
	}
}

article.service-states {
	.tab-header {
		margin-bottom: 20px;
		.wrapper {
			text-align: center;
		}
		button,
		a.button {
			background-color: #78bb2f;
			color: #fff;
			&.secondary {
				background-color: #fff;
				color: #1773cb;
				&:hover {
					background-color: #6b6b6b;
					color: #fff;
				}
			}
			&:hover {
				background-color: #6b6b6b;
			}
		}
	}

	h2.wrapper {
		text-align: center;
	}
}

article.marketingPromo {
	text-align: center;
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 27px;
		line-height: 27px;
		font-weight: 300;
	}
	@each $theme in $themes {
		&.accent-#{map-get($theme, name)} {
		 	span {
				color: map-get($theme, primaryColor);
			}
		}
	}
}

article.home-latest {
	margin-bottom: 0;
	border-top: 3px solid #999;
	background: #E8E8EB;
	text-align: center;
	h3 {
		margin-bottom: 0;
		font-size: 14px;
		text-transform: none;
	}
	p {
		margin: 5px 0;
		font-size: 20px;
	}
}

article.careers {
	margin-bottom: 0;
	.text {
		padding: 25px 0;
	}
	.list-header {
		font-size: 22px;
		padding-left: 23px;
		width: 63%;
		line-height: 1.1;
	}
	ul.white {
		list-style: none;
		li {
			background: url("../i/marketing/bullet-white.png");
			background-repeat: no-repeat;
			background-position-y: 5px;
			padding-left: 25px;
		}
	}
	h3 {
		text-transform: none;
		margin-top: 20px;
	}
	hr {
		border:	2px solid #f0f0f0;
	}
	p.job-title {
		margin: 5px 0px;
		line-height: 1;
		text-transform: uppercase;
		a {
			display: block;
			padding: 15px 0;
			background-image: url("../i/marketing/collapse.png");
			background-repeat: no-repeat;
			background-position: 99% center;
		}
		a.collapsed {
			background-image: url("../i/marketing/expand.png");
		}
	}
}

article.press {
	hr {
		border:	2px solid #f0f0f0;
	}
	.press-intro {
		text-align: center;
		p.paragraph {
			font-size: 18px;
		}
	}
	.post {
		margin-top: 60px;
		padding-bottom: 40px;
		border-bottom: 3px solid #f0f0f0;
		h2,
		p.date {
			margin: 0px;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

article.blog {
	.blog-post {
		margin-top: 60px;
		padding-bottom: 40px;
		border-bottom: 3px solid #f0f0f0;
		h2,
		p.date {
			margin: 0px;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}
 
article.blog-list {
	margin-top: 30px;
	button {
		padding: 10px 65px;
		margin-top: 20px;
		@include breakpoint(small) {
			width: 100%;
		}
	}
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
		}
	}
}

article.states-pay {
	.tab-header {
		min-height: 30px;
		border-bottom: 5px solid #76bd1d;
	}
}

article.pay {
	padding: 20px 0;
	h1 {
		color: #0971ce;
	}
	h2 {
		text-transform: none;
		&.get-started {
			text-align: center;
			font-size: 28px;
		}
	}
	.pay-option {
		border-bottom: 4px solid #f0f0f0;
		margin: 20px 25px 20px 0;
		p.call {
			font-size: 20px;
		}
		span.phone {
			font-size: 22px;
			color: #0971ce;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	.pay-list {
		padding: 0;
		li {
			list-style-type: none;
			padding: 0;
		}
	}
	.box {
		@include border-radius(10px, 10px);
		border: 2px solid #f0f0f0;
		padding: 20px;
		margin-bottom: 20px;
		input {
			margin-top: 10px;
			width: 100%;
		}
		button {
			background-color: #77bc1f;
			&:hover {
				color: #000;
			}
		}
		p.forgot a:hover {
			color: #064985;
			text-decoration: underline;
		}
		span.benefits {
			color: #0971ce;
			text-transform: uppercase;
		}
		p.sign-up {
			font-size: 20px;
			color: #0971ce;
			a {
				font-size: 22px;
				text-decoration: underline;
			}
		}
	}
	aside {
		h4 {
			margin-bottom: 40px;
			color: #0971ce;
			text-transform: none;
			font-size: 24px;
			font-weight: 300;
		}
		ul.pay-list {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
			}
		}
	}
	hr {
		border:	2px solid #f0f0f0;
	}
}

article.contact {
	h2 {
		font-size: 30px;
	}
	div.wrapper {
		padding: 40px 0 30px 0;
	}
	div.intro {
		font-size: 24px;
		text-align: center;
		width: 67%;
	}
	div.blue-bar {
		height: 50px;
		background-color: #0971ce;
		border-bottom: 5px solid #ffa409;
	}
	div.associate-support {
		background-color: #efefef;
		border-bottom: 3px solid #0073c7;
		h2 {
			text-align: left;
			color: #ac1f2d;
		}
		p {
			margin: 0;
			&.phone {
				color: #ac1f2d;
			}
			&.fax {
				color: #ac1f2d;
				margin: 20px 0;
			}
		}
		h4 {
			color: #ac1f2d;
			padding-bottom: 10px;
			margin-top: 0;
			background-image: url('../i/marketing/contact.png');
			background-repeat: no-repeat;
			background-position: 160px 0;
		}
		@include breakpoint(small-medium) {
			padding-left: 20px;
			.grid .col {
				width: 50%;
				float: left;
			}
		}
	}
	div.homelife-services {
		border-bottom: 3px solid #0073c7;
		text-align: center;
		h2.homelife {
			text-transform: none;
		}
		h2.phone {
			margin: 0;
		}
		p {
			text-align: center;
		}
	}
	div.clean-nation {
		background-color: #76bd1d;
		color: #fff;
		h2 {
			text-align: left;
			color: #fff;
			margin: 40px 0 0 0;
		}
		h4 {
			padding-bottom: 10px;
			margin-top: 0;
			background-image: url('../i/marketing/contact-dark.png');
			background-repeat: no-repeat;
			background-position: 160px 0;
		}
		p {
			margin: 0;
			&.phone {
				font-size: 22px;
				margin: 10px 0 0 0;
			}
		}
		@include breakpoint(small-medium) {
			padding-left: 20px;
			.grid .col {
				width: 50%;
				float: left;
			}
		}
	}
	div.vip {
		h2 {
			color: #ac1f2d;
			text-align: center;
		}
		p {
			width: 320px;
			text-align: center;
			margin: auto;
		}
	}
	div.request {
		background-color: #0971ce;
		color: #fff;
		border-bottom: 3px solid #ffa409;
		border-top: 3px solid #ffa409;
		padding-bottom: 20px;
		position: relative;
		@include breakpoint(small) {
			padding-top: 30px;
		}
		.request-or {
			background-image: url('../i/marketing/contact-or.png');
			background-repeat: no-repeat;
			position: absolute;
			top: -4px;
			left: 50%;
			margin-left: -57px;
			height: 70px;
			width: 114px;
		}
		h2 {
			color: #fff;
			text-align: left;
		}
		.grid {
			-webkit-border-vertical-spacing: 0px;
			.col {
				border-spacing: 0;
				.item {
					position: relative;
					//width: 90%;
					input,
					select,
					textarea {
						width: 85%;
						color: #bcbcbc;
					}
					.asterisk {
						font-size: 24px;
						vertical-align: middle;
					}
				}
				.group .item, .item.half-width {
					width: 44.8%;
				}
				button {
					background-color: #ebebeb;
					color: #000;
				}
			}
		}
	}
	div.success-message {
		margin: 20px 0;
		background-color: #e8e8e8;
		border-bottom: 3px solid #fda32b;
		h2 {
			text-align: center;
		}
		h4 {
			text-align:center;
			text-transform: none;
			font-size: 38px;
			font-weight: 300;
			line-height: 1.1;
		}
	}
	div.faq {
		h2 {
			text-align: left;
			position: relative;
			.header-line {
				height: 4px;
				width: 100%;
				display: block;
				background-color: #efefef;
				position: absolute;
				top: 19px;
				left: 570px;
			}
		}
		p {
			width: 305px;
		}
	}
}

article.contact-state {
	.customer-service {
		margin: 25px 0;
		h1 {
			color: #0971ce;
			margin-bottom: 50px;
		}
		h2 {
			text-transform: none;
			margin-bottom: 0;
		}
		.left-side {
			width: 65%;
			float: left;
			.phone-email {
				margin-bottom: 40px;
				p {
					margin: 0;
				}
			}
		}
		.right-side {
			float: right;
			.mail {
				@include border-radius(10px, 10px);
				background-color: #e8e8e8;
				padding: 20px;
				h2 {
					background-image: url('../i/marketing/contact.png');
					background-repeat: no-repeat;
					background-position: top right;
					padding-right: 70px;
				}
				p {
					margin: 0;
				}
			}
			@include breakpoint(small) {
				float: left;	
			}
		}
	}
	.quality-control {
		margin-bottom: 35px;
		position: relative;
		p {
			margin: 20px 0 30px 0;
		}
		h2 {
			margin: 0;
			font-size: 25px;
		}
		.header-line {
			height: 4px;
			width: 100%;
			display: block;
			background-color: #efefef;
			position: absolute;
			top: 14px;
			left: 240px;
		}
	}
	.emergency {
		margin-bottom: 30px;
		position: relative;
		h2 {
			margin: 0;
			font-size: 25px;
		}
		h3 {
			color: #0971ce;
			margin: 50px 0 10px 0;
		}
		.header-line {
			height: 4px;
			width: 100%;
			display: block;
			background-color: #efefef;
			position: absolute;
			top: 14px;
			left: 280px;
		}
		.grid .col {
			.company {
				color: #0971ce;
			}
			.oncor {
				width: 85%;
			}
			.company-contact {
				width: 80%;
				margin-bottom: 40px;
				h2 {
					text-transform: none;
				}
				button,
				.button {
					background-color: #ffa409;
					a {
						color: #fff;
					}
					&:hover {
						background-color: #6b6b6b;
					}
				}
			}
		}
	}
}

article.faq {
	background-color: #eaeaea;
	padding: 20px 0;
	.wrapper {
		.panel {
			@include border-radius(10px, 10px);
			background-color: #fff;
			p.question {
				background-image: url('../i/marketing/expand.png');
				background-repeat: no-repeat;
				background-position: 98%;
				margin-left: 55px;
				a {
					color: #696969;
					display: block;
					padding: 15px;
					@include breakpoint(small) {
						width: 93%;	
					}
				}
			}
			.q {
				float: left;
				font-size: 26px;
				margin: 10px 0px 0 10px;
				color: #bbb;
			}
			.panel-content {
				color: #0971ce;
				padding-bottom: 10px;
				.answer-hr {
					border: 3px solid #eaeaea;
					width: 90%;
				}
				.a {
					float: left;
					font-size: 26px;
					margin: 10px 0px 0 10px;
				}
				.answer {
					margin-left: 55px;	
				}
			}
		}
		.faq-hr {
			border: 3px solid #f3f3f3;
			margin: 20px 0;
		}	
	}
}

article.homelife-services {
	.intro {
		background-color: #0971ce;
		color: #fff;
		text-align: center;
		padding: 50px 0;
		h1 {
			font-size: 63px;
		}
		p {
			font-size: 22px;
		}
		@include breakpoint(small) {
			padding: 15px 0 10px;
			h1 {
				font-size: 25px;
			}
			p {
				font-size: 16px;
			}
		}
	}
	.homelife-promo {
		background-image: url('../i/marketing/homelife-services.jpg');
		background-repeat: no-repeat;
		background-position: top center;
		height: 550px;
		border-bottom: 5px solid #ffa409;
		.wrapper {
			width: 55%;
			padding-top: 80px;
			h3 {
				color: #0971ce;
			}
		}
	}
	.bundle-promo {
		margin: 35px 0;
		text-align: center;
		font-size: 20px;
		span {
			font-size: 22px;
			color: #0971ce;
			text-transform: uppercase;
		}
		hr {
			border: 1px solid #eee;
			margin: 15px auto;
			width: 85%;
		}
	}
	div.package {
		padding: 40px;
		.box {
			@include border-radius(10px, 10px);
			background-color: #fff;
			padding: 35px;
			position: relative;
			width: 100%;
			@include breakpoint(small) {
				padding: 5px;
			}
			h3 {
				color: #0971ce;
				span {
					text-transform: none;
				}
			}
			button a {
				color: #fff;
			}
			h4 {
				font-size: 17px;
			}
			ul.services {
				list-style-type: none;
				padding-left: 0;
				float: left;
				li {
					text-align: center;
					float: left;
					margin-right: 39px;
					input {
						margin-top: 15px;
					}
					&.identity {
						color: #7e9bb5;
						position: relative;
						&:after {
							content: "+";
							color: #898989;
							font-size: 62px;
							position: absolute;
							top: 36%;
							right: -10%;
						}
					}
					&.support {
						color: #b58789;
						position: relative;
						&:after {
							content: "+";
							color: #898989;
							font-size: 62px;
							position: absolute;
							top: 36%;
							right: -35%;
						}
					}
					&.monitoring {
						color: #8ba170;
					}
				}
			}
			.savings {
				@include border-radius(50%);
				float: left;
				width: 113px;
				height: 113px;
				margin-top: 25px;
				p {
					color: #fff;
					font-size: 22px;
					font-weight: bold;
					text-align: center;
					margin-top: 10px;
				}
				.line-top {
					height: 40px;
					width: 1px;
					background-color: #ddd;
					float: left;
					margin-left: 50%;
					margin-top: -50px;
				}
				.line-bottom {
					height: 40px;
					width: 1px;
					background-color: #ddd;
					float: left;
					margin-left: 50%;
					margin-top: 13px;
				}
				@include breakpoint(medium) {
					.line-top,
					.line-bottom {
						display: none;
					}
				}
			}
			.pricing {
				text-align: center;
				p {
					font-size: 14px;
					text-transform: uppercase;
					font-style: italic;
					margin: 0 0 50px 0;
					color: #6b6b6b;
					&.price {
						margin-bottom: 0;
						font-style: normal;
						.dollars {
							font-size: 38px;
							color: #0971ce;
						}
						.cents {
							font-size: 12px;
							color: #0971ce;
							vertical-align: 50%;
						}
					}	
				}
			}
			.sash {
				position: absolute;
				background-color: #e61b23;
				top: -33px;
				right: 18px;
				min-width: 32px;
				height: 132px;
				overflow: hidden;
				-webkit-transform: rotate(-45deg);
				span {
					font-size: 24px;
					text-transform: uppercase;
					position: absolute;
					font-weight: 600;
					color: #fff;
					margin: 50px 0 0  -12px;
					-webkit-transform: rotate(90deg);
				}
			}
			@include breakpoint(small-medium) {
				ul.services {
					width: 100%;
					li {
						width: 30%;
						margin-right: 20px;
						&.support:after {
							right: -10%;
						}
					}
				}
				.savings {
					margin-left: 30%;
					margin-right: 20px;
				}
				.pricing {
					float: left;
				}
			}
			@include breakpoint(small) {
				ul.services li {
					margin-right: 8px;
					&.identity:after {
						content: " ";
					}
					&.support {
						&:after {
							content: " ";
						}
						h4 {
							width: 67%;
							margin: 10px auto;
						}
					}
					&.monitoring h4 {
						width: 91%;
						margin: 10px auto;
					}
				}
				.savings {
					margin: 15px 0 0 10%;
				}
				.pricing {
					float: right;
					margin: 0 10% 0 0;
				}
			}
		}
		&.platinum {
			background-color: #0971ce;
			h3 {
				width: 85%;
			}
			.savings {
				background-color: #0971ce;
				p {
					color: #fff;
				}
			}
			.identity .button {
				background-color: #7e9bb5;
			}
			.support .button {
				background-color: #b58789;
			}
			.monitoring .button {
				background-color: #8ba170;
			}			
		}
		&.gold {
			.box {
				border: 1px solid #c1dbf2;
				background-color: #f6f6f6;
				.savings {
					background-color: #fdfdfd;
					border: 1px solid #d0d0d0;
					p {
						color: #0971ce;
					}
				}
				button {
					background-color: #ccc;
				}
			}
		}
		&.silver {
			.box {
				border: 1px solid #cdcdcd;
				h3 {
				text-align: center;
				}
				ul.services {
					width: 100%;
					li {
						margin-right: 0;
						width: 33%;
						border-right: 1px solid #cdcdcd;
						&.identity,
						&.support {
							&:after {
								content: " ";
							}
						}
						&.monitoring {
							border-right: none;
						}
						.pricing {
							text-align: center;
							float: none;
							margin: 0;
							.price .dollars {
								font-size: 24px;
							}
							button {
								background-color: #0971ce;
								&:hover {
									background-color: #6b6b6b;
								}
							}
						}
					}
				}
			}
		}
	}
	p.footnote {
		font-size: 12px;
		text-align: center;
	}
}

article.states-enroll {
	div.wrapper {
		text-align: center;
	}
}

article.states-renew {
	ul.tabs-nav {
		li a {
			@include border-radius(7px 7px 7px 7px);
		}
	}
}

article.full-width-image {
	height: 300px;
	background-size: cover; 
	background-position: center;
}

article.identity-theft {
	h2,
	h3 {
		text-transform: none;
	}
	.semibold {
		font-weight: 600;
	}
	.credit-bureaus {
		padding-left: 0;
		li {
			float: left;
			width: 33%;
			list-style-type: none;
			text-align: center;
		}
	}
	@include breakpoint(small) {
		.credit-bureaus {
			li {
				float: none;
				width: 100%;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

article.why-energy {
	.paragraph {
		margin: 20px auto;
		width: 60%;
		text-align: center;
		span {
			color: #ac1f2d;
		}
		&.promo {
			font-size: 20px;	
		}
		&.joining-info {
			p button {
				background-color: #ac1f2d;
				&:hover {
					background-color: #6b6b6b;
				}
				a {
					color: #fff;
				}
			}
		}
	}
	.banner {
		background-image: url('../i/marketing/why-energy-banner.jpg');
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
	}
}

article.commercial-quote {
	.photo {
		img {
			float: right;
		}
	}
	.text {
		border-left: 3px solid #ffa409;
		width: 50%;
		background-color: #0971ce;
		@include breakpoint(small) {
			width: 100%;
		}
		.inner {
			color: #fff;
			h2 {
				color: #fff;
				font-size: 24px;
			}
			button {
				color: #333;
				background-color: #fff;
				border-color: #ccc;
				text-shadow: none;
				&:hover {
					background-color: #ebebeb
				}
			}
			input,
			select {
				width: 100%;
				color: #999;
			}
		}
	}
	.wrapper {
		padding: 40px 0 30px 0;
	}
	.success-message {
		margin: 20px 0;
		background-color: #e8e8e8;
		border-bottom: 3px solid #fda32b;
		h2 {
			font-size: 30px;
			text-align: center;
		}
		h4 {
			text-align:center;
			text-transform: none;
			font-size: 38px;
			font-weight: 300;
			line-height: 1.1;
		}
	}
}

article.commercial-account-banner {
	.account-banner {
		background-color: #0971ce;
		p {
			button {
				background-color: #fff;
				color: #0971ce;
				margin: auto;
				display: block;
				&:hover {
					background-color: #ccc;
				}
			}
		}
	}
}

article.free-energy {
	margin-bottom: 0;
	img {
		margin: auto;
		display: block;
		float: left; 
	}
	h3 {
		text-transform: none;
		margin-bottom: 30px;
	}
	p {
			font-size: 21px;
			line-height: 1.3;
	}
	.how-it-works {
		img {
			margin: 0px 30px 0px 0px;
		}
		h1 {
			line-height: 1;
		}
		p {
			line-height: 1;
			@include breakpoint(small) {
				display: block;
				float: left;
			}
			em {
				color: #1773cb;
				text-transform: none;
			}
			.blue {
				color: #1773cb;
			}
		}
	}
}

article.free-energy.picture-promo {
	background-image: url('../i/marketing/free-energy.jpg');
	background-repeat: no-repeat;
	background-position: center;
	.promo-content {
		color: #fff;
		width: 335px;
		margin-left: 100px;
		padding: 320px 0 50px 0;
		@include breakpoint(small) {
			margin: 0;
		}
		h2 {
			color: #fff;
			line-height: 28px;
			.big {
				font-size: 31px;
			}
		}
	}
} 

article.enroll {
	margin-top: 20px;
	.text {
		padding: 25px 0;
		h1 {
			color: #0971ce;
		}
		h2 {
			text-transform: none;			
		}
		h2.grey {
			color: #6b6b6b;
		}
		hr {
			margin: 22px 0;
			border: 0;
			border-top: 3px solid #eee;
		}
		.left-column{
			float: left;
			width: 50%;
			margin-bottom: 20px;
		}
		.right-column {
			float: right;
			width: 50%;
			margin-bottom: 20px;
		}
		li.terms {
			background: url("../i/marketing/blue-bullet.png") no-repeat;
			margin: 1.5em 0 0 -2.3em;
			padding-left: 2em;
		}
		ul.service-links{
			padding-left: 0px;
			list-style: none;
			li a {
				color: #6b6b6b;
				text-decoration: underline;
			}
		}
		.formlinks {
			width: 48%;
			.header {
				background-color: #0971ce;
				color: #fff;
				padding: 10px 0 10px 20px;
			}
			.link {
				border-bottom: 3px solid #f0f0f0;
			}
			.grey {
				background-color: #fafafa;
			}
			p.form {
				background: url("../i/marketing/plan-icon.png") no-repeat left center;
				padding: 15px 0;
				margin: 0px 0px 0px 20px;
				width: 100%;
				a {
					font-size: 12px;
					font-weight: bold;
					margin-left: 3.5em;
					padding: 15px 0px;
				}
			}
		}
		.english {
			float: left;
		}
		.spanish {
			float: right;
		}
		.customer-forms {
			margin-top: 80px;
			padding-bottom: 50px;
		}
	}
}

article.service-icons {
	.grid .col {
		padding: 0;
	}
}

article.terms-of-use {
	.write-to {
		width: 70%;
		text-align: center;
		margin: auto;
	}
	ul {
		padding: 0 80px;
		li {
			list-style-type: none;
			p {
				margin-left: 20px;
			}
		}
		h3 {
			color: #0971ce;
		}
		span {
			text-transform: uppercase;
		}
	}
	@include breakpoint(small) {
		ul {
			padding: 0 20px;
		}
	}
	@include breakpoint(medium) {
		ul {
			padding: 0 40px;
		}
	}	
}

article.energy-certificates {
	background-image: url('../i/marketing/energy-certificates.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 350px;
	border-top: 3px solid #7eb24c;
	border-bottom: 3px solid #862134;
	div {
		width: 335px;
		float: right;
		margin: 50px 50px 0 0;
		button {
			background-color: #2c3e50;
			box-shadow: 0 2px #7eb24c;
			a {
				color: #fff;
			}
			&:hover {
				background-color: #6b6b6b;
			}
		}
	}
}

article.ignite-associate {
	text-align: center;
	margin: 50px 0;
	button {
		background-color: #a9222d;
		a {
			color: #fff;
		}
		&:hover {
			background-color: #6b6b6b;
		}
	}
}

article.independent-associate-chart {
	text-align: center;
	h2 {
		background-color: #ac1f2d;
		padding: 20px 0;
		font-size: 24px;
		color: #fff;
	}
	img {
		margin: 20px 0;
	}
}

article.residual-income {
	h3 {
		float: left;
		margin-right: 10px;
	}
	.footnotes {
		font-size: 10px;
	}
	button {
		background-color: #a9222d;
		float: right;
		a {
			color: #fff;
		}
		&:hover {
			background-color: #6b6b6b;
		}
	}
}

article.electricity-gas {
	p {
		font-size: 22px;
		text-align: center;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		span {
			color: #0971ce;
		}
		button {
			margin: auto;
			background-color: #76bd1d;
			font-size: 24px;
			padding: 10px;
			&:hover {
				background-color: #6b6b6b;
			}
			a {
				color: #fff; 
			}
		}
	}
	hr {
		border: 2px solid #f0f0f0;
		margin: 40px 0;
	}
	img {
		padding-bottom: 25px;
	}
	.gas-chart {
		border-bottom: 3px solid #76bd1d;
	}
}

article.privacy-policy {
	.intro-paragraph {
		text-align: center;
	}
	hr {
		width: 60%;
		border: 1px solid #f0f0f0;
		margin: 40px auto;
	}
	h2 {
		margin-top: 30px;
	}
	.indented {
		margin-left: 40px;
		ul {
			list-style: none;
			li {
				background-image: url('../i/marketing/blue-bullet.png');
				background-repeat: no-repeat;
				background-position: 0px 5px;
				padding-left: 25px;
			}
		}
	}
}

article.earn-free-energy {
	.intro-paragraph {
		text-align: center;
	}
	p {
		font-size: 26px;
	}
	.full-image {
		background-image: url('../i/marketing/free-energy-start-earning.jpg');
		background-repeat: no-repeat;
		background-position: center;
		height: 300px;
		border-top: 3px solid #999;
	}
	.enhance {
		text-align: center;
		h2 {
			font-size: 40px;
			margin-top: 40px;
		}
	}
}

article.manage-my-account {
	.left-column {
		width: 35%;
		border-right: 1px solid #cfcfcf;
		padding-right: 40px;
		float: left;
		@include breakpoint(small) {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid #cfcfcf;
			padding: 0;
		}
	}
	.right-column {
		width: 65%;
		float: right;
		padding-left: 40px;
		img {
			float: left;
		}
		h3 {
			float: left;
			margin: 25px 0 0 10px;
			color: #76BD1D;
		}
		.states {
			float: left;
			margin: 20px 40px 0 0;
			input {
				margin-bottom: 15px;
			}
		}
		.input-fields {
			float: left;
			div {
				margin-top: 10px;
			}
			input {
				width: auto;
			}
		}
		.login {
			margin: 10px 0 0 20px;
			float: left;
			button {
				background-color: #76BD1D;
			}
		}
		@include breakpoint(small) {
			width: 100%;
			margin: 20px auto;
			padding: 0;
		}
	}
}

article.manage-free-energy {
	background-image: url('../i/marketing/free-energy-pic.jpg');
	height: 399px;
    margin-bottom: 0;
    @include breakpoint(small) {
		height: auto;
	}
	.left-column {
		float: left;
		width: 55%;
		margin-top: 30px;
		p {
			width: 70%;
			color: #fff;
			margin-top: 60px;
			@include breakpoint(small) {
				width: 80%;
			}
		}
	}
	.right-column {
		float: right;
		background-color: #003366;
		width: 45%;
		height: 399px;
		@include breakpoint(small) {
			height: auto;
		}
		.center {
			text-align: center;
			.button {
				box-shadow: 0 2px #3e8bcb;
				background-color: #ffa409;
				margin: 150px 0 20px 0;
			}
			p {
				width: 50%;
				margin-left: auto;
				margin-right: auto;
				color: #fff;
				@include breakpoint(small) {
					width: 75%;
				}
			}
		}
	}
}

article.manage-services {
	background-color: #7D9AB4;
	.text {
		color: #fff;
		float: left;
		margin-bottom: 75px;
		.inner {
			float: right;
			span {
				text-transform: uppercase;
			}
		}
		@include breakpoint(small-medium) {
			width: 100%;
			float: none;
			padding: 10px;
			margin-bottom: 0;
			.inner {
				float: none;
				max-width: 100%;
			}
		}
	}
	.photo {
		background-image: url('../i/marketing/manage-services.jpg');
		background-repeat: no-repeat;
		right: 0;
		ul {
			padding-left: 5px;
			li {
				list-style-type: none;
				float: left;
				text-align: center;
				margin: 50px 5px 0 0;
				border-right: 1px solid #cfcece;
				padding: 30px 5px 30px 0;
				&:last-child {
					border-right: none;
					padding-right: 0;
					margin-right: 0;
				}
				a .box {
					background-color: #7D9AB4;
					border-radius: 10px;
					box-shadow: 0 3px #DAD4CF;
					height: 70px;
					width: 160px;
					p {
						text-transform: uppercase;
						padding: 3px;
						color: #fff;
						&:hover {
							color: #064985;
							text-decoration: underline;
						}
					}
					&.tech-support {
						background-color: #b68889;
					}
					&.credit-monitoring {
						background-color: #8ea173;
					}
				}
			}
		}
		p.sign-up {
			margin-left: 5px;
			a:hover {
				color: #064985;
				text-decoration: underline;
			}
		}
		@include breakpoint(small-medium) {
			background-size: cover;
			width: 100%;
			float: none;
			display: block;
			position: initial;
		}
		@include breakpoint(small) {
			background-image: none;
			background-color: #fff;
			ul li {
				width: 100%;
				margin-top: 0;
				a .box {
					margin: auto;
				}
			}
		}
	}
}

article.marketing div.wrapper {
	div.historical-rates {
	overflow: scroll;
		table tr td {
			text-align: center;
			&:nth-child(even) {
				background-color: #c2ddf5;
			}
			&:nth-child(odd),
			&.odd {
				background-color: #e8f2fa;
			}
			&.even {
				background-color: #c2ddf5;
			}
		}
	}
}

article.rates {
    table {
        th, td {
            &:first-child {
                text-align: left;
                background: #f9f9f9;
            }
        }

        thead th,
        thead th:first-child {
            border: 1px solid #e8e8e8;
            background-color: #efefef;
            font-weight: 600;

            &[colspan] {
                background: #999;
                color: #fff;
            }
        }

        tbody {
            tr.details td:first-child {
                border: 0;
                border-left: 2px solid #0971ce;
            }
        }
    }
    &.northeast,
    &.georgia {
        table thead th,
	    table thead th:first-child {
		    background: #999;
		    color: #fff;
	    }
    }
}

article.opportunity-compensation-plan {
	@include breakpoint(small-medium) {
		.button {
			margin-top: 10px;
		}
	}
}
 
article.paperless {
	.left-column {
		float: left;
		width: 40%;
		padding-right: 40px;
		.instructions {
			color: #76BD1D;
		}
		@include breakpoint(small) {
			width: 100%;
			padding-right: 0px;
		}
	}
	.right-column {
		width: 60%;
		float: right;
		padding-left: 40px;
		border-left: 1px solid #cfcfcf;
		div.clearfix {
			margin-bottom: 30px;
			img {
				float: left;
			}
			h3 {
				color: #76BD1D;
				float: left;
				margin: 25px 0 0 10px;
			}
		}
		h4 {
			text-align: center;
			margin: 25px 0 0 10px;
			color: #76BD1D;
		}
		.states {
			float: left;
			margin: 20px 40px 0 0;
			input {
				margin-bottom: 15px;
			}
		}
		.input-fields {
			float: left;
			width: 40%;
			margin-right: 18px;
			div {
				margin-top: 10px;
				input {
					width: 100%;
				}
			}

		}
		.login {
			float: left;
			.button {
				background-color: #76BD1D;
				&:hover {
					background-color: #6b6b6b;
				}
			}
		}
		.share {
			margin-top: 100px;
			text-align: center;
		}
		@include breakpoint(small) {
			width: 100%;
			margin: 20px auto;
			padding: 0;
			border-left: none;
		}
	}
}