article.protective-intro {
	background-image: image-url('marketing/redesign/Modules/Services/triangles-background.png');
	.wrapper .grid .col h1 {
		font-size: 60px;
		font-weight: 100;
		text-align: left;
	}
}