.support {
    section.layout {
        max-width: none;
        padding-bottom: 0;
        background: white url('../i/marketing/redesign/pattern_bg.png?1447108210') center;

        .support-search {
            height: 370px;
            color: #fff;
            background-image: url('/~/media/Images/Banners/support-banner.png');
            padding: 1px;
            background-size: cover;

            &.category-search {
                height: 215px;
                background-position: 0 -190px;

                h1 {
                    margin: 20px;
                }
            }

            h1 {
                font-size: 56px;
                margin: 75px auto 10px;
            }

            h4 {
                margin: 10px auto 40px;
            }

            h1, h4 {
                text-align: center;
                color: #fff;
                float: none;
            }

            .search {
                background-color: #fff;
                height: 66px;
                width: 650px;
                margin: 0 auto;
                color: #999999;
                border-radius: 5px;
                padding: 0;
                position: relative;

                .select {
                    position: relative;
                    float: left;
                    width: 200px;
                    padding: 22px 15px;
                    height: 100%;
                    border-right: 1px solid #999999;
                    background-color: #eff2f3;
                    border-radius: 5px 0 0 5px;


                    .selected-category {
                        font-size: 20px;
                        font-weight: 300;
                    }

                    .triangle-down {
                        height: 0;
                        width: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #999999;
                        background-color: #eff2f3;
                        position: relative;
                        float: right;
                        bottom: 22px;
                        transition: all linear 0.5s;

                        &.flipped {
                            transform: rotate(180deg);
                            transition: all linear 0.5s;
                        }
                    }
                }

                .input {
                    padding: 6px;
                    width: calc(100% - 200px);
                    float: right;

                    input[type=text] {
                        float: left;
                        width: calc(100% - 40px);
                        margin: 10px 0;
                        font-size: 20px;
                        border: none;
                        box-shadow: none;
                    }

                    img.mag-glass {
                        float: right;
                        width: 25px;
                        height: 24px;
                        position: relative;
                        top: 15px;
                        right: 15px;
                    }

                    .dropdown-menu {
                        width: 100%;
                        left: 0 !important;
                        top: 90px !important;
                        background-color: #eff2f3;
                        padding: 5px;

                        li {
                            .typeaheadQuestion {
                                margin-bottom: 0;
                                font-size: 16px;
                                font-weight: 400;
                                color: #333333;
                            }

                            .typeaheadAnswer {
                                height: 22px;
                                overflow: hidden;

                                p {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

                .category-dropdown-container {
                    height: 0;
                    transition: height 0.5s ease-in-out;
                    overflow: hidden;
                    top: 10px;
                    position: relative;
                    width: 100%;

                    .triangle-up {
                        height: 0;
                        width: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid #eff2f3;
                        position: relative;
                        top: 0;
                        left: 90px;
                    }

                    ul.category-dropdown {
                        background-color: #eff2f3;
                        color: #000;
                        border-radius: 5px;
                        padding: 20px;
                        margin: 0;
                        position: absolute;
                        width: 210px;
                        list-style: none;
                        z-index: 10;
                        font-size: 16px;

                        div {
                            padding: 10px;
                        }

                        div:hover {
                            background-color: #00a8e1;
                        }

                        div.noHover:hover {
                            background-color: initial;
                        }

                        ul.state {
                            list-style: none;
                        }
                    }

                    &.reveal {
                        height: 640px;
                    }
                }
            }
        }

        .support-container {
            padding-bottom: 0;

            p {
                font-size: 18px;
            }

            .main { //main page specific styling
                article.faq-categories {
                    border: 0px;

                    h1 {
                        color: #333;
                    }

                    p.service-name {
                        font-weight: 600;
                        font-size: 24px;
                    }

                    p.get-support {
                        position: absolute;
                        bottom: 10px;
                    }

                    .primary {
                        margin-bottom: 36px;

                        h1 {
                            margin: 40px auto;
                        }

                        p.service-name {
                            text-align: center;
                        }

                        .category {
                            min-height: 400px;
                            width: 25%;
                            padding: 0 20px;
                            float: left;
                            position: relative;
                            border-width: 0 2px 0 0;
                            border-style: solid;
                            border-image: linear-gradient(white, #efefef, white) 1 100%;

                            > div {
                                background-position: top center;
                                background-repeat: no-repeat;
                                padding: 65px 0px 10px;
                            }

                            &:last-child {
                                border: none;
                            }
                        }
                    }

                    .secondary {
                        border-width: 2px 0 0 0;
                        border-style: solid;
                        border-image: linear-gradient(to left, white, #efefef, white) 100% 1;

                        h1 {
                        }

                        .category {
                            width: 50%;
                            float: left;
                            min-height: 200px;
                            padding: 0 20px;

                            > div {
                                background-position: top left;
                                background-repeat: no-repeat;
                                padding: 0 0 0 80px;
                            }
                        }
                    }
                }

                article.faqs {
                    margin-top: 25px;

                    .wrapper {
                        padding-top: 0;

                        .content {

                            .faq {
                                &:first-child {
                                    border-top: 2px solid #efefef;
                                }

                                .answer-container {
                                    .answer {
                                        .answer-content & aside {
                                            padding: 0 20px 20px;
                                        }

                                        aside {
                                            h4:first-child {
                                                margin-top: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    header {
                        border-bottom: none;
                        margin-top: 25px;

                        h1 {
                            text-align: center;
                            font-size: 36px;
                            float: none;
                        }
                    }
                }
            }

            .category { //category page specific styling
                padding: 20px 20px 0;

                article.faqs {
                    float: left;
                    width: calc(100% - 250px);

                    .content {
                        .faq {
                            .question {
                                a {
                                    width: calc(100% - 51px);
                                }
                            }

                            .answer-container {
                                .triangle-up {
                                    height: 0;
                                    width: 0;
                                    border-left: 15px solid transparent;
                                    border-right: 15px solid transparent;
                                    border-bottom: 15px solid #eff2f3;
                                    background-color: #fff;
                                    position: relative;
                                    top: 0;
                                    left: 45px;
                                }

                                .answer {
                                    background-color: #eff2f3;

                                    .answer-content {
                                        padding: 20px;
                                    }
                                }
                            }
                        }
                    }
                }

                aside {
                    float: right;
                    width: 250px;

                    .selected {
                        font-weight: 700;
                    }
                }
            }

            .pagination-display {
                width: 100%;
                border-bottom: 2px solid #efefef;

                .per-page {
                    margin-left: 10px;
                    border-left: 1px solid grey;
                    padding-left: 10px;
                }

                select {
                    width: 60px;
                }
            }

            .pagination-container {
                display: flex;
                margin: 20px;

                .pagination {
                    margin: 0 auto;

                    div {
                        margin: 0 2px;
                        float: left;
                    }

                    .back {
                        background: url(/frontend/assets/i/icon/backward.png) left center no-repeat;
                        padding-left: 10px;
                    }

                    .page-number {
                        border: 1px solid grey;
                        width: 24px;
                        text-align: center;
                        border-radius: 5px;

                        &.selected {
                            background-color: #1991cf;
                            border-color: #1991cf;
                            color: #ffffff;
                        }
                    }

                    .forward {
                        background: url(/frontend/assets/i/icon/forward.png) right center no-repeat;
                        padding-right: 10px;
                    }

                    .disabled {
                        color: #000000;
                    }
                }
            }

            .faqs { //styling applied to both category and main page
                .content {

                    .faq {
                        border-bottom: 2px solid #efefef;

                        .question {
                            padding: 15px 0;

                            .plus-minus {
                                float: left;
                                height: 21px;
                                width: 21px;
                                margin: 0 20px 0 10px;

                                .plus {
                                    width: 21px;
                                    height: 21px;
                                    background: url(/frontend/assets/i/icon/blue-plus-large.png);

                                    &.minus {
                                        height: 2px;
                                        margin: 10px 0 9px;
                                        background: url(/frontend/assets/i/icon/blue-plus-large.png) 0 11px;
                                    }
                                }
                            }

                            a {
                                font-size: 21px;
                                color: #666666;
                                float: left;
                            }

                            .faq-category {
                                float: right;
                                font-size: 19px;
                                color: #cbcbcb;
                                margin: 0 5px;
                            }
                        }

                        .answer-container {
                            overflow: hidden;
                            width: 100%;

                            .answer {
                                color: #636367;
                                max-height: 750px;
                                margin-top: -775px;
                                overflow: auto;
                                position: relative;
                                transition: margin-top 500ms;

                                &.reveal {
                                    margin-top: 0;
                                }

                                .answer-content {
                                    float: left;
                                    width: calc(100% - 250px);
                                }

                                aside {
                                    float: right;
                                    width: 250px;
                                    font-size: 16px;
                                    padding: 0 20px 20px;
                                }

                                .helpful {
                                    padding: 0 20px;
                                    width: 100%;
                                    background-color: #eeeeee;
                                    float: left;

                                    p {
                                        margin: 1em 0;

                                        label {
                                            margin-right: 5px;
                                        }

                                        input[type="radio"] {
                                            margin: 0 5px;
                                        }
                                    }

                                    .response {
                                        border-top: 2px solid #fff;

                                        .button {
                                            margin: 15px 0;
                                            float: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .secondary-footer {
            width: 100%;
            height: 100px;
            float: left;
            background-color: #eff2f3;
            padding: 36px;
            font-size: 21px;

            a {
                font-weight: 700;
            }
        }
    }
}

article.mobile-acronyms .wrapper {
	.grid .col {
			padding-right: 30px;
		}
		.divider {
			margin-top: -30px;
			margin-bottom: -15px;
		p {
			font-size: 36px;
			font-weight: 400;
			position: relative;
			overflow: hidden;
			&:after {
				display: inline-block;
				content: "";
				height: 1px;
				background: #efefef;
				position: absolute;
				width: 100%;
				top: 50%;
				margin-top: -2px;
				margin-left: 10px;
			}
		}
	}
}

article.support-center-bottom-bar {
	background-color: #f1f1f1;
	.wrapper {
		padding: 10px 0px;
	}
	p {
		float: left;
		margin: 1em 0px;
		span {
			color: #28ade0;
		}
		&.chat {
			float: right;
			background: image-url('icon/support-chat.png') no-repeat left top;
			padding-left: 35px;
		}
	}
}

article.support-mobile-guides {
	background-color: #eff2f3;
	.wrapper {
		padding: 30px 0px;
		h1 {
			margin: 0px;
		}
		p.intro {
			text-align: center;
			margin: 0em 0 1.5em 0;
		}
		.grid {
			min-height: 185px;
			.col {
				padding-left: 20px;
				h2 {
					font-size: 26px;
					color: #fff;
					margin-bottom: 5px;
				}
				p {
					margin: 0px;
					&.download {
						background: image-url('marketing/redesign/Modules/download.png') no-repeat left center;
						padding-left: 20px;
					}
					a {
						color: #fff;
					}
				}
				&.mobile-acronyms {
					background: image-url('marketing/redesign/Modules/mobile-acronyms.jpg') no-repeat center;
				}
				&.backing-up-device {
					background: image-url('marketing/redesign/Modules/backing-up-device.jpg') no-repeat center;
				}
				&.byod {
					background: image-url('marketing/redesign/Modules/byod.jpg') no-repeat center;
				}
				&.trade {
					background: image-url('marketing/redesign/Modules/trade.jpg') no-repeat center;
				}
			}
		}
	}
}

article.contact {
	h1 {
		width: 75%;
		margin: 0px auto 1em auto;
	}
	.grid {
		margin-bottom: 20px;
		.col {
			padding-top: 50px;
			h4 {
				text-align: center;
			}
			p a {
				font-weight: 500;
			}
			&:first-child, &:last-child {
				padding: 50px 30px 0px 30px;
			}
			&.energy {
				background: image-url('marketing/redesign/Modules/HomeHeader/home_header_energy_icon.png') top center no-repeat;
			}
			&.mobile {
				background: image-url('marketing/redesign/Modules/HomeHeader/home_header_mobile_icon.png') top center no-repeat;
			}
			&.protective {
				background: image-url('marketing/redesign/Modules/HomeHeader/home_header_protect_icon.png') top center no-repeat;
			}
			&.home {
				background: image-url('marketing/redesign/Modules/HomeHeader/home_header_home_icon.png') top center no-repeat;
			}
			.item {
                position: relative;
                //width: 90%;
                input,
                select,
                textarea {
                    width: 85%;
                }
			}
			.group .item, .item.half-width {
                width: 44.8%;
            }
		}
	}
	&.contact-info {
		.grid .col {
			padding-top: 0px;
			p {
				margin-top: .5em;
				&.address {
					background: image-url('../i/icon/email-small.png') 0% 5% no-repeat;
					padding-left: 45px;
				}
			}
		}
	}
	div.request {
		background-color: #f3f6f7;
		border-radius: 0px;
		color: #333;
		h2 {
			color: #333;
			margin-top: 0px;
		}
		.wrapper .grid .col {
			padding: 0px;
			.submit {
				width: 85%;
				button {
					background-color: #257ab3;
					background-image: linear-gradient(#75b7e2, #257ab3);
					float: right;
					color: #fff;
				}
			}
		}
		.notice.error {
            background: #136cc1;
            color: #fff;
            border: 0;
			border-radius: 5px;
        }
        .item.error {
            span.field-validation-error {
                color: #fcd22b;
            }
        }
	}

	div.success-message {
        margin: 20px 0;
        background-color: #e8e8e8;
        border-bottom: 3px solid #136cc1;
        h2 {
            text-align: center;
        }
        h4 {
            text-align: center;
            text-transform: none;
            font-size: 38px;
            line-height: 1.1;
        }
    }

	.associate-support {
		.address {
			background: image-url('../i/icon/email-small.png') 0% 5% no-repeat;
			padding-left: 45px;
		}
		.grid .col {
			padding-top: 0px;
		}
	}
}

