.support {
    section.layout {
        max-width: none;
        padding-bottom: 0;
        background: white url('../i/marketing/redesign/pattern_bg.png?1447108210') center;

        .support-search {
            height: 370px;
            color: #fff;
            background-image: url('/~/media/Images/Banners/support-banner.png');
            padding: 1px;
            background-size: cover;

            h1 {
                font-size: 56px;
                margin-top: 75px;
            }

            h1, h4 {
                text-align: center;
                color: #fff;
                float: none;
            }

            .search {
                background-color: #fff;
                height: 75px;
                width: 650px;
                margin: 0 auto;
                color: #999999;
                border-radius: 5px;
                padding: 10px;

                .select {
                    position: relative;
                    float: left;
                    width: 200px;
                    padding: 17px 0;
                    height: 100%;
                    border-right: 1px solid #999999;
                    margin-right: 20px;

                    .selected-category {
                        font-size: 20px;
                        font-weight: 300;
                    }

                    .triangle-down {
                        height: 0;
                        width: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-top: 15px solid #999999;
                        background-color: #fff;
                        position: relative;
                        float: right;
                        bottom: 22px;
                        right: 15px;
                        transition: all linear 0.5s;

                        &.flipped {
                            transform: rotate(180deg);
                            transition: all linear 0.5s;
                        }
                    }
                }

                .input {
                    padding: 11px;

                    .input[type=text] {
                        float: left;
                        margin: 10px 0;
                    }

                    img.mag-glass {
                        float: right;
                        width: 25px;
                        height: 24px;
                        margin-top: 5px;
                    }
                }

                .category-dropdown-container {
                    height: 0;
                    transition: height 0.5s ease-in-out;
                    overflow: hidden;
                    right: 10px;
                    top: 10px;
                    position: relative;

                    ul.category-dropdown {
                        background-color: #eff2f3;
                        color: #000;
                        border-radius: 5px;
                        padding: 20px;
                        position: relative;
                        width: 210px;
                        list-style: none;
                        z-index: 10;
                        font-size: 16px;

                        div {
                            padding: 10px;
                        }

                        div:hover {
                            background-color: #00a8e1;
                        }

                        div.noHover:hover {
                            background-color: initial;
                        }

                        ul.state {
                            list-style: none;
                        }
                    }

                    &.reveal {
                        height: 640px;
                    }
                }
            }
        }

        .support-container {
            padding-bottom: 0;

            .main, .category {
                padding: inherit 20px;
            }

            .category {
                .category-faqs {
                    float: left;
                    width: calc(100% - 250px);
                }

                aside {
                    float: right;
                    width: 250px;

                    .selected {
                        font-weight: 700;
                    }
                }
            }
        }
    }






    .popular-faqs, .category-faqs {
        header {
            border-bottom: none;
            margin-top: 25px;

            h1 {
                text-align: center;
                font-size: 36px;
                float: none;
            }
        }

        .content {

            .faq {
                border-top: 2px solid #efefef;

                &:last-child {
                    border-bottom: 2px solid #efefef;
                }

                .question {
                    padding: 10px 0;

                    .plus-minus {
                        float: left;
                        height: 21px;
                        width: 21px;
                        margin: 0 10px;

                        .plus {
                            width: 21px;
                            height: 21px;
                            background: url(/frontend/assets/i/icon/blue-plus-large.png);

                            &.minus {
                                height: 2px;
                                margin: 10px 0 9px;
                                background: url(/frontend/assets/i/icon/blue-plus-large.png) 0 11px;
                            }
                        }
                    }

                    p {
                        float: left;
                        margin: 0 5px;
                    }

                    .faq-category {
                        float: right;
                    }
                }

                .answer-container {
                    overflow: hidden;
                    width: 100%;
                }

                .answer {
                    background-color: #eff2f3;
                    color: #636367;
                    margin-top: -100%;
                    position: relative;
                    transition: margin-top 500ms;

                    &.reveal {
                        margin-top: 15px;
                    }

                    .triangle-up {
                        height: 0;
                        width: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid #eff2f3;
                        background-color: #fff;
                        position: relative;
                        top: -15px;
                        left: 45px;
                    }

                    .answer-content {
                        width: calc(100% - 250px);
                        float: left;
                        padding: 20px;
                        margin-top: -15px;
                    }

                    aside {
                        margin-top: -15px;
                        float: right;
                        width: 250px;
                        font-size: 16px;
                        padding: 20px;
                    }

                    .helpful {
                        padding: 20px;
                        bottom: 0;
                        width: 100%;
                        background-color: #eeeeee;
                        float: left;

                        label {
                            margin-right: 5px;
                        }

                        input[type="radio"] {
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
    }

    .secondary-footer {
        width: 100%;
        height: 100px;
        float: left;
        background-color: #eff2f3;
        padding: 36px;
        font-size: 21px;
    }
}

article.mobile-acronyms .wrapper {
	.grid .col {
			padding-right: 30px;
		}
		.divider {
			margin-top: -30px;
			margin-bottom: -15px;
		p {
			font-size: 36px;
			font-weight: 400;
			position: relative;
			overflow: hidden;
			&:after {
				display: inline-block;
				content: "";
				height: 1px;
				background: #efefef;
				position: absolute;
				width: 100%;
				top: 50%;
				margin-top: -2px;
				margin-left: 10px;
			}
		}
	}
}

article.support-center-bottom-bar {
	background-color: #f1f1f1;
	.wrapper {
		padding: 10px 0px;
	}
	p {
		float: left;
		margin: 1em 0px;
		span {
			color: #28ade0;
		}
		&.chat {
			float: right;
			background: image-url('icon/support-chat.png') no-repeat left top;
			padding-left: 35px;
		}
	}
}

article.support-mobile-guides {
	background-color: #eff2f3;
	.wrapper {
		padding: 30px 0px;
		h1 {
			margin: 0px;
		}
		p.intro {
			text-align: center;
			margin: 0em 0 1.5em 0;
		}
		.grid {
			min-height: 185px;
			.col {
				padding-left: 20px;
				h2 {
					font-size: 26px;
					color: #fff;
					margin-bottom: 5px;
				}
				p {
					margin: 0px;
					&.download {
						background: image-url('marketing/redesign/Modules/download.png') no-repeat left center;
						padding-left: 20px;
					}
					a {
						color: #fff;
					}
				}
				&.mobile-acronyms {
					background: image-url('marketing/redesign/Modules/mobile-acronyms.jpg') no-repeat center;
				}
				&.backing-up-device {
					background: image-url('marketing/redesign/Modules/backing-up-device.jpg') no-repeat center;
				}
				&.byod {
					background: image-url('marketing/redesign/Modules/byod.jpg') no-repeat center;
				}
				&.trade {
					background: image-url('marketing/redesign/Modules/trade.jpg') no-repeat center;
				}
			}
		}
	}
}

article.faq-categories {
    border: 0px;

    .wrapper {
        h1 {
            text-align: center;
            color: #333;
        }
    }

    .category {
        width: 33%;
        height: 450px;
        overflow: auto;
        float: left;
        padding-top: 50px;
        position: relative;

        p {
            margin: 1em 1.5em 1em 1.5em;

            a {
                color: #28ade0;
                font-weight: 500;
            }

            &.service-name {
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
            }
        }

        .Energy {
            background: image-url('marketing/redesign/Modules/support-energy.png') top center no-repeat;
            padding: 65px 0px 30px 0px;
        }

        .Mobile {
            background: image-url('marketing/redesign/Modules/support-mobile.png') top center no-repeat;
            padding: 65px 0px 30px 0px;
        }

        .Protective {
            background: image-url('marketing/redesign/Modules/support-protection.png') top center no-repeat;
            padding: 65px 0px 30px 0px;
        }

        .Home {
            background: image-url('marketing/redesign/Modules/support-home.png') top center no-repeat;
            padding: 65px 0px 30px 0px;
        }

        .Opportunity {
            background: image-url('marketing/redesign/Modules/support-opportunity.png') top center no-repeat;
            padding: 65px 0px 30px 0px;
        }

        .Stream {
            background: image-url('marketing/redesign/Modules/support-stream.png') top center no-repeat;
            padding: 65px 0px 30px 0px;
        }

        > div:after {
            position: absolute;
            display: block;
            content: '';
            width: 1px;
            height: 210px;
            background: #eceeef;
            top: 76px;
            right: 10px;
        }

        .Protective:after {
            display: none;
        }

        .Stream:after {
            display: none;
        }

        .Home:before, .Opportunity:before, .Stream:before {
            position: absolute;
            display: block;
            content: '';
            width: 200px;
            height: 1px;
            background: #eceeef;
            top: 0px;
            left: 55px;
        }
    }
}
