table {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	th, td {
		padding: 5px 12px;
		border: 1px solid #eaeaea;
	}
	th {
		text-align: left;
	}
	td {
		button {
			margin-right: 8px;
			&:last-child {
				margin-right: 0px;
			}
		}
	}
	thead {
		th {
			border: 1px solid #e8e8e8;
			background-color: #efefef;
			font-weight: 600;
		}
	}
	tbody {
		tr {
			background-color: #fff;
		}
		/*tr:nth-child(even) {
			background: #f5f5f5;
		}*/
		td.opened {
			border-left: 2px solid #0971ce;
			border-bottom: 0;
		}
		tr.details {
			td:first-child {
				border: 0;
				border-left: 2px solid #0971ce;
			}
		}
	}
	tfoot {
		td {
			border: 0; 
		}
	}
}