h1, h2, h3, h4, h5, h6 {

}
h1 {
	font: $h1-font;
	color: $h1-color;
}

h2 {
	font: $h2-font;
	color: $h2-color;
}

h3 {
	font: $h3-font;
	color: $h3-color;
}

h4 {
	font: $h4-font;
	color: $h4-color;
}

h5 {
	font: $h5-font;
	color: $h5-color;
}

h6 {
	font: $h6-font;
	color: $h6-color;
}