div.tabbable {
	ul.nav-tabs {
		@include layout-list();
		@extend .clearfix;
		li {
			float: left;
			a {
				display: block;
			}
			&.active {

			}
		}
	}
	div.tab-content {
		div.tab-pane {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}