div.tabbable {
	ul.nav-tabs {
		@include layout-list();
		@extend .clearfix;
		li {
			float: left;
			a {
				display: block;
			}
			&.active {

			}
		}
	}
	div.tab-content {
		div.tab-pane {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}

/*
.slide-toggle  {
	-webkit-transition: all ease 1s;
  	-moz-transition:all ease 1s;
  	-o-transition:all ease 1s;
  	transition:all ease 1s;
  	&.ng-hide-add, 
  	&.ng-hide-remove {
  		display: block !important;
	}
	&.ng-hide-add.ng-hide-add-active,
	&.ng-hide-remove {
  		max-height: 0;
  		overflow: hidden;
	}
	&.ng-hide-add,
	&.ng-hide-remove.ng-hide-remove-active {
  		max-height: 99999px;
	}
}
*/

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9900 !important;
	background-color: #000000;
}

.modal-backdrop.modal-backdrop-absolute {
	position: absolute;
}

.modal-backdrop, .modal-backdrop.fade.in {
	@include opacity(0.8);
}

.modal {
	@include border-radius(6px);
	@include box-shadow(0 3px 7px rgba(0, 0, 0, 0.3));
	@include background-clip(padding-box);

	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 10000 !important;
	width: 560px;
	margin-left: -280px;
	background-color: #ffffff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: none;

	@include breakpoint(small) {
		@include border-radius(0);
        width: 100%;
        margin-left: -50%;
        top: 0;
        bottom:0;
        overflow-y: auto;
	}
}

.modal.modal-absolute {
	position: absolute;
}

.modal-header {
	padding: 20px 20px 15px 20px;
	border-bottom: 1px solid #eee;

    h2 {
        margin: 0;
        line-height: 1.2;
    }

	a {
		@include box-sizing(border-box); 
		@include border-radius(3px);
		float: right;
		width: 25px;
		height: 25px;
		margin-top: 2px;
		cursor: pointer;
		background: url(../i/icon/close.png) no-repeat 50%;
		text-indent: -5000px;
		&:hover, &:focus, &:active {
			background-color: #eee;
			border: 1px solid #ccc;
		}
	}
}

.modal-body {
	position: relative;
	max-height: 400px;
	padding: 25px 20px;
	& :first-child {
		margin-top: 0;
	}
	& :last-child {
		margin-bottom: 0;
	}
    &.scrollable {
        overflow-y: auto;
    }
}

.modal-footer {
	@include border-radius(0 0 6px 6px);
	@include box-shadow(inset 0 1px 0 #ffffff);

	padding: 15px;
	margin-bottom: 0;
	text-align: right;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	p {
		float: left;
		margin: 0;
	}
	@include breakpoint(small) {
		button {
			margin-bottom: 5px;
		}
	}
}

.datepicker {
    .calendar {
        position: relative;
    }
    .icon {
		position: absolute;
		top: 50%;
		margin-top: -12px;
		right: 10px;
	}
    .dropdown-menu {
        width: 100%;
    }
	button {
        @include border-radius(0);
		padding: 5px 10px;
		font-weight: 400;
		font-size: 14px;
		color: #333;
		text-shadow: none;
		background-color: transparent;
        &.priority {
            background-color: #f9e5aa;
        }
		&.btn-info, &.btn-info:hover {
			background-color: #0971ce;
			color: #fff;
		}
		&:hover {
			color: #0971ce;
			background-color: #eee;
		}
        &[disabled] {
            color: #333;
            background-color: transparent;
        }
	}
	small {
		font-size: 90%;
	}
	table {
    	//width: 320px;
		//height: 185px;
		border-collapse: separate;
        outline: none;
		overflow: hidden;
		//@include border-radius(10px);
		//@include box-shadow(0 2px 6px rgba(0, 0, 0, .25));
		tr:last-child {
			td { 
				border-bottom: none; 
			}
		}
	}
	td {
		border: none;
		border-right: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
		padding: 0;
		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;
		}
	}
	th {
		border-left-color: transparent;
		border-right-color: transparent;
		text-align: center;
		padding: 5px 0;
		border: none;
		border-bottom: 1px solid #ddd;
		.glyphicon {
			width: 40px;
			height: auto;
			text-indent: 0;
			font-style: normal;
			display: block;
		}
		.pull-right, .pull-left {
			padding: 0;
			background-color: #efefef;
			display: inline-block;
			vertical-align: middle;
			height: 35px;
			width: 40px;
		}
		.pull-right {
			float: right;
		}
		.pull-left {
			float: left;
		}
		//CSS trick for arrows using borders
		.glyphicon-chevron-right {
			&:before {
				content: '';
				display: inline-block;
				border-top: 4px solid transparent;
				border-left: 8px solid #333;
				border-bottom: 4px solid transparent;
			}
			&:hover:before {
				border-left-color: #0971ce;
			}
		}
		.glyphicon-chevron-left {
			&:before {
				content: '';
				display: inline-block;
				border-top: 4px solid transparent;
				border-right: 8px solid #333;
				border-bottom: 4px solid transparent;
			}
			&:hover:before {
				border-right-color: #0971ce;
			}
		}					
	}
	//This entire section is to make IE play nice
	thead {
		tr:first-child {
			th {
				height: 46px;
			}
			th:first-child {
				@include border-radius(10px 0 0 0);
			}
			th:last-child {
				@include border-radius(0 10px 0 0);

			}
		}
	}
	tr {
		background-color: transparent;
	}
    ul.legend {
        @include layout-list();
        border-top: 1px solid #eaeaea;
        padding: 15px;
        font-size: 13px;
        li {
            @extend .clearfix;
            padding-left: 30px;
            margin-bottom: 5px;
        }
        span {
            float: left;
            margin-left: -30px;
            padding: 2px 4px;
		    //font-weight: 400;
		    font-size: 9px;
		    color: #333;
		    background-color: #fff;
            border: 1px solid #cdcdcd;
            &.priority {
                background-color: #f9e5aa;
            }
            &.disabled {
                @include opacity(.5);
            }
	    }
    }
}

.typeahead {
	&.loading {
		@include retina-background('loading.gif');
		background-position: 98% 8px;
		background-repeat: no-repeat;
	}
}

.ui-slider {
	height: 24px;
	border: 1px solid #d9d9d9;
	@include border-radius(10px);
	@include background-clip(padding-box);
	background-color: #e9e9e9;
	@include box-shadow(inset 0 1px 3px rgba(0,0,0,.15));
	position: relative;
	.ui-slider-handle {
		position: absolute;
		width: 24px;
		height: 42px;
		display: inline-block;
		margin-left: -12px;
		margin-top: -8px;
		@include retina-background('ui-slider-handle.png');
		outline: none;
	}
	.ui-slider-range {
		background-color: #2988c8;
		height: 24px;
		position: absolute;
		@include border-radius(10px 0 0 10px);
	}
}

//
// Tooltips
// --------------------------------------------------
$tooltip-arrow-width:         8px;
$tooltip-arrow-color:         #1386e3;

// Base class
.tooltip {
    position: absolute;
    z-index: 2;
    display: block;
    visibility: visible;
    //font-size: $font-size-small;
    line-height: 1.4;
    @include opacity(0);

    &.in     { @include opacity(1); }
    &.top    { margin-top:  -3px; padding: $tooltip-arrow-width 0; }
    &.right  { margin-left:  3px; padding: 0 $tooltip-arrow-width; }
    &.bottom { margin-top:   3px; padding: $tooltip-arrow-width 0; }
    &.left   { margin-left: -3px; padding: 0 $tooltip-arrow-width; }

    @include breakpoint(small) {
        left: 0 !important;
    }
}

// Wrapper for the tooltip content
.tooltip-inner {
    max-width: 400px;
    padding: 5px 10px;
    border: 2px solid #1386e3;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    font-weight: normal;
}

// Arrows
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    @include breakpoint(small) {
        display: none;
    }
}
.tooltip {
    &.top .tooltip-arrow {
        bottom: 0;
        left: 50%;
        margin-left: -$tooltip-arrow-width;
        border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
        border-top-color: $tooltip-arrow-color;
    }
    &.top-left .tooltip-arrow {
        bottom: 0;
        left: $tooltip-arrow-width;
        border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
        border-top-color: $tooltip-arrow-color;
    }
    &.top-right .tooltip-arrow {
        bottom: 0;
        right: $tooltip-arrow-width;
        border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
        border-top-color: $tooltip-arrow-color;
    }
    &.right .tooltip-arrow {
        top: 50%;
        left: 0;
        margin-top: -$tooltip-arrow-width;
        border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
        border-right-color: $tooltip-arrow-color;
    }
    &.left .tooltip-arrow {
        top: 50%;
        right: 0;
        margin-top: -$tooltip-arrow-width;
        border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
        border-left-color: $tooltip-arrow-color;
    }
    &.bottom .tooltip-arrow {
        top: 0;
        left: 50%;
        margin-left: -$tooltip-arrow-width;
        border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
        border-bottom-color: $tooltip-arrow-color;
    }
    &.bottom-left .tooltip-arrow {
        top: 0;
        left: $tooltip-arrow-width;
        border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
        border-bottom-color: $tooltip-arrow-color;
    }
    &.bottom-right .tooltip-arrow {
        top: 0;
        right: $tooltip-arrow-width;
        border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
        border-bottom-color: $tooltip-arrow-color;
    }
}