//Brand Colors
$brand-primary-color: #257ab3;
$brand-secondary-color: #fff;
$brand-success: #def7d0;
$brand-message: #ecf9f8;
$brand-error: #fbded4;
$brand-alert: #fff9c9;

//Global Styles
$body-bg: #fff;
$text-primary-color: #333;
$link-primary-color: #257ab3; // 0971ce
$link-hover-color: #333;

//Typography
$font-family: "proxima-nova-n3", "proxima-nova", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-small: 14px;
$font-weight: 300;

$font-size-h1: 35px;
$font-size-h2: 25px;
$font-size-h3: 20px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 14px;

$line-height: 1.375;

//Headings
$headings-font-family: $font-family;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: #333;

//Buttons
$button-primary-bg: #257ab3;
$button-secondary-bg: #797b7e;
$button-disabled-bg: #ccc;

$button-primary-color: #fff;
$button-secondary-color: #257ab3;
$button-disabled-color: #fff;

$button-font-size: $font-size-small;
$button-font-weight: 600;

$button-border-radius: 10px;
$button-margin: 5px;

//Borders (?)
$dark-border-color: #cecece;
$light-border-color: #e6e6e6;

//Forms
$input-bg: #fff;
$input-disabled-bg: #ccc;

$input-color: #333;
$input-border-color: #ccc;
$input-border-radius: 10px;
$input-line-height: normal;

//Nav
$nav-primary-text-color: #7e7d7d;
$nav-primary-hover-color: #1b73b3;
$nav-font-size: $font-size-base;


//Modules
$module-horizontal-padding: 20px;
$module-vertical-padding: 20px;
$module-border-radius: 10px;

$module-header-bg: transparent;
$module-header-font-size: 26px;
$module-header-color: #333;
$module-footer-bg: #fbfbfb;

//Tables
$table-bg: transparent;
$table-border-color: #eaeaea;
$table-cell-padding: 5px 12px;
$table-header-bg: #efefef;
$table-header-border-color: #e8e8e8;

//Responsiveness
$breakpoint-small: 767px; // Up to 767px
$breakpoint-medium: 1024px; // Up to 1024px