<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="redisCache" connectionString="localhost" providerName="StackExchange.Redis.ConnectionMultiplexer"/>
    <add name="azureStorage" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
</configuration>