<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebsiteUrl" value="http://localhost:59203/"/>
  </appSettings>
  <connectionStrings>
    <add name="redisCache" connectionString="localhost" providerName="StackExchange.Redis.ConnectionMultiplexer"/>
    <add name="azureStorage" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
</configuration>