<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sc.variable name="websiteDatabase" value="web" />
  <sc.variable name="websiteCacheHtml" value="true" />
  <sc.variable name="currentsDatabase" value="web" />
  <sc.variable name="currentsCacheHtml" value="true" />
  <contentSearch>
    <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
      <sc.include file="/App_Config/Custom/Index.web.config" />
    </configuration>
  </contentSearch>
  <sites>
    <site name="currents" patch:before="site[@name='website']" hostName="test.currents.mystream.com" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content" startItem="/home/currents" database="$(currentsDatabase)" domain="extranet" allowDebug="true" cacheHtml="$(currentsCacheHtml)" htmlCacheSize="100MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" />
    <site name="callcenter" patch:before="site[@name='website']" hostName="test.callcenter.mystream.com" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content" startItem="/callcenter" database="$(websiteDatabase)" domain="extranet" allowDebug="true" cacheHtml="$(websiteCacheHtml)" htmlCacheSize="100MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" />
  </sites>
</configuration>