<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sites>
    <site name="website" set:database="web" set:cacheHtml="true" />
    <site name="currents" set:database="web" set:cacheHtml="true" />
  </sites>
  <contentSearch>
    <configuration>
      <sc.include file="/App_Config/Custom/Index.web.config" />
    </configuration>
  </contentSearch>
</configuration>