<configuration>
  <sc.variable name="websiteDatabase" value="web" />
  <sc.variable name="retryerDisabled" value="false" />
  <sc.variable name="websiteCacheHtml" value="true" />
  <databases>
    <!-- dev -->
    <database id="dev" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
      <param desc="name">$(id)</param>
      <icon>Network/16x16/earth.png</icon>
      <securityEnabled>true</securityEnabled>
      <dataProviders hint="list:AddDataProvider">
        <dataProvider ref="dataProviders/main" param1="$(id)">
          <disableGroup>publishing</disableGroup>
          <prefetch hint="raw:AddPrefetch">
            <sc.include file="/App_Config/Prefetch/Common.config" />
            <sc.include file="/App_Config/Prefetch/Webdb.config" />
          </prefetch>
        </dataProvider>
      </dataProviders>
      <proxiesEnabled>false</proxiesEnabled>
      <proxyDataProvider ref="proxyDataProviders/main" param1="$(id)" />
      <archives hint="raw:AddArchive">
        <archive name="archive" />
        <archive name="recyclebin" />
      </archives>
      <cacheSizes hint="setting">
        <data>20MB</data>
        <items>10MB</items>
        <paths>500KB</paths>
        <itempaths>10MB</itempaths>
        <standardValues>500KB</standardValues>
      </cacheSizes>
    </database>
    <!-- devProdBackup -->
    <database id="devProdBackup" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
      <param desc="name">$(id)</param>
      <icon>Network/16x16/earth.png</icon>
      <securityEnabled>true</securityEnabled>
      <dataProviders hint="list:AddDataProvider">
        <dataProvider ref="dataProviders/main" param1="$(id)">
          <disableGroup>publishing</disableGroup>
          <prefetch hint="raw:AddPrefetch">
            <sc.include file="/App_Config/Prefetch/Common.config" />
            <sc.include file="/App_Config/Prefetch/Webdb.config" />
          </prefetch>
        </dataProvider>
      </dataProviders>
      <proxiesEnabled>false</proxiesEnabled>
      <proxyDataProvider ref="proxyDataProviders/main" param1="$(id)" />
      <archives hint="raw:AddArchive">
        <archive name="archive" />
        <archive name="recyclebin" />
      </archives>
      <cacheSizes hint="setting">
        <data>20MB</data>
        <items>10MB</items>
        <paths>500KB</paths>
        <itempaths>10MB</itempaths>
        <standardValues>500KB</standardValues>
      </cacheSizes>
    </database>
  </databases>
  <contentSearch>
    <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
      <sc.include file="/App_Config/Custom/Index.master.config" />
      <sc.include file="/App_Config/Custom/Index.web.config" />
    </configuration>
  </contentSearch>
  <settings>
    <setting name="ECM.RendererUrl" value="http://cmsadmin.mystream.com" />
  </settings>
</configuration>