<configuration>
  <sc.variable name="websiteDatabase" value="web" />
  <sc.variable name="websiteCacheHtml" value="true" />
  <sc.variable name="currentsDatabase" value="web" />
  <sc.variable name="currentsCacheHtml" value="true" />
  <sc.variable name="retryerDisabled" value="false" />
  <contentSearch>
    <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
      <sc.include file="/App_Config/Custom/Index.web.config" />
    </configuration>
  </contentSearch>
</configuration>