<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sites>
    <site name="website" set:database="web" set:cacheHtml="true" />
    <site name="currents" set:database="web" set:cacheHtml="true" />
  </sites>
  <retryer set:disabled="false" />
  <contentSearch>
    <configuration>
      <sc.include file="/App_Config/Custom/Index.web.config" />
    </configuration>
  </contentSearch>
</configuration>