@model StreamEnergy.DomainModels.Enrollments.UserContext
@using System.Linq.Expressions;
@using StreamEnergy.Extensions;

@*<script src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.8.0.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.js"></script>*@

<script>
    ngApp.controller('mainController', ['$scope', function ($scope) {
        $scope.provideEmail = true;
        $scope.email = '@(Model != null && Model.ContactInfo != null && Model.ContactInfo.Email != null ? Model.ContactInfo.Email.Address : null)';
        $scope.submit = function ($event) {
            console.log($event);
        }
    }]);
</script>

<div ng-controller="mainController">
    <form name="myForm" ng-submit="submit(myForm.$valid)" novalidate>
        @Html.ValidationSummary()
        <p>
            <label for="provideEmail">Provide Email?</label> <input type="checkbox" id="provideEmail" ng-model="provideEmail" />
        </p>
        <p>
            <input type="text" @Html.ValidationAttributes(m => m.ContactInfo.Email.Address) data-val-if="provideEmail" ng-model="email" />
            @Html.ValidationMessageFor(model => model.ContactInfo.Email.Address)
        </p>

        <input type="submit" name="btnSubmit" ng-disabled="myForm.$invalid" value="Register" />

        <p>myForm.$valid = {{myForm.$valid}}</p>
    </form>
</div>