<article class="dashboard full-page account-dashboard">
    <article class="block-links myaccount">
        <div class="link no-arrow no-icon" ng-click="go('account/invoice-history')">
            <div class="name">Invoice History</div>
        </div>
        <div class="link no-arrow no-icon">
            <div class="name" ng-click="go('account/payment-history')">Payment History</div>
        </div>
        <div class="link split no-arrow no-icon" ng-click="go('account/autopay')">
            <div class="name left">Autopay</div>
            <div class="info right">
                <div class="main-info">
                    Enabled
                </div>
                <div class="sub-info">
                    Patrick’s Amex
                </div>
            </div>
        </div>
        <div class="link split no-arrow no-icon" ng-click="go('account/paperless-billing')">
            <div class="name left">Paperless Billing</div>
            <div class="info right">
                <div class="main-info">
                    Enabled
                </div>
            </div>
        </div>
        <div class="link split no-arrow no-icon" ng-click="go('account/payment-methods')">
            <div class="name left">Payment Methods</div>
            <div class="info right">
                <div class="main-info">
                    Manage
                </div>
            </div>
        </div>
    </article>
</article>