<article class="energy-overview full-page overview">

    <div class="heading-bar grid section clearfix">
        <div class="left">
            <span class="icon" ng-class="{'icon-light-bulb-small': account.utilityType !='gas', 'icon-flame-small': account.utilityType =='gas'}"></span> <span ng-show="account.utilityType =='gas'">Gas</span> <span ng-show="account.utilityType !='gas'">Electricity</span> Account
        </div>
        <div class="right">
            #<span>{{account.accountNumber}}</span>
        </div>
    </div>
    
    <div class="details">
        <div class="detail-block balance">

            <div class="payment-block">
                <div class="link grid">
                    <div class="left">
                        <label>Make a Payment</label>
                        <div>Due {{ account.dueDate | date:'MM/dd/yyyy' }}</div>
                    </div>
                    <div class="right">
                        <label>{{account.amountDue | currency}}</label>
                        <div>Balance</div>
                    </div>
                </div>
                <div class="grid auto-pay-section">
                    <div class="left">
                        <span class="icon-calendar-black icon"></span> <span>AutoPay: {{account.hasAutoPay ? "ON" : "OFF"}}</span>
                    </div>
                    <div class="right">
                        <a ng-click="go('account/autopay')">Manage</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="plan-details detail-block">
            <div class="plan-name">Secure Choice Plan <!--<span class="bubble grey">Fixed</span>--></div>
            <div class="address">
                {{account.serviceAddress.line1}} {{account.serviceAddress.line2}}<br />
                {{account.serviceAddress.city}}, {{account.serviceAddress.stateAbbreviation}} {{account.serviceAddress.postalCode5}}
            </div>
            <div class="account-breakdown  clearfix">
                <div>
                    <dl>
                        <dt>{{account.planRate | currency}}</dt>
                        <dd>
                            <label ng-show="account.utilityType !='gas'">per kWh</label>
                            <label ng-show="account.utilityType =='gas'">therms</label>
                            <div>Energy Rate</div>
                        </dd>
                    </dl>

                </div>
                <!--<div class="right bottom">
                    <dl>
                        <dt>24</dt>
                        <dd>
                            <label>Month</label>
                            <div>Plan Term</div>
                        </dd>
                    </dl>
                </div>-->
            </div>
        </div>

        <div class="buttons full section">
            <a class="button orange-text" ng-click="go('account/invoice-history', {'accountNumber': accountNumber})">Invoice History</a>
            <a class="button orange-text" ng-click="go('account/payment-history', {'accountNumber': accountNumber})">Payment History</a>
        </div>
    </div>
</article>