<article class="invoice-history full-page account billing-history">
    <div class="heading-bar section">
        <span class="icon-manage-small icon"></span> <span>Manage</span>
    </div>

    <div class="section">
        <h1>Invoice History</h1>
        <p>
            Listed below are your latest invoices. To view previous invoices, select the Service Type and Account, then "View".
        </p>
    </div>

    <div class="section selections" ng-init="formData.invoiceServiceTypes = 1; formData.InvoiceAccounts = 1">
        <form>
            <div class="item" float-label>
                <label>Service Type</label>

                <select ng-model="formData.invoiceServiceTypes">
                    <option value="1" selected="selected">All Service Types</option>
                </select>
            </div>
            <div class="item" float-label>
                <label>Accounts</label>

                <select ng-model="formData.InvoiceAccounts">

                    <option value="1">All Accounts</option>
                </select>
            </div>
        </form>
    </div>

    <div class="invoices section">
        <div ng-repeat="invoice in invoices" class="invoice">
            <div class="link">
                <div class="info grid clearfix">
                    <div class="left">Invoice #: {{invoice.InvoiceNumber}}</div>
                    <div class="right">Due: {{invoice.DueDate}}</div>
                </div>
                <div class="details grid clearfix">
                    <div class="left">
                        <b>Electricity</b> {{invoice.AccountNumber}}
                    </div>
                    <div class="right">
                        {{invoice.Balance | currency}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>