<article class="account full-page login-info" >
    <div class="heading-bar section">
        <span class="icon-gear-small icon"></span> <span>Settings</span>
    </div>
    <div class="section">
        <h1>Login Information</h1>
        <form>
            <div class="block">
                <div class="item" float-label>
                    <label>User Name</label>
                    <input type="text" placeholder="Username" ng-model="userName"/>
                </div>
                <div class="item" float-label>
                    <label>Email Address</label>
                    <input type="text" placeholder="Email Address" ng-model="data.user.email" />
                </div>
                <div>
                    <a>Change My Password</a>
                </div>
            </div>

            <div class="block">
                <h1>Security Questions</h1>

                <div class="item" float-label>
                    <label>Select Secuity Question #1</label>
                    <select ng-model="formData.Question1">
                        <option value="">Select Secuity Question #1</option>
                        <option ng-repeat="question in data.user.availableSecurityQuestions" value='{{question.id}}'>{{question.text}}</option>
                    </select>
                </div>
                <div class="item" float-label>
                    <label>Answer</label>
                    <input type="text" placeholder="Answer" ng-model="formData.Answer1"/>
                </div>
            </div>
            <div class="block">
                <div class="item" float-label>
                    <label>Select Secuity Question #2</label>
                    <select ng-model="formData.Question2">
                        <option value="">Select Secuity Question #2</option>
                        <option ng-repeat="question in data.user.availableSecurityQuestions" value='{{question.id}}'>{{question.text}}</option>
                    </select>
                </div>
                <div class="item" float-label>
                    <label>Answer</label>
                    <input type="text" placeholder="Answer" ng-model="formData.Answer2" />
                </div>
            </div>
            
            <div class="buttons">
                <a class="button primary full" ng-click="saveChanges();">Save Changes</a>
                <a class="button secondary full" ng-click="goBack();">Cancel</a>
            </div>

        </form>
    </div>
</article>