<article class="manage-payment-methods full-page account">
    <div class="heading-bar section">
        <span class="icon-gear-small icon"></span> <span>Settings</span>
    </div>
    
    <div class="section">
        <h1>Payment Methods</h1>
        <p>
            You can easily manage how you would like to pay your invoices by choosing your payment method. To save a new method, select one of the payment options below and follow the instructions. To update current account information, delete the account and enter a new account with the updated information.
        </p>

        <div class="buttons">
            <a class="button primary full" ng-click="go('account/add-payment-method')">Add Payment Method</a>
        </div>

        <div class="payment-methods">

            <div class="payment-method" ng-repeat="paymentMethod in paymentMethods">
                <div class="grid clearfix">
                    <div class="left name">{{paymentMethod.paymentMethod.displayName}}</div>
                    <a class="right" ng-click="removePaymentMethod(paymentMethod.paymentMethod.id)">Delete</a>
                </div>

                <div class="payment-details">
                    <span class="icon" ng-class="{'icon-card': paymentMethod.paymentMethod.underlyingPaymentType == 'TokenizedCard', 'icon-bank': paymentMethod.paymentMethod.underlyingPaymentType == 'TokenizedBank'}"></span> 
                    {{paymentMethod.paymentMethod.underlyingPaymentDisplayName}} | {{paymentMethod.paymentMethod.underlyingType}} {{getAccountDisplay(paymentMethod.paymentMethod.redactedData)}}
                </div>
            </div>
        </div>
        
        <p>
            If you would like to pay by phone, mail your payment or find a PayStation near you, check out our <a>Other Payment Options</a>.
        </p>
    </div>
    
</article>