<article class="wireless-overview full-page overview">

    <div class="heading-bar  section">
        <span class="icon-phone-small icon"></span>  Wireless Account: <span>{{account.accountNumber}}</span>
    </div>
    <!--<div class="summary clearfix grid section">
        <div class="left">My Wireless Summary</div>
        <div class="right">
            <a class="bubble pink">2 alerts</a>
        </div>
    </div>-->

    <div class="details">
        <div class="detail-block balance">

            <div class="payment-block">
                <div class="link grid">
                    <div class="left">
                        <label>Make a Payment</label>
                        <div>Due {{ account.dueDate | date:'MM/dd/yyyy' }}</div>
                    </div>
                    <div class="right">
                        <label>{{account.amountDue | currency}}</label>
                        <div>Balance</div>
                    </div>
                </div>
                <div class="grid auto-pay-section">
                    <div class="left">
                        <span class="icon-calendar-black icon"></span> <span>AutoPay: {{account.hasAutoPay ? "ON" : "OFF"}}</span>
                    </div>
                    <div class="right">
                        <a ng-click="go('account/autopay')">Manage</a>
                    </div>
                </div>
            </div>

            <div class="grid clearfix">
                <div class="left">
                    <label>Billing Cycle</label>
                    <div>{{ account.billingCycleStart | date:'MMM dd' }} - {{ account.billingCycleEnd | date:'MMM dd, yyyy' }}</div>
                </div>
                <div class="right bottom">
                    <label>{{accountService.BillingCycleDaysLeft(account)}} days left</label>
                </div>
            </div>
            <div class="progress-bar">
                <div class="current-bar" style="width:{{DaysRemainingPercentage(account)}}%"></div>
            </div>
        </div>

        <div class="detail-block data-usage over-usage"  ng-repeat="line in account.mobileAppPhoneLines">
            <div class="grid clearfix">
                <div class="left">
                    <label>{{line.phoneNumber}}</label>
                </div>
                <div class="right bottom amount-used">
                    <label>{{accountService.FormatDataUsage(line.deviceUsage[0].number)}} of {{accountService.FormatDataUsage(line.deviceUsage[1].number)}} Used</label>
                </div>
            </div>

            <div class="progress-bar"  ng-class="{'red':accountService.getDataPercentage(line.deviceUsage) == 100}">
                <div class="current-bar" style="width:{{accountService.getDataPercentage(line.deviceUsage)}}%"></div>
            </div>
            <div class="estimated">
                Estimated usage: <b>{{estimatedUsage(account)}}</b>
            </div>

            <div class="account-breakdown">
                <div class="grid clearfix">
                    <div class="left">
                        <dl>
                            <dt>237</dt>
                            <dd>
                                <label>Messages</label>
                                <div>of unlimited</div>
                            </dd>
                        </dl>
                        
                    </div>
                    <div class="right bottom">
                        <dl>
                            <dt>1,891</dt>
                            <dd>
                                <label>Minutes</label>
                                <div>of unlimited</div>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        
        <!--<div class="buttons full section">
            <a class="button blue-text">+ Add Another Line</a>
            <a class="button blue-text">Mobile Support</a>
        </div>-->
        <div class="buttons full section">
            <a class="button blue-text" ng-click="go('account/invoice-history', {'accountNumber': accountNumber})">Invoice History</a>
            <a class="button blue-text" ng-click="go('account/payment-history', {'accountNumber': accountNumber})">Payment History</a>
        </div>
    </div>
</article>