&.full-html {
    text-align: center;
    letter-spacing: 0;
    font-size: 20px;
    line-height: 30px;
    color: #333;
    padding-top: 90px;
    padding-bottom: 67px;
    h1 {
        font-size: 40px;
        line-height: 43.48px;
        font-weight: 300;
        letter-spacing: -0.029em;
    }
}