&.photoLockup {
    font-size: 15.99px;
    line-height: 23.99px;
    color: black;
    background: url('../../images/Modules/module_background.png') no-repeat center top;
    padding-top: 80px;
    padding-bottom: 80px;

    > .content, > img {
        float: left;

        @media only screen and (max-width: $breakPoint) {
            float: none;
            width: 100%;
            height: auto;
        }
    }

    > .content {
        width: 463px;
        margin: 0;

        @media only screen and (max-width: $breakPoint) {
            width: 100%;
        }
    }

    > img {
        width: 502px;
    }

    > .content + img, > img + .content {
        float: right;

        @media only screen and (max-width: $breakPoint) {
            float: none;
            width: 100%;
        }
    }

    h2, h3 {
        font-size: 31.99px;
        line-height: 48.91px;
        letter-spacing: 0;
        color: #4f4c4d;
        font-weight: 300;
        padding-top: 0;
        margin-top: 0;
    }
}
