&.states-enroll {
    background-image: none;
    height: 83px;

    h3 {
        margin: 0;
        padding: 0;
        line-height: 83px;
        float: left;
    }

    p {
        float: left;
        line-height: 83px;
        margin: 0;
        padding: 0;
    }
}
