.sc-border[data-sc-id="SpfSetupBorder"] {
  padding-top: 15px;
}

.sc-border[data-sc-id="DkimSetupBorder"] {
  padding-top: 30px;
}

  .sc-border[data-sc-id="SpfSetupBorder"] .sc-image,
  .sc-border[data-sc-id="DkimSetupBorder"] .sc-image {
    margin-left: 10px;
    position: relative;
    bottom:4px
  }

.sc-popover[data-sc-id="SpfWarningPopover"] .sc-text,
.sc-popover[data-sc-id="DkimWarningPopover"] .sc-text {
  display: inline-block;
}

.sc-text[data-sc-id="DnsTxtRecord1Value"],
.sc-text[data-sc-id="DnsTxtRecord2Value"] {
  -moz-word-break: break-all;
  -o-word-break: break-all;
  word-break: break-all;
  word-wrap: break-word;
  display: inline-block;
}

.sc-breadcrumb > ul > li {
  padding-top: 2px;
}

  .sc-breadcrumb > ul > li a,
  .sc-breadcrumb > ul > li a:hover {
    color: white;
  }

.sc-applicationHeader .sc-applicationHeader-back {
	float:none;
}
.sc-applicationHeader .sc-applicationHeader-back .sc-buttontextbox[data-sc-id="SearchTextBox"] {
	float:left;
	width:50%;
}

.sc-dialogWindow .row div[data-sc-id*="ColumnPanelRight"] .sc-text {
  padding-top: 4px;
  display:inline-block;
}

.sc-dialogWindow .row div[data-sc-id*=DateColumnPanelMiddle] {
  z-index: 2000;
}

.sc-dialogWindow .sc-border[data-sc-id="ConfirmBorder"] {
  height: 100%;
  display: flex;
  align-items: center;
}

.sc-dialogWindow .sc-image[data-sc-id="ConfirmIcon"] {
  float: left;
  padding-right: 15px;
}

.sc-dialogWindow .sc-text[data-sc-id="ConfirmText"] {
  white-space: pre-wrap;
  display: inline-block;
}
