.site-footer {
	margin-top: 30px;
	.super-footer {
		background: #0971ce image-url("bg/footer-top-border.png") repeat-x top left;
		padding-top: 10px;
		color: #b4b4b4;

		h2 [class*="icon-"] {
			margin-right: 5px;
		}
		
		div.grid {
			margin: 20px 0;
			color: #fff;
			a {
				color: #fff;
			}
			.col {
				padding: 0 65px;
				@include breakpoint(small-medium) {
					padding: 0 10px;
				}
				@include breakpoint(small) {
					display: block;
					width: 100%;
					&:not(:last-child) {
						border-bottom: 1px solid #1a86e7;
					}
				}
				@include breakpoint(medium-large) {
					&:not(:last-child) {
						border-right: 1px solid #1a86e7;
					}
				}
			}

			ul {
				@include layout-list();
				text-transform: uppercase;
				@include text-shadow(-1px 1px 1px rgba(0,0,0,.3));
				li {
					margin: 10px 0;
				}
			}

			.col:first-child ul {
				@include breakpoint(medium-large) {
					width: 185px;
					margin: 0 auto;
					text-align: center;
				}
				li {
					margin: 0;
					padding: 15px 0;
					border-bottom: 1px solid #1a86e7;
					&:first-child {
						padding-top: 0;
					}
					&:last-child {
						border-bottom: 0;
					}
				}
			}

			.col.social {
				li {
					padding-left: 40px;
					[class*="icon-"] {
						float: left;
						margin-left: -40px;
					}
				}
			}

		}
		
		ul {
			list-style-type: none;
		}
	}
	
	div.copyright {
		padding: 20px 0;
		p {
			float: left;
			color: #b4b4b4;
			font-size: 10px;
		}
		ul {
			@include inline-block-list();
			float: right;
		}
	}
}