/*
Syntax error: Undefined variable: "$primary-text-light-grey".
        on line 24 of C:/HeroDigital/MyStream/Website/MobileApp/frontend/assets/css/_sass/partials/float-labels.scss

Backtrace:
C:/HeroDigital/MyStream/Website/MobileApp/frontend/assets/css/_sass/partials/float-labels.scss:24
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/script/tree/node.rb:50:in `perform'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/script/tree/list_literal.rb:62:in `block in _perform'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/script/tree/list_literal.rb:62:in `map'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/script/tree/list_literal.rb:62:in `_perform'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/script/tree/node.rb:50:in `perform'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `block in with_base'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:121:in `with_frame'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `with_base'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `map'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `block in with_base'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:121:in `with_frame'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `with_base'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `map'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `block in with_base'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:121:in `with_frame'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `with_base'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `map'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `block in with_base'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:121:in `with_frame'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/stack.rb:79:in `with_base'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:52:in `map'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:151:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/tree/root_node.rb:20:in `render'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.6/lib/sass/engine.rb:274:in `render'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:166:in `block in compile'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/logger.rb:46:in `red'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:165:in `compile'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:144:in `compile_if_required'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:129:in `block (2 levels) in run'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `each'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:127:in `block in run'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:153:in `timed'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/compiler.rb:126:in `run'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/commands/update_project.rb:49:in `perform'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/commands/base.rb:18:in `execute'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/commands/project_base.rb:19:in `execute'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/bin/compass:30:in `block in <top (required)>'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/bin/compass:44:in `call'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-1.0.0.alpha.19/bin/compass:44:in `<top (required)>'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/bin/compass:23:in `load'
C:/HeroDigital/MyStream/VSRuby/Ruby200-x64/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$primary-text-light-grey\".\A         on line 24 of C:/HeroDigital/MyStream/Website/MobileApp/frontend/assets/css/_sass/partials/float-labels.scss"; }
