@using Sitecore.Data.Fields
<article class="marketing wrapper blog">
    @{
        <div class="blog-post">
            <h2>@Html.Sitecore().Field("Title")</h2>
            <p class="date">@Html.Sitecore().Field("Posted On Text"): @Html.Sitecore().Field("Date", new { format = "MMMM d, yyyy" })</p>
            @Html.Sitecore().Field("Content")
        </div>
    }
</article>