<article class="service-identification">
    <div class="content">
        <div class="account-selector stretch">
            <form>
                <div class="group">
                    <div class="item">
                        <label>@Html.Sitecore().Field("Account Number Text")</label>
                        <select>
                            <option value="Please choose">1197015532</option>
                            <option value="account1">Account 2</option>
                        </select>
                    </div>
                    <div class="item">
                        <label>@Html.Sitecore().Field("ESI ID Text")</label>
                        <select class="id">
                            <option value="Please choose">109437200008913264</option>
                            <option value="account1">ID 2</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="service-address">
            <p>@Html.Sitecore().Field("Service Address Text") 123 Main Street, Dallas, TX 75001</p>
        </div>
    </div>
</article>