<article class="service-identification" ng-controller="AcctAccountSelectorCtrl">
    <div class="content">
        <form>
            <div class="account-selector stretch">
                <div class="group">
                    <div class="item">
                        <label>@Html.Sitecore().Field("Account Number Text")</label>
                        <select ng-model="currentAccount" ng-options="account.accountNumber for account in accounts track by account.accountNumber" ng-change="currentSubAccount = currentAccount.subAccounts[0]"></select>
                    </div>
                    <div class="item">
                        <label>{{ currentAccount.subAccountLabel }}</label>
                        <select ng-model="currentSubAccount" ng-options="subAccount.id for subAccount in currentAccount.subAccounts"></select>
                    </div>
                </div>
            </div>
            <div class="service-address">
                <p>@Html.Sitecore().Field("Service Address Text") {{ currentSubAccount.serviceAddress.line1 }}, {{ currentSubAccount.serviceAddress.city }}, {{ currentSubAccount.serviceAddress.stateAbbreviation }} {{ currentSubAccount.serviceAddress.postalCode5 }}</p>
            </div>
        </form>
    </div>
</article>
