<article class="service-identification" ng-controller="AcctAccountSelectorCtrl">
    <div class="content">
        <div class="account-selector stretch">
            <form>
                <div class="group">
                    <div class="item">
                        <label for ="AccountNumber">@Html.Sitecore().Field("Account Number Text")</label>
                        <select class="input--small" name="AccountNumber" id="AccountNumber" ng-model="currentAccount" ng-options="account.accountNumber for account in accounts track by account.accountNumber" ng-change="currentSubAccount = currentAccount.subAccounts[0]; updateSelectedAccount(currentAccount.accountNumber,currentAccount.subAccountLabel, currentSubAccount)"></select>
                    </div>
                    <div class="item">
                        <label for="SubAccount">{{ currentAccount.subAccountLabel }}</label>
                        <select class="input--small" name="SubAccount" id="SubAccount" ng-model="currentSubAccount" ng-options="subAccount.id for subAccount in currentAccount.subAccounts" ng-change="updateSelectedAccount(currentAccount.accountNumber,currentAccount.subAccountLabel, currentSubAccount)"></select>
                    </div>
                </div>
            </form>
        </div>
        @*base this on subAccount Key - Utility, Homelife, Mobile, etc*@
        <div ng-include src="'subAccountKey/' + currentSubAccount.key"></div>

    </div>
</article>

<script type="text/ng-template" id="subAccountKey/Utility">
    <div class="service-address">
        <p>@Html.Sitecore().Field("Service Address Text") {{ currentSubAccount.serviceAddress.line1 }}, {{ currentSubAccount.serviceAddress.city }}, {{ currentSubAccount.serviceAddress.stateAbbreviation }} {{ currentSubAccount.serviceAddress.postalCode5 }}</p>
    </div>
</script>
