select option.icon {
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.ui-widget {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #131313;
  max-width: none !important;
}

.ui-widget label.control small {
  margin-left: 4px;
}

ul[data-autocomplete='campaigns-autocomplete'] label.control small {
  margin-left: 4px;
}

ul[data-autocomplete='campaigns-autocomplete'] label.control input[type="radio"] {
  margin-top: 3px;
}

ul[data-autocomplete='campaigns-autocomplete'] label.control img {
  margin-top: 0px;
}

.profile-block .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
  padding: 1px;
}

.profile-block input.sc-textbox {
  width: 55px;
  float: right;
}

fieldset.tab-fieldset p {
  margin-bottom: 0;
}

.tab-fieldset .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
  vertical-align: middle;
  border: none;
}

label.control label {
  border-color: transparent;
}

label.control small {
  font-size: 95%;
  margin: 0;
  font-family: "Segoe UI","Segoe WP","Helvetica Neue",sans-serif;
  line-height: 25px;
  color: #333;
  background-color: #fff;
  vertical-align: sub;
  font-weight: normal;
}

input[type='checkbox'] {
  vertical-align: middle;
}

label.control {
  line-height: 18px;
  padding: 0;
  margin: 0;
}

 label.control img {
    margin-top: 4px;
  }

.ui-widget label.control img {
  margin-left: 4px;
}

#GeoCountryName {
  margin-top: 10px;
}

/*********** PAGE CONFIGURATION TAB **************/
label[class="conditions"] {
  display: block;
}

.experience-explorer-iframe-viewer .conditions:hover {
    background-color: #eee;
}

/*********** VIEWER ******************/

fieldset.tab-fieldset .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 0px;
}