<article class="marketing" ng-controller="voiceCtrl">
    <div class="voice-hub-features">
        <hr />
        <div ng-hide="showHubFeatures" ng-click="showHubFeatures = true">
            <p class="drop-down">@Html.Sitecore().Field("Drop Down Text1")</p>
        </div>
        <div ng-show="showHubFeatures">
            <div ng-click="showHubFeatures = false">
                <p class="drop-down dropped-down">@Html.Sitecore().Field("Drop Down Text2")</p>
            </div>
            <p>@Html.Sitecore().Field("Features Text")</p>
        </div>
        <hr />
    </div>
</article>
