<article class="marketing digital-voice">
    <div class="voice-lets-be-clear">
        <h1>@Html.Sitecore().Field("Title")</h1>
        <p>@Html.Sitecore().Field("Paragraph")</p>
        @Html.Sitecore().Field("Image")
    </div>
</article>