<article class="marketing digital-voice">
    <div class="wrapper">
        <div class="voice-on-the-go">
            @Html.Sitecore().Field("Heading Text")
            <div class="intro">
                @Html.Sitecore().Field("Intro Paragraph")
            </div>
            <div class="features">
                @Html.Sitecore().Field("Features")
            </div>
        </div>
    </div>
</article>