<article class="marketing marketingIntro mobile overview-phones">
    <div class="intro">
        <h1>@Html.Sitecore().Field("Header")</h1>
        <p>@Html.Sitecore().Field("Intro Paragraph")</p>
    </div>
    <div class="wrapper">
        <div class="shop">
            <h3>@Html.Sitecore().Field("Shop Devices")</h3>
            <p>@Html.Sitecore().Field("Button")</p>
        </div>
    </div>
</article>