<div ng-controller="MobileSimActivationCtrl">
    <div class="layout">
        <div class="wrapper cols-2">
            <section>
                <article class="enrollment__box form">
                    <header>
                        <h1>@Html.Sitecore().Field("Header Account Information")</h1>
                    </header>
                    <div class="content">
                        Content Here
                    </div>
                </article>
            </section>
            <aside>
                <div class="enrollment__cart" ng-controller="EnrollmentCartCtrl">
                    <article class="enrollment__box">
                        Questions about your Activation?
                    </article>
                </div>
            </aside>
        </div>
    </div>
</div>
