<article class="marketing marketingIntro compare-network">
    <div class="compare-network wrapper">
        <p>
            @Html.Sitecore().Field("Right Network")
            <span class="icons">
                <i class="icon-gsm"></i>
                <span class="or-text">@Html.Sitecore().Field("Or Text")</span>
                <i class="icon-cdma"></i>
            </span>
            <span class="compare"><a href="#">@Html.Sitecore().Field("Button Text")</a></span>
        </p>
    </div>
</article>