<article class="marketing marketingIntro mobile overview-phones">
    <div class="intro">
        <h1>Keep your phone and number <br />or, Get a <strong>New Phone</strong></h1>
        <p>Bring your existing phone and number with you, or update today and shop our latest devices with affordable Device Installment Plans.</p>
    </div>
    <div class="wrapper">
        <div class="shop">
            <h3>Shop the Stream Store for 4G LTE Devices.</h3>
            <p><a href="">Shop Devices</a></p>
        </div>
    </div>
</article>