@{
    var classes = new List<string>();

    var sc = Html.Sitecore();
    classes.Add(sc.LookupItem("Background Color").SafeFieldValue("Css Class").Prefix("bg-"));
    classes.Add(sc.LookupItem("Accent Color").SafeFieldValue("Css Class").Prefix("accent-"));
    classes.Add(sc.CurrentItem["Custom CSS Class"]);
}

    <div class="wrapper">
        @Html.Sitecore().Field("Module HTML")
    </div>

