<section class="cols-2 wrapper" ng-controller="AcctCtrl">
    <section class="notifications"></section>

    <div ng-show="selectedAccount.accountNumber === false" ng-cloak>
        @Html.Sitecore().Placeholder("noAccount")
    </div>

    <section id="main-content">
        @Html.Sitecore().Placeholder("mainColumn")
    </section>
    <aside id="main-aside">
        @Html.Sitecore().Placeholder("sidebar")
    </aside>
</section>
