<section class="layout cols-2 wrapper" ng-controller="AcctCtrl">
    <section>
        @Html.Sitecore().Placeholder("mainColumn")
    </section>
    <aside>
        @Html.Sitecore().Placeholder("sidebar")
    </aside>
</section>
