<section class="layout cols-2 wrapper" ng-controller="AcctCtrl">
    <section class="notifications"></section>
    <section id="main-content">
        @Html.Sitecore().Placeholder("mainColumn")
    </section>
    <aside id="main-aside">
        @Html.Sitecore().Placeholder("sidebar")
    </aside>
</section>
