<div id="{{section.id}}" class="enrollment-section accent-darkgreen" ng-switch-when="completeOrder" ng-show="section.isVisible" ng-controller="EnrollmentCompleteOrderCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="medium block">Add <i>Payment</i></span>
                <span class="block">Info<span class="hide-small hide-medium">rmation</span></span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <div ng-include ng-if="true" src="'enrollment-nav-template'"></div>
        </aside>
        <section>
            <h1>Add <span>Payment Information</span></h1>
            <p>Based on your order, the following payment is due now to complete your order.</p>
            <article class="form">
                <div class="content">
                    <div class="item">
                        <label for="service-address">Service Address</label>
                        <strong>123 Main Street, Dallas, TX 75001</strong>
                    </div>
                </div>
            </article>
            <table>
                <tbody>
                    <tr class="line-item">
                        <td class="description">
                            <h1>Deposit Due</h1>
                            <h2>24 Month Fixed Rate plan</h2>
                            <p>Based on your credit score, the following deposit is required. It will be returned to you after xxxxx.</p>
                        </td>
                        <td class="rate">
                            $150.00
                        </td>
                    </tr>
                    <tr>
                        <td class="total" colspan="2">
                            Total Due Now: <span>$150.00</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>The card below will be set up to pay for these services. If you’d like to change your payment method, you can do so from your account at any point.</p>
            <h2>Homelife Services</h2>
            <table>
                <tbody>
                    <tr class="line-item">
                        <td class="description">
                            <h1>Stream Tech Support</h1>
                            <p>This will appear as a charge from “ABCD Corp.” on your bill.</p>
                        </td>
                        <td class="rate">
                            $14.95
                        </td>
                    </tr>
                    <tr>
                        <td class="total" colspan="2">
                            Total Recurring Payments: <span>$14.95</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2>Card Details</h2>
            <article class="form">
                <div class="content">
                    <div class="item">
                        <label for="payment-method">Select Payment Method</label>
                        <select id="payment-method">
                            <option value="">Please Choose</option>
                        </select>
                    </div>
                    <div class="item">
                        <label for="cc">Credit Card Number</label>
                        <input type="text" id="cc" />
                    </div>
                    <div class="group">
                        <div class="item">
                            <label for="expiration-date">Expiration Date</label>
                            <select class="small" id="cc-month">
                                <option value="">MM</option>
                            </select>
                            <select class="small" id="cc-year">
                                <option value="">YYYY</option>
                            </select>
                        </div>
                        <div class="item">
                            <label for="billing-zip">Billing Zip</label>
                            <input class="small" type="text" id="billing-zip" />
                        </div>
                        <div class="item">
                            <label for="security-code">Security Code</label>
                            <input class="small" type="text" id="security-code" />
                        </div>
                        <div class="item">
                            <a href="" class="single-link">See Example</a>
                        </div>
                    </div>
                </div>
            </article>
            <div class="buttons">
                <button type="submit" class="primary" ng-click="completeStep();">Place Order</button>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>