<div ng-controller="EnrollmentMainCtrl" ng-init="setServerData(@(Html.Action("ClientData", "Enrollment").ToHtmlString())); assignStepNames(@(Html.Action("EnrollmentNav", "Enrollment").ToHtmlString()))">
    <div>
        @Html.Sitecore().Placeholder("enrollment sections")
    </div>
</div>

<script type="text/ng-template" id="enrollment-nav-template">
    <nav>
        <ul>
            <li ng-class="{ 'active' : step.isCurrent,
                            'completed': step.canJumpTo && !step.isCurrent }"
                ng-repeat="step in stepsService.getSteps() | objectAsArray | orderBy:'order'"
                ng-show="step.isActive">
                <a href="" ng-click="step.isVisible && enrollmentNavClick(step)">{{step.name}}</a>
            </li>
        </ul>
    </nav>
</script>

@Html.Sitecore().Placeholder("enrollment templates")