<div ng-controller="EnrollmentMainCtrl" ng-init="setServerData()">
    <div ng-repeat="section in sections | orderBy: 'order'" ng-switch on="section.id">
        @Html.Sitecore().Placeholder("enrollment sections")
    </div>
</div>

<script type="text/ng-template" id="enrollment-nav-template">
    <nav>
        <ul>
            <li ng-class="{'completed' : section.isVisible && section.id != currentSection, 'active' : section.id == currentSection}" ng-repeat="section in sections | orderBy: 'order'" ng-show="section.isVisible"><a href="#{{section.id}}">{{section.name}}</a></li>
            <li ng-show="nextSection"><a href="">Continue Enrollment</a></li>
        </ul>
    </nav>
</script>