<div ng-controller="EnrollmentMainCtrl" ng-init="setServerData()">
	<div ng-hide="true">
        {{ stepsService.getCurrentStep().name }}
    	<button ng-click="stepsService.previousStep()">Previous Step</button>
    	<button ng-click="stepsService.nextStep()">Next Step</button>
    </div>
    <div >
    	@Html.Sitecore().Placeholder("enrollment sections")
    </div>
</div>

<script type="text/ng-template" id="enrollment-nav-template">
    <nav>
        <ul>
			<li ng-class="{ 'active' : stepsService.getCurrentStep().name == step.name,
                            'completed': step.isVisible && step.name != stepsService.getCurrentStep().name }"
            	ng-repeat="step in stepsService.getSteps()"
            	ng-show="step.isActive">
            	<a href="" ng-click="enrollmentNavClick(step)">{{step.name}}</a>
            </li>
        </ul>
    </nav>
</script>

@Html.Sitecore().Placeholder("enrollment templates")