<div ng-controller="EnrollmentMainCtrl" ng-init="setServerData()">
    <div ng-repeat="section in sections | orderBy: 'order'" ng-switch on="section.name">
        @Html.Sitecore().Placeholder("enrollment sections")
    </div>
</div>