<div id="{{section.id}}" class="enrollment-section accent-orange" ng-switch-when="planSelection" ng-show="section.isVisible" ng-controller="EnrollmentPlanSelectionCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">Choose <i>Your</i> <span class="hide-small">Stream</span></span>
                <span class="block">Energy Plan</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <div ng-include ng-if="true" src="'enrollment-nav-template'"></div>
        </aside>
        <section>
            <h1>Choose From One Of These <span>Great Plans.</span></h1>
            <p>Choose from one of these great plans below that are available for your service location</p>
            <article class="form">
                <div class="content">
                    <div class="item">
                        <label for="service-address">Service Address</label>
                        <strong>123 Main Street, Dallas, TX 75001</strong>
                    </div>
                </div>
            </article>
            <h2>Electricity Plans</h2>
            <article class="plans">
                <table>
                    <thead class="hide-small">
                        <tr>
                            <th colspan="2">Plan Name</th>
                            <th>Rate</th>
                            <th>Term</th>
                            <th>Fees</th>
                            <th>Select Plan</th>
                        </tr>
                        <tr class="spacer"></tr>
                    </thead>
                    <tbody class="open">
                        <tr>
                            <th class="vertical"><div class="fixed">Fixed</div></th>
                            <td class="plan-name hide-small">24-Month Fixed Rate <a href="">Hide Details <i class="icon-blue-arrow-up"></i></a></td>
                            <td class="rate">7.18&cent; <span>per kWh</span></td>
                            <td class="term"><i class="icon-24months"></i></td>
                            <td class="fees">$150<span>early cancellation fee</span></td>
                            <td class="hide-small"><a class="button selected" href=""><i class="icon-check"></i> Selected</a></td>
                        </tr>
                        <tr class="details">
                            <td colspan="6">
                                <p>When it comes to your family’s energy service, you can’t afford to compromise. You need assurances that your electric and gas rates are competitive and that your energy provider truly cares when you need help or have a question. You can rest easy, because Stream Energy, a leader among power companies in the United States, is here for you. We are pleased to offer our customers a variety of choices in their selection of their energy services.</p>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th class="vertical"><div class="fixed">Fixed</div></th>
                            <td class="plan-name hide-small">6-Month Fixed Rate <a href="">View Details <i class="icon-blue-arrow-down"></i></a></td>
                            <td class="rate">7.98&cent; <span>per kWh</span></td>
                            <td class="term"><i class="icon-6months"></i></td>
                            <td class="fees">$150<span>early cancellation fee</span></td>
                            <td class="hide-small"><a class="button select" href="">Select</a></td>
                        </tr>
                        <tr class="details">
                            <td colspan="6">
                                <p>When it comes to your family’s energy service, you can’t afford to compromise. You need assurances that your electric and gas rates are competitive and that your energy provider truly cares when you need help or have a question. You can rest easy, because Stream Energy, a leader among power companies in the United States, is here for you. We are pleased to offer our customers a variety of choices in their selection of their energy services.</p>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th class="vertical"><div class="variable">Variable</div></th>
                            <td class="plan-name hide-small">Month-to-Month Rate <a href="">View Details <i class="icon-blue-arrow-down"></i></a></td>
                            <td class="rate">7.98&cent; <span>per kWh</span></td>
                            <td class="term"><i class="icon-month-to-month"></i> month-to-month</td>
                            <td class="fees">$0<span>early cancellation fee</span></td>
                            <td class="hide-small"><a class="button select" href="">Select</a></td>
                        </tr>
                        <tr class="details">
                            <td colspan="6">
                                <p>When it comes to your family’s energy service, you can’t afford to compromise. You need assurances that your electric and gas rates are competitive and that your energy provider truly cares when you need help or have a question. You can rest easy, because Stream Energy, a leader among power companies in the United States, is here for you. We are pleased to offer our customers a variety of choices in their selection of their energy services.</p>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th class="vertical"><div class="variable">Variable</div></th>
                            <td class="plan-name hide-small">Introductory Rate Plan<a href="">View Details <i class="icon-blue-arrow-down"></i></a></td>
                            <td class="rate">8.08&cent; <span>per kWh</span></td>
                            <td class="term"><i class="icon-month-to-month"></i> month-to-month</td>
                            <td class="fees">$0<span>early cancellation fee</span></td>
                            <td class="hide-small"><a class="button select" href="">Select</a></td>
                        </tr>
                        <tr class="details">
                            <td colspan="6">
                                <p>When it comes to your family’s energy service, you can’t afford to compromise. You need assurances that your electric and gas rates are competitive and that your energy provider truly cares when you need help or have a question. You can rest easy, because Stream Energy, a leader among power companies in the United States, is here for you. We are pleased to offer our customers a variety of choices in their selection of their energy services.</p>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                </table>
            </article>
            <h2>Gas Plans</h2>
            <article class="plans">
                <table>
                    <thead class="hide-small">
                        <tr>
                            <th colspan="2">Plan Name</th>
                            <th>Rate</th>
                            <th>Term</th>
                            <th>Fees</th>
                            <th>Select Plan</th>
                        </tr>
                        <tr class="spacer"></tr>
                    </thead>
                    <tbody class="open">
                        <tr>
                            <th class="vertical"><div class="fixed">Fixed</div></th>
                            <td class="plan-name hide-small">24-Month Fixed Rate <a href="">Hide Details <i class="icon-blue-arrow-up"></i></a></td>
                            <td class="rate">7.18&cent; <span>per kWh</span></td>
                            <td class="term"><i class="icon-24months"></i></td>
                            <td class="fees">$150<span>early cancellation fee</span></td>
                            <td class="hide-small"><a class="button selected" href=""><i class="icon-check"></i> Selected</a></td>
                        </tr>
                        <tr class="details">
                            <td colspan="6">
                                <p>When it comes to your family’s energy service, you can’t afford to compromise. You need assurances that your electric and gas rates are competitive and that your energy provider truly cares when you need help or have a question. You can rest easy, because Stream Energy, a leader among power companies in the United States, is here for you. We are pleased to offer our customers a variety of choices in their selection of their energy services.</p>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th class="vertical"><div class="fixed">Fixed</div></th>
                            <td class="plan-name hide-small">6-Month Fixed Rate <a href="">View Details <i class="icon-blue-arrow-down"></i></a></td>
                            <td class="rate">7.98&cent; <span>per kWh</span></td>
                            <td class="term"><i class="icon-6months"></i></td>
                            <td class="fees">$150<span>early cancellation fee</span></td>
                            <td class="hide-small"><a class="button select" href="">Select</a></td>
                        </tr>
                        <tr class="details">
                            <td colspan="6">
                                <p>When it comes to your family’s energy service, you can’t afford to compromise. You need assurances that your electric and gas rates are competitive and that your energy provider truly cares when you need help or have a question. You can rest easy, because Stream Energy, a leader among power companies in the United States, is here for you. We are pleased to offer our customers a variety of choices in their selection of their energy services.</p>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th class="vertical"><div class="variable">Variable</div></th>
                            <td class="plan-name hide-small">Month-to-Month Rate <a href="">View Details <i class="icon-blue-arrow-down"></i></a></td>
                            <td class="rate">7.98&cent; <span>per kWh</span></td>
                            <td class="term"><i class="icon-month-to-month"></i> month-to-month</td>
                            <td class="fees">$0<span>early cancellation fee</span></td>
                            <td class="hide-small"><a class="button select" href="">Select</a></td>
                        </tr>
                        <tr class="details">
                            <td colspan="6">
                                <p>When it comes to your family’s energy service, you can’t afford to compromise. You need assurances that your electric and gas rates are competitive and that your energy provider truly cares when you need help or have a question. You can rest easy, because Stream Energy, a leader among power companies in the United States, is here for you. We are pleased to offer our customers a variety of choices in their selection of their energy services.</p>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th class="vertical"><div class="variable">Variable</div></th>
                            <td class="plan-name hide-small">Introductory Rate Plan<a href="">View Details <i class="icon-blue-arrow-down"></i></a></td>
                            <td class="rate">8.08&cent; <span>per kWh</span></td>
                            <td class="term"><i class="icon-month-to-month"></i> month-to-month</td>
                            <td class="fees">$0<span>early cancellation fee</span></td>
                            <td class="hide-small"><a class="button select" href="">Select</a></td>
                        </tr>
                        <tr class="details">
                            <td colspan="6">
                                <p>When it comes to your family’s energy service, you can’t afford to compromise. You need assurances that your electric and gas rates are competitive and that your energy provider truly cares when you need help or have a question. You can rest easy, because Stream Energy, a leader among power companies in the United States, is here for you. We are pleased to offer our customers a variety of choices in their selection of their energy services.</p>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                </table>
                <div class="table-overlay">
                    <div class="content">
                        <p>Multiple utility providers were found for your zip code <strong>75019</strong>.  Please choose your utility provider from the list below.</p>
                        <article class="form">
                            <div class="content">
                                <div class="item">
                                    <ul class="checkbox-list">
                                        <li><input type="radio" name="provider" id="oncor-electric"><label for="oncor-electric">Oncor Electric Delivery Company</label></li>
                                        <li><input type="radio" name="provider" id="texas-new-mexico"><label for="texas-new-mexico">Texas-New Mexico Power Company</label></li>
                                    </ul>
                                </div>
                                <p><a class="button" href="">Continue</a></p>
                            </div>
                        </article>
                    </div>
                </div>
            </article>
            <div class="buttons">
                <button type="submit" class="primary" ng-click="completeStep();">Continue</button>
                <button type="submit" class="secondary">Add Additional Address</button>
            </div>
            <div class="hide-medium-large time-remaining-mobile">
                <p class="time-remaining">Estimated Time For Completion <strong>10 Minutes</strong></p>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>