<div id="{{section.id}}" class="enrollment-section accent-orange" ng-switch-when="planSelection" ng-show="section.isVisible" ng-controller="EnrollmentPlanSelectionCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="small block">Choose <i>Your</i> <span class="hide-small">Stream</span></span>
                <span class="block">Energy Plan</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <div ng-include src="'enrollment-nav-template'"></div>
        </aside>
        <section>
            <h1>Choose From One Of These <span>Great Plans.</span></h1>
            <p>Choose from one of these great plans below that are available for your service location</p>
            <article class="form">
                <div class="content">
                    <div class="item">
                        <label for="service-address">Service Address</label>
                        <strong>{{enrollment.currentAddress.formattedAddress}}</strong>
                    </div>
                </div>
            </article>
            <div ng-show="enrollment.serverData.offers[enrollment.currentAddress.id].electricity">
                <h2>Electricity Plans</h2>
                <article class="plans">
                    <table>
                        <thead class="hide-small">
                            <tr>
                                <th colspan="2">Plan Name</th>
                                <th>Rate</th>
                                <th>Term</th>
                                <th>Fees</th>
                                <th>Select Plan</th>
                            </tr>
                            <tr class="spacer"></tr>
                        </thead>
                        <tbody additional-fields ng-class="{'open': isOpen}" ng-repeat="plan in enrollment.serverData.offers[enrollment.currentAddress.id].electricity.plans">
                            <tr>
                                <th class="vertical"><div ng-show="plan.type == 'fixed'" class="fixed">Fixed</div><div class="variable" ng-show="plan.type == 'variable'">Variable</div></th>
                                <td class="plan-name hide-small">{{plan.name}} <a href="" ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}"><span ng-if="!isOpen">View Details <i class="icon-blue-arrow-down"></i></span><span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span> </a></td>
                                <td class="rate">{{plan.rate}}&cent; <span>per kWh</span></td>
                                <td class="term">
                                    <span ng-show="plan.term == '24'"><i class="icon-24months"></i></span>
                                    <span ng-show="plan.term == '6'"><i class="icon-6months"></i></span>
                                    <span ng-show="plan.term == '1'"><i class="icon-month-to-month"></i> month-to-month</td></span>
                                <td class="fees">${{plan.fees}}<span>early cancellation fee</span></td>
                                <td class="hide-small"><a class="button" button-selector="'{{plan.id}}'" ng-model="enrollment.extraFields.electricityPlan" href="">Select</a></td>
                            </tr>
                            <tr class="details additional-fields">
                                <td colspan="6">
                                    <p>{{plan.details}}</p>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        </tbody>
                    </table>
                </article>
            </div>
            <div ng-show="enrollment.serverData.offers[enrollment.currentAddress.id].gas">
                <h2>Gas Plans</h2>
                <article class="plans">
                    <table>
                        <thead class="hide-small">
                            <tr>
                                <th colspan="2">Plan Name</th>
                                <th>Rate</th>
                                <th>Term</th>
                                <th>Fees</th>
                                <th>Select Plan</th>
                            </tr>
                            <tr class="spacer"></tr>
                        </thead>
                        <tbody additional-fields ng-class="{'open': isOpen}" ng-repeat="plan in enrollment.serverData.offers[enrollment.currentAddress.id].gas.plans">
                            <tr>
                                <th class="vertical"><div ng-show="plan.type == 'fixed'" class="fixed">Fixed</div><div class="variable" ng-show="plan.type == 'variable'">Variable</div></th>
                                <td class="plan-name hide-small">{{plan.name}} <a href="" ng-click="toggleFields()" ng-class="{'collapsed': !isOpen}"><span ng-if="!isOpen">View Details <i class="icon-blue-arrow-down"></i></span><span ng-if="isOpen">Hide Details <i class="icon-blue-arrow-up"></i></span> </a></td>
                                <td class="rate">{{plan.rate}}&cent; <span>per kWh</span></td>
                                <td class="term">
                                    <span ng-show="plan.term == '24'"><i class="icon-24months"></i></span>
                                    <span ng-show="plan.term == '6'"><i class="icon-6months"></i></span>
                                    <span ng-show="plan.term == '1'"><i class="icon-month-to-month"></i> month-to-month
                                </td></span>
                                <td class="fees">${{plan.fees}}<span>early cancellation fee</span></td>
                                <td class="hide-small"><a class="button" button-selector="'{{plan.id}}'" ng-model="enrollment.extraFields.gasPlan" href="">Select</a></td>
                            </tr>
                            <tr class="details additional-fields">
                                <td colspan="6">
                                    <p>{{plan.details}}</p>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        </tbody>
                    </table>
                    <div class="table-overlay" ng-hide="true">
                        <div class="content">
                            <p>Multiple utility providers were found for your zip code <strong>75019</strong>.  Please choose your utility provider from the list below.</p>
                            <article class="form">
                                <div class="content">
                                    <div class="item">
                                        <ul class="checkbox-list">
                                            <li><input type="radio" name="provider" id="oncor-electric"><label for="oncor-electric">Oncor Electric Delivery Company</label></li>
                                            <li><input type="radio" name="provider" id="texas-new-mexico"><label for="texas-new-mexico">Texas-New Mexico Power Company</label></li>
                                        </ul>
                                    </div>
                                    <p><a class="button" href="">Continue</a></p>
                                </div>
                            </article>
                        </div>
                    </div>
                </article>
            </div>
            <div class="buttons">
                <button type="submit" class="primary" ng-click="completeStep();">Continue</button>
                <button type="submit" class="secondary" ng-click="scrollToServiceInformation();">Add Additional Address</button>
            </div>
            <div class="hide-medium-large time-remaining-mobile">
                <p class="time-remaining">Estimated Time For Completion <strong>10 Minutes</strong></p>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>