<div id="protectiveFlowServices" class="enrollment showCart" ng-if="stepsService.isStepVisible('protectiveFlowServices')" ng-controller="protectiveServicesEnrollmentCtrl" ng-init="states = @(Html.Action("States", "Data").ToHtmlString())">    
    @Html.Partial("~/Views/Components/Protective Services Enrollment/Progress Bar.cshtml", new StreamEnergy.MyStream.Models.MobileEnrollment.ProgressBar { StepNumber = 1, StepTextField = "Step 1 Description Text", HideCart = false })
    <div class="layout">
        <div class="wrapper cols-2 enrollment__protective-services">
            <section>
                <form data-val-bind-messages="validations" name="protectiveServices" ng-submit="completeStep()">
                    @Html.ValidationSummary()
                    <article class="enrollment__box form">
                        <header>
                            <h1>Protective Services</h1>
                        </header>
                        <div class="content">
                            <div class="select-services">
                                <h4>Select Your Protective Services</h4>
                                <p>It looks like your in <span class="location">Texas</span>. <span class="select-state">Change State</span></p>
                            </div>
                            <div class="services">
                                <div class="service clearfix" ng-repeat="service in services">
                                    <div class="col-1">
                                        <a href="" ng-click="service.showDetails = true" ng-hide="service.showDetails">View Details</a>
                                        <a href="" ng-click="service.showDetails = false" ng-show="service.showDetails">Hide Details</a>
                                    </div>
                                    <div class="col-2">
                                        <p>{{service.name}}</p>
                                        <p>{{service.description}}</p>
                                    </div>
                                    <div class="col-3">
                                        <a href="" ng-click="service.selected = !service.selected" class="button service" ng-show="!service.selected">Select</a>
                                        <a href="" ng-click="service.selected = !service.selected" class="button service selected" ng-show="service.selected">Selected</a>
                                    </div>
                                    <div class="details clearfix" ng-show="service.showDetails">
                                        <p>{{service.name}} Includes:</p>
                                        <ul class="even">
                                            <li ng-repeat="detail in service.details" ng-if="$even">{{detail}}</li>
                                        </ul>
                                        <ul class="odd">
                                            <li ng-repeat="detail in service.details" ng-if="$odd">{{detail}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>                    
                    <div class="buttons">
                        <button type="submit" class="primary" ng-disabled="!isFormValid()" data-val-submit>Continue</button>
                        <button type="submit" class="tertiary" ng-click="resetEnrollment()">Cancel</button>
                    </div>
                </form>
            </section>
            <aside>
                <div ng-include ng-if="true" src="'cart-template'"></div>
            </aside>
        </div>
    </div>
</div>

<script type="text/ng-template" id="newTemplate">
    <div>
    </div>
</script>