<section class="layout cols-1">
    <article class="white-box">
        <header>
            <h2>Select a Phone</h2>
        </header>
        <div class="content">
            <div class="filters">
                <form>
                    <div class="group">
                        <div class="item">
                            <label>Sort By:</label>
                            <select>
                                <option value="">Price (High - Low)</option>
                            </select>
                        </div>
                        <div class="item">
                            <label>Filter By:</label>
                            <select>
                                <option value="">All Brands</option>
                            </select>
                            <select>
                                <option value="">All OS</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>