<div class="enrollment-section">
    <section class="layout cols-1">
        <article class="white-box phone">
            <header>
                <h2>Select a Phone</h2>
            </header>
            <div class="content">
                <div class="filters">
                    <form>
                        <div class="group">
                            <div class="item">
                                <label>Sort By:</label>
                                <select>
                                    <option value="">Price (High - Low)</option>
                                </select>
                            </div>
                            <div class="item">
                                <label>Filter By:</label>
                                <select>
                                    <option value="">All Brands</option>
                                </select>
                                <select>
                                    <option value="">All OS</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="stretch">
                    <table class="phone-selector">
                        <tr>
                            <td>
                                <div class="count">1</div>
                                <h3>Bring your own phone</h3>
                                <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/phones.jpg" /></div>
                                <div class="price">Free*</div>
                                <p>Lorem ipsum dolor sit amet, connectur</p>
                                <a href="">Select Phone</a>
                            </td>
                            <td>
                                <h3>Google Nexus 5</h3>
                                <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/googlenexus5.jpg" /></div>
                                <div class="price">
                                    <span>Starting At</span>
                                    $599.00
                                </div>
                                <p>Lorem ipsum dolor sit amet, connectur</p>
                                <a href="">Select Phone</a>
                            </td>
                            <td>
                                <h3>Apple iPhone 5s</h3>
                                <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/iphone5s.jpg" /></div>
                                <div class="price">
                                    <span>Starting At</span>
                                    $599.00
                                </div>
                                <div class="option-selector">
                                    <ul class="colors">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <select class="capacity">
                                        <option value="">16GB</option>
                                    </select>
                                </div>
                                <a href="">Select Phone</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Samsung Galaxy S III T999 4G</h3>
                                <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/galaxys.jpg" /></div>
                                <div class="price">
                                    $449.00
                                </div>
                                <p>Lorem ipsum dolor sit amet, connectur</p>
                                <a href="">Select Phone</a>
                            </td>
                            <td>
                                <h3>Apple iPhone 5c</h3>
                                <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/iphone5c.jpg" /></div>
                                <div class="price">
                                    <span>Starting At</span>
                                    $399.00
                                </div>
                                <div class="option-selector">
                                    <ul class="colors">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <select class="capacity">
                                        <option value="">16GB</option>
                                    </select>
                                </div>
                                <a href="">Select Phone</a>
                            </td>
                            <td>
                                <h3>Huawei Prism A</h3>
                                <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/prisma.jpg" /></div>
                                <div class="price">
                                    $299.00
                                </div>
                                <p>Lorem ipsum dolor sit amet, connectur</p>
                                <a href="">Select Phone</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </article>
    </section>
</div>