<div class="enrollment-section">
    <section class="layout cols-1">
        <article class="white-box phone">
            <header>
                <h2>Select a Phone</h2>
            </header>
            <div class="content">
                <div class="filters">
                    <form>
                        <div class="group">
                            <div class="item">
                                <label>Sort By:</label>
                                <select class="dark">
                                    <option value="">Price (High - Low)</option>
                                </select>
                            </div>
                            <div class="item">
                                <label>Filter By:</label>
                                <select class="dark">
                                    <option value="">All Brands</option>
                                </select>
                                <select class="dark">
                                    <option value="">All OS</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="stretch form">
                    <table class="phone-selector">
                        <tbody additional-fields>
                            <tr>
                                <td>
                                    <div class="count">1</div>
                                    <h3>Bring your own phone</h3>
                                    <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/phones.png" /></div>
                                    <div class="price">Free*</div>
                                    <p>Lorem ipsum dolor sit amet, connectur</p>
                                    <a class="selection" href=""><span ng-show="isOpen && fieldId1=='bring-own-phone'" class="small" ng-click="hideFields();">Hide Details</span><span ng-hide="isOpen && fieldId1=='bring-own-phone'" ng-click="showFields(); fieldId1='bring-own-phone';">Select Phone</span></a>
                                </td>
                                <td>
                                    <h3>Google Nexus 5</h3>
                                    <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/googlenexus5.png" /></div>
                                    <div class="price">
                                        <span>Starting At</span>
                                        $599.00
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, connectur</p>
                                    <a class="selection" href=""><span ng-show="isOpen && fieldId1=='google-nexus-5'" class="small" ng-click="hideFields();">Hide Details</span><span ng-hide="isOpen && fieldId1=='google-nexus-5'" ng-click="showFields(); fieldId1='google-nexus-5';">Select Phone</span></a>
                                </td>
                                <td>
                                    <div class="count">1</div>
                                    <h3>Apple iPhone 5s</h3>
                                    <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/iphone5s.png" /></div>
                                    <div class="price">
                                        <span>Starting At</span>
                                        $599.00
                                    </div>
                                    <div class="option-selector">
                                        <ul class="colors">
                                            <li><a class="gold" href=""></a></li>
                                            <li><a class="grey" href=""></a></li>
                                            <li><a class="silver" href=""></a></li>
                                        </ul>
                                        <select class="capacity">
                                            <option value="">16GB</option>
                                        </select>
                                    </div>
                                    <a class="selection" href=""><span ng-show="isOpen && fieldId1=='iphone-5s'" class="small" ng-click="hideFields();">Hide Details</span><span ng-hide="isOpen && fieldId1=='iphone-5s'" ng-click="showFields(); fieldId1='iphone-5s';">Select Phone</span></a>
                                </td>
                            </tr>
                            <tr class="additional-fields">
                                <td colspan="3">
                                    <div ng-show="fieldId1=='bring-own-phone'">
                                        Bring Own Phone
                                    </div>
                                    <div ng-show="fieldId1=='google-nexus-5'">
                                        Google Nexus 5
                                    </div>
                                    <div ng-show="fieldId1=='iphone-5s'">
                                        iPhone 5s
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody additional-fields>
                            <tr>
                                <td>
                                    <h3>Samsung Galaxy S III T999 4G</h3>
                                    <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/galaxys.png" /></div>
                                    <div class="price">
                                        $449.00
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, connectur</p>
                                    <a class="selection" href=""><span ng-show="isOpen && fieldId2=='samsung-galaxy-s'" class="small" ng-click="hideFields();">Hide Details</span><span ng-hide="isOpen && fieldId2=='samsung-galaxy-s'" ng-click="showFields(); fieldId2='samsung-galaxy-s';">Select Phone</span></a>
                                </td>
                                <td>
                                    <h3>Apple iPhone 5c</h3>
                                    <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/iphone5c.png" /></div>
                                    <div class="price">
                                        <span>Starting At</span>
                                        $399.00
                                    </div>
                                    <div class="option-selector">
                                        <ul class="colors">
                                            <li class="selected"><a class="white" href=""></a></li>
                                            <li><a class="yellow" href=""></a></li>
                                            <li><a class="red" href=""></a></li>
                                            <li><a class="blue" href=""></a></li>
                                            <li><a class="green" href=""></a></li>
                                        </ul>
                                        <select class="capacity">
                                            <option value="">16GB</option>
                                        </select>
                                    </div>
                                    <a class="selection" href=""><span ng-show="isOpen && fieldId2=='iphone-5c'" class="small" ng-click="hideFields();">Hide Details</span><span ng-hide="isOpen && fieldId2=='iphone-5c'" ng-click="showFields(); fieldId2='iphone-5c';">Select Phone</span></a>
                                </td>
                                <td>
                                    <h3>Huawei Prism A</h3>
                                    <div class="product-image"><img src="/frontend/assets/i/enrollment/phones/prisma.png" /></div>
                                    <div class="price">
                                        $299.00
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, connectur</p>
                                    <a class="selection" href=""><span ng-show="isOpen && fieldId2=='prism-a'" class="small" ng-click="hideFields();">Hide Details</span><span ng-hide="isOpen && fieldId2=='prism-a'" ng-click="showFields(); fieldId2='prism-a';">Select Phone</span></a>
                                </td>
                            </tr>
                            <tr class="additional-fields">
                                <td colspan="3">
                                    <div ng-show="fieldId2=='samsung-galaxy-s'">
                                        Samsung Galaxy S III T999 4G
                                    </div>
                                    <div ng-show="fieldId2=='iphone-5c'">
                                        Apple iPhone 5c
                                    </div>
                                    <div ng-show="fieldId2=='prism-a'">
                                        Huawei Prism A
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </section>
</div>