<div class="enrollment-section">
    <section class="layout cols-1">
        <article class="white-box phone-plan">
            <header>
                <h2>Select a Plan</h2>
            </header>
            <div class="content">
                <div class="stretch form">
                    <div class="plan">
                        <div class="plan-selection">
                            <div class="product-info">
                                <img src="/frontend/assets/i/enrollment/phones/phones.png" />
                                <h1>Bring Your Own Phone</h1>
                                <h2>Sim Card</h2>
                                <h2>$9.00</h2>
                            </div>
                            <div class="plan-info">
                                <h2>Mobile Phone 1</h2>
                                <h1>Select your Plan</h1>
                                <p>Choose the amount of High Speed Data you would like with your plan</p>
                                <div ui-slider></div>
                            </div>
                        </div>
                        <div class="plan-details">
                            <div>
                                <div class="price">
                                    $39
                                    <span>Per Month*</span>
                                </div>
                                <h1>Unlimited Voice + Text + Data</h1>
                                <h2>500MB High Speed Data</h2>
                                <p>You use your phone to occasionally send/receive email, check in on social media &amp; surf the web.</p>
                                <a class="more" href="">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="plan">
                        <div class="plan-selection">
                            <div class="product-info">
                                <img src="/frontend/assets/i/enrollment/phones/iphone5s.png" />
                                <h1>Apple iPhone 5s</h1>
                                <h2>Gold, 16GB</h2>
                                <h2>$599.00</h2>
                            </div>
                            <div class="plan-info">
                                <h2>Mobile Phone 2</h2>
                                <h1>Select your Plan</h1>
                                <p>Choose the amount of High Speed Data you would like with your plan</p>
                                <div ui-slider></div>
                            </div>
                        </div>
                        <div class="plan-details">
                            <div>
                                <div class="price">
                                    $39
                                    <span>Per Month*</span>
                                </div>
                                <h1>Unlimited Voice + Text + Data</h1>
                                <h2>500MB High Speed Data</h2>
                                <p>You use your phone to occasionally send/receive email, check in on social media &amp; surf the web.</p>
                                <a class="more" href="">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="white-box gradient-box services-box">
            <header>
                <button>Checkout</button>
                <h2><a href="">Save Cart</a></h2>
            </header>
            <div class="content">
                <h3>Check out these other great services from Stream.</h3>
                <div class="grid">
                    <div class="col">
                        <div class="description">
                            <h4>Utility Services</h4>
                            <p>Gas &amp; Electricity lorem dolor sit ameolor lorem ips.</p>
                            <a class="more">Gas &amp; Electricty <i class="icon-arrow-right"></i></a>
                        </div>
                        <div class="avatar">
                            <img src="/frontend/assets/i/enrollment/utilities.png" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="description">
                            <h4>Homelife Services</h4>
                            <p>Protection you need lorem dolor sit ameolor lorem ips.</p>
                            <a class="more">Homelife Services <i class="icon-arrow-right"></i></a>
                        </div>
                        <div class="avatar">
                            <img src="/frontend/assets/i/enrollment/homelife.png" />
                        </div>

                    </div>
                </div>
            </div>
        </article>

        <div class="phone-plan footnotes">
            <p><strong>Taxes and fees:</strong> Taxes and fees apply and will be shown on the order review page prior to processing your order.</p>
            <p><strong>Transfer your number:</strong> At service activation, you can opt to keep your current number or be assigned a new one. If you plan to keep your current number, be sure to confirm it is eligible for transfer at Solavei.com under Mobile Service, Rate Plan and then Keep Your Phone Number.</p>
            <p><strong>International Long Distance (ILD):</strong> International long distance will be an available option from within your account section on MySolavei.com</p>
        </div>
    </section>
</div>