<div id="{{section.id}}" class="enrollment-section accent-darkgreen" ng-switch-when="verifyIdentity" ng-show="section.isVisible" ng-controller="EnrollmentVerifyIdentityCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="medium block">Verify <i>Your</i></span>
                <span class="block">Identity</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <div ng-include ng-if="true" src="'enrollment-nav-template'"></div>
        </aside>
        <section>
            <h1>Verify Your <span>Identity</span></h1>
            <p>To be able to process your order online, we need you to verify your identity. Please answer the questions below.</p>
            <article class="form">
                <div class="content">
                    <p><strong>If you do not know the answer to the questions, you can skip this step and a customer support agent will contact you to complete your order.</strong></p>
                    <div class="form">
                        <div class="item" ng-repeat="question in enrollment.serverData.identityQuestions">
                            <label>{{question.questionText}}</label>
                            <ul class="checkbox-list">
                                <li ng-repeat="answers in question.answers"><input type="radio" ng-model="enrollment.extraFields.verifyIdentity[question.questionId]" id="question{{question.questionId}}_answer{{answers.answerId}}" ng-value="answers.answerId"><label for="question{{question.questionId}}_answer{{answers.answerId}}">{{answers.answerText}}</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
            <div class="buttons">
                <button type="submit" class="primary" ng-click="completeStep();">Continue</button>
            </div>
            <div class="hide-medium-large time-remaining-mobile">
                <p class="time-remaining">Estimated Time For Completion <strong>10 Minutes</strong></p>
                <p><a href="">What info will I need to complete my order?</a></p>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>