<div id="verify-identity" class="enrollment-section accent-darkgreen" ng-switch-when="verifyIdentity" ng-show="section.isVisible" ng-controller="EnrollmentVerifyIdentityCtrl">
    <div class="banner" style="@Html.AsBackgroundStyle("Banner Image")">
        <div class="wrapper">
            <h1>
                <span class="medium block">Verify <i>Your</i></span>
                <span class="block">Identity</span>
            </h1>
        </div>
    </div>
    <div class="wrapper layout cols-2">
        <aside class="left">
            <nav>
                <ul>
                    <li class="completed"><a href="#lets-get-started">Let's Get Started</a></li>
                    <li class="completed"><a href="#choose-your-plan">Choose Your Plan</a></li>
                    <li class="completed"><a href="#setup-your-account">Setup Your Account</a></li>
                    <li class="active"><a href="#verify-identity">Verify Identity</a></li>
                    <li><a href="#add-payment-information">Add Payment Information</a></li>
                </ul>
            </nav>
        </aside>
        <section>
            <h1>Verify Your <span>Identity</span></h1>
            <p>To be able to process your order online, we need you to verify your identity. Please answer the questions below.</p>
            <article class="form">
                <div class="content">
                    <p><strong>If you do not know the answer to the questions, you can skip this step and a customer support agent will contact you to complete your order.</strong></p>
                    <div class="form">
                        <div class="item">
                            <label>Which of the following addresses did you live at in 2010?</label>
                            <ul class="checkbox-list">
                                <li><input type="radio" name="address" id=""><label for="">9452 Broad Turnabout, Lanigan, North Dakota</label></li>
                                <li><input type="radio" name="address" id=""><label for="">7600 Clear Falls, Prince Albert, Michigan</label></li>
                                <li><input type="radio" name="address" id=""><label for="">7757 Stony Diversion, Lost Cane, Alaska</label></li>
                                <li><input type="radio" name="address" id=""><label for="">None of the above</label></li>
                            </ul>
                        </div>
                        <div class="item">
                            <label>What was the make and model of your first car?</label>
                            <ul class="checkbox-list">
                                <li><input type="radio" name="car" id=""><label for="">Ford Mustang</label></li>
                                <li><input type="radio" name="car" id=""><label for="">Chevy Cobalt</label></li>
                                <li><input type="radio" name="car" id=""><label for="">Dodge Durango</label></li>
                                <li><input type="radio" name="car" id=""><label for="">None of the above</label></li>
                            </ul>
                        </div>
                        <div class="item">
                            <label>Which year did you graduate high school?</label>
                            <ul class="checkbox-list">
                                <li><input type="radio" name="graduate-year" id=""><label for="">1990</label></li>
                                <li><input type="radio" name="graduate-year" id=""><label for="">1994</label></li>
                                <li><input type="radio" name="graduate-year" id=""><label for="">1998</label></li>
                                <li><input type="radio" name="graduate-year" id=""><label for="">None of the above</label></li>
                            </ul>
                        </div>
                        <div class="item">
                            <label>Which of the following cities have you lived in?</label>
                            <ul class="checkbox-list">
                                <li><input type="radio" name="cities" id=""><label for="">New York, NY</label></li>
                                <li><input type="radio" name="cities" id=""><label for="">Dallas, TX</label></li>
                                <li><input type="radio" name="cities" id=""><label for="">San Francisco, CA</label></li>
                                <li><input type="radio" name="cities" id=""><label for="">None of the above</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
            <div class="buttons">
                <button type="submit" class="primary" ng-click="completeStep();">Continue</button>
            </div>
            <div class="hide-medium-large time-remaining-mobile">
                <p class="time-remaining">Estimated Time For Completion <strong>10 Minutes</strong></p>
                <p><a href="">What info will I need to complete my order?</a></p>
            </div>
        </section>
        <aside>
            <div ng-include ng-if="true" src="'cart-template'"></div>
        </aside>
    </div>
</div>