<?xml version="1.0" encoding="utf-8" ?>

<!--The name of current configuration file is so due to that Sitecore's grouping patching not working correctly.-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          
          <journey>         
            <!--Processor which populates the ExM events (for Open, Click, Bounce, Spam).-->          
            <processor patch:after="processor[@type='Sitecore.Cintel.Reporting.Contact.Journey.Processors.PopulateEraChanges, Sitecore.Cintel']" 
                       type="Sitecore.EmailCampaign.Cm.Pipelines.ExperienceProfile.PopulateExmEvents, Sitecore.EmailCampaign.Cm"/>
          </journey>
          
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>