@media (max-width: 992px) {
  .sc-RecipientActivityReport .row[data-sc-id$="RowPanel"] > div.col-md-6 {
    float: left;
    width: 50%;
  }
}
.sc-RecipientActivityReport .sc-exm-Card .sc-ScoreCard {
  padding: 15px 0 10px 0;
}
.sc-RecipientActivityReport .sc-exm-Card .sc-ScoreCard span[data-sc-id$="TextValue"],
.sc-RecipientActivityReport .sc-exm-Card .sc-ScoreCard a[data-sc-id$="LinkValue"] {
  line-height: 160%;
}
.sc-RecipientActivityReport .sc-exm-Card .row[data-sc-id$="TopRowPanel"] {
  padding-bottom: 15px;
}
.sc-RecipientActivityReport .sc-exm-Card .row[data-sc-id$="BottomRowPanel"] {
  margin: 0;
  border-top: 1px solid #f0f0f0;
}
