<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TempConvertSoap" />
                <binding name="SampleStreamCommonsSoap" />
                <binding name="CisAccountServicesBinding" />
                <binding name="DPILink™Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TempConvertSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="DPILink™Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.w3schools.com/webservices/tempconvert.asmx"
                binding="basicHttpBinding" bindingConfiguration="TempConvertSoap"
                contract="Sample.Temperature.TempConvertSoap" name="TempConvertSoap" />
            <endpoint address="http://www.w3schools.com/webservices/tempconvert.asmx"
                binding="customBinding" bindingConfiguration="TempConvertSoap12"
                contract="Sample.Temperature.TempConvertSoap" name="TempConvertSoap12" />
            <endpoint address="http://www.example.com/webservices" binding="basicHttpBinding"
                bindingConfiguration="SampleStreamCommonsSoap" contract="Sample.Commons.SampleStreamCommonsSoap"
                name="SampleStreamCommonsSoap" />
            <endpoint address="http://sgecom.stge.datx.streamenergy.net/CisAccountServices/WebServices/SoapServer.php"
                binding="basicHttpBinding" bindingConfiguration="CisAccountServicesBinding"
                contract="StreamCommons.Account.CisAccountServicesPortType"
                name="CisAccountServicesPort" />
            <endpoint address="http://uat.soap.dataparadigm.com:6080/dpilink.asmx"
                binding="basicHttpBinding" bindingConfiguration="DPILink™Soap"
                contract="Dpi.DPILinkSoap" name="DPILink™Soap" />
            <endpoint address="http://uat.soap.dataparadigm.com:6080/dpilink.asmx"
                binding="customBinding" bindingConfiguration="DPILink™Soap12"
                contract="Dpi.DPILinkSoap" name="DPILink™Soap12" />
        </client>
    </system.serviceModel>
</configuration>