<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=MyStreamSitecore8_Core"/>
  <add name="master" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=MyStreamSitecore8_Master"/>
  <add name="web" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=MyStreamSitecore8_Master"/>
  <add name="log" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=MyStreamSitecore_Log"/>
  <add name="activationCodes" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=MyStreamSitecore8_Core"/>
  <add name="mobileEnroll" connectionString="user id=MobEnrollApp-Dev;password=v^lVPc#j7eb&amp;;Data Source=s10sgena01d.database.windows.net;Database=s10MobileEnroll01d" providerName="System.Data.SqlClient"/>
  <add name="documents" connectionString="" providerName="System.Data.SqlClient"/>
  <add name="exm.master" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=MyStreamSitecore8_Core" />
  <add name="reporting" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=MyStreamSitecore8_Analytics" />
  <add name="reporting.secondary" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=MyStreamSitecore8_Analytics_Secondary" />
  <add name="eagle" connectionString="user id=sitecoreapp;password=$74Dr$o0gTHF;Data Source=01repldb01sc.streamgas.local;Database=Eagle"/>

  <add name="redisCache" connectionString="localhost" providerName="StackExchange.Redis.ConnectionMultiplexer"/>
  <add name="mapServerCache" connectionString="streamcmstools.redis.cache.windows.net,ssl=true,password=s/DxLuUSgnJI7V1nWRvhlgKtoOxfCNrGL7AJKATreTY=" providerName="StackExchange.Redis.ConnectionMultiplexer"/>

  <add name="azureStorage" connectionString="UseDevelopmentStorage=true" />
  
  <add name="analytics" connectionString="mongodb://127.0.0.1/analytics" />
  <add name="session" connectionString="mongodb://127.0.0.1/session" />
  <add name="tracking.contact" connectionString="mongodb://127.0.0.1/session" />
  <add name="tracking.history" connectionString="mongodb://127.0.0.1/tracking_history" />
  <add name="tracking.live" connectionString="mongodb://127.0.0.1/tracking_live" />

  <add name="EXM.CryptographicKey" connectionString="EACF4B2D60A7874C9152FEFEE1289A4564648F9941479E8492489130CFC8293C"/>
  <add name="EXM.AuthenticationKey" connectionString="617EE261575E4B515BEF0B1697716C03A8BE7F676D0589665796281784748B14"/>
  <add name="exm.web" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=Sitecore.EXM_Web" />
</connectionStrings>