<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=mystream;password=mystream;Data Source=localhost;Database=MyStreamSitecore_Core"/>
  <add name="master" connectionString="user id=mystream;password=mystream;Data Source=localhost;Database=MyStreamSitecore_Master"/>
  <add name="web" connectionString="user id=mystream;password=mystream;Data Source=localhost;Database=MyStreamSitecore_Web"/>
</connectionStrings>
