<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Core"/>
  <add name="master" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Master"/>
  <add name="web" connectionString="user id=mystream;password=Stream1!;Data Source=my-stream.cloudapp.net;Database=MyStreamSitecore_Master"/>
  <add name="analytics" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Analytics"/>
  <add name="log" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Log"/>
  <add name="redisCache" connectionString="localhost" providerName="StackExchange.Redis.ConnectionMultiplexer"/>
  <add name="mobileEnrollTable" connectionString="user id=MobEnrollApp-Dev;password=v^|VPc#j7eb&amp;;Data Source=s10sgena10d.database.windows.net;Database=s10MobileEnroll01d" providerName="System.Data.SqlClient"/>
</connectionStrings>