<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=mystream;password=Stream1!;Data Source=my-stream.cloudapp.net;Database=MyStreamSitecore_Core"/>
  <add name="master" connectionString="user id=mystream;password=Stream1!;Data Source=my-stream.cloudapp.net;Database=MyStreamSitecore_Master"/>
  <add name="web" connectionString="user id=mystream;password=Stream1!;Data Source=my-stream.cloudapp.net;Database=MyStreamSitecore_Master"/>
  <add name="analytics" connectionString="user id=mystream;password=Stream1!;Data Source=my-stream.cloudapp.net;Database=MyStreamSitecore_Analytics"/>
  <add name="log" connectionString="user id=mystream;password=Stream1!;Data Source=.\S10CMS01D,1433;Database=MyStreamSitecore_Log"/>
  <add name="redisCache" connectionString="streamenergy.redis.cache.windows.net,ssl=true,password=lx6T9fHaLqeOZKe82yrpQmTzxEGpIqOFapiUvsOIBL8=" providerName="StackExchange.Redis.ConnectionMultiplexer"/>
</connectionStrings>