<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Core"/>
  <add name="master" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Master"/>
  <add name="web" connectionString="user id=mystream;password=Stream1!;Data Source=test.mystream.com;Database=MyStreamSitecore_Master"/>
  <add name="analytics" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Analytics"/>
  <add name="log" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Log"/>
  <add name="activationCodes" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Core"/>
  <add name="redisCache" connectionString="localhost" providerName="StackExchange.Redis.ConnectionMultiplexer"/>
  <add name="mobileEnroll" connectionString="user id=MobEnrollApp-Dev;password=v^lVPc#j7eb&amp;;Data Source=s10sgena01d.database.windows.net;Database=s10MobileEnroll01d" providerName="System.Data.SqlClient"/>
  <add name="documents" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=Stream_Documents" providerName="System.Data.SqlClient"/>
  <add name="azureStorage" connectionString="UseDevelopmentStorage=true" />
</connectionStrings>