<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Network=dbmssocn;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Core"/>
  <add name="master" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Network=dbmssocn;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Master"/>
  <add name="web" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Network=dbmssocn;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Web"/>
  <add name="analytics" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Network=dbmssocn;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Analytics"/>
  <add name="log" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Network=dbmssocn;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Log"/>
  <add name="redisCache" connectionString="s10cmscache01.redis.cache.windows.net,ssl=true,password=r6fADRfz6SEt/CsE2O8QKUy47/y/gN2vg1ag8Yok6Ls=" providerName="StackExchange.Redis.ConnectionMultiplexer"/>
  <add name="mobileEnroll" connectionString="user id=MobEnrollApp;password=0JewM*S!6OM1;Data Source=s10sgena01d.database.windows.net;Database=s10MobileEnroll01" providerName="System.Data.SqlClient"/>
</connectionStrings>