<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=MyStreamSitecore_Core"/>
  <add name="master" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=MyStreamSitecore_Master"/>
  <add name="web" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=MyStreamSitecore_Master"/>
  <add name="analytics" connectionString="Server=.\SQLEXPRESS;Integrated Security=True;Database=MyStreamSitecore_Analytics"/>
</connectionStrings>