<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Core"/>
  <add name="master" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Master"/>
  <add name="web" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Web"/>
  <add name="analytics" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Analytics"/>
  <add name="log" connectionString="user id=mystream;password=46tE?-MGrS#FH@3cxY!n;Data Source=s10sql01.streamcloud.local;Failover Partner=s10sql02.streamcloud.local;Database=MyStreamSitecore_Log"/>
</connectionStrings>