<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<sitecore xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sc.include file="/App_Config/Custom/Settings.local.config" xdt:Transform="Remove" />
  <sc.include file="/App_Config/Custom/Settings.test.config" xdt:Transform="Insert" />
  <sites>
    <site name="callcenter" hostName="callcenter.streamenergy.responsivepath.com" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </sites>
</sitecore>
