@{
    Layout = null;
}

<article class="home logged-out">
    <div class="icon-WelcomeText welcome"></div>

    <div class="message">
        <a ng-click="go('login')">Sign in</a> <span>or</span> <a ng-click="go('createAccount')">Create Account</a>
    </div>

    <div class="buttons">
        <a class="button" ng-click="go('shop')">Shop Services</a>
    </div>

    <div class="icon-life-life-conntected live-connected"></div>

    <div class="legal">
        Copyright ©2016 Stream  |  All Rights Reserved
    </div>
</article>