@{
    Layout = null;
}

<!-- index.html -->
<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="myStreamApp">
<head>
    <!-- SCROLLS -->

    <link rel="stylesheet" href="/mobileapp/frontend/assets/css/global.css" />
    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>-->
    <script src="/mobileapp/frontend/assets/js/libs/angular.min.js"></script>

    @*<script src="~/mobileapp/frontend/assets/js/libs/cordova.js"></script>*@
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-cookies.js"></script>
    @*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-touch.js"></script>*@
    <script src="~/MobileApp/frontend/assets/js/libs/fastclick.js"></script>

    <script type="application/javascript">
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script> 
    @*<script src="~/MobileApp/frontend/assets/js/libs/pdf/build/pdf.js"></script>
    <script src="~/MobileApp/frontend/assets/js/libs/pdf/web/viewer.js"></script>*@

    <script src="/mobileapp/frontend/assets/js/libs/jquery-1.10.2.min.js"></script>
    <script src="/mobileapp/frontend/assets/js/app.js"></script>
    <script src="/mobileapp/frontend/assets/js/services/breakpoint.js"></script>
    <script src="/mobileapp/frontend/assets/js/directives/float-labels.js"></script>
    <script src="/mobileapp/frontend/assets/js/services/appData.js"></script>
    <script src="/mobileapp/frontend/assets/js/services/accounts.js"></script>
    <script src="/mobileapp/frontend/assets/js/controllers/mainController.js"></script>
    <script src="/mobileapp/frontend/assets/js/controllers/authentification/login.js"></script>


   

    <script type="text/javascript" src="//use.typekit.net/obg4jvp.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <meta name="format-detection" content="telephone=no">
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />

</head>

<!-- define angular controller -->
<body ng-controller="mainController">

    <div class="clearfix menu-page-container">
        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main" class="main" ng-click="checkMenu()" ng-class="{'menu-open': showMenu}">
            <div class="header">
                <a class="back icon-back-arrow" ng-click="goBack();" ng-show="backBarisVisible()"></a>
                <a class="icon-logo logo" ng-click="go('')" ng-show="!GlobalData() || !GlobalData().user"></a>
                <a class="icon-logo logo"  ng-click="go('dashboard')" ng-show="GlobalData().user"></a>
                <a class="hamburger icon-navicon right" ng-click="showMenu = true; menuOpening = true;" ng-show="!showMenu"></a>
                <a class="icon-close-x right" ng-show="showMenu" ng-click="showMenu = false;"></a>
            </div>
            <div class="page-container">
                <div class="page slide-left {{pageClass}} {{showBackBar}}" ng-view></div>
            
                <route-loading-indicator class="route-loading" />
            </div>
        </div>

        <div class="menu" ng-class="{'open': showMenu}">
            <div class="heading">Welcome {{GlobalData().user.name}}</div>

            <div class="links" ng-init="headerSettingsSubMenuOpen = false">
                <div class="manage link">Manage</div>
                <div class="shop link">Shop</div>
                <div class="share link ">Share</div>
                <div class="settings link expandable" ng-class="{'open': headerSettingsSubMenuOpen}" ng-click="headerSettingsSubMenuOpen = !headerSettingsSubMenuOpen; ">
                    <div>Settings</div>
                    <div class="sub-menu">
                        <a ng-click="showMenu = false; go('account/autopay')">AutoPay</a>
                        <a ng-click="showMenu = false; go('account/paperless-billing')">Paperless Billing</a>
                        <a ng-click="showMenu = false; go('account/payment-methods')">Payment Methods</a>
                        <a>Enrolled Accounts</a>
                        <a ng-click="showMenu = false; go('account/linked-accounts')">Link Account</a>
                        <a ng-click="showMenu = false; go('account/login-info')">Login Information</a>
                        <a ng-click="showMenu = false; go('account/info')">Account Information </a>
                    </div>


                </div>
                <div class="contact-us link">Contact Us</div>
                <div class="story link">Our Story</div>
            </div>


            <div class="secondary">
                <div class="button-links">
                    <!--<a class="sign-out" ng-controller="AuthLoginCtrl" href="/api/authentication/logout">Sign Out </a>-->
                    <a class="sign-out" ng-controller="AuthLoginCtrl" ng-click="logout(); $parent.showMenu = false;">Sign Out </a>
                    <a>Send Feedback</a>
                    <a>Privacy Policy</a>
                    <a>Terms of Service</a>
                </div>
                <div class="social">
                    <a class="facebook icon-facebook"></a>
                    <a class="twitter icon-twitter"></a>
                    <a class="youtube icon-youtube"></a>
                    <a class="instagram icon-instagram"></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
