@using Sitecore.Data.Fields;
@using Sitecore.Resources.Media;
<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="ngApp" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" type="image/ico" href="/frontend/assets/i/favicon.ico" />
    <link href="/frontend/assets/css/global.css" rel="stylesheet" />

    <script src="/frontend/assets/js/libs/modernizr/modernizr.js"></script>
    <script src="/frontend/assets/js/libs/angular/angular.min.js"></script>
    <script src="/frontend/assets/js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/frontend/assets/js/libs/angular-ui-utils/ui-utils.min.js"></script>

    <script src="/frontend/assets/js/app.js"></script>

    <script src="/frontend/assets/js/directives/main-nav.js"></script>
    <script src="/frontend/assets/js/directives/state-tabs.js"></script>

    <script src="/frontend/assets/js/controllers/main.js"></script>
    <script src="/frontend/assets/js/controllers/marketing.js"></script>
    <script src="/frontend/assets/js/controllers/loginHorizontal.js"></script>

    <script type="text/javascript" src="//use.typekit.net/hag0zvs.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

</head>
<body ng-controller="MainCtrl">
    <div class="page-wrapper" ng-class="{open:sidebarOpen}">
        <nav>
            <ul>
                <li ng-repeat="item in navLinks">
                    <a href="{{item.href}}">{{item.name}}</a>
                </li>
            </ul>
        </nav>
        <div class="page-content">
            @Html.Sitecore().Placeholder("header")

            <div class="banner marketing" style="@Html.AsBackgroundStyle("Banner Image")">

            </div>

            <section class="layout cols-1">

                @Html.Sitecore().Placeholder("content")

            </section>

            @Html.Sitecore().Placeholder("footer")
        </div>
    </div>
</body>
</html>