<html>
<body>
    <h4>Index.cshtml</h4>
    <div>
        Model:
        @{
            if (Model == null)
            {
                <text>null</text>
            }
            else
            {
                @Model.GetType();

                @Html.Sitecore().Placeholder("content");
                @Html.Sitecore().Placeholder("footer");
            }
        }
    </div>
</body>
</html>