<!--

Purpose: This include file needs to be enabled in the Content Management Environment.

-->
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <experienceAnalytics>
            <client>
                <services>
                    <siteDefinitionService>
                        <filters>
                            <filter type="Sitecore.EmailCampaign.Cm.ExperienceAnalytics.ExmSiteFilter, Sitecore.EmailCampaign.Cm">
                                <param desc="siteName" ref="settings/setting[@name='EXM.DefaultEventSiteName']/@value" />
                            </filter>
                        </filters>
                    </siteDefinitionService>
                </services>
            </client>
        </experienceAnalytics>
    </sitecore>
</configuration>