
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCKwR5gbRNgWMZ84ZxGFPh1Jpvm5nMRuRY&libraries=places"></script>
<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>

<header class="paycenter-header">
    <div class="wrapper clearfix">
        <div class="logo-container">
            <a href="/" class="logo"></a>
        </div>
        <h2>PayCenter Locator</h2>
        <p><span class="hide-small">Can't find a location near you? </span><a href="/pay">Pay online</a></p>
    </div>
</header>
<div ng-if="isLoading" class="enrollment__loadingMessage">
    <span class="inner"><img class="loading" src="/frontend/assets/i/loading_screen.gif" width="44" height="44" /><br />@Html.Sitecore().Field("Processing")</span>
</div>
<article class="clearfix marketing paycenter-locator" ng-controller="PaycenterCtrl" ng-init="init()">
    <div class="wrapper">
        <header>
            <h1 ng-hide="isMobile() && showMap && search">Find a Convenient Location to Pay Your Bill!</h1>
            <h1 class="backToResults" ng-show="isMobile() && showMap && markers.length" ng-click="backToResults()">Back to results</h1>
            <h1 ng-show="isMobile() && showMap && !markers.length && search">We're sorry, but that search returned zero results</h1>
        </header>
        <aside>
            <div class="form">
                <script type="text/ng-template" id="searchbox.tpl.html">
                    <input type="text" id="gmap-search-input" placeholder="Enter Address or zip code" />
                </script>
                <div class="item">
                    <label for="gmap-search-input" ng-if="!isMobile()">Enter Your Address or zip code</label>
                    <div class="locate" ng-click="geolocate()"></div>
                    <div id="gmap-search"></div>
                </div>
            </div>
            <div class="query-and-results" ng-hide="showMap && isMobile()">
                <div class="query" ng-show="search && !noneFound && !mapMoved">
                    <p ng-show="markers.length">
                        {{markers.length}} Results for
                        <span ng-show="search" bind-html-unsafe="search"></span>
                        <span ng-show="mapMoved">Map Search</span>
                    </p>
                </div>
                <div class="query" ng-show="mapMoved && !noneFound">
                    <p ng-show="markers.length">{{markers.length}} Results for Map Search</p>
                </div>
                <div class="query" ng-show="noneFound">
                    <p>We're sorry, but that search returned zero results</p>
                    <p>Try <a href="" ng-click="zoomOut()">zooming out</a></p>
                </div>
                <div class="query" ng-hide="inTexas">
                    <p>We're sorry, but this tool is currently limited to the state of Texas</p>
                </div>
                <div class="results" ng-show="markers.length">
                    <div class="result" ng-repeat="marker in markers" ng-class="{selected: marker.selected && !isMobile()}" ng-click="openWindow($index)">
                        <div class="grid clearfix">
                            <div class="col-1">
                                <div class="item">
                                    <p class="distance">{{marker.distance}} mi</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="item">
                                    <p class="name">{{marker.locationInfo.name}}</p>
                                    <p class="address">{{marker.locationInfo.address.line1}}<br></p>
                                    <p class="address" ng-if="marker.locationInfo.address.line2">{{marker.locationInfo.address.line2}}<br></p>
                                    <p class="address">
                                        <span>{{marker.locationInfo.address.city}} </span>
                                        <span>{{marker.locationInfo.address.state}}, </span>
                                        <span>{{marker.locationInfo.address.postCode}}</span>
                                    </p>
                                    <p class="address">{{marker.locationInfo.address.phone}}</p>
                                </div>
                                <div class="item arrow" ng-show="isMobile()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <article class="coverage-map" ng-class="{zeroHeight: !showMap && isMobile()}">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" events="map.events" refresh="map.refresh">
                <ui-gmap-search-box template="searchbox.template" events="searchbox.events" parentdiv="'gmap-search'"></ui-gmap-search-box>
                <ui-gmap-markers models="markers" coords="'coords'" icon="'icon'" click="'onClicked'"></ui-gmap-markers>
                @*<ui-gmap-marker idKey="searchMarker.id" coords="searchMarker.coords" options="searchMarker.options"></ui-gmap-marker>*@
                <ui-gmap-window show="window.show" coords="window.coords" options="window.options" ng-style="{'width': isMobile() ? '100%' : ''}" ng-cloak>
                    <div>
                        <div class="grid clearfix" ng-controller="PaycenterCtrl">
                            <div class="column">
                                <div class="item">
                                    <label>location</label>
                                    <p>{{locationInfo.name}}</p>
                                </div>
                                <div class="item">
                                    <label>address</label>
                                    <a href="" ng-click="$parent.getDirections()">
                                        <p>{{locationInfo.address.line1}}</p>
                                        <p>{{locationInfo.address.line2}}</p>
                                        <p>
                                            <span>{{locationInfo.address.city}}, </span>
                                            <span>{{locationInfo.address.state}} </span>
                                            <span>{{locationInfo.address.postCode}}</span>
                                        </p>
                                    </a>
                                    <p>{{locationInfo.address.phone}}</p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="item">
                                    <label>hours</label>
                                    <p>{{locationInfo.hours}}</p>
                                </div>
                                <div class="item">
                                    <label>payment methods</label>
                                    @*ng-repeat doesn't work in this window*@
                                    <p ng-if="locationInfo.paymentMethods[0] != 'undefined'">{{locationInfo.paymentMethods[0]}}</p>
                                    <p ng-if="locationInfo.paymentMethods[1] != 'undefined'">{{locationInfo.paymentMethods[1]}}</p>
                                    <p ng-if="locationInfo.paymentMethods[2] != 'undefined'">{{locationInfo.paymentMethods[2]}}</p>
                                    <p ng-if="locationInfo.paymentMethods[3] != 'undefined'">{{locationInfo.paymentMethods[3]}}</p>
                                    <p ng-if="locationInfo.paymentMethods[4] != 'undefined'">{{locationInfo.paymentMethods[4]}}</p>
                                    <p ng-if="locationInfo.paymentMethods[5] != 'undefined'">{{locationInfo.paymentMethods[5]}}</p>
                                    <p ng-if="locationInfo.paymentMethods[6] != 'undefined'">{{locationInfo.paymentMethods[6]}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="close"><a href="" ng-click="$parent.closeWindow($index)">+</a></div>
                    </div>
                </ui-gmap-window>
            </ui-gmap-google-map>
        </article>
    </div>
</article>