<article class="grey-box mobile">
    <header>
        <h2>International Services</h2>
    </header>
    
    <div class="content">
        <div>
            <form>
                <div class="group">
                    <div class="item">
                        <p>Whether you're calling in Mexico, Canada, Cuba or India, Stream Cell has international calling plans to fit your budget and lifestyle.</p>
                        <ul>
                            <li>Rates</li>
                            <li>FAQ's</li>
                            <li>Access Numbers</li>
                        </ul>
                    </div>

                    <div class="item">
                        <img src="http://placehold.it/200x100" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</article>

