<article class="grey-box mobile" ng-controller="MakePaymentCtrl">
    <header class="clearfix">
        <p class="header-left welcome">Welcome back, <span>Jordan Campbell</span></p>
        <p class="header-right account">Account: 8724983-2904903</p>
    </header>

    <div>
        <form>
            <div class="content">
                <div class="grid">
                    <div class="col">
                        <p class="balance">My Total Balance is: <strong>$161.40</strong></p>
                        <p class="details"><a href="#">View Bill Details</a></p>
                    </div>
                    <div class="col due">
                        <p>Due: 06/14/2014</p>
                        <p class="pay"><a class="button">Pay Now</a></p>
                    </div>
                </div>   
            </div>
            <footer>
                <p>Next Auto Payment: 07/01/14 <span class="link"><a href="#">Manage AutoPay</a></span></p>
                <p>Last Payment Received 06/03/14 <span class="link"><a href="#">View Payment History</a></span></p>
            </footer>
        </form>
    </div>

</article>

