<article class="white-box mobile upgrade" ng-controller="MakePaymentCtrl">
    <header>
        <h2>Review Changes</h2>
    </header>
    
    <form>
        <div class="content">
            <p><strong>Plan upgrade start date:</strong> Sunday, June 29, 2014 <a href="#" class="right-button">Change</a></p>
            <hr />
            <p><strong>My New Plan:</strong> 4GB Unlimited Voice, Data &amp; Text <a href="#" class="right-button">Change</a></p>
            <div>

            </div>
            <hr />
            <div class="compare-plans">
                <div class="grid four">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col"><strong>Current</strong></div>
                    <div class="col"><strong>New</strong></div>
                </div>
                <div class="grid four">
                    <div class="col">Monthly Shared Data</div>
                    <div class="col"></div>
                    <div class="col">2GB</div>
                    <div class="col new">4GB</div>
                </div>
                <div class="grid four">
                    <div class="col">Mobile Share Plan Fee</div>
                    <div class="col"></div>
                    <div class="col">$49.00/mo</div>
                    <div class="col new">$69.00/mo</div>
                </div>
                <div class="grid four">
                    <div class="col"></div>
                    <div class="col"><strong>Monthly Total</strong></div>
                    <div class="col">$49.00/mo</div>
                    <div class="col new">$69.00/mo</div>
                </div>
            </div>
            <h5><strong>Taxes & Additional Fees</strong></h5>
            <p><strong>Overage Charges:</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
            <h5><strong>Terms & Conditions</strong></h5>
            <form>
                <p><input type="checkbox" />I agree to the terms and conditions below</p>
            </form>
            <textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea>
        </div>
        <footer>
            <div class="buttons">
                <p class="footer-left link"><a href="#">Cancel</a></p>
                <p class="footer-left"><a href="#" class="button secondary">Back</a></p>
                <p><a href="#" class="button primary">Confirm Plan Upgrade</a></p>
            </div>
        </footer>
    </form>
</article>

