<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="ngApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" type="image/ico" href="assets/i/favicon.ico" />
	<link href="assets/css/global.css" rel="stylesheet" />

	<script src="assets/js/libs/modernizr/modernizr.js"></script>
	<script src="assets/js/libs/angular/angular.min.js"></script>
	<script src="assets/js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="assets/js/libs/angular-ui-utils/ui-utils.min.js"></script>
	<script src="assets/js/libs/underscore/underscore.js"></script>

	<script src="assets/js/app.js"></script>
	<script src="assets/js/controllers/main.js"></script>
	<script src="assets/js/controllers/accountBalances.js"></script>

	<script type="text/javascript" src="//use.typekit.net/hag0zvs.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body ng-controller="MainCtrl">
	<div class="page-wrapper" ng-class="{open:sidebarOpen}">
		<nav>
			<ul>
				<li ng-repeat="item in navLinks">
					<a href="{{item.href}}">{{item.name}}</a>
				</li>
			</ul>
		</nav>
		<div class="page-content">
			<header class="site-header">
				<div class="wrapper">
					<a href="/" class="logo">Logo</a>
					<p class="utility">Welcome, Jordan <a href="#">Logout</a></p>
					<a href="#" class="nav-toggle icon-hamburger" ng-click="toggleSidebar()">Toggle Nav</a>
					<nav class="main-nav">
						<ul class="wrapper">
							<li class="selected"><a href="#">Account Overview</a></li>
							<li><a href="#">Utility Services</a></li>
							<li><a href="#">Homelife Services</a></li>
							<li><a href="#">My Profile</a></li>
						</ul>
					</nav>
				</div>
				<nav class="sub-nav">
					
				</nav>
			</header>

			<div class="banner large" style="background-image: url(assets/i/bg/hero-myaccount.jpg);">
				<div class="wrapper">
					<p>Welcome to <em>Your</em></p>
					<h1>Mystream Account</h1>
				</div>
			</div>
			<article class="message">
				<div class="wrapper">
					<p>View and pay your latest eBills and track your payments.</p>
				</div>
			</article>

			<section class="layout cols-2 wrapper">
				<section>
					<article class="balances-payments" ng-controller="AccountBalances">
						<header>
							<h2>Account Balances &amp; Payments</h2>
						</header>
						<div class="account-selector">
							<form>
								<div class="group">
									<div class="item">
										<label>Account Number:</label>
										<select ng-model="selectedAccount.account" ng-options="item.accountNumber for item in accounts">
											<option value="">All</option>
										</select>
									</div>
									<!-- <div class="item">
										<label>ESI ID:</label>
										<select class="id">
											<option value="Please choose">109437200008913264</option>
											<option value="account1">ID 2</option>
										</select>
									</div> -->
								</div>
							</form>
						</div>
						<div class="grid border">
							<div class="col">
								<h4>Account Balance</h4>
								<dl class="clearfix">
									<dt>Account Number:</dt>
									<dd>{{ selectedAccount.account.accountNumber || "All" }}</dd>
									<dt>Current Amount Due:</dt>
									<dd>{{ paymentForm.amount | currency }}</dd>
									<dt>Due Date:</dt>
									<dd>{{ selectedAccount.account.dueDate || paymentForm.dueDate }}</dd>
								</dl>
							</div>
							<div class="col payment">
								<h4>Make a Payment</h4>
								<form>
									<div class="group">
										<div class="item">
											<label for="Amount">Amount</label>
											<input type="text" id="amount" ng-model="paymentForm.amount" />
										</div>
										<div class="item">
											<label for="Payment method">Payment Method</label>
											<select ng-model="paymentForm.paymentMethod" ng-options="item.id as item.name for item in paymentMethods">
											<option value="">Select</option>
										</select>
										</div>
									</div>
									<div class="buttons">
										<button type="submit" class="primary" ng-click="submit()">Continue</button>
									</div>
								</form>
							</div>
						</div>
					</article>
					<article class="energy-usage">
						<header>
							<h2>My Energy Usage</h2>
						</header>
						<div class="graph-header grid three">
							<div class="col"><p>kWh</p></div>
							<div class="col"><p>January - December 2013</p></div>
							<div class="col"><p>Gas (Therms)</p></div>
						</div>
						<div>
							<h2>Graph Goes Here</h2>
						</div>
						<footer class="compare">
							<p>Compare my usage</p>
							<select>
								<option value="Please choose">None</option>
								<option value="Option 1">Option 1</option>
								<option value="Option 2">Option 2</option>
							</select>
						</footer>
					</article>
				</section>
				<aside>
					<article class="promo renew">
						<h1>Renew Your <strong>Plan &amp; Save</strong></h1>
						<button class="secondary">Renew My Plan</button>
					</article>
				</aside>
			</section>

			<footer class="site-footer">
				<div class="super-footer">
					<div class="wrapper">
						<div class="grid three">
							<div class="col">
								<ul>
									<li><a href="#"><img src="assets/i/img-footer-get-free-energy.png" alt="Get Free Energy" width="159" height="44" /></a></li>
									<li><a href="#"><img src="assets/i/img-footer-renew-my-contract.png" alt="Renew My Contract" width="120" height="45" /></a></li>
								</ul>
							</div>
							<div class="col quick-links">
								<h2><i class="icon-quicklinks"></i> Quick Links</h2>
								<ul>
									<li><a href="#">Account Overview</a></li>
									<li><a href="#">Utility Services</a></li>
									<li><a href="#">Homelife Services</a></li>
									<li><a href="#">My Profile</a></li>
								</ul>
							</div>
							<div class="col social">
								<h2><i class="icon-social"></i> Social</h2>
								<ul>
									<li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
									<li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
									<li><a href="#"><i class="icon-youtube"></i> YouTube</a></li>
									<li><a href="#"><i class="icon-pinterest"></i> Pinterest</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="wrapper copyright">
					<p>&copy; 2005-2013 SGE IP Holdco, LLC. All rights reserved. Licensed in TX, GA, PA, MD, NJ, NY, &amp; DC<br />
					(TX #10104, GA #GM-38, NJ #ESL-0109 &amp; GSL-0120, PA #A-2010-2181867 &amp; A-2012-2308991, MD #IR-2072 &amp; IR-2742, NY #STRM, DC EA11-11)</p>
					<ul>
						<li><a href="#"><i class="icon-bbb"></i></a></li>
						<li><a href="#"><i class="icon-dsa"></i></a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>

</body>
</html>
