<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="ngApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>Enrollment Confirmation</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" type="image/ico" href="assets/i/favicon.ico" />
	<link href="assets/css/global.css" rel="stylesheet" />

    <script src="assets/js/libs/modernizr/modernizr.js"></script>
    <script src="assets/js/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/js/libs/angular/angular.min.js"></script>
    <script src="assets/js/libs/angular-animate/angular-animate.js"></script>
    <script src="assets/js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="assets/js/libs/angular-ui-utils/ui-utils.min.js"></script>
    <script src="assets/js/libs/respond/dest/respond.min.js"></script>

    <script src="assets/js/app.js"></script>
    
    <script src="assets/js/modules/mask-jquery.js"></script>
    
    <script src="assets/js/filters/filters.js"></script>
    
    <script src="assets/js/services/breakpoint.js"></script>

	<script src="assets/js/directives/loading-indicator.js"></script>

	<script src="assets/js/controllers/main.js"></script>
	<script src="assets/js/controllers/accountBalances.js"></script>

	<script type="text/javascript" src="//use.typekit.net/hag0zvs.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body ng-controller="MainCtrl">
	<div class="page-wrapper" ng-class="{open:sidebarOpen}">
		<nav>
			<ul>
				<li ng-repeat="item in navLinks">
					<a href="{{item.href}}">{{item.name}}</a>
				</li>
			</ul>
		</nav>
		<div class="page-content">
			<header class="site-header">
				<div class="wrapper">
					<a href="/" class="logo">Logo</a>
					<p class="utility">Welcome, Jordan <a href="#">Logout</a></p>
					<a href="#" class="nav-toggle icon-hamburger" ng-click="toggleSidebar()">Toggle Nav</a>
					<nav class="main-nav">
						<ul class="wrapper">
							<li class="selected"><a href="#">Account Overview</a></li>
							<li><a href="#">Utility Services</a></li>
							<li><a href="#">Homelife Services</a></li>
							<li><a href="#">My Profile</a></li>
						</ul>
					</nav>
				</div>
				<nav class="sub-nav">
					
				</nav>
			</header>

			<div class="enrollment">
				<div id="order-confirmation" class="enrollment-section">
					<div class="wrapper layout cols-2">
						<section>
							<a class="print"><i class="icon-printer"></i> Print This Page</a>
							<h1>Order <strong>Confirmation</strong></h1>
							<p>Congratulations on completing your order. Your confirmation number is below, as well as additional steps you may want to take.</p>
							<p>Confirmation Number: <strong>929404810483</strong></p>
							<form>
								<div class="box">
									<div class="item">
										<label for="service-address">Service Address</label>
										<strong>123 Main Street, Dallas, TX 75001</strong>
									</div>
								</div>
							</form>
							<div class="alert warning">
								<p><strong>Important Notice:</strong> We were unable to complete your order online. Please call 1-8xx-xxx-xxxx to complete you order.</p>
							</div>
							<div class="alert notice">
								<p><strong>Next Steps:</strong> One of our Sales Executives will call you in the next 1 or two business days so we can iron out any details in an effort to get you the best quote possible.</p>
							</div>
							<table>
								<tbody>
									<tr class="line-item noborder">
										<td class="description">
											<h1>24 Month Fixed Rate</h1>
										</td>
										<td class="rate">
											7.98&cent; <span>per kWh</span>
										</td>
									</tr>
									<tr class="line-item noborder secondary">
										<td class="description">
											<h3>Installation Fee (01/29/2014 between 12:00 and 3:00PM)</h3>
										</td>
										<td class="rate">
											$10.35
										</td>
									</tr>
									<tr class="line-item noborder secondary">
										<td class="description">
											<h3>Deposit</h3>
										</td>
										<td class="rate">
											$150.00
										</td>
									</tr>
									<tr class="line-item noborder secondary">
										<td class="description">
											<h3>Plan Documents</h3>
										</td>
										<td class="docs">
											<ul>
												<li><a href="">Electricity Facts Label</a></li>
												<li><a href="">Terms of Service</a></li>
												<li><a href="">Your Rights as a Customer</a></li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
							<h2>Homelife Services</h2>
							<table>
								<tbody>
									<tr class="line-item">
										<td class="description">
											<h1>Stream Tech Support</h1>
											<p>This will appear as a charge from “ABCD Corp.” on your bill.</p>
										</td>
										<td class="rate">
											$14.95
										</td>
									</tr>
								</tbody>
							</table>
							<h2>Personal Information</h2>
							<dl>
								<dt>First Name:</dt>
								<dd>John</dd>
								<dt>Last Name:</dt>
								<dd>Smith</dd>
								<dt>Primary Phone Number:</dt>
								<dd>123-456-7890</dd>
								<dt>Email:</dt>
								<dd>john.smith@email.com</dd>	
								<dt>Billing Address:</dt>
								<dd>123 Main Street, Dallas, TX 75001</dd>							
							</dl>
							<h2>Next Steps</h2>
							<div class="box thirds">
								<div class="avatar"><i class="icon-house"></i></div>
								<div class="description">
									<h2>Online Account Tour</h2>
									<p>Your online home. Login to your account online to view your bills, track your usage, and so much more.</p>
								</div>
								<div class="button-holder">
									<p><a class="button" href="">Take Tour</a></p>
								</div>
							</div>
						</section>
						<aside class="right">
							<div class="box">
								<header class="center">
									<h1>Setup Autopay</h1>
								</header>
								<div class="body">
									<div class="avatar">
										<i class="icon-cards"></i>
									</div>
									<p>Never miss another payment. Set up AutoPay, and have peace of mind about your Energy Bill.</p>
									<p class="center"><a class="button" href="">Setup Autopay</a></p>
								</div>
							</div>
							<div class="box">
								<header class="center">
									<h1>Enable Paperless Billing</h1>
								</header>
								<div class="body">
									<div class="avatar">
										<i class="icon-tablet"></i>
									</div>
									<p>Reduce the clutter. Sign up for Paperless Billing and we’ll email your invoices to you.</p>
									<p class="center"><a class="button" href="">Turn On Paperless</a></p>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</div>

			<footer class="site-footer">
				<div class="super-footer">
					<div class="wrapper">
						<div class="grid three">
							<div class="col">
								<ul>
									<li><a href="#"><img src="assets/i/img-footer-get-free-energy.png" alt="Get Free Energy" width="159" height="44" /></a></li>
									<li><a href="#"><img src="assets/i/img-footer-renew-my-contract.png" alt="Renew My Contract" width="120" height="45" /></a></li>
								</ul>
							</div>
							<div class="col quick-links">
								<h2><i class="icon-quicklinks"></i> Quick Links</h2>
								<ul>
									<li><a href="#">Account Overview</a></li>
									<li><a href="#">Utility Services</a></li>
									<li><a href="#">Homelife Services</a></li>
									<li><a href="#">My Profile</a></li>
								</ul>
							</div>
							<div class="col social">
								<h2><i class="icon-social"></i> Social</h2>
								<ul>
									<li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
									<li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
									<li><a href="#"><i class="icon-youtube"></i> YouTube</a></li>
									<li><a href="#"><i class="icon-pinterest"></i> Pinterest</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="wrapper copyright">
					<p>&copy; 2005-2013 SGE IP Holdco, LLC. All rights reserved. Licensed in TX, GA, PA, MD, NJ, NY, &amp; DC<br />
					(TX #10104, GA #GM-38, NJ #ESL-0109 &amp; GSL-0120, PA #A-2010-2181867 &amp; A-2012-2308991, MD #IR-2072 &amp; IR-2742, NY #STRM, DC EA11-11)</p>
					<ul>
						<li><a href="#"><i class="icon-bbb"></i></a></li>
						<li><a href="#"><i class="icon-dsa"></i></a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>

</body>
</html>
