<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="ngApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" type="image/ico" href="assets/i/favicon.ico" />
	<link href="assets/css/global.css" rel="stylesheet" />

	<script src="assets/js/libs/jquery/dist/jquery.min.js"></script>
	<script src="assets/js/libs/modernizr/modernizr.js"></script>
	<script src="assets/js/libs/angular/angular.min.js"></script>
	<script src="assets/js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="assets/js/libs/angular-ui-utils/ui-utils.min.js"></script>

	<script src="assets/js/app.js"></script>
	<script src="assets/js/controllers/main.js"></script>
	<script src="assets/js/controllers/marketing.js"></script>

	<script type="text/javascript" src="//use.typekit.net/hag0zvs.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body ng-controller="MainCtrl">
	<div class="page-wrapper" ng-class="{open:sidebarOpen}">
		<nav>
			<ul>
				<li ng-repeat="item in navLinks">
					<a href="{{item.href}}">{{item.name}}</a>
				</li>
			</ul>
		</nav>
		<div class="page-content">
			<header class="site-header">
				<div class="wrapper">
					<a href="/" class="logo">Logo</a>
					<p class="utility"><a href="#">Manage My Account</a></p>
					<a href="" class="nav-toggle icon-hamburger" ng-click="toggleSidebar()">Toggle Nav</a>
				</div>
				<nav>
					<ul class="wrapper">
						<li><a href="#">Rates, Products, &amp; Services</a></li>
						<li class="selected"><a href="#">Opportunity</a></li>
						<li><a href="#">Company</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Pay My Bill</a></li>
					</ul>
				</nav>
			</header>

			<div class="banner marketing" style="background-image: url(assets/i/marketing/header-home-01.jpg)"></div>

			
			<section class="layout cols-1" ng-controller="MarketingCtrl">
				
				<article class="marketing leaders">
					<div class="paragraph">
						<p>Want to know what some of our top Associates are saying about their experience<sup>3</sup> with The Ignite Opportunity? <span>You've come to the right place.</span></p>
					</div>
					<div class="director-banner stretch">
						<h2 class="wrapper">Presidential Directors</h2>
					</div>
					<div class="wrapper">
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h4>Presley &amp; Jeanie</h4>
							<h2>Swagerty</h2>
							<p>Flower Mound, TX</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h4>Presley &amp; Jeanie</h4>
							<h2>Swagerty</h2>
							<p>Flower Mound, TX</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h4>Presley &amp; Jeanie</h4>
							<h2>Swagerty</h2>
							<p>Flower Mound, TX</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h4>Presley &amp; Jeanie</h4>
							<h2>Swagerty</h2>
							<p>Flower Mound, TX</p>
						</div>
						<p class="view-all"><a href="#">View All Presidential Directors &#187;</a></p>
					</div>
				</article>
				<article class="marketing leaders">
					<div class="director-banner stretch">
						<h2 class="wrapper">Executive Directors</h2>
					</div>
					<div class="wrapper">
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h4>David</h4>
							<h2>Adams</h2>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h4>David</h4>
							<h2>Adams</h2>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h4>David</h4>
							<h2>Adams</h2>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h4>David</h4>
							<h2>Adams</h2>
						</div>
						<p class="view-all"><a href="#">View All Executive Directors &#187;</a></p>
					</div>
				</article>
				
				<article class="marketing director-list">
					<div class="wrapper">
						<h2>Presidential Directors</h2>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Presley &amp; Jeanie Swagerty</h3>
							<p>Flower Mound, TX</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Steve &amp; Diane Fisher</h3>
							<p>Colleyville, TX</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Greg &amp; Heather McCord</h3>
							<p>Dallas, TX</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Randy &amp; Marcie Hedge</h3>
							<p>DeQueen, AR</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Mark &amp; La Dohn Dean</h3>
							<p>Dallas, TX</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Brian &amp; Beth Lucia</h3>
							<p>McKinney, TX</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Ryan Morris</h3>
							<p>Fort Worth, TX</p>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Mark Florez</h3>
							<p>Heath, TX</p>
						</div>
					</div>
				</article>
				
				<article class="marketing director-list">
					<div class="wrapper">
						<h2>Presidential Directors</h2>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>David Adams</h3>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Bill Akins</h3>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Lynn Almond</h3>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Sue Anderson</h3>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Robart Bell</h3>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Cobi Ben-Bassat</h3>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Ray &amp; Rebecca Bickerstaff</h3>
						</div>
						<div class="director">
							<img src="assets/i/marketing/directors.jpg" Alt="Director Image" />
							<h3>Becky Bigbie</h3>
						</div>
					</div>
				</article>
				
				<article class="marketing wrapper donate">
					<div class="charity clearfix">
						<img src="assets/i/marketing/captain-hopes.jpg" alt="Captain Hope's" />
						<div class="promo">
							<h4>Captain Hope's Kids</h4>
							<p>Texas-based Captain Hope's Kids is the only agency in Dallas that is devoted exclusively to providing critically needed items to homeless children.</p>
						</div>
						<div class="donate-button">
							<a href="http://www.captainhope.org/donate"><button>Donate Now</button></a>
						</div>
					</div>
					<div class="charity grey clearfix">
						<img src="assets/i/marketing/fuel-fund.jpg" alt="Captain Hope's" />
						<div class="promo">
							<h4>Fuel Fund</h4>
							<p>The Fuel Fund of Maryland provides financial relief to families who require assistance in paying for their household utility service.</p>
						</div>
						<div class="donate-button">
							<a href="https://www.fuelfundmaryland.org/give-assistance/donate"><button>Donate Now</button></a>
						</div>
					</div>
					<div class="charity clearfix">
						<img src="assets/i/marketing/heat.jpg" alt="H.E.A.T." />
						<div class="promo">
							<h4>Heating Energy Assistance Team</h4>
							<p>Economically disadvantaged families in Georgia rely on the Heating Energy Assistance Team for assistance in paying their energy bills.</p>
						</div>
						<div class="donate-button">
							<a href="http://www.heatga.org/donate-now/donate-online-now"><button>Donate Now</button></a>
						</div>
					</div>
					<div class="charity grey clearfix">
						<img src="assets/i/marketing/ragans-hope.jpg" alt="Ragan's Hope" />
						<div class="promo">
							<h4>Ragan's Hope</h4>
							<p>Ragan's HOPE is a Texas-based charity committed to helping parents across the nation whose children suffer from catastrophic illnesses or injuries providing financial, emotional and spiritual support.</p>
						</div>
						<div class="donate-button">
							<a href="http://raganshope.org/giving/"><button>Donate Now</button></a>
						</div>
					</div>
					<div class="charity clearfix">
						<img src="assets/i/marketing/utility-emergency-services.jpg" alt="Utility Emergency Services Fund" />
						<div class="promo">
							<h4>Utility Emergency Services Fund</h4>
							<p>Based in Pennsylvania, the Utility Emergency Services Fund helps low income families in Philadelphia pay for life essential services.</p>
						</div>
						<div class="donate-button">
							<a href="http://www.uesfacts.org/donate-now.html"><button>Donate Now</button></a>
						</div>
					</div>
				</article>				

			</section>

			<footer class="site-footer">
				<div class="super-footer">
					<div class="wrapper">
						<div class="grid three">
							<div class="col">
								<ul>
									<li><a href="#"><img src="assets/i/img-footer-get-free-energy.png" alt="Get Free Energy" width="159" height="44" /></a></li>
									<li><a href="#"><img src="assets/i/img-footer-renew-my-contract.png" alt="Renew My Contract" width="120" height="45" /></a></li>
								</ul>
							</div>
							<div class="col quick-links">
								<h2><i class="icon-quicklinks"></i> Quick Links</h2>
								<ul>
									<li><a href="#">Account Overview</a></li>
									<li><a href="#">Utility Services</a></li>
									<li><a href="#">Homelife Services</a></li>
									<li><a href="#">My Profile</a></li>
								</ul>
							</div>
							<div class="col social">
								<h2><i class="icon-social"></i> Social</h2>
								<ul>
									<li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
									<li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
									<li><a href="#"><i class="icon-youtube"></i> YouTube</a></li>
									<li><a href="#"><i class="icon-pinterest"></i> Pinterest</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="wrapper copyright">
					<p>&copy; 2005-2013 SGE IP Holdco, LLC. All rights reserved. Licensed in TX, GA, PA, MD, NJ, NY, &amp; DC<br />
					(TX #10104, GA #GM-38, NJ #ESL-0109 &amp; GSL-0120, PA #A-2010-2181867 &amp; A-2012-2308991, MD #IR-2072 &amp; IR-2742, NY #STRM, DC EA11-11)</p>
					<ul>
						<li><a href="#"><i class="icon-bbb"></i></a></li>
						<li><a href="#"><i class="icon-dsa"></i></a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>

</body>
</html>
