<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="ngApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" type="image/ico" href="assets/i/favicon.ico" />
	<link href="assets/css/global.css" rel="stylesheet" />

	<script src="assets/js/libs/modernizr/modernizr.js"></script>
	<script src="assets/js/libs/angular/angular.min.js"></script>
    <script src="assets/js/libs/angular-animate/angular-animate.min.js"></script>
	<script src="assets/js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="assets/js/libs/angular-ui-utils/ui-utils.min.js"></script>

	<script src="assets/js/app.js"></script>

	<script src="assets/js/modules/mask-jquery.js"></script>

    <script src="assets/js/services/breakpoint.js"></script>

    <script src="assets/js/directives/float-labels.js"></script>

	<script src="assets/js/controllers/main.js"></script>

	<script type="text/javascript" src="//use.typekit.net/hag0zvs.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body ng-controller="MainCtrl">
	<div class="page-wrapper" ng-class="{open:sidebarOpen}">
		<nav>
			<ul>
				<li ng-repeat="item in navLinks">
					<a href="{{item.href}}">{{item.name}}</a>
				</li>
			</ul>
		</nav>
		<div class="page-content">
			<header class="site-header">
				<div class="wrapper">
					<a href="/" class="logo">Logo</a>
					<p class="utility">Welcome, Jordan <a href="#">Logout</a></p>
					<a href="#" class="nav-toggle icon-hamburger" ng-click="toggleSidebar()">Toggle Nav</a>
                    <nav class="main-nav">
                        <ul class="wrapper">
                            <li><a href="#">Account Overview</a></li>
                            <li><a href="#">Utility Services</a></li>
                            <li><a href="#">Homelife Services</a></li>
                            <li class="selected"><a href="#">My Profile</a></li>
                        </ul>
                    </nav>
				</div>
				<nav class="sub-nav">
					
				</nav>
			</header>

            <div class="banner" style="background-image: url(assets/i/bg/hero-invoices.jpg);">
                <div class="inner">
                    <div class="wrapper">
                        <h1>Account Information</h1>
                    </div>
                </div>
            </div>
			
			<section class="layout cols-2 wrapper">
				<section class="layout cols-1">
					<form>
						<article class="grey-box account-information">
							<div class="content">
								<div class="group inline-group">
									<div class="item group-col">
										<label for="account-number">Account Number:</label>
										<select name="account-number" id="account-number">
											<option value="123456789">123456789</option>
										</select>	
									</div>
									<div class="item group-col">
										<label for="meter-id">Meter ID:</label>
										<select name="meter-id" id="meter-id">
											<option value="">109437200008913264</option>
										</select>
									</div>
								</div>
							</div>
							<footer>
								Service Address: 123 Main Street, Dallas, TX 75001
							</footer>
						</article>

						<article class="grey-box account-holder-information"> 
							<div class="content">
								<div class="item">
									<label class="account-holder-title">Account Holder Name:</label>
									<p class="account-holder-name">Mr. John A. Doe</p>
								</div>
								<div class="group">
									<div class="item group-col" float-label>
										<label for="primary-phone">Primary Phone Number:</label>
										<input type="tel" name="primary-phone" id="primary-phone" placeholder="">
									</div>
									<div class="item group-col">
										<label for="primary-phone-type">Phone Type</label>
										<select name="primary-phone-type" id="primary-phone-type">
											<option value="mobile">Mobile</option>
										</select>
									</div>
								</div>
								<p><a href="#" class="additional-field-action">Add Additional Phone Number</a></p>
								<div class="group additional-field-group">
									<div class="group">
										<div class="item group-col" float-label>
											<label for="secondary-phone">secondary Phone Number:</label>
											<input type="tel" name="secondary-phone" id="secondary-phone">
										</div>
										<div class="item group-col">
											<label for="secondary-phone-type">Phone Type</label>
											<select name="secondary-phone-type" id="secondary-phone-type">
												<option value="mobile">Mobile</option>
											</select>
										</div>
									</div>									
								</div>
								<div class="vertical">
									<div class="clearfix">
										<h3 class="billing-address-title">Billing Address</h3>
										<div class="item">
											<ul class="checkbox-list">
												<li>
													<input type="checkbox" name="billing-address" id="billing-address">
													<label for="billing-address">Same as Service Address</label>
												</li>
												<li class="billing-address">
													123 Main St.<br>
													Dallas, TX 75001
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<footer>
								<div class="buttons">
									<button type="submit" class="buttons">Save</button>
								</div>
							</footer>
						</article>
					</form>
				</section>
				<aside>
					<article class="grey-box">
						<div class="clearfix">
							<p><a href="#">Online Account Information</a></p>
							<p class="active">Account Information</p>
							<p><a href="#">Notifications &amp; Reminders</a></p>
							<p><a href="#">Enrolled Accounts</a></p>
						</div>
					</article>
					<article class="promo renew">
						<h1>Renew Your <div class="promo-bold">Plan &amp; Save</div></h1>
						<button class="secondary">Renew My Plan</button>
					</article>
				</aside>
			</section>

			<footer class="site-footer">
				<div class="super-footer">
					<div class="wrapper">
						<div class="grid three">
							<div class="col">
								<ul>
									<li><a href="#"><img src="assets/i/img-footer-get-free-energy.png" alt="Get Free Energy" width="159" height="44" /></a></li>
									<li><a href="#"><img src="assets/i/img-footer-renew-my-contract.png" alt="Renew My Contract" width="120" height="45" /></a></li>
								</ul>
							</div>
							<div class="col quick-links">
								<h2><i class="icon-quicklinks"></i> Quick Links</h2>
								<ul>
									<li><a href="#">Account Overview</a></li>
									<li><a href="#">Utility Services</a></li>
									<li><a href="#">Homelife Services</a></li>
									<li><a href="#">My Profile</a></li>
								</ul>
							</div>
							<div class="col social">
								<h2><i class="icon-social"></i> Social</h2>
								<ul>
									<li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
									<li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
									<li><a href="#"><i class="icon-youtube"></i> YouTube</a></li>
									<li><a href="#"><i class="icon-pinterest"></i> Pinterest</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="wrapper copyright">
					<p>&copy; 2005-2013 SGE IP Holdco, LLC. All rights reserved. Licensed in TX, GA, PA, MD, NJ, NY, &amp; DC<br />
					(TX #10104, GA #GM-38, NJ #ESL-0109 &amp; GSL-0120, PA #A-2010-2181867 &amp; A-2012-2308991, MD #IR-2072 &amp; IR-2742, NY #STRM, DC EA11-11)</p>
					<ul>
						<li><a href="#"><i class="icon-bbb"></i></a></li>
						<li><a href="#"><i class="icon-dsa"></i></a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>

</body>
</html>
