<!DOCTYPE html>
<!--[if IE 8]>         <html ng-app="ngApp" class="no-js ie8 lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html ng-app="ngApp" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="ngApp" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<title>Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="shortcut icon" type="image/ico" href="assets/i/favicon.ico" />
	<link href="assets/css/global.css" rel="stylesheet" />

	<script src="assets/js/libs/modernizr/modernizr.js"></script>
	<script src="assets/js/libs/angular/angular.min.js"></script>
    <script src="assets/js/libs/angular-animate/angular-animate.min.js"></script>
	<script src="assets/js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="assets/js/libs/angular-ui-utils/ui-utils.min.js"></script>

	<script src="assets/js/libs/respond/dest/respond.min.js"></script>

	<script src="assets/js/app.js"></script>

	<script src="assets/js/modules/mask-jquery.js"></script>

    <script src="assets/js/services/breakpoint.js"></script>

    <script src="assets/js/directives/float-labels.js"></script>

	<script src="assets/js/controllers/main.js"></script>

	<script type="text/javascript" src="//use.typekit.net/hag0zvs.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body ng-controller="MainCtrl">
	<div class="page-wrapper" ng-class="{open:sidebarOpen}">
		<nav>
			<ul>
				<li ng-repeat="item in navLinks">
					<a href="{{item.href}}">{{item.name}}</a>
				</li>
			</ul>
		</nav>
		<div class="page-content">
			<header class="site-header">
				<div class="wrapper">
					<a href="/" class="logo">Logo</a>
					<p class="utility">Welcome, Jordan <a href="#">Logout</a></p>
					<a href="#" class="nav-toggle icon-hamburger" ng-click="toggleSidebar()">Toggle Nav</a>
                    <nav class="main-nav">
                        <ul class="wrapper">
                            <li><a href="#">Account Overview</a></li>
                            <li><a href="#">Utility Services</a></li>
                            <li><a href="#">Homelife Services</a></li>
                            <li class="selected"><a href="#">My Profile</a></li>
                        </ul>
                    </nav>
				</div>
				<nav class="sub-nav">
					
				</nav>
			</header>

            <div class="banner" style="background-image: url(assets/i/bg/hero-invoices.jpg);">
                <div class="inner">
                    <div class="wrapper">
                        <h1>Online Account</h1>
                    </div>
                </div>
            </div>
			
			<section class="layout cols-2 wrapper">
				<section class="layout cols-1">
					<article class="grey-box"> 
						<header>
							<h2>My Online Account Information</h2>
						</header>
						<form>
							<div class="content">
								<div class="group">
									<div class="item group-col" float-label>
										<label for="username">Username:</label>
										<input type="text" name="username" id="username">
									</div>
									<div class="item group-col" float-label>
										<label for="email">Email:</label>
										<input type="email" name="email" id="email">
									</div>
								</div>	
								<p><a href="#" class="additional-field-action">Change Password</a></p>
								<div class="group additional-field-group">
									<div class="group">
										<div class="item group-col" float-label>
											<label for="current-password">Current Password:</label>
											<input type="text" name="current-password" id="current-password">
										</div>
										<div class="item group-col"></div>
									</div>
									<div class="group">
										<div class="item group-col" float-label>
											<label for="new-password">New Password:</label>
											<input type="text" name="new-password" id="new-password">
											<span class="help-text">Password must be 8 characters long and not be the same as your username</span>
										</div>
										<div class="item group-col" float-label>
											<label for="new-password-repeat">New Password:</label>
											<input type="email" name="new-password-repeat" id="new-password-repeat">
										</div>
									</div>
								</div>
								<div class="group">
									<div class="item group-col">
										<label for="security-question-1">Security Question #1:</label>
										<select name="security-question-1" id="security-question-1">
											<option value="">Select a Security Question</option>
										</select>
									</div>
									<div class="item group-col" float-label>
										<label for="security-answer-1">Answer:</label>
										<input type="text" name="security-answer-1" id="security-answer-1">
										<span class="help-text">Answer must be 4 or more characters and is not case sensitive</span>
									</div>
								</div>
								<div class="group">
									<div class="item group-col" float-label>
										<label for="security-question-2">Security Question #2:</label>
										<select name="security-question-2" id="security-question-2">
											<option value="">Select a Security Question</option>
										</select>
									</div>
									<div class="item group-col" float-label>
										<label for="security-answer-2">Answer:</label>
										<input type="text" name="security-answer-2" id="security-answer-2">
										<span class="help-text">Answer must be 4 or more characters and is not case sensitive</span>
									</div>
								</div>
							</div>
							<div class="content">
								<div class="item">
									<label for="security-question-2">Language Preference</label>
									<ul class="checkbox-list">
										<li>
											<input type="radio" id="language-english" value="english" name="language-preference">
											<label for="language-english">English</label>
										</li>
										<li>
											<input type="radio" id="language-spanish" value="spanish" name="language-preference">
											<label for="language-spanish">Spanish</label>
										</li>
									</ul>
								</div>								
							</div>
							<footer>
								<div class="buttons">
									<button type="submit">Save</button>
								</div>								
							</footer>
						</form>
					</article>
				</section>
				<aside>
					<article class="grey-box">
						<div class="clearfix">
							<p class="active">Online Account Information</p>
							<p><a href="#">Account Information</a></p>
							<p><a href="#">Notifications &amp; Reminders</a></p>
							<p><a href="#">Enrolled Accounts</a></p>
						</div>
					</article>
					<article class="promo renew">
						<h1>Renew Your <div class="promo-bold">Plan &amp; Save</div></h1>
						<button class="secondary">Renew My Plan</button>
					</article>
				</aside>
			</section>

			<footer class="site-footer">
				<div class="super-footer">
					<div class="wrapper">
						<div class="grid three">
							<div class="col">
								<ul>
									<li><a href="#"><img src="assets/i/img-footer-get-free-energy.png" alt="Get Free Energy" width="159" height="44" /></a></li>
									<li><a href="#"><img src="assets/i/img-footer-renew-my-contract.png" alt="Renew My Contract" width="120" height="45" /></a></li>
								</ul>
							</div>
							<div class="col quick-links">
								<h2><i class="icon-quicklinks"></i> Quick Links</h2>
								<ul>
									<li><a href="#">Account Overview</a></li>
									<li><a href="#">Utility Services</a></li>
									<li><a href="#">Homelife Services</a></li>
									<li><a href="#">My Profile</a></li>
								</ul>
							</div>
							<div class="col social">
								<h2><i class="icon-social"></i> Social</h2>
								<ul>
									<li><a href="#"><i class="icon-facebook"></i> Facebook</a></li>
									<li><a href="#"><i class="icon-twitter"></i> Twitter</a></li>
									<li><a href="#"><i class="icon-youtube"></i> YouTube</a></li>
									<li><a href="#"><i class="icon-pinterest"></i> Pinterest</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="wrapper copyright">
					<p>&copy; 2005-2013 SGE IP Holdco, LLC. All rights reserved. Licensed in TX, GA, PA, MD, NJ, NY, &amp; DC<br />
					(TX #10104, GA #GM-38, NJ #ESL-0109 &amp; GSL-0120, PA #A-2010-2181867 &amp; A-2012-2308991, MD #IR-2072 &amp; IR-2742, NY #STRM, DC EA11-11)</p>
					<ul>
						<li><a href="#"><i class="icon-bbb"></i></a></li>
						<li><a href="#"><i class="icon-dsa"></i></a></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>

</body>
</html>
