<article class="module marketing wrapper press">
    <header>
        <h3>@Html.Sitecore().Field("Title")</h3>
        <p class="date">@Html.Sitecore().Field("Posted On Text"): @Html.Sitecore().Field("Date", new { format = "MMMM d, yyyy" })</p>
    </header>
    @Html.Sitecore().Field("Content")
</article>