<article class="marketing wrapper press">
    @{
        <div class="post">
            <h2>@Html.Sitecore().Field("Title")</h2>
            <p class="date">@Html.Sitecore().Field("Posted On Text"): @Html.Sitecore().Field("Date", new {format="MMMM d, yyyy" })</p>
            <p>@Html.Sitecore().Field("Content")</p>
        </div>
    }
</article>