<article class="marketing wrapper press">
    @{
        <div class="post">
            <h2>@Html.Sitecore().Field("Title", item)</h2>
            <p>@Html.Sitecore().Field("Content", item)</p>
        </div>
    }
</article>