<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ACS URL" value="https://s10acs01t.accesscontrol.windows.net" />
    <add key="ACS Realm" value="https://s10acs01t.accesscontrol.windows.net" />
    <add key="ACS Service Identity Name" value="portal-streamconnect-test" />
    <add key="ACS Service Identify Key" value="Cr6bc3uv8M3VJHZotItFS49qaVTjB5niT6D/3ylIkEg=" />
    <add key="StreamConnect Base Url" value="https://streamconnect.test.sgena.com/" />
    <add key="Azure SAS" value="sr=c&amp;si=PortalAccess&amp;sig=9nJZDG6srioH31ZFUox7web2Jsvd%2B8PVFYRdRTvNC6g%3D" />
  </appSettings>
  <connectionStrings>
    <add name="core" connectionString="user id=mystream;password=Stream1!;Data Source=.\SQLEXPRESS;Database=MyStreamSitecore_Core" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="sql" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="sql" type="System.Web.Security.SqlMembershipProvider" connectionStringName="core" applicationName="sitecore" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" passwordStrengthRegularExpression="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[()@#%\^_+=!]).{8,30}$" />
      </providers>
    </membership>
    <profile defaultProvider="sql" enabled="true">
      <providers>
        <clear />
        <add name="sql" type="System.Web.Profile.SqlProfileProvider" connectionStringName="core" applicationName="sitecore" />
      </providers>
      <properties>
        <clear />
        <add type="System.String" name="SC_UserData" />
        <add type="StreamEnergy.DomainModels.Accounts.ChallengeResponse[], StreamEnergy.DomainModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="ChallengeQuestions" serializeAs="Binary" />
        <add type="System.Guid" name="GlobalCustomerId" />
        <add type="System.Nullable`1[[StreamEnergy.DomainModels.Accounts.ImportSource, StreamEnergy.DomainModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="ImportSource" />
      </properties>
    </profile>
  </system.web>
</configuration>