@{
    var sc = Html.Sitecore();
    Sitecore.Data.Fields.ImageField footerBg = sc.CurrentItem.Fields["Footer Background"];
}

<table width="100%" bgcolor="#e2e1df" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" st-sortable="footer">
    <tbody>
        <tr>
            <td>
                <!--[if gte mso 9]>
                    <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
                    <v:fill type="tile" src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(footerBg.MediaItem)" color="#0071b9"/>
                    </v:background>
                <![endif]-->
                <table width="600" bgcolor="#0071b9" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                    <tbody>
                        <tr>
                            <td width="100%" valign="top" align="left" background="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(footerBg.MediaItem)">
                                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                    <tbody>
                                        <!-- spacing -->
                                        <tr>
                                            <td height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- spacing -->
                                        <tr>
                                            <td>
                                                <!-- social icons -->
                                                @Html.Sitecore().Field("Social Links")
                                                <!-- end of social icons -->
                                            </td>
                                        </tr>
                                        <!-- spacing -->
                                        <tr>
                                            <td height="30" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                                        </tr>
                                        <!-- spacing -->
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
