.sc .sc-spamcheckresult {
  width: 100%;
}
.sc .sc-spamcheckresult .breaker {
  clear: both;
  margin-bottom: 25px;
  float: none;
  overflow: hidden;
}
.sc .sc-spamcheckresult .sc-report-items {
  float: none;
}
.sc .sc-spamcheckresult h3 {
  line-height: normal !important;
  margin: 0;
}
.sc .sc-spamcheckresult .sc-report-item {
  width: 31%;
  display: block;
  margin: 5px 5px 0 10px;
  padding: 0;
  float: left;
  position: relative;
}
.sc .sc-spamcheckresult .sc-report-item .name {
  text-align: center;
}
