<article class="wrapper account-interstitial">
    <h1>@Html.Sitecore().Field("Header")</h1>
    <p>@Html.Sitecore().Field("Paragraph")</p>
    <hr />
    <div class="clearfix">
        <span>
            <button class="primary">@Html.Sitecore().Field("Primary button text")</button>
        </span>
    </div>
</article>
