/* This file is where the styling for modules will go. This employes the concepts of OOCSS, creating common base classes (using <article> as the base), and extending as necessary */

/*

<article class="module-name">
	<header>
		<h2>Module Name</h2>
	</header>
	<div class="content">
		<!-- Content here -->
	</div>
</article>

*/

article {
	// Careful what's added here. This is the base class, and is used everywhere	
}

.back-bar{
    @include gradient(pink);
    padding:2px 35px;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:1;

    a{ 
        color:white;
        text-decoration:none;

        span{
            margin:-4px 2px 0 0;
        }
    }
}

.page-login{

}

article.logged-out{ //all anonymous flow pages
    background:url("/mobileapp/frontend/assets/i/loginBackground.jpg") no-repeat top left;
    padding-top:45px; 
    color:white;
    position:absolute;
    background-size:cover;

    top:0;
    left:0;
    right:0;
    bottom:0;

    a{
        color:white;
    }

    .message{
        margin:35px 0 20px;
        font-size:20px;
        span{
            margin:0 15px;
        }
    }
    .buttons{
        .button{
            display:block;
        }
    }

    .live-connected{
        display:block;
        margin:auto;
    }

    .legal{
        font-size:15px;
        position:absolute;
        bottom:20px;
        color:#ffffff;
        opacity:.2;  
    }

    .forgot{
        margin-top:20px;
        font-size:20px;
        line-height:1;
        a{
            font-weight:bold;
            text-decoration:underline;
        }
    }
}

article.home{
    .buttons{
        margin-bottom:40px;
    }
}

article.login{

    form{
        color:#f0fbfb;

        .radios{
            .left{float:left;}
            .right{
                float:right;
                text-align:right;
                margin-bottom:20px; 
            }
        }
    }

    
}

article.create-account{
    .welcome-text{
        margin-bottom:20px;
    }
}

article.shop{
    .block-links{
        &.wireless{
            a, .link{
                @include retina-background(girlphone);
                background-size:cover;
                background-repeat:none;
            }
        }

        &.energy{
             a, .link{
                 @include radial-grandient(orange);
            }
        }

        &.protective{
            a, .link{
                @include retina-background(girldesk);
                background-size:cover;
                background-repeat:none;
            }
        }
        &.home{
           a, .link{
                @include retina-background(house);
                background-size:cover;
                background-repeat:none;
            }
        }

        &.opportunity{
            a, .link{
                 @include radial-grandient(blue);
            }

            .icon{
                margin-bottom:25px;
            }
        }

        a, .link{
            padding: 35px 55px 35px 25px;

            .icon{
                float:left;
                margin-right: 25px;
            }
            .name{
                background:none !important;
            }
        }



    }
}

.live-life-connected{
    padding:90px 0 110px;
    text-align:center;
    background:url("/mobileapp/frontend/assets/i/friends_in_arms.jpg") bottom left no-repeat;
    background-size:100%;
}

article.block-links{
    padding:0;
    background-repeat:repeat;
    background-size:cover;

    &.welcome{
        .title{
           @include radial-grandient(pink);
           .icon{
                margin-right:5px;
            }
        }
         a, .link{
            @include retina-background("welcometo");   
            background-size:cover;
            background-repeat:no-repeat;
            padding:90px 10px;

            
        }
    }

    &.join{
        .title, a{
            @include gradient(green);
                
            font-size:25px;
            font-weight:normal;
        }

        a, .link{
            background:linear-gradient(to right, #bcd73f , #86bb28); 
            

            .name{
                background: url("/mobileapp/frontend/assets/i/icon/briefcase.png");
                background-position:left 50%;
                background-repeat:no-repeat;
            }
                
        }
    }
     &.shop{
        .title, a{
            @include gradient(green); 
                
            font-size:25px;
            font-weight:normal; 
        }

        a, .link{
            @include retina-background(diamonds-pink);

            .name{
                background: url("/mobileapp/frontend/assets/i/icon/shop.png");
                background-position:left 50%;
                background-repeat:no-repeat;
            }
                
        }
    }
    &.share{
        .title, a{
            font-size:25px;
            font-weight:normal; 
        }

        a, .link{
            @include retina-background(diamonds-blue);

            .name{
                background: url("/mobileapp/frontend/assets/i/icon/share.png");
                background-position:left 50%;
                background-repeat:no-repeat;
            }
                
        }
    }
    &.myaccount{ 
        .title{
            background:linear-gradient(to right, #0c4c8f , #0c7bb6);
        }

        a, .link{
            background:linear-gradient(to right, #0c4c8f , #0c7bb6);
            &.no-icon{
                background-image:linear-gradient(to right, #0c4c8f , #0c7bb6);

                .name{
                    background:none;
                }
            }

            .name{
                background: url("/mobileapp/frontend/assets/i/icon/wrench.png");
                background-position:left 50%;
                background-repeat:no-repeat;
            }

        }
    }
    &.payment{
        a, .link{
            @include retina-background(diamonds-green);

            &.no-icon{
                background-image:linear-gradient(to right, #0c4c8f , #0c7bb6);

                .name{
                    background:none;
                }
            }

            .name{
                background: url("/mobileapp/frontend/assets/i/icon/bill.png");
                background-position:left 50%;
                background-repeat:no-repeat;
            }

        }
    }
    &.energy{
        
        .title{
            background:linear-gradient(to right, #f19408 , #f6b03e);
        }

        a, .link{
            @include retina-background(diamonds-orange);

            &.gas{
                .name{
                    background-image: url("/mobileapp/frontend/assets/i/icon/flame.png");
                }
            }

            .name{
                background: url("/mobileapp/frontend/assets/i/icon/light-bulb.png");
                background-position:left 50%;
                background-repeat:no-repeat;
                
            }
        }
    }

    &.wireless{
        .title{
            background:linear-gradient(to right, #4397c5 , #04a8a1);
        }

        a, .link{

            @include retina-background(diamonds-light-blue);
            background-position:left 50%;

            &.plans{
                //background:linear-gradient(to right, #4397c5 , #04a8a1);
                .name{
                    background: url("/mobileapp/frontend/assets/i/icon/bars.png");
                    background-position:left 50%;
                    background-repeat:no-repeat;
                }
            }
            &.devices{
                //background:linear-gradient(to right, #4397c5 , #04a8a1);

                .name{
                    background: url("/mobileapp/frontend/assets/i/icon/phone.png");
                    background-position:left 50%;
                    background-repeat:no-repeat;
                }
            }
        }
    }

    .title{
        font-size:16px;
        padding:10px 25px;
        color:#fff;
        font-weight:bold;
    }

    a, .link{
        padding: 30px 10px;
        display:block;
        text-decoration:none;
        position:relative;
        color:#fff;
        -webkit-box-shadow: inset 0 15px 28px -28px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: inset 0 15px 28px -28px rgba(0, 0, 0, 0.8);
        box-shadow: 0 15px 28px -28px rgba(0, 0, 0, 0.8) inset;
        position:relative;

        &.arrow{
            &:after{
                content:"";
                background-image:url("/mobileapp/frontend/assets/i/icon/arrow-large.png");
                position:absolute;
                z-index:2;
                display:block;
                top:calc(50% - 12px);
                right:25px;
                height:23px;
                width:11px;
            }
        }

        

        &.split{
            @include clearfix;

            .left{
                float:left;
                width:60%; 
                
            }
            .right{
                float:right;
                width:40%;
                text-align:right;

                span{
                    display:inline-block;
                }


                .main-info{
                    font-size:18px;
                    font-weight:600;
                }
                .sub-info{
                    font-size:15px;
                    font-weight:200; 
                    font-family:"proxima-nova-light";
                }
            }
        }

        span{
            display:block;
            line-height:1;
        }
        .name{
            font-size:24px;
            line-height:1;
            padding-left:35px;
            .sub-info{
                font-size:14px;
                font-weight:lighter;
            }
        }

        .info{
            
        }

        .description{
            font-size:15px;
            margin-top:5px;
            opacity: 0.75;
            line-height:1;
        }

        .new{
            position:absolute; 
            width:55px;
            color:#fff;
            font-size:12px;
            font-weight:bold;
            top:0;
            left:0;
        }

        .notification{
            position:absolute;
            background:#ff5480;
            border-radius: 500px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            padding: 15px 25px 15px 15px;
            right: -21px;
            text-align: left;
        }

        .snapshots{
            padding-left:35px;
            margin-top:15px;
            .snapshot{

                margin-bottom:10px;

                &:last-of-type{
                    margin-bottom:0;
                }

                &.grid{
                    .left{
                        width:75px;
                        font-size:12px;
                        font-weight:lighter;
                        margin-right:10px;
                    }

                    .middle{
                        width:calc(100% - 85px - 75px);
                    }

                    .right{
                           width: 65px;
                           font-size:12px;
                           
                    }
                }
            }
        }
    }
}

.page-dashboard{
   
}

article.account-dashboard{
    .block-links{
        .link{
            &.split{
                .left{
                    width:73%;
                }
                .right{
                    width:27%;

                    .sub-info{
                        opacity:.75;
                    }
                }
            }
        }
    }
}

article.overview{
    padding-bottom:90px !important;
    .section{
        padding:15px 20px;
    }

    &.energy-overview{
        .heading-bar{
            //@include gradient(orange);

            @include radial-grandient(orange);

            .left{
                width:calc(100% - 80px);
            }

            .right{
                color:#f0fbfb;
                font-size:16px;
                font-weight:normal;
                width:80px;
                margin-top:5px;
                opacity:.65;
            }
        }

        .details{ 
            .detail-block{ 
                &.balance{
                    .payment-block{
                        .link{
                            @include retina-icon-background(arrow-large-orange);
                        }
                        .auto-pay-section{
                             a{
                                color:$primary-orange;
                            }
                        }
                    }
                }

                &.plan-details{
                    .plan-name{
                        color:$primary-orange;
                    }
                }
            }
        }
    }
    .heading-bar{
        @include gradient(blue);
        color:#fff;
        font-size:20px;
        padding:10px 20px;
        .icon{
            margin-top:-4px;
        }

    }

    .summary{
        background:#fff;

        &.grid{
            .left{
                font-size:24px;
                width:calc(100% - 100px);
            }
            .right{
                width:100px;
                margin-top:5px;
            }
        }
        
    }

    .grid{
        .left{
            width:calc(100% - 155px);
        }
        .right{
            width:155px;
        }
    } 

    .details{ 
        .detail-block{ 
            border-bottom:$primary-border 1px solid;
            //padding:20px 5px 15px;
            padding:15px 20px;
            margin-bottom:2px; 
            background:#f7f7f7;

            font-size:16px;
            color:$primary-text-light-grey;

            &:last-of-type{
                border-bottom:0;
            }

            &.balance{
                .buttons{
                    margin-top:20px;
                }

                .right{
                    margin-top:10px;
                }

                .payment-block{
                    box-shadow: 0px 0px 6.4px 1.6px rgba(108, 108, 108, 0.08); 

                    background:#fff;
                    font-size:16px;
                    font-weight:lighter;
                    margin-bottom:20px;
                    .link{
                        @include retina-icon-background(arrow-large-blue);

                        padding:15px 30px 15px 15px; 
                        border-bottom:1px solid #e6e7e7;
                        background-repeat:no-repeat;
                        background-position:calc(100% - 10px) 20px;

                    } 

                    .auto-pay-section{
                        padding:15px;

                        a{
                            color:$primary-blue;
                            font-size:16px;
                        }
                    }

                    .right{
                        margin-top:0;
                        line-height:1;
                        width:105px;
                        label{
                            font-size:26px;
                            font-weight:normal;
                        }
                    }

                    .left{
                        line-height:1;
                        width:calc(100% - 105px);
                        label{
                            font-weight:20px;
                            font-weight:bold;
                            display:block;
                            margin-bottom:5px;
                        }

                        .icon{
                            margin:-3px 5px 0 0;
                        }
                    }
                }
            }

            &.data-usage{

                &.over-usage{
                    .amount-used{
                        label{
                            color:$primary-red;
                        }
                    }
                    .estimated{
                        b{
                            color:$primary-red;
                        }
                    }
                }

                .progress-bar{
                    margin-bottom:10px;
                }

                a{
                    color:$primary-text-blue;
                    font-size:16px;
                }

                .left{
                    width:calc(100% - 160px);
                    font-size:16px;
                }
                .right{
                    width:160px;
                }
            }
            &.plan-details{
                .plan-name{
                    font-size:20px;
                    font-weight:bold;
                    color:$primary-blue;
                    margin-bottom:10px;

                    .bubble{
                        margin-left:5px;
                        font-size:12px;
                        font-weight:bold; 
                    }
                }
                .address{
                    font-size:17px;
                    font-weight:600;
                    line-height:1.5;
                    color:$primary-text-grey;
                }
            }
            .account-breakdown{
                line-height:1;
                border-top:1px solid $primary-border;
                padding-top:20px;
                margin-top:20px;

                &.only-description{
                    .left{
                        width:65%;
                    }
                    .right{
                        width:35%;

                        dl{
                            dd{
                                width:100%;
                            }
                        }
                    }
                }

                label{
                    & + label{
                        margin-top:25px;
                        display:block;
                        font-size:16px;
                        margin-bottom:5px;
                    }
                }

                dl{
                    margin:0;
                    dt{
                        margin-right:10px;
                        max-width:calc(45% - 15px);
                        font-size:28px;
                    }
                    dd{
                        width:55%;
                        font-size:12px;
                        color:$primary-text-light-grey;
                        text-align:left;


                        label{
                            font-size:14px;
                            color:$primary-text-grey;
                            font-weight:bold;
                        }
                    }
                }

                .left{
                    width:calc(50% - 20px);
                }
                .right{
                    width:calc(50%);
                    text-align:left;
                }
            }


            label{
                font-weight:600;
                font-size:20px;
                color:$primary-text-grey;
            }

            .progress-bar{
                margin-top:10px;
            }
        }
    }

    .buttons{
        .button{
            font-size:18px;
        }
    }
}

article.payments{
    .buttons{
        button, .button{
            &.primary{
                background:#78a832;
            }
        }
    }

    .review{
        background:#fff;

        padding-top:25px;
        margin-bottom:75px;
        &.section{
            padding-top:20px;
        }
    }
}

article.make-payment{
    .section{
        padding:10px 20px;
    }
    .heading-bar{
        background:$primary-green;
        color:#fff;

        .left{
            font-size:15px;
            margin-top:3px;

            .icon{
                margin-top:-2px;
            }
        }
        .right{
            a{
                text-decoration:none;
                color:#fff;
            }
        }
    }

    .summary{
        background:#fff;
        padding-top:20px;
        padding-bottom:20px;


        .message{
            color:#a1a1a1;
            font-size:18px;
            line-height:1.3;
        }
        
    }

    .details{
        background:#fff;

        .heading{
            padding:10px 20px;
            margin:-10px -20px;
            background:#dfe4e6;
            margin-bottom:20px;
            line-height:1;
        }

        .grid{

            &.three{
                .right{
                    width:120px;
                }
            }

            &.info{
                color:#616262;
                font-size:16px;

                .account{
                    font-size:12px;
                    color:#878888;
                    font-weight:600;
                }
                label{
                    font-weight:600;
                    font-size:20px;
                    color:$primary-text-grey;
                    display:block;
                    line-height:1;
                    margin-bottom:5px;
                }

                & + .group{
                    margin-top:25px;
                }

                .auto-pay{
                    .icon{
                        margin:-4px 5px 0 0;
                    }
                }
            }

            .left{
                width:60px;
            }
            .middle{
                width:calc(100% - 120px - 60px);
            }
            .right{
                width:calc(100% - 55px);
            }

        }

       .payment-section{
           .block{
               padding-bottom:25px;
               /*border-bottom:1px solid #e0e3e4;*/
               margin-bottom:5px;
               background:#edeff0;

               &:last-of-type{
                   margin-bottom:0;
               }
           }
       }

       .totals{
           dl{
               dt{
               }
           }
       }
    }

    .verisign{
        margin:25px;
        text-align:center;
    }
}

article.account{
    margin-bottom:100px;
    .section{
        background:#fff;
        padding:15px 20px;

        &.heading-bar{
            @include radial-grandient(blue);

            color:#fff;
            font-size:20px;
            font-weight:bold;

            .icon{
                margin-top:-5px;
                margin-right:5px;
            }
        }
        p{
            font-size:16px;
            color:$primary-text-light-grey;
            line-height:1.3;
            margin:0 0 25px 0;
        }

    }
}

article.manage-payment-methods{
    .payment-methods{
        .payment-method{
            padding: 15px 0;
            border-bottom:1px solid #d8d8d8;
            line-height:1;
            margin-bottom:20px;

            &:first-of-type{
                border-top:1px solid #d8d8d8;
            }

            a{
                color:$primary-blue;
                text-decoration:none;
            }
            .name{
                color: $primary-text-grey;
                font-size:20px;
                font-weight:bold;
            }

            .payment-details{
                color:$primary-text-light-grey;
                margin-top:10px;

                .icon{
                    margin-right:5px; 
                }
            }
        }

    }
}

article.billing-history{
    .selections{
        background:#edeff0;
    }

    .invoices{
        padding:0 0 50px 0;
        
        .invoice{
            @include retina-icon-background(arrow-large-blue);

            padding:30px 40px 30px 20px;
            line-height:1;

            background-repeat:no-repeat;
            background-position:calc(100% - 20px) 53px;

            &:nth-child(even){
                background-color:#f8f9f9;
            }

            .info{
                color:$primary-text-light-grey;
                font-size:15px;
                margin-bottom:10px;
            }
            .details{
                font-size:20px;
            }
        }
    }
}

article.manage{
    .settings{
        .setting{
            padding:25px 0;
            border-top:1px solid $primary-border;
            border-bottom:1px solid $primary-border;
            margin-bottom:15px;

            & + .setting{
                border-top:none;
            }

            h1{
                margin-top:0;
                margin-bottom:30px;
                font-size:26px;
            }

            .item{

                &:last-of-type{
                    margin-bottom:0;
                }

                .icon{
                    float:left;
                }
                .info{
                    float:left;
                    margin-left:15px;
                    width: calc(100% - 45px - 15px); 
                    font-size:16px;
                    color:$primary-text-light-grey;
                    line-height:1;
                    margin-top:10px;

                    &.stacked{
                        margin-top:0;
                    }

                    label{
                        font-size:20px;
                        font-weight:bold;
                        color:$primary-text-grey;
                    }
                    .sub-info{
                        margin-top:5px;

                        & + .account-info{
                            margin-top: 10px;
                        }
                    }
                    
                }
            }

            .phone-numbers{
                .number{
                    margin-bottom:15px;

                    &:last-of-type{
                        margin-bottom:0;
                    }
                }
            }
        }
    }
}
article.add-payment-method {
    .options{
        border-bottom:1px solid #c4c4c4;
        margin-bottom:10px;
        a{
            font-size:18px;
            color:$primary-text-grey;
            text-decoration:none;
            display:inline-block;
            margin-right:35px;
            line-height:1;
            padding-bottom:9px;

            &:last-of-type{
                margin-right:0;
            }

            &.selected{ 
                color:$primary-text-blue; 
                border-bottom:3px solid $primary-text-blue; 
            }
        }
    }

    img{
        margin:auto;
        display:inline-block;
        width:100%; 
    }

    .notice{
        padding:20px 25px;
        background:#d9dee1;
        font-size:16px;
        color:#072235;
        margin-bottom:10px;

        a{
            color:$primary-text-blue;
            font-size:16px;
        }

    }

    .credit-card-fields{
        margin:15px 0;
    }

    .card-section{
        padding-top:15px;
        border-bottom:1px solid #c4c4c4;
        margin-top:15px;

        &:first-of-type{
            border-top:1px solid #c4c4c4;
        }

        & + .buttons{
            margin-top:15px;
        }

        .credit-card-fields{
            padding-bottom:15px;
        }
    }

    
}

article.login-info{
    .block{
        margin-top:20px;
        border-bottom:1px solid #c4c4c4;
        padding-bottom:20px;

        a{
            color:$primary-text-blue;
            font-size:18px;
        }
    }
}

article.linked-accounts{

    .account{
        line-height:1;
        .title{
            color:#939393;
            font-size:16px;
            font-weight:bold;
            margin-bottom:10px;
        }
        .number{
            font-size:26px;
            color:$primary-text-grey;
            margin-bottom:10px;
        }

        a{
            color:$primary-text-blue;
            font-size:18px;
            font-weight:bold;
        }
    }

    .section{
        margin-bottom:10px;

        &:last-of-type, &.heading-bar{
            margin-bottom:0;
        }
    }
}

article.account-info {
    .section{
        a{
            color:$primary-text-blue;
            margin:20px 0;
            display:block;

            &.button.primary{
                color:#fff;
            }
        }
    }
}