//Typography
$font-family: "proxima-nova-n3", "proxima-nova", Helvetica, Arial, sans-serif;

$primary-pink:#ff5480;
$primary-green:#88c53f;
$primary-blue: #004cb2;
$primary-red:#dc4848;
$primary-orange:#e08a0a;

//borders
$primary-border:#e3e3e3;

//text
$primary-text-grey:#4a4a4a;
$primary-text-light-grey:#737373;
$primary-text-blue:#004cb2;