.sc-MessageVariants {
  position: relative;
}
.sc-MessageVariants .sc-tabcontrol .sc-tabcontrol-navigation {
  padding-right: 60px;
}
.sc-MessageVariants .sc-tabcontrol .sc-tabcontrol-navigation a:hover .abn-letter,
.sc-MessageVariants .sc-tabcontrol .sc-tabcontrol-navigation a:hover .modified-indicator {
  text-decoration: none;
}
.sc-MessageVariants .sc-tabcontrol .sc-tabcontrol-navigation .abn-letter {
  text-transform: uppercase;
  margin-left: 7px;
  margin-right: 7px;
}
.sc-MessageVariants .sc-tabcontrol .tab-content {
  display: none;
}
.sc-MessageVariants [data-sc-id*="AddButton"] {
  position: absolute;
  top: 7px;
  right: 15px;
}
