.sc .sc-checkboxrepeater {
  width: 100%;
}
.sc .sc-checkboxrepeater .sc-checkboxrepeater-item {
  text-align: left;
  float: left;
  width: 33%;
}
.sc .sc-checkboxrepeater .sc-checkboxrepeater-item label {
  display: inline;
}
.sc .sc-CheckboxRepeater {
  padding: 7px;
}
.sc .sc-CheckboxRepeater .br {
  clear: both;
}
.sc .sc-CheckboxRepeater .right {
  float: right;
}
