<article class="dashboard full-page">
    <article class="block-links payment">
        <div class="link split no-arrow" ng-click="go('account/makepayment')">
            <div class="name left">
                <div class="main-info">Make a Payment</div>
                <div class="sub-info">Next Payment Due: {{ paymentDate | date:'MM/dd/yyyy' }}</div>
                
            </div>
            <div class="info right">
                <div class="main-info">
                    {{paymentBalance | currency}}
                </div>
                <div class="sub-info">
                    Balance
                </div>
            </div>
        </div>
    </article>


    <article class="block-links energy">
        <div class="link split no-arrow"  ng-class="{'gas':account.utilityType.toLowerCase() == 'gas'}"  ng-repeat="account in utilityAccounts" ng-click="go('account/electric-overview',{'accountNumber':account.accountNumber})">
            <div class="name left">
                <div class="main-info">
                    <span ng-show="account.utilityType !='gas'">Electricty</span>
                    <span ng-show="account.utilityType =='gas'">Gas</span>
                </div>
                <div class="sub-info">{{account.serviceAddress.line1}} {{account.serviceAddress.line2}}</div>
            </div>
            <div class="info right">
                <div class="main-info">
                    <strong>${{account.amountDue}}</strong>
                </div>
                <div class="sub-info">
                    <div>Balance</div>
                    <span class="icon-calendar-small"></span> AUTOPAY: {{account.hasAutoPay ? "ON" : "OFF"}}
                </div>
            </div>
        </div>

        
    </article>
    <article class="block-links wireless">
        <div class="link split no-arrow devices" ng-repeat="account in mobileAccounts" ng-click="go('account/wireless-overview',{'accountNumber':account.accountNumber})">
            <!--<span class="new icon-new"></span>-->
            <!--<span class="notification">1</span>-->
            <div class="clearfix">
                <div class="name left">
                    <div class="main-info">Wireless</div>
                    <div class="sub-info">{{billingCycleDaysLeft(account)}} Days left in Billing Cycle</div>
                </div>
                <div class="info right">
                    <div class="main-info">
                        <strong>{{account.amountDue | currency}}</strong>
                    </div>
                    <div class="sub-info">
                        <div>Balance</div>
                        <span class="icon-calendar-small"></span> AUTOPAY: ON
                    </div>
                </div>
            </div>
            <div class="snapshots" ng-show="account.mobileAppPhoneLines">
                <div class="grid three snapshot"  ng-repeat="line in account.mobileAppPhoneLines">
                    <div class="left">{{line.phoneNumber | tel}}</div>
                    <div class="middle">
                        <div class="progress-bar red" ng-class="{'red':getDataPercentage(line.deviceUsage) == 100}">
                            <div class="current-bar" style="width:{{getDataPercentage(line.deviceUsage)}}%"></div>
                        </div>
                    </div>
                    <div class="right"><b>{{formatDataUsage(line.deviceUsage[0].number)}}</b> of <b>{{formatDataUsage(line.deviceUsage[1].number)}}</b></div>
                </div>
                
            </div>
        </div>

        <!--<div class="link split no-arrow devices" ng-click="go('account/wireless-overview')">
           
            <div class="clearfix">
                <div class="name left">
                    <div class="main-info">Wireless</div>
                    <div class="sub-info">14 Days left in Billing Cycle</div>
                </div>
                <div class="info right">
                    <div class="main-info">
                        Balance <strong>$145.39</strong>
                    </div>
                    <div class="sub-info">
                        <span class="icon-calendar-small"></span> AUTOPAY: ON
                    </div>
                </div>
            </div>
            <div class="snapshots">
                <div class="grid three snapshot">
                    <div class="left">815-294-2847</div>
                    <div class="middle">
                        <div class="progress-bar red">
                            <div class="current-bar" style="width:100%"></div>
                        </div>
                    </div>
                    <div class="right"><b>7.65</b> of <b>6GB</b></div>
                </div>
                <div class="grid three snapshot">
                    <div class="left">815-294-2847</div>
                    <div class="middle">
                        <div class="progress-bar blue">
                            <div class="current-bar" style="width:43%"></div>
                        </div>
                    </div>
                    <div class="right"><b>1.73</b> of <b>4GB</b> </div>
                </div>
            </div>
        </div>
        <div class="link split no-arrow devices" ng-click="go('wireless/overview')">
            <div class="clearfix">
                <div class="name left">
                    <div class="main-info">Wireless</div>
                    <div class="sub-info">14 Days left in Billing Cycle</div>
                </div>
                <div class="info right">
                    <div class="main-info">
                        Balance <strong>$145.39</strong>
                    </div>
                    <div class="sub-info">
                        <span class="icon-calendar-small"></span> AUTOPAY: ON
                    </div>
                </div>
            </div>
            <div class="snapshots">
                <div class="grid three snapshot">
                    <div class="left">815-294-2847</div>
                    <div class="middle">
                        <div class="progress-bar blue">
                            <div class="current-bar" style="width:43%"></div>
                        </div>
                    </div>
                    <div class="right"><b>1.73</b> of <b>4GB</b> </div>
                </div>
            </div>
        </div>-->
    </article>

    <!--<article class="block-links myaccount">
        <div class="link no-arrow" ng-click="go('account/dashboard')">
            <div class="name">
                <div class="main-info">Account</div>
                <div class="sub-info">AutoPay, Paperless Billing, Payment Methods</div>
            </div>
        </div>
    </article>-->
    <article class="block-links shop">
        <div class="link split no-arrow" ng-click="go('shop')">
            <div class="name left">
                <div class="main-info">Shop</div>
                <div class="sub-info">Live Life Connected</div>
            </div>

        </div>
    </article>
    <article class="block-links share">
        <div class="link split no-arrow">
            <div class="name left">
                <div class="main-info">Share</div>
                <div class="sub-info">Lorem ipsem Dolor Sit Amet</div>
            </div>

        </div>
    </article>
    <!--<div class="live-life-connected">
        <div class="icon-life-life-conntected-color icon"></div>
    </div>-->
</article>