@model IEnumerable<StreamEnergy.Logging.LogEntry>
<div ng-controller="LogViewerCtrl" ng-init="setServerData(@Html.JsonStringify(Model), '@Request.Params["sessionID"]');">
    <section>
        <header>
            <h3>Log Viewer</h3>
        </header>
        <div class="group">
            <div class="item">
                <label>Session ID:</label>
                <input type="text" ng-model="form.sessionID" />
                <button ng-click="update()">Update</button>
            </div>
        </div>
    </section>
    <section>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Timestamp</th>
                    <th>Severity</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in logs">
                <tr>
                    <td style="width:30px;" ng-click="expandInnerTable($index)" ng-class="{'opened': expand[$index], 'closed': !expand[$index]}">
                        <i ng-class="{'icon-arrow-expanded': expand[$index], 'icon-arrow-collapsed': !expand[$index]}"></i>
                    </td>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.severity}}</td>
                    <td>{{item.message}}</td>
                </tr>
                <tr class="expand-details" ng-show="expand[$index] == true">
                    <td colspan="4">
                        <div ng-if="item.data.httpClient != null">
                            <p><strong>Request URI:</strong></p>
                            <p>
                                {{item.data.httpClient.request.Method.Method}} {{item.data.httpClient.request.Uri}}
                            </p>

                            <p><strong>Request Content:</strong></p>
                            <p>
                                {{item.data.httpClient.request.Content}}
                            </p>

                            <p><strong>Response Content:</strong></p>
                            <p>
                                {{item.data.httpClient.response.Content}}
                            </p>
                        </div>
                        <div ng-if="item.exception">
                            {{item.exception}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>