<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource="App_Config\ConnectionStrings.config" xdt:Transform="SetAttributes"/>
  <appSettings>
    <add key="StreamEnergy.Environment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <!--<sitecore database="SqlServer">
    <sc.variable name="dataFolder" value="C:\inetpub\wwwroot\Data\" xdt:Transform="Replace"/>
  </sitecore>-->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Replace">
      <error statusCode="500" redirect="/server-error.aspx"/>
    </customErrors>

    <sessionState mode="Custom" customProvider="MySessionStateStore" xdt:Transform="Replace">
      <providers>
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="streamenergy.redis.cache.windows.net" accessKey="lx6T9fHaLqeOZKe82yrpQmTzxEGpIqOFapiUvsOIBL8=" ssl="true" databaseId="1" cookieless="false" timeout="20" />
      </providers>
    </sessionState>
  </system.web>
  <sitecore>
    <sites>
      <site name="website" database="web" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </sites>
  </sitecore>
</configuration>