<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource="App_Config\ConnectionStrings.production.config" xdt:Transform="SetAttributes"/>
  <appSettings>
    <add key="StreamEnergy.Environment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NewRelic.AppName" value="PROD-Sitecore.Web" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <add key="DpiEnrollmentFormDomain" value="https://secure.streamenergy.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="/server-error.aspx"/>
    </customErrors>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <sitecore>
    <sites>
      <site name="website" database="web" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </sites>
    <retryer disabled="false" type="Sitecore.Data.DataProviders.Retryer, Sitecore.Kernel" xdt:Transform="Replace">
      <param desc="Number of tries">6</param>
      <param desc="Interval between tries">00:00:00.500</param>
      <param desc="Log each exception (should be used for debug only)">false</param>
    </retryer>
  </sitecore>
  <system.serviceModel>
    <client>
      <endpoint address="https://sb.streamenergybilling.com:8741/DPITokenService.svc" contract="StreamEnergyBilling.IstaTokenization.IDpiTokenService" xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
    </client>
  </system.serviceModel>
</configuration>