<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource="App_Config\ConnectionStrings.config" xdt:Transform="SetAttributes"/>
  <appSettings>
    <add key="StreamEnergy.Environment" value="Staging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <sessionState mode="Custom" customProvider="MySessionStateStore" xdt:Transform="Replace">
      <providers>
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="streamenergy.redis.cache.windows.net" accessKey="lx6T9fHaLqeOZKe82yrpQmTzxEGpIqOFapiUvsOIBL8=" ssl="true" databaseId="1" cookieless="false" timeout="20" />
      </providers>
    </sessionState>
  </system.web>
</configuration>