<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controllers>

      <!--  LISTS CONTROLLER
            The controller represents the WebApi service that provides CRUD functionality for ContactList entities.
      -->
      <controller type="Sitecore.Modules.EmailCampaign.ListManager.ListsController, Sitecore.EmailCampaign">
        <param desc="repository" type="Sitecore.ListManagement.Services.ContactListRepository`3[[Sitecore.ListManagement.ContentSearch.Model.ContactList, Sitecore.ListManagement.ContentSearch], [Sitecore.ListManagement.ContentSearch.Model.ContactList, Sitecore.ListManagement.ContentSearch], [Sitecore.ListManagement.Services.Model.ContactListModel, Sitecore.ListManagement.Services]], Sitecore.ListManagement.Services">
          <param desc="listManager" ref="contactListManager" />
          <param desc="sourceListManager" ref="contactListManager" />
        </param>
      </controller>
    </controllers>

    <!-- SITECORE SERVICES WEB API FILTERS 
         Specifies the list of Web API filters to load for request handling
    -->
    <api>
      <services>
        <configuration>
          <allowedControllers hint="list:AddController">
            <allowedController desc="ListsController">Sitecore.Modules.EmailCampaign.ListManager.ListsController, Sitecore.EmailCampaign</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>