<article class="marketing director-list">
    <div class="wrapper">
        <h2>@Html.Sitecore().Field("Page Header")</h2>
        @Html.Partial("~/Views/Pages/Marketing/Leaders/Leader Listing.cshtml", Sitecore.Context.Item.Children.ToList())
    </div>
</article>