<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"
           type="StreamEnergy.Pipelines.RegisterPlatformBundles, StreamEnergy.Core" />
        <processor type="StreamEnergy.Pipelines.InitializeUnityContainer, StreamEnergy.Core" />
        <processor type="StreamEnergy.Pipelines.RegisterMvcFactories, StreamEnergy.Core" />
        <processor type="StreamEnergy.MyStream.Pipelines.InitializeWebApi, StreamEnergy.MyStream" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>