@{
    var siteFooter = Sitecore.Context.Database.GetItem("{9D39657B-DE17-49AB-98ED-6391329B8223}");
    var blogDataSourceItem = Sitecore.Context.Database.GetItem("/sitecore/content/Home/Currents");
}
<footer class="currents__footer">
    <div class="logos">
        <div class="wrapper">
            <ul>
                <li><a href="/" class="logo">Stream</a></li>
                <li><a href="@Html.Sitecore().Field("Facebook Page", siteFooter)" target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="@Html.Sitecore().Field("Twitter Page", siteFooter)" target="_blank"><i class="icon-twitter"></i></a></li>
                <li><a href="@Html.Sitecore().Field("YouTube Page", siteFooter)" target="_blank"><i class="icon-youtube"></i></a></li>
                <li><a href="@Html.Sitecore().Field("Pinterest Page", siteFooter)" target="_blank"><i class="icon-pinterest"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-links">
        <div class="wrapper">
            <div class="links">
                <ul>
                    <li><a href="#">Recent Posts</a></li>
                    <li><a href="#">Associate Promotions</a></li>
                    <li><a href="#">Customer Promotions</a></li>
                    <li><a href="#">Event Calendar</a></li>
                    <li><a href="#">Recognition</a></li>
                </ul>
            </div>

            <div class="site-footer-legal">
                <p>
                    &copy; 2005-2015 SGE IP Holdco, LLC. All rights reserved. Licensed in TX, GA, PA, MD, NJ, NY, &amp; DC.  |  To subscribe to the Stream Currents email, <a href="#">CLICK HERE</a>.
                </p>
            </div>
        </div>
    </div>
</footer>