@{
    var hideSuperFooterField = Html.Sitecore().CurrentItem.Fields["Hide Super Footer"] ?? Sitecore.Context.Item.Fields["Hide Super Footer"];
    var showSuperFooter = hideSuperFooterField == null || hideSuperFooterField.Value != "1";
}
<footer>
    <address id="Contact-Footer-Global">
        <div class="content">
            <p id="HelpText-Contact-Footer-Global">Need help? Contact our <strong>support</strong> team for questions or check out our <strong><a href="">FAQs section</a></strong>.</p>
            <p id="ContactMethods-Contact-Footer-Global"><a href="tel:+1-800-953-4537"><img src="~/Images/call-icon.png" alt="Call"> 1-800-953-4537</a><span> or </span><a href="mailto:support@mystream.com"><img src="~/Images/email-icon.png" alt="email"> support@mystream.com</a></p>
            <div class="clear"></div>
        </div>
    </address>
    <div class="group">
        <div class="content">
            @if (showSuperFooter)
            {
                <nav>
                    <section>
                        <h3>Shop</h3>
                        <ul>
                            <li><a href="">Mobile Services</a></li>
                            <li><a href="">Energy Services</a></li>
                            <li><a href="">HomeLife Services</a></li>
                            <li><a href="">Protective Services</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>About</h3>
                        <ul>
                            <li><a href="">Corporate Team</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Press</a></li>
                            <li><a href="">Philanthropy</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Events</a></li>
                            <li><a href="">Terms of Use</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Opportunity</h3>
                        <ul>
                            <li><a href="">Why Energy?</a></li>
                            <li><a href="">Why Mobile?</a></li>
                            <li><a href="">How it Works</a></li>
                            <li><a href="">Compensation Plan</a></li>
                            <li><a href="">Start a Business</a></li>
                            <li><a href="">Top Leaders</a></li>
                            <li><a href="">Get Free Energy</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Support</h3>
                        <ul>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">FAQs</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>My Account</h3>
                        <ul>
                            <li><a href="">Manage My Free Energy</a></li>
                            <li><a href="">Login to PowerCenter</a></li>
                            <li><a href="">Pay My Bill</a></li>
                        </ul>
                    </section>
                    <div style="clear: both"></div>
                </nav>
            }
            <div id="Legal-Footer-Global">
                <p>
                    <small class="legal">
                        © 2005-2013 SGE IP Holdco, LLC. All rights reserved. Licensed in TX, GA, PA, MD, NJ, NY, & DC<br>
                        (TX #10104, GA #GM-38, NJ #ESL-0109 & GSL-0120, PA #A-2010-2181867 & A-2012-2308991, MD #IR-2072 & IR-2742, NY #STRM, DC EA11-11)
                    </small>
                </p>
                <p id="BbcAndDsa-Legal-Footer-Global">
                    <a href="http://www.bbb.org/dallas/business-reviews/electric-companies/stream-energy-in-dallas-tx-90018895"><abbr title="Better Business Bureau®"><img src="~/images/bbb_logo.png" alt="BBB"></abbr></a> <a href="http://www.dsa.org/ethics/"><abbr title="Direct Selling Association"><img src="~/images/dsa_logo.png" alt="DSA"></abbr></a>
                </p>
            </div>
        </div>
    </div>
</footer>