<header class="site-header fixed">
    <div class="wrapper">
        <a href="/" class="logo">Logo</a>
        <a href="" class="cart-toggle icon-cart" ng-click="toggleCart()">Toggle Cart<span class="item-num">2</span></a>
    </div>
</header>