<header class="site-header fixed" data-fixed-fix>
    <div class="wrapper">
        <a href="/" class="logo">Logo</a>
        <a href="" class="cart-toggle icon-cart" ng-click="toggleCart()" ng-controller="EnrollmentCartCtrl">Toggle Cart<span class="item-num">{{ getCartCount() }}</span></a>
    </div>
    <script id="mobileNav" type="text/ng-template">
    </script>
</header>