<article class="energy-usage">
    <header>
        <h2>@Html.Sitecore().Field("My Energy Usage Text")</h2>
    </header>
    <div class="graph-header grid three">
        <div class="col"><p>@Html.Sitecore().Field("kWh Text")</p></div>
        <div class="col"><p>January - December 2013</p></div>
        <div class="col"><p>@Html.Sitecore().Field("Gas Text")</p></div>
    </div>
    <div>
        <h2>Graph Goes Here</h2>
    </div>
    <footer class="compare">
        <p>@Html.Sitecore().Field("Compare Usage Text")</p>
        <select>
            <option value="Please choose">None</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
        </select>
    </footer>
</article>
