<section class="layout wrapper">
    <section class="layout cols-1">
        <article class="grey-box utility-providers">
            <header>
                <h2>@Html.Sitecore().Field("Utility Providers Text")</h2>
            </header>
            <div class="content">
                @Html.Sitecore().Field("Utility Providers Content")
            </div>
        </article>
    </section>
</section>

<article class="plain wrapper">
    <div class="notice alert">
        <p>Important Notice:<br />You will know that your bank draft request has been processed and is in effect when the following message appears on your invoice: automated draft scheduled. if you have already received an invoice or currently have a balance that remains unpaid, you will need to make a separate one-time payment by your invoice due date.</p>
        <i class="icon-close"></i>
    </div>
</article>