<article class="win-back">
    <div class="intro">
        <h1>We want you back!</h1>
    </div>
    <div>
        <h3>Get a full year of electricity service at the <strong>LOWEST rate we've got!</strong></h3>
        <div class="price">
            Just <div>7.5&#162;</div> /kwh&#42;
        </div>
    </div>
    <div class="switch">
        <div class="button">Switch back &amp; save</div>
    </div>
    <div>
        <p class="former-customer">As a former Stream customer, we want you back. To show we really mean it, please help yourself to the absolute best energy rate we've got, fixed and locked in for the next 12 months at <strong>just 12.8&#162;/kwh.</strong></p>
        <h3>This is a very special <strong>one-time offer, totally exclusive to you.</strong></h3>
        <p>Lock in Stream's lowest fixed rate for a full year of worry-free savings now.</p>
        <div class="new-rate">
            <h3>Your Great New Energy Rate Won't Budge For 12 Months</h3>
            <p>By taking advantage of this special offer, you'll secure today's low rate and keep yourself fully prepared from any energy price spikes this year, for any reason. You'll continue to save, even if others are paying more.</p>
        </div>
        <h3 class="switching-back">Switching Back To Stream Is Easy</h3>
        <p class="sub-header">A Few Clicks &amp; We Handle The Rest</p>
        <p>Switching back to stream and locking in this incredible low rate is as simple as filling out our one-minute transfer form below. That's really the one step!</p>
        <p>We'll take it from there, and your energy costs will be calculated at the new low rate in as little as three days. No service interruptions required, you won't even notice you've switched until you see how much LESS you're spending on energy with Stream.</p>
        <div class="get-started">
            <div class="button">Get Started Now</div>
        </div>
    </div>
    <div class="reasons">
        <div class="wrapper">
            <h2><strong>3 More Reasons</strong> to rejoin the Stream family</h2>
            <div class="grid three">
                <div class="col">
                    <h4>Simple &amp; Convenient Billing</h4>
                    <p>At Stream we believe in making things EASY for our customers. That's why we give you over <strong>five different ways to pay your bill,</strong> including automatic withdrawals, phone payments, and even online account management.</p>
                </div>
                <div class="col">
                    <h4>We help you get the best rate possible</h4>
                    <p>We'll give you plenty of notice and several friendly reminders starting 90 days from the end of your contract, so you'll have lots of <strong>time to choose the best plan for you</strong> and lock in another low rate for the coming year.</p>
                </div>
                <div class="col">
                    <h4>Commitment To Customer Services</h4>
                    <p>Stream has been providing reliable energy services to families all over Texas for over 10 years, and we've committed to serve our customers <strong>as if they were our own family</strong> and friends. We'll make sure switching back to Stream is one of the best decisions you make this year.</p>
                </div>
            </div>
            <p class="asterisk">&#42;Price reflects the average based on a monthly usage of 1000 kWh.</p>
        </div>
    </div>
    <div class="lock-in">
        <h2>Quit worrying about energy bill ups and downs</h2>
        <div class="button">Lock In Now</div>
    </div>
    <div class="info-header">
        <div class="wrapper">
            <strong>You're just a click away</strong><br />
            Confirm Your Information to get started
        </div>
    </div>
</article>