@using StreamEnergy.MyStream.Controllers
@using StreamEnergy.MyStream.Models.Marketing.Support
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json.Serialization;
@{

    SupportCenterController controller = new SupportCenterController();
    var categories = StreamEnergy.Json.Stringify(controller.GetAllCategories());
    string categoryGuid = Sitecore.Context.Item.Fields["Category"].Value;
    FAQCategory categoryItem = new FAQCategory(Sitecore.Context.Database.GetItem(categoryGuid));
    var categoryFaqs = StreamEnergy.Json.Stringify(controller.GetAllFaqsForCategory(categoryItem));
    string category = StreamEnergy.Json.Stringify(categoryItem);

    var rawSubcats = controller.GetAllSubCategoriesForCategory(categoryItem);
    var subcategories = StreamEnergy.Json.Stringify(rawSubcats);

    string subcategory = StreamEnergy.Json.Stringify("All");
    if (!string.IsNullOrEmpty(Request.QueryString["subcat"]))
    {
        subcategory = Request.QueryString["subcat"];
    }

    string searchFAQ = StreamEnergy.Json.Stringify(null);
    if (!string.IsNullOrEmpty(Request.QueryString["searchFAQ"]))
    {
        FAQ searchFAQitem = new FAQ(Request.QueryString["searchFAQ"]);
        searchFAQ = StreamEnergy.Json.Stringify(searchFAQitem);
    }
    string search = StreamEnergy.Json.Stringify(null);
    if (!string.IsNullOrEmpty(Request.QueryString["search"]))
    {
        search = StreamEnergy.Json.Stringify(Request.QueryString["search"]);
    }}
<div class="support-container layout">
    <div class="category clearfix" ng-init="categoryInit(@categories, @category, @categoryFaqs, @subcategories, @subcategory, @searchFAQ, @search)">
        <div class="results-content" ng-show="searchResults" ng-cloak>
            <a href="" ng-click="backToSupport(@categoryFaqs)">Back to Support</a>
            <p>Showing {{resultsPageRange[resultsPage].low + 1}} - {{resultsPageRange[resultsPage].high + 1}} of {{faqs.length}} search results for “{{searchData.text}}” in {{searchData.category}}<span ng-show="searchData.state.name"> - {{searchData.state.abbreviation}}</span></p>
            Page<span ng-repeat="page in resultsPageRange" ng-style="{bold: resultsPage == $index}"> <a href="" ng-click="setResultsPage($index)">{{$index + 1}}</a></span>
            <span> Results Per Page  <select ng-model="resultsPerPage.value">
                    <option ng-repeat="value in resultsPerPage.options">{{value}}</option>
                </select>
            </span>
        </div>
        <article class="faqs marketing">
            <div class="content">
                <div class="faq" ng-repeat="faq in faqs" ng-show="faqFilter(faq, $index)">
                    <a class="question" ng-click="selectFaq($index)" href="">
                        <div class="plus-minus">
                            <div class="plus" ng-class="{minus: faq.selected}"></div>
                        </div>
                        <p>{{faq.faqQuestion}}</p>
                    </a>
                    <div class="answer-container">
                        <div class="answer clearfix" ng-class="{reveal: faq.selected}">
                            <div class="triangle-up"></div>
                            <div class="answer-content" ng-bind-html="faq.faqAnswer"></div>
                            <div class="helpful">
                                <label for="helpful">Was this helpful?</label>
                                <input type="radio" name="helpful" ng-model="popFaq.helpful" ng-value="true" /> Yes
                                <input type="radio" name="helpful" ng-model="popFaq.helpful" ng-value="false" /> No
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <aside>
            <h4>What what you're looking for quickly by choosing a tag below:</h4>
            <div ng-repeat="keyword in keywords">
                <p ng-class="{selected: keyword.selected}"><a href="" ng-click="toggleKeyword(keyword)">{{keyword.name}}</a></p>
            </div>
            <h4>Still having issues?</h4>
            <p>Please contact us!</p>
            <p>Customer Service at 877-743-5893</p>
            <p>from 7am-10pm, CST, Monday-Friday or</p>
            <p>9am-5pm, CST, Saturday.</p>
            <a href="" ng-click="showModal('emergency-contact');">Emergency Contacts</a>
        </aside>
        <div class="secondary-footer">
            Can't find what you're looking for? <a href="" ng-click="">Ask Us a Question</a>
        </div>
    </div>
</div>
<script type="text/ng-template" id="emergency-contact">
    <div class="support-modal">
        <div class="modal-header">
            <a href="" ng-click="$dismiss()">Close</a>
            <h2>Emergency Contacts - {{search.category.name}}<span ng-show="search.state"> - {{search.state.abbreviation}}</span></h2>
        </div>
        <div class="modal-body">
            <p>In case of emergency or outage, please contact your Local Wires Company directly.</p>
        </div>
        @*
            <div class="modal-footer">
                @Html.Sitecore().Field("Footer - Unlock Sprint")
            </div>
        *@
    </div>
</script>