<div class="support-search" ng-class="{'category-search': isCategorySupport}" ng-cloak>
    <div class="content">
        <h1 ng-show="!subcategories.length && !searchResults">Stream Support Center</h1>
        <h1 ng-show="subcategories.length  && !searchResults">{{category.displayTitle}} Support</h1>
        <h1 ng-show="searchResults">Search Results</h1>
        <h4 ng-hide="isCategorySupport">At Stream, we're here to help. Contact us if you can't find what you're looking for.</h4>
        <form class="search" ng-submit="search()">
            <div class="select clearfix" ng-click="dropDown=!dropDown">
                <div class="selected-category" ng-show="searchData.category">
                    In {{searchData.category}}<span ng-show="searchData.state"> - {{searchData.state.abbreviation}}</span>
                </div>
                <div class="selected-category" ng-hide="searchData.category" ng-cloak>Service Type</div>
                <div class="triangle-down" ng-class="{flipped: dropDown}"></div>
            </div>
            <div class="input">
                <input type="text" class="search-input"
                       placeholder="Have a question? Enter a search term..."
                       ng-model="searchData.text"
                       typeahead="faq.faqQuestion for faq in searchFAQs | filter:{faqQuestion:$viewValue} | limitTo:4" 
                       typeahead-template-url="typeahead-results"/>
                <img class="mag-glass" src="/frontend/assets/i/mag-glass.png" ng-click="search()"/>
            </div>
            <div ng-class="{reveal: dropDown}" class="category-dropdown-container">
                <ul class="category-dropdown">
                    <li ng-repeat="category in categories">
                        <div ng-click="selectCategory(category, null)" ng-class="{noHover: category.states.length}">
                            {{category.displayTitle}}<span ng-show="category.states.length"> (select state)</span>
                        </div>
                        <ul class="state" ng-show="category.states">
                            <li ng-repeat="state in category.states">
                                <div ng-click="selectCategory($parent.category, state)">{{state.name}}</div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
<nav class="tertiary-nav" ng-if="subcategories.length" ng-cloak>
    <div class="wrapper">
        <ul ng-style="{'margin-left': true}">
            <li ng-repeat="subcategory in subcategories" ng-class="{selected: subcategory.selected}"><a href="" ng-click="selectSubcategory($index)">{{subcategory.displayTitle}}</a></li>
        </ul>
    </div>
</nav>
<script type="text/ng-template" id="typeahead-results">
    <p bind-html-unsafe="match.label | typeaheadHighlight:query" class="typeaheadQuestion"></p>
    <div ng-bind-html="match.model.faqAnswer" class="typeaheadAnswer"></div>
</script>